<h1 *ngIf="isDesktop">
  {{ (isUpdate ? 'user.edit_user' : 'user.add_user') | translate }}
</h1>

<form class="form" [formGroup]="form" (ngSubmit)="save()" novalidate>
  <div class="form-row">
    <mat-label>{{ 'user.full_name' | translate }} *</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="realname"
        [placeholder]="'user.placeholder.realname' | translate"
      />
      <mat-error *ngIf="form.get('realname')?.hasError('required')">{{
        'user.valid.name.required' | translate
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-label>{{ 'user.email' | translate }} *</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="email"
        [placeholder]="'user.placeholder.email' | translate"
      />
      <mat-error *ngIf="form.get('email')?.hasError('required')">{{
        'user.valid.email.required' | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('pattern')">{{
        'user.valid.email.pattern' | translate
      }}</mat-error>
    </mat-form-field>
    <ng-container *ngFor="let err of createUserErrors">
      <ng-container *ngIf="err?.field === 'email'">
        <mat-error *ngFor="let msg of err?.error_messages">
          {{ 'user.valid.' + msg | translate }}
        </mat-error>
      </ng-container>
    </ng-container>
  </div>
  <div class="form-row">
    <mat-label> {{ 'user.password' | translate }} * </mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="password"
        [placeholder]="'user.placeholder.password' | translate"
      />
      <mat-hint *ngIf="isUpdate">{{ 'user.password_notify' | translate }}</mat-hint>
      <mat-error *ngIf="form.get('password')?.hasError('required')">{{
        'user.valid.password.required' | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('password')?.hasError('minlength')">{{
        'user.valid.password.minlength' | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('password')?.hasError('maxlength')">{{
        'user.valid.password.maxlength' | translate
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-label>{{ 'user.role' | translate }} *</mat-label>
    <mat-form-field appearance="outline" *ngIf="roles?.length">
      <mat-select
        formControlName="role"
        disableOptionCentering
        [data-qa]="'user-role-select'"
        aria-label="Select Role"
      >
        <mat-option *ngFor="let role of roles" [value]="role.name" [data-qa]="role.name">
          {{ role.display_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-controls-spacer" *ngIf="!isDesktop"></div>
  <div class="form-controls-panel form-controls-panel--sticky">
    <div>
      <mzima-client-button
        *ngIf="isUpdate && !isMyProfile"
        color="danger"
        [data-qa]="'btn-user-delete-user'"
        (buttonClick)="deleteUser()"
        [disabled]="form.disabled"
      >
        <ng-container *ngIf="isDesktop">{{ 'user.delete_user' | translate }}</ng-container>
        <mat-icon *ngIf="!isDesktop" svgIcon="delete"></mat-icon>
      </mzima-client-button>
    </div>
    <div>
      <mzima-client-button
        fill="outline"
        color="secondary"
        [disabled]="form.disabled"
        [data-qa]="'btn-user-cancel'"
        (buttonClick)="navigateToUsers()"
      >
        {{ 'app.cancel' | translate }}
      </mzima-client-button>
      <mzima-client-button
        [data-qa]="'btn-user-save'"
        [disabled]="form.invalid || form.disabled || submitted"
        type="submit"
      >
        {{ 'app.save' | translate }}
      </mzima-client-button>
    </div>
  </div>
</form>
