<ng-container *ngIf="mapConfig">
  <div class="form-row">
    <mat-label translate>survey.location</mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Pick Location..." />

      <button matSuffix type="button" mat-icon-button>
        <mat-icon svgIcon="search-small"></mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="form-row map-holder">
    <div
      id="settings-map"
      class="map"
      *ngIf="mapReady"
      leaflet
      [leafletOptions]="leafletOptions"
      [leafletLayers]="mapLayers"
      (leafletMapReady)="onMapReady($event)"
    ></div>
  </div>

  <div class="inputs">
    <div class="form-row">
      <mat-label translate>settings.map_default_latitude</mat-label>
      <mat-form-field appearance="outline">
        <input
          type="number"
          matInput
          [(ngModel)]="mapConfig.default_view!.lat"
          [max]="90"
          [min]="-90"
        />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label translate>settings.map_default_longitude</mat-label>
      <mat-form-field appearance="outline">
        <input
          type="number"
          matInput
          [(ngModel)]="mapConfig.default_view!.lon"
          [max]="180"
          [min]="-180"
        />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label translate>settings.map_default_baselayer</mat-label>
      <mat-form-field appearance="outline">
        <mat-select
          disableOptionCentering
          [(value)]="mapConfig.default_view!.baselayer"
          (valueChange)="layerChange($event)"
        >
          <mat-option *ngFor="let layer of baseLayers" [value]="layer">
            {{ layer }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label translate>settings.map_default_zoom_level</mat-label>
      <mat-form-field appearance="outline">
        <input
          type="number"
          matInput
          [(ngModel)]="mapConfig.default_view!.zoom"
          [max]="maxZoom"
          [min]="minZoom"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div class="checkbox">
      <mat-checkbox
        [checked]="mapConfig.clustering"
        (change)="mapConfig.clustering = $event.checked"
      >
        {{ 'settings.map_clustering' | translate }}
      </mat-checkbox>
    </div>
  </div>
</ng-container>
