.map-holder {
  position: relative;
  margin-bottom: 24px;

  &:before {
    content: '';
    display: block;
    padding-top: 60%;
  }
}

.map {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
