<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content class="page ion-padding-vertical" [fullscreen]="true">
  <ion-grid class="ion-padding-horizontal page-grid">
    <ion-row>
      <ion-col size="12">
        <app-logo></app-logo>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <app-deployment-search-btn></app-deployment-search-btn>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="deploymentList.length">
      <ion-col size="12">
        <p class="deployment__description">Choose one Deployment from list</p>
        <ion-list class="deployment-list">
          <app-deployment-item
            *ngFor="let item of deploymentList"
            [deployment]="item"
            (selectedDeployment)="callModal($event)"
          ></app-deployment-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
