.page {
  --padding-top: calc(min(9vh, 80px) + var(--ion-safe-area-top));
  --padding-bottom: calc(24px + var(--ion-safe-area-bottom));
}

.logo {
  display: block;
  margin-bottom: min(9vh, 80px);
}

.search-btn {
  display: block;
  margin-bottom: min(4.5vh, 40px);
}

.deployment-title {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
  letter-spacing: 0.1px;
}

.deployment-list {
  padding: 0;
  border-radius: 24px;

  app-deployment-item {
    display: block;

    &:not(:last-child) {
      border-bottom: 1px solid;

      @media (prefers-color-scheme: light) {
        border-bottom-color: var(--ion-color-step-200);
      }

      @media (prefers-color-scheme: dark) {
        border-bottom-color: var(--ion-color-step-300);
      }
    }
  }
}
