.page {
  &::part(scroll) {
    display: flex;
  }

  &-grid {
    width: 90%;
  }
}

.main {
  flex: 1 1 100%;
}

.deployment__description {
  font-size: 14px;
  line-height: 20px;
  color: var(--ion-color-medium);
}

.deployment-list {
  border-radius: 24px;
  margin-bottom: 20px;

  app-deployment-item {
    display: block;

    &:not(:last-child) {
      border-bottom: 1px solid var(--ion-color-step-400);
    }
  }
}

::ng-deep {
  .delete-deployment {
    --width: 80%;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 28px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
}
