<div class="sidebar">
  <div>
    <ng-container *ngFor="let item of menu">
      <button
        mat-raised-button
        *ngIf="item.visible"
        class="sidebar-button"
        [routerLink]="item.router"
        routerLinkActive="sidebar-button--active"
        (click)="registerPage($event, item.router, item.label)"
      >
        <mat-icon class="sidebar-button__icon">{{ item.icon }}</mat-icon>
        <span class="sidebar-button__title">{{ item.label }}</span>
      </button>
    </ng-container>
  </div>
  <div>
    <ng-container *ngFor="let item of userMenu">
      <button mat-raised-button *ngIf="item.visible" class="sidebar-button" (click)="item.action()">
        <mat-icon class="sidebar-button__icon">{{ item.icon }}</mat-icon>
        <span class="sidebar-button__title">{{ item.label }}</span>
      </button>
    </ng-container>
    <button
      mat-raised-button
      class="sidebar-button"
      matTooltipPosition="right"
      matTooltip="{{ 'app.support' | translate }}"
    >
      <app-logo></app-logo>
    </button>
  </div>
</div>
