<div class="sidebar">
  <a target="_blank" class="sidebar__logo" href="https://www.ushahidi.com/">
    <img src="assets/images/ushahidi-logo.svg" alt="ushahidi" width="172" height="40" />
  </a>

  <div class="sidebar__info">
    <app-company-info
      [title]="siteConfig.name"
      [logo]="siteConfig.image_header"
      [description]="siteConfig.description"
    ></app-company-info>
    <app-submit-post-button class="sidebar__add-post-btn"></app-submit-post-button>
  </div>

  <div class="sidebar__controls">
    <div class="sidebar__menu">
      <ng-container *ngFor="let item of menu">
        <a
          mat-raised-button
          *ngIf="item.visible"
          class="sidebar-menu-button"
          [routerLink]="item.router"
          routerLinkActive="sidebar-menu-button--active"
          (click)="registerPage($event, item.router, item.label)"
          [data-qa]="'btn-' + item.icon"
        >
          <mat-icon class="sidebar-menu-button__icon">
            <svg class="iconic" role="img">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                [attr.xlink:href]="'assets/menu-icons.svg#' + item.icon"
              ></use>
            </svg>
          </mat-icon>
          <mat-icon class="sidebar-menu-button__icon" [svgIcon]="item.icon"></mat-icon>
          <span class="sidebar-menu-button__title">{{ item.label }}</span>
        </a>
      </ng-container>
    </div>
    <div class="sidebar__menu">
      <ng-container *ngFor="let item of userMenu">
        <a
          mat-raised-button
          *ngIf="item.visible"
          class="sidebar-menu-button"
          (click)="item.action()"
          [data-qa]="'btn-' + item.icon"
        >
          <mat-icon class="sidebar-menu-button__icon" [svgIcon]="item.icon"></mat-icon>
          <span class="sidebar-menu-button__title">{{ item.label }}</span>
        </a>
      </ng-container>
    </div>
  </div>
</div>
