@import 'helpers';

.page-not-found {
  height: 100vh;
  background: url(/assets/images/logo-bottom-bg.svg) 50% 95% repeat-x;

  &__container {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  &__title {
    font-size: 6.25rem;
    font-weight: 800;
    margin-bottom: 0;

    @include breakpoint-max($mobile) {
      font-size: 3.75rem;
      margin-bottom: 20px;
    }

    &-404 {
      font-size: 12.5rem;
      margin-inline-end: 30px;

      @include breakpoint-max($mobile) {
        font-size: inherit;
        margin-inline-end: 0;
      }
    }
  }

  &__description {
    font-size: $font-base;
    font-weight: 400;
    margin-bottom: 32px;
    text-align: center;
  }

  mzima-client-button {
    --min-width: 140px;
    vertical-align: top;
    display: inline-block;
  }
}
