.types-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.type-item {
  margin: 0 -24px;
  cursor: pointer;
  padding: 8px 24px;
  position: relative;
  transition: color 0.35s ease;

  &:hover {
    color: var(--color-primary);
  }

  &__post-band {
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    position: absolute;
    background: var(--color);
  }
}

.spinner {
  display: block;
  margin: 64px auto;
}
