.types-list {
  margin: 0;
  padding: 0;
  list-style: none;
  columns: 2;
}

.type-item {
  //margin: 0 -24px;
  cursor: pointer;
  padding: 15px 12px;
  position: relative;
  transition: color 0.35s ease;
  margin-bottom: 8px;
  background: var(--color-neutral-10);
  border-radius: 4px;
  border-left: 5px solid var(--color);

  &:hover {
    color: var(--color-primary-60);
  }
}

.spinner {
  display: block;
  margin: 64px auto;
}
