<ion-content class="page ion-padding-vertical" [fullscreen]="true">
  <ion-title class="page-title ion-text-center ion-margin-bottom">Welcome to Ushahidi!</ion-title>
  <div class="main ion-padding-horizontal">
    <app-deployment-info (deploymentClick)="chooseDeployment()"></app-deployment-info>
    <form class="form" novalidate [formGroup]="form" (ngSubmit)="signUp()">
      <div>
        <div class="input-group">
          <app-form-control
            label="Name"
            [required]="true"
            formControlName="name"
            placeholder="Enter name"
            hint="The name you enter will be a display name"
            [errors]="fieldErrorMessages(form.controls['name'], 'name')"
          >
          </app-form-control>
          <app-form-control
            type="email"
            label="Email"
            [required]="true"
            formControlName="email"
            placeholder="Enter your email"
            [errors]="fieldErrorMessages(form.controls['email'], 'email')"
          >
          </app-form-control>
          <app-form-control
            type="password"
            label="Password"
            [required]="true"
            [togglePassword]="true"
            formControlName="password"
            placeholder="Enter password"
            [errors]="fieldErrorMessages(form.controls['password'], 'password')"
            [hint]="!form.controls['password'].value?.length ? 'Password should have at least 8 characters, one lowercase letter, one uppercase letter, one number and one symbol.' : undefined"
          >
            <app-password-strength
              additional
              *ngIf="form.controls['password'].value?.length"
              class="password-strength"
              [passwordToCheck]="form.value.password ?? ''"
            ></app-password-strength>
          </app-form-control>
        </div>
        <div class="agreement">
          <app-checkbox formControlName="agreement">
            I agree to Ushahidi
            <a (click)="openLink($event, 'https://www.ushahidi.com/privacy-policy')"
              >Privacy Policy</a
            >
            and <br />
            <a (click)="openLink($event, 'https://www.ushahidi.com/terms-of-service')"
              >Terms and Conditions</a
            >.
          </app-checkbox>
        </div>
        <ion-text *ngIf="signupError?.length" class="form-error ion-text-center" color="danger">
          {{ signupError }}
        </ion-text>
      </div>

      <div class="bottom-panel">
        <app-button
          type="submit"
          [disabled]="form.invalid || form.disabled || !form.controls['agreement'].value"
        >
          Sign up
        </app-button>
        <app-button class="ion-margin-top" fill="clear" color="medium" routerLink="/">
          Skip for now
        </app-button>
      </div>
    </form>
  </div>
</ion-content>
