<button
  mat-stroked-button
  [mat-dialog-close]="false"
  class="modal__close-btn"
  tabindex="-1"
  aria-label="{{ 'modal.button.close' | translate }}"
  [data-qa]="'btn-close'"
>
  <mat-icon class="fab-button__icon" svgIcon="close"></mat-icon>
</button>

<strong mat-dialog-title>{{ 'form.add_field' | translate }}</strong>
<mat-dialog-content>
  <ng-container *ngIf="selectedFieldType; else allFields">
    <div class="form-row">
      <mat-label>{{ 'app.name' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          required
          [(ngModel)]="selectedFieldType.label"
          placeholder="{{ 'form.field_name_placeholder' | translate }}"
        />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label>{{ 'survey.show_field_description' | translate }} </mat-label>
      <quill-editor
        [(ngModel)]="selectedFieldType.description"
        placeholder="{{ 'app.insert_text_here' | translate }}"
      ></quill-editor>
    </div>

    <!-- Has options -->
    <div class="form-row" *ngIf="hasOptions">
      <div class="form-head-panel">
        <mat-label class="form-label">{{ 'form.field_options' | translate }} </mat-label>

        <button type="button" mat-stroked-button (click)="addOption(selectedFieldType)">
          <span>{{ 'form.field_add_option' | translate }}</span>
          <mat-icon svgIcon="plus"></mat-icon>
        </button>
      </div>

      <div class="form-row__item" *ngFor="let opt of selectedFieldType.options; let i = index">
        <mat-form-field appearance="outline">
          <input
            matInput
            [(ngModel)]="selectedFieldType.options[i]"
            placeholder="{{ 'form.field_name_placeholder' | translate }}"
          />

          <button
            matSuffix
            type="button"
            color="accent"
            mat-icon-button
            (click)="removeOption(i)"
            class="button-flat button-beta"
            *ngIf="selectedFieldType.options.length > 1"
          >
            <mat-icon svgIcon="delete"></mat-icon>
          </button>
        </mat-form-field>
      </div>

      <mat-error role="alert" *ngIf="!validateDuplicate()">
        {{ 'survey.duplicate_option' | translate }}
      </mat-error>
    </div>

    <div class="form-row" *ngIf="selectedFieldType.input === 'tags'">
      <ng-container *ngIf="availableCategories; else spinner">
        <app-multilevel-select
          [(ngModel)]="categories"
          [data]="availableCategories"
          [label]="'category.which_categories' | translate"
        >
        </app-multilevel-select>
      </ng-container>
    </div>

    <div class="form-row" *ngIf="selectedFieldType.input === 'relation'">
      <app-multilevel-select
        [(ngModel)]="selectedFieldType.config.input.form"
        [data]="availableSurveys"
        [label]="'survey.field_allowed_relation_survey' | translate"
      >
      </app-multilevel-select>
    </div>

    <div class="form-row">
      <div class="toggle">
        <mat-slide-toggle *ngIf="onlyOptional" [(ngModel)]="selectedFieldType.required">
          {{ 'survey.required' | translate }}
        </mat-slide-toggle>
      </div>

      <div class="toggle">
        <mat-slide-toggle
          *ngIf="canDisableCaption"
          [(ngModel)]="selectedFieldType.config.hasCaption"
        >
          {{ 'survey.collect_image_caption' | translate }}
          <p class="init active" *ngIf="!selectedFieldType.config?.hasCaption">
            <small>{{ 'survey.disable_caption_field_explanation' | translate }}</small>
          </p>
        </mat-slide-toggle>
      </div>

      <div class="toggle">
        <mat-slide-toggle *ngIf="canMakePrivate" [(ngModel)]="selectedFieldType.response_private">
          {{ 'survey.make_response_private' | translate }}
          <p class="init active" *ngIf="selectedFieldType.response_private">
            <small>{{ 'survey.response_private_desc' | translate }}</small>
          </p>
        </mat-slide-toggle>
      </div>
    </div>

    <div class="form-row" *ngIf="canDisplay">
      <mat-label>{{ 'app.default_value' | translate }} </mat-label>
      <mat-form-field appearance="outline">
        <ng-container [ngSwitch]="selectedFieldType.type">
          <input
            *ngSwitchCase="'location'"
            matInput
            [(ngModel)]="selectedFieldType.default"
            placeholder="{{ 'form.default_location_placeholder' | translate }}"
          />
          <input
            *ngSwitchCase="'date'"
            matInput
            [(ngModel)]="selectedFieldType.default"
            placeholder="{{ 'form.default_location_placeholder' | translate }}"
          />
          <input
            *ngSwitchCase="'int'"
            matInput
            [(ngModel)]="selectedFieldType.default"
            type="number"
            step="1"
          />
          <input
            *ngSwitchCase="'decimal'"
            matInput
            [(ngModel)]="selectedFieldType.default"
            type="number"
          />
          <input
            *ngSwitchDefault
            matInput
            [(ngModel)]="selectedFieldType.default"
            placeholder="{{ 'form.default_default_placeholder' | translate }}"
          />
        </ng-container>
      </mat-form-field>
    </div>
  </ng-container>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button type="button" [mat-dialog-close]="false" mat-stroked-button>
    {{ 'app.cancel' | translate }}
  </button>
  <button
    mat-raised-button
    type="button"
    color="primary"
    (click)="addNewTask()"
    [disabled]="!selectedFieldType?.label?.length || !validateDuplicate()"
  >
    {{ (editMode ? 'app.update' : 'app.save') | translate }}
  </button>
</div>

<ng-template #allFields>
  <div class="fields-list">
    <div matRipple class="list-item" *ngFor="let field of fields" (click)="selectField(field)">
      <h3>{{ field.label | translate }}</h3>
      <p>{{ field.description | translate }}</p>
    </div>
  </div>
</ng-template>

<ng-template #spinner>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
