@import 'helpers';

.access-denied {
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 64px);
  }

  &__title {
    font-weight: bold;
    font-size: $font-2xl;
  }
}
