<button
  mat-stroked-button
  mat-dialog-close
  class="modal__close-btn"
  tabindex="-1"
  aria-label="{{ 'modal.button.close' | translate }}"
>
  <mat-icon class="fab-button__icon">close</mat-icon>
</button>

<strong mat-dialog-title>{{ 'nav.login' | translate }}</strong>
<form novalidate [formGroup]="form" (ngSubmit)="login()">
  <div class="form-row">
    <mat-label>{{ 'user.email' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="pat@example.com" formControlName="email" required />
      <mat-error *ngIf="form.get('email')?.invalid">{{ getErrorMessage('email') }}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>{{ 'user.password' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="password"
        required
        type="password"
      />
      <mat-error *ngIf="form.get('password')?.invalid">{{ getErrorMessage('password') }}</mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-stroked-button type="button" (click)="cancel()">
      {{ 'app.cancel' | translate }}
    </button>
    <button
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="form.invalid || form.disabled"
    >
      {{ 'nav.login' | translate }}
    </button>
  </div>
</form>
