.tabs {
  &::ng-deep {
    .mat-tab-header {
      margin-bottom: 21px;
      padding-right: 64px;
    }

    .mat-tab-labels {
      margin: 0 -8px;
    }

    .mat-tab-label {
      margin: 0 8px;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
