<button
  mat-stroked-button
  [mat-dialog-close]="false"
  class="modal__close-btn"
  tabindex="-1"
  aria-label="{{ 'modal.button.close' | translate }}"
  [data-qa]="'btn-close'"
>
  <mat-icon class="fab-button__icon" svgIcon="close"></mat-icon>
</button>

<mat-tab-group
  class="tabs"
  dynamicHeight
  disableRipple
  disablePagination
  animationDuration="0ms"
  [ngClass]="{ 'tabs--single': !isSignupActive }"
>
  <mat-tab [label]="'nav.login' | translate">
    <app-login-form (loggined)="loggined($event)">
      <button
        btn-cancel
        mat-stroked-button
        type="button"
        (click)="cancel()"
        [data-qa]="'btn-cancel'"
        *ngIf="isDesktop$ | async"
      >
        {{ 'app.cancel' | translate }}
      </button>
    </app-login-form>
  </mat-tab>
  <mat-tab [label]="'nav.registration' | translate" *ngIf="isSignupActive">
    <app-registration-form>
      <button
        btn-cancel
        mat-stroked-button
        type="button"
        (click)="cancel()"
        [data-qa]="'btn-cancel'"
        *ngIf="isDesktop$ | async"
      >
        {{ 'app.cancel' | translate }}
      </button>
    </app-registration-form>
  </mat-tab>
</mat-tab-group>
