@import 'helpers';

.form-head-panel {
  width: 100%;

  &__inner {
    display: flex;
    margin: 0 -8px;
    align-items: center;
    justify-content: flex-start;

    @include breakpoint-max($tablet) {
      margin-left: -4px;
      margin-right: -4px;
      width: calc(100% + 8px);
      justify-content: space-between;

      &--single {
        justify-content: flex-end;
      }
    }

    h1 {
      margin-left: 8px;
      margin-right: 8px;
    }

    mzima-client-button {
      margin-left: 8px;
      margin-right: 8px;

      @include breakpoint-max($tablet) {
        margin-left: 4px;
        margin-right: 4px;
      }
    }

    @include breakpoint-max($tablet) {
      &--actions {
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        z-index: 50;
        width: auto;
        position: fixed;
        padding: 11px 11px 12px;
        background: var(--color-light);
        border-top: 1px solid var(--color-neutral-20);

        &::ng-deep {
          .mat-button-base {
            margin-left: 5px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .translate-container {
    width: 190px;
    margin-left: 8px;
    margin-right: 8px;

    @include breakpoint-max($laptop-small) {
      width: 168px;
    }

    @include breakpoint-max($mobile) {
      width: 46%;
    }
  }
}

.delete-button {
  ::ng-deep {
    .mzima-button {
      @include breakpoint-max($laptop-small) {
        width: 45px;
      }
      @include breakpoint-max($tablet) {
        width: auto;
      }
    }

    .mzima-button__content .mzima-button__icon:not(.mzima-button__icon--prefix) {
      margin-inline-start: 0;
    }
  }

  .button-icon {
    display: none;
    @include breakpoint-max($laptop-small) {
      display: block;
      margin: 0;
    }
    @include breakpoint-max($tablet) {
      display: none;
    }
  }

  .button-name {
    display: block;
    @include breakpoint-max($laptop-small) {
      display: none;
    }
    @include breakpoint-max($tablet) {
      display: block;
    }
  }
}
