@import 'helpers';

.multilevelselect {
  display: flex;
  align-items: center;

  &__control {
    font-size: $font-sm;
    font-weight: 400;
    line-height: 17px;
    color: var(--color-neutral-100);
  }

  &__arrow {
    flex-shrink: 0;
    line-height: 1;
    font-size: $font-2xl;
    margin-inline-start: 8px;
    transition: transform 0.35s ease;
  }
}

.open .multilevelselect__arrow {
  transform: rotate(180deg);
}

::ng-deep {
  .multilevelselect {
    &__dropdown {
      .mat-tree {
        width: 602px;
        padding: 0 16px;
        background: transparent;
      }

      .mat-list-option {
        flex: 1 1 100%;
      }

      .mat-list-item-content {
        display: flex;
        min-height: 36px;
        align-items: center;
        justify-content: flex-start;
      }

      &__dropdown {
        .mat-pseudo-checkbox {
          margin-inline-end: 12px;
        }
      }
    }
  }
}
