.radio-buttons {
  &__options {
    display: block;
    padding-left: 16px;

    .mat-list-base {
      padding-top: 0;
    }
  }

  &__info,
  &::ng-deep .mat-radio-label-content {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }

  .mat-icon {
    margin-inline-end: 8px;
  }
}
