<ion-item
  lines="none"
  class="checkbox-item"
  [ngClass]="{ 'checkbox-item--radio': type === 'radio-item' }"
  *ngIf="type === 'item' || type === 'radio-item'; else checkbox"
>
  <ng-container *ngTemplateOutlet="checkbox"></ng-container>
</ion-item>

<ng-template #checkbox>
  <ion-checkbox
    class="checkbox"
    [(ngModel)]="value"
    [checked]="checked"
    [disabled]="disabled"
    (ionChange)="handleInputChange($event)"
    [labelPlacement]="type === 'default' || type === 'radio-item' ? 'end' : 'start'"
  >
    <span class="checkbox__text"><ng-content></ng-content></span>
  </ion-checkbox>
</ng-template>
