.checkbox-item {
  --border-width: 0 0 1px;
  --background: transparent;
  --border-color: var(--ion-color-step-200);
  --padding-start: 16px;
  --padding-end: 12px;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --min-height: 55px;
  --ripple-color: var(--ion-color-primary);

  .checkbox {
    --padding-top: 0;
    --padding-bottom: 0;
    font-weight: normal;
  }
}

.checkbox {
  --size: 18px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  min-height: var(--size);
  --checkbox-background: transparent;
  padding-top: var(--padding-top, 0);
  padding-left: var(--padding-left, 0);
  padding-right: var(--padding-right, 0);
  padding-bottom: var(--padding-bottom, 0);
  --checkmark-color: var(--ion-background-color);

  @media (prefers-color-scheme: light) {
    --border-color: var(--ion-color-step-600);
  }

  @media (prefers-color-scheme: dark) {
    --border-color: var(--ion-color-step-700);
  }

  &__text {
    white-space: normal;
    pointer-events: auto;
  }

  &::part(container) {
    margin: 11px;
  }
}

::ng-deep {
  app-checkbox {
    display: block;
  }
}
