.checkbox-item {
  --border-width: 0 0 1px;
  --background: transparent;
  --border-color: var(--checkbox-border-color, var(--ion-color-step-200));
  --padding-start: 16px;
  --padding-end: 12px;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --min-height: 55px;
  --ripple-color: var(--ion-color-primary);

  &--radio {
    --min-height: 24px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    --border-color: var(--checkbox-border-color, var(--ion-color-step-200));

    .checkbox {
      --size: 20px;
      --border-radius: 50%;

      @media (prefers-color-scheme: light) {
        --border-color: var(--ion-color-medium);
        --border-color-checked: var(--color-primary-50);
        --checkbox-background-checked: var(--color-primary-50);
      }

      @media (prefers-color-scheme: dark) {
        --border-color: var(--ion-color-primary);
        --checkbox-background-checked: var(--ion-color-primary);
      }

      &.checkbox-checked {
        opacity: 1;
        --size: 16px;

        &::part(container) {
          margin: 4px;
          border: 3px solid var(--ion-item-background);

          @media (prefers-color-scheme: light) {
            box-shadow: 0 0 0 2px var(--color-primary-50);
          }

          @media (prefers-color-scheme: dark) {
            box-shadow: 0 0 0 2px var(--ion-color-primary);
          }
        }
      }

      &::part(container) {
        margin: 2px;
      }

      &::part(mark) {
        opacity: 0;
      }
    }
  }

  .checkbox {
    --padding-top: 0;
    --padding-bottom: 0;
    font-weight: normal;

    &__text {
      display: block;
      width: calc(100vw - 84px);
    }
  }
}

.checkbox {
  --size: 18px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  min-height: var(--size);
  --checkbox-background: transparent;
  padding-top: var(--padding-top, 0);
  padding-left: var(--padding-left, 0);
  padding-right: var(--padding-right, 0);
  padding-bottom: var(--padding-bottom, 0);
  --checkmark-color: var(--ion-background-color);

  @media (prefers-color-scheme: light) {
    --border-color: var(--ion-color-step-600);
  }

  @media (prefers-color-scheme: dark) {
    --border-color: var(--ion-color-step-700);
  }

  &__text {
    white-space: normal;
    pointer-events: auto;
  }

  &::part(container) {
    margin: 11px;
  }
}

::ng-deep {
  app-checkbox {
    display: block;
  }
}
