@import 'helpers';

.data-source-item {
  display: flex;
  cursor: pointer;
  font-size: $font-sm;
  line-height: 1.5;
  min-height: 48px;
  font-weight: 700;
  margin-bottom: 8px;
  padding: 8px 16px;
  border-radius: 4px;
  align-items: center;
  text-decoration: none;
  color: var(--color-black);
  background: var(--color-neutral-10);
  box-shadow: inset 0 0 0 1px var(--color-neutral-20);

  @include breakpoint-max($tablet) {
    min-height: 74px;
    text-align: center;
    margin-bottom: 16px;
    justify-content: center;
  }
}

.form-head-panel {
  @include breakpoint-max($tablet) {
    margin-bottom: 24px;
    justify-content: flex-end;
  }
}
