<div class="form-head-panel">
  <h1 *ngIf="isDesktop$ | async">{{ 'settings.data_sources.data_sources' | translate }}</h1>
  <mzima-client-button
    [routerLink]="['create']"
    *ngIf="!isAllProvidersAdded"
    [data-qa]="'btn-add-provider'"
  >
    <span>{{ 'settings.data_sources.add_source' | translate }}</span>
    <mat-icon icon svgIcon="plus"></mat-icon>
  </mzima-client-button>
</div>
<ng-container *ngIf="providersData?.length; else showLoader">
  <h3 class="data-source-heading">{{ 'settings.data_sources.providers.supported' | translate }}</h3>
  <div *ngFor="let provider of providers.supported" [data-qa]="'providers-list'">
    <ng-container *ngIf="provider.supported">
      <a
        matRipple
        class="data-source-item"
        [routerLink]="['update', provider.id]"
        [data-qa]="provider.id"
      >
        {{ provider.name }}
      </a>
    </ng-container>
  </div>

  <h3 class="data-source-heading data-source-heading__smaller">
    {{ 'settings.data_sources.providers.unsupported' | translate }}
  </h3>
  <div *ngFor="let provider of providers.unsupported" [data-qa]="'providers-list'">
    <ng-container *ngIf="!provider.supported">
      <a
        matRipple
        class="data-source-item"
        [routerLink]="['update', provider.id]"
        [data-qa]="provider.id"
      >
        {{ provider.name }}
      </a>
    </ng-container>
  </div>
</ng-container>

<ng-template #showLoader>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
