<div class="form-head-panel">
  <h1 *ngIf="isDesktop$ | async">{{ 'settings.data_sources.data_sources' | translate }}</h1>
  <mzima-client-button
    [routerLink]="['create']"
    *ngIf="!isAllProvidersAdded"
    [data-qa]="'btn-add-provider'"
    aria-label="Click to add a new data source"
  >
    <span>{{ 'settings.data_sources.add_source' | translate }}</span>
    <mat-icon icon svgIcon="plus" aria-label="Add new data source"></mat-icon>
  </mzima-client-button>
</div>
<ng-container *ngIf="providersData?.length; else showLoader">
  <div *ngFor="let provider of providersData" [data-qa]="'providers-list'">
    <a
      matRipple
      class="data-source-item"
      [routerLink]="['update', provider.id]"
      [data-qa]="provider.id"
    >
      {{ provider.name }}
    </a>
  </div>
</ng-container>

<ng-template #showLoader>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
