.main {
  padding-top: 24px;
}

.results {
  margin-top: -1px;
  overflow-y: auto;
  max-height: 288px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 0 0 28px 28px;
  -webkit-overflow-scrolling: touch;
  background: var(--ion-item-background);
}

.search-input {
  &--has-results {
    --input-border-radius: 28px 28px 0 0;
  }

  &::ng-deep {
    .ion-margin-bottom {
      margin-bottom: 24px;
    }
  }
}

.result-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  --min-height: 56px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: var(--ion-padding);
  --padding-end: var(--ion-padding);
  --ripple-color: var(--ion-color-primary);

  &:not(:first-child) {
    border-top: 1px solid var(--ion-color-step-200);
  }
}
