<div class="main ion-padding-horizontal ion-padding-bottom">
  <app-form-control
    [rounded]="true"
    [clearable]="true"
    [(ngModel)]="query"
    class="search-input"
    (ngModelChange)="getAddresses()"
    (ionFocus)="isInputOnFocus = true"
    (ionBlur)="handleInputBlur()"
    (inputClear)="handleInputClear()"
    placeholder="{{ 'app.map_search' | translate }}"
    [ngClass]="{ 'search-input--has-results': results.length && isInputOnFocus }"
  >
    <ng-container start>
      <app-icon name="search-small"></app-icon>
    </ng-container>
    <div class="results" *ngIf="results.length && isInputOnFocus" additional>
      <ion-item
        button
        class="result-item"
        *ngFor="let result of results"
        (click)="selectLocation(result)"
      >
        {{ result.label }}
      </ion-item>
    </div>
  </app-form-control>
  <app-select
    label="Radius"
    [options]="radiusOptions"
    [(ngModel)]="radiusValue"
    (ngModelChange)="setRadius()"
  ></app-select>
</div>
