@import 'helpers';

.menu-item {
  font-size: 12px;
  cursor: pointer;
  line-height: 1.3;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--color-neutral-80);
  background-color: var(--color-neutral-10);

  /* Additional styles for anchor tag */
  text-decoration: none; /* Remove default underline */
  display: block; /* Anchor tags are inline by default, change to inline-block for padding and border-radius to take effect */

  @include breakpoint-max($tablet) {
    font-size: 14px;
  }

  &:not(:first-of-type) {
    margin-top: 16px;

    @include breakpoint-max($tablet) {
      margin-top: 12px;
    }
  }

  &__title {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: var(--color-black);

    @include breakpoint-max($tablet) {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  p {
    margin: 0;
  }
}

::ng-deep {
  .support-modal {
    @include breakpoint-max($tablet) {
      height: 100%;
      width: 100% !important;
      max-width: none !important;

      .mat-dialog-container {
        overflow: hidden;
        padding: 0 !important;
        border-radius: 0 !important;

        .modal {
          &__close-btn {
            top: 24px;
            position: fixed;
            inset-inline-end: 16px;
          }
        }
      }

      .mat-dialog-content {
        margin: 0 !important;
        overflow-x: hidden !important;
        padding: 24px 16px !important;
        max-height: calc(100vh - 80px) !important;
      }

      .mat-dialog-title {
        height: 80px;
        display: flex;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.28;
        align-items: center;
        margin: 0 !important;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-inline-end: 64px;
        padding-inline-start: 16px;
        justify-content: flex-start;
        border-bottom: 1px solid var(--color-neutral-30);
      }
    }
  }
}
