@import 'helpers';

.toast-message {
  left: 24px;
  right: 24px;
  z-index: 500;
  display: flex;
  font-size: $font-base;
  font-weight: 400;
  min-height: 56px;
  line-height: 1.3;
  position: absolute;
  border-radius: 8px;
  white-space: normal;
  align-items: center;
  top: calc(100% + 16px);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-inline-start: 24px;
  padding-inline-end: 88px;
  justify-content: flex-start;
  background: var(--color-primary-100);
  color: var(--ion-color-light-contrast);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.07);

  @include breakpoint-max($tablet) {
    font-size: $font-sm;
    inset-inline-end: 182px;
    inset-inline-start: 16px;
    padding-inline-start: 8px;
    padding-inline-end: 50px;
  }

  @include breakpoint-max($mobile) {
    top: calc(100% + 8px);
    align-items: stretch;
    flex-direction: column;
    padding-inline-end: 8px;
    inset-inline-end: 8px;
    inset-inline-start: 8px;
  }

  &__content {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    justify-content: flex-start;

    @include breakpoint-max($mobile) {
      min-height: 36px;
      padding-inline-end: 36px;
    }
  }

  &__more {
    display: flex;

    @include breakpoint-max($mobile) {
      margin-top: 8px;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }

  &__icon {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    line-height: 1;
    font-size: $font-2xl;
    margin-inline-end: 16px;

    @include breakpoint-max($tablet) {
      font-size: $font-xl;
      margin-inline-end: 8px;
    }
  }

  &__button {
    white-space: nowrap;
    --border-color: #b6b7ba;
    --button-background: transparent;
    --button-background-hover: #ffebbb;
    --button-color: var(--ion-color-step-950);

    &--more {
      margin-inline-start: 16px;
      --font-size: $font-sm;
      --min-height: 32px;
      --line-height: 20px;
      --button-padding-top: 2px;
      --button-padding-bottom: 2px;

      @include breakpoint-max($tablet) {
        margin-inline-start: 8px;
      }
    }

    &--close {
      top: 50%;
      --size: 32px;
      margin-top: -16px;
      position: absolute;
      inset-inline-end: 16px;

      @include breakpoint-max($tablet) {
        inset-inline-end: 8px;
      }

      @include breakpoint-max($mobile) {
        top: 8px;
        margin-top: 0;
      }

      @include breakpoint-max($mobile) {
        --size: 24px;
        --icon-size: 20px;
      }
    }
  }
}
