.api-key {
  margin-bottom: 24px;

  .form-row {
    margin-bottom: 16px;
  }
}

.form-controls-panel {
  left: 0;
  right: 0;
  bottom: -32px;
  z-index: 50;
  margin: -23px;
  padding: 23px;
  position: sticky;
  border-radius: 0 0 4px 4px;
  background: var(--color-light);
}
