<h1 *ngIf="isDesktop">{{ 'settings.settings_list.general' | translate }}</h1>
<form (ngSubmit)="save()" [formGroup]="generalForm" novalidate>
  <div class="form-row">
    <mat-label translate>settings.deployment_name</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="{{ 'settings.deployment_name' }}"
        formControlName="name"
        required
      />
      <mat-error *ngIf="generalForm.get('name')?.invalid">
        {{ generalForm.get('name')?.errors | json }}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-label translate>settings.site_description</mat-label>
    <mat-form-field appearance="outline">
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMaxRows="10"
        [cdkAutosizeMinRows]="isDesktop ? 6 : 3"
        placeholder="{{ 'settings.site_description' }}"
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-label translate>settings.deployment_logo</mat-label>
    <app-file-uploader
      [imageSrc]="siteConfig.image_header"
      (fileUpload)="fileUploaded($event)"
      (delete)="headerImageDeleted()"
    >
    </app-file-uploader>
  </div>
  <div class="form-row">
    <mat-label translate>settings.site_email</mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="name@domain.com" formControlName="email" required />
      <mat-error *ngIf="generalForm.get('email')?.invalid">
        {{ generalForm.get('email')?.errors | json }}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-label translate>settings.site_language</mat-label>
    <mat-form-field appearance="outline">
      <mat-select formControlName="language" disableOptionCentering>
        <mat-option *ngFor="let lang of langService.getLanguages()" [value]="lang.code">
          {{ lang.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>{{ 'settings.general_settings.private_settings' | translate }}</mat-label>
    <div class="checkbox-group">
      <div class="checkbox">
        <!-- FIXME: isPrivateEnabled -->
        <mat-checkbox formControlName="private">
          {{ 'settings.site_private' | translate }}
        </mat-checkbox>
        <p class="small" translate>settings.site_private_desc</p>
      </div>
      <div class="checkbox">
        <!-- FIXME: isDisableRegistrationEnabled -->
        <mat-checkbox translate formControlName="disable_registration">
          {{ 'settings.site_disable_registration' | translate }}
        </mat-checkbox>
        <p translate="settings.site_disable_registration_desc"></p>
      </div>
    </div>
  </div>
</form>

<div class="api-key">
  <div class="form-row" *ngIf="apiKey">
    <mat-label translate>{{ 'settings.general_settings.api_key' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input matInput [value]="apiKey.api_key" readonly />

      <button matSuffix type="button" mat-icon-button (click)="copyToClipboard(apiKey.api_key)">
        <mat-icon svgIcon="copy"></mat-icon>
      </button>

      <mat-hint translate>settings.api_key_desc</mat-hint>
    </mat-form-field>
  </div>

  <button type="button" mat-stroked-button (click)="generateApiKey()">
    <span>{{ 'settings.general_settings.generate_api_key' | translate }}</span>
    <mat-icon svgIcon="key"></mat-icon>
  </button>
</div>

<app-settings-map #mapSettings></app-settings-map>

<div class="form-controls-spacer" *ngIf="!isDesktop"></div>
<div class="form-controls-panel form-controls-panel--sticky">
  <button type="button" mat-stroked-button routerLink="/settings" data-qa="btn-cancel">
    {{ 'app.cancel' | translate }}
  </button>
  <button type="button" color="primary" mat-raised-button (click)="save()" data-qa="btn-save">
    {{ 'app.save' | translate }}
  </button>
</div>
