.api-key {
  color: #222;
  line-height: 1;
  font-size: 14px;
  margin-left: 24px;
  padding: 8px 16px;
  border-radius: 18px;
  background-color: #eee;
  border: 1px solid #d6d5d2;
}

.mat-button-base {
  .mat-icon {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.deployment-logo {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
