.list-title {
  padding: 0;
  margin: 0 0 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1px;

  @media (prefers-color-scheme: light) {
    color: var(--ion-color-step-800);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--ion-color-step-900);
  }
}
.list {
  padding: 0;
  background: none;
  margin-bottom: 24px;
}
.list-item {
  display: block;
  &:not(:first-child) {
    margin-top: 8px;
  }
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 16px;
  --padding-end: 8px;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 56px;
  --ripple-color: var(--ion-color-primary);

  &__icon {
    font-size: 40px;
    margin-right: 16px;
  }

  &__title {
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  &__info {
    display: block;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  &__detail-icon {
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 24px;
    margin: 0 0 0 16px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
