// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #181b21;
  --ion-text-color-rgb: 24, 27, 33;

  --ion-font-family: 'Lato', serif;

  --ion-item-background: #f5f5f5;

  /** primary **/
  --ion-color-primary: #ffc235;
  --ion-color-primary-rgb: 255, 194, 53;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e0ab2f;
  --ion-color-primary-tint: #ffc849;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #70a731;
  --ion-color-success-rgb: 112, 167, 49;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #63932b;
  --ion-color-success-tint: #7eb046;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #962923;
  --ion-color-danger-rgb: 150, 41, 35;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #84241f;
  --ion-color-danger-tint: #a13e39;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #6c7074;
  --ion-color-medium-rgb: 108, 112, 116;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5f6366;
  --ion-color-medium-tint: #7b7e82;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-step-50: #e9e9ea;
  --ion-color-step-100: #e2e2e3;
  --ion-color-step-150: #dbdbdb;
  --ion-color-step-200: #d3d4d5;
  --ion-color-step-250: #c4c4c4;
  --ion-color-step-300: #b6b7ba;
  --ion-color-step-350: #acacac;
  --ion-color-step-400: #a0a0a0;
  --ion-color-step-450: #919397;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #7d7d7d;
  --ion-color-step-600: #6c7074;
  --ion-color-step-650: #656565;
  --ion-color-step-700: #595959;
  --ion-color-step-750: #4d4d4d;
  --ion-color-step-800: #383e45;
  --ion-color-step-850: #363636;
  --ion-color-step-900: #2a2a2a;
  --ion-color-step-950: #1e1e1e;

  --color-primary-10: #33270a;
  --color-primary-20: #554111;
  --color-primary-30: #80611a;
  --color-primary-40: #aa8223;
  --color-primary-50: #d5a22b;
  --color-primary-60: #ffc334;
  --color-primary-70: #ffcd56;
  --color-primary-80: #ffe199;
  --color-primary-90: #ffebbb;
  --color-primary-100: #fff3d6;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff9a99;
    --ion-color-danger-rgb: 255, 154, 153;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #e08887;
    --ion-color-danger-tint: #ffa4a3;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    /** medium **/
    --ion-color-medium: #b6b7ba;
    --ion-color-medium-rgb: 182, 183, 186;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #a0a1a4;
    --ion-color-medium-tint: #bdbec1;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

    --ion-background-color: #23282f;
    --ion-background-color-rgb: 35, 40, 47;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #383e45;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #383e45;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #6c7074;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #919397;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b6b7ba;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d3d4d5;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e2e2e3;
    --ion-color-step-950: #e9e9ea;

    --ion-item-background: #383e45;

    --ion-toolbar-background: transparent;

    --ion-tab-bar-background: transparent;

    --ion-card-background: #383e45;
  }
}
