@import 'apps/web-mzima-client/src/styles/helpers';

.collection-item {
  cursor: pointer;
  font-size: 12px;
  line-height: 1.3;
  min-height: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-neutral-80);
  background: var(--color-neutral-10);

  @include breakpoint-max($tablet) {
    font-size: 14px;
  }

  &__actions {
    top: 13px;
    inset-inline-end: 16px;
    display: flex;
    margin: 0 -4px;
    position: absolute;
    align-items: center;
    justify-content: flex-end;

    @include breakpoint-max($tablet) {
      margin-left: -6px;
      margin-right: -6px;
    }
  }

  &__control {
    font-size: 20px;
    padding: 0;
    width: 1em;
    height: 1em;
    min-width: 0;
    display: flex;
    margin: 0 4px;
    line-height: 1em;
    border-radius: 50%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: none;

    @include breakpoint-max($tablet) {
      font-size: 22px;
      margin-left: 6px;
      margin-right: 6px;
    }

    .mat-icon {
      font-size: 1em;
    }
  }

  &__title {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    word-break: break-word;
    padding-inline-end: 60px;
    color: var(--color-black);

    @include breakpoint-max($tablet) {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
    }

    .collection-item--has-checkbox & {
      display: flex;
      min-height: 28px;
      align-items: center;
      padding-inline-start: 36px;
      justify-content: flex-start;
    }
  }

  &__checkbox {
    top: 12px;
    position: absolute;
    inset-inline-start: 16px;

    &::ng-deep {
      .mat-checkbox-inner-container {
        margin-inline-end: 3.5px !important;
      }
    }
  }
}
