@import 'helpers';

.types-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
}

.type-item {
  display: flex;
  cursor: pointer;
  min-height: 46px;
  padding: 8px 12px;
  margin: 0 4px 8px;
  position: relative;
  border-radius: 4px;
  align-items: center;
  width: calc(50% - 8px);
  transition: color 0.35s ease;
  background: var(--color-neutral-10);
  border-inline-start: 5px solid var(--color, transparent);

  @include breakpoint-max($tablet) {
    border-inline-start-width: 4px;
    box-shadow: inset 0 0 0 1px var(--color-neutral-20);
  }

  @include breakpoint-max($mobile) {
    width: calc(100% - 8px);
  }
}

.actions-spacer {
  height: 68px;
}

.spinner {
  display: block;
  z-index: 9999;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.load-more {
  display: block;
  min-width: 132px;
  font-size: $font-sm;
  line-height: 1.6;
  font-weight: 500;
  margin: 24px auto 0;
  letter-spacing: -0.005em;

  .feed--post-view & {
    margin-top: 16px;

    @include breakpoint-max($laptop-small) {
      margin-top: 8px;
    }
  }

  @include breakpoint-max($tablet) {
    margin-top: 8px;
    margin-bottom: 32px;
  }
}

.survey-button {
  ::ng-deep {
    .mzima-button {
      @include breakpoint-min-max($tablet, $laptop-small) {
        width: 45px;
      }
    }

    .mzima-button__content {
      .mzima-button__icon:not(.mzima-button__icon--prefix) {
        margin-inline-start: 0;
      }
    }
  }

  .button-icon {
    margin: 0;
    @include breakpoint-min($laptop-small) {
      display: none;
    }
    @include breakpoint-max($tablet) {
      display: none;
    }
  }

  .button-name {
    @include breakpoint-min-max($tablet, $laptop-small) {
      display: none;
    }
  }
}
