<app-settings-header
  [settingsTitle]="'app.surveys'"
  [newButtonTitle]="'settings.new_survey'"
  [selectedItem]="selectedSurveys"
  (isShowActionsChange)="showActions($event)"
  (deleteCall)="deleteSurvey()"
>
  <mzima-client-button
    fill="outline"
    color="secondary"
    class="survey-button"
    [data-qa]="'btn-settings-duplicate'"
    [disabled]="selectedSurveys.length !== 1"
    (buttonClick)="duplicateSurvey()"
    aria-label="Duplicate selected survey"
  >
    <mat-icon icon svgIcon="copy" class="button-icon" aria-label="Duplicate survey"></mat-icon>
    <span class="button-name">{{ 'app.duplicate' | translate }}</span>
  </mzima-client-button>
</app-settings-header>

<app-spinner class="spinner" *ngIf="isLoading || !surveys.length"></app-spinner>

<ul role="list" class="types-list" *ngIf="surveys.length" [data-qa]="'survey-list'">
  <li
    mat-ripple
    role="listitem"
    class="type-item"
    *ngFor="let survey of surveys"
    [routerLink]="['update', survey.id]"
    [ngStyle]="{ '--color': survey.color }"
    [data-qa]="generateDataQa(survey.name)"
  >
    <mat-checkbox
      *ngIf="isShowActions"
      class="type-item__checkbox"
      (click)="$event.stopPropagation()"
      (change)="selectSurveys($event, survey)"
    ></mat-checkbox>
    {{ survey.name }}
  </li>
</ul>
<button
  mat-button
  (click)="loadMore()"
  class="load-more"
  *ngIf="!isLoading && params.current_page < params.last_page"
>
  <mat-icon svgIcon="refresh"></mat-icon>
  <span>{{ 'app.load_more' | translate }}</span>
</button>

<div class="actions-spacer" *ngIf="!(isDesktop$ | async)! && isShowActions"></div>
