<mat-expansion-panel
  hideToggle
  class="company-info"
  [expanded]="isDescriptionOpen"
  (opened)="descriptionToggleHandle(true)"
  (closed)="descriptionToggleHandle(false)"
>
  <mat-expansion-panel-header>
    <mat-panel-title class="company-info__header">
      <!-- Adding Logo at the end (thought it was more descriptive) -->
      <img [src]="logo" [alt]="title + 'Logo'" class="company-info__logo" *ngIf="logo" />
      <span class="company-info__title">{{ title }}</span>
      <!-- The arrow down icon is an interactive icon -->
      <mat-icon
        svgIcon="arrow-down"
        class="company-info__header__arrow"
        aria-label="company description button-icon"
        aria-hidden="false"
        [attr.aria-expanded]="expanded"
        role="button"
        tabindex="0"
      ></mat-icon>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <!-- Ensures the div is focusable when expanded is true (added tab focus on description for screen readers to read it out to users)-->
  <div [innerHTML]="description | safeUrl" [tabIndex]="expanded ? '0' : null"></div>
</mat-expansion-panel>
