@import 'helpers';

.company-info {
  color: inherit;
  font-size: $font-xs;
  border-radius: 0;
  box-shadow: none;
  background: none;
  line-height: 1.3;
  margin: 0 -10px 12px;

  @include breakpoint-max($tablet) {
    margin: 0;
    padding: 11px 16px;
    border-bottom: 1px solid var(--color-neutral-90);
  }

  &::ng-deep {
    a {
      text-decoration: underline;
      color: var(--color-primary-60);

      &:hover {
        text-decoration: none;
      }
    }

    .mat-expansion-panel-content {
      overflow-y: auto;
      overflow-x: hidden;
      font-size: inherit;
      line-height: inherit;
      white-space: pre-wrap;
      scroll-behavior: smooth;
      max-height: calc(100vh - 564px);
      -webkit-overflow-scrolling: touch;

      @media screen and (min-height: 860px) {
        max-height: 280px;
      }

      @include breakpoint-max($tablet) {
        max-height: 260px;
      }
    }
  }

  .mat-expansion-panel {
    &-header {
      height: 40px;
      font-size: $font-base;
      padding-left: 0;
      padding-right: 0;
      font-weight: 700;
      line-height: calc(20 / 16 * 1);

      &-title {
        margin-inline-end: 28px;
        color: var(--color-light);
      }
    }
  }

  &::ng-deep {
    .mat-expansion-panel-body {
      padding: 8px 2px 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__arrow {
      top: 50%;
      width: 1em;
      height: 1em;
      font-size: 30px;
      margin-top: -0.5em;
      position: absolute;
      inset-inline-end: 0;
      transition: transform 0.35s ease;

      .company-info.mat-expanded & {
        transform: rotate(180deg);
      }
    }
  }

  &__title {
    max-height: calc(20 / 16 * 2em);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__logo {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: block;
    object-fit: contain;
    // margin-inline-end: 8px;
  }

  &__email {
    display: block;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
}

.mat-expansion-panel {
  &:not(.mat-expanded):not([aria-disabled='true']) {
    .mat-expansion-panel-header {
      &:hover {
        background-color: transparent;
      }
    }
  }
}
