@import 'helpers';

$leftSidePanelWidth: 64px;

::ng-deep {
  .custom-snackbar {
    position: relative;

    &--wide {
      padding: 24px;
      max-width: none;
      border-radius: 0;
      transform-origin: 50% 100%;
      margin: 0;
      width: 100vw;
    }
  }
}

.snackbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &__icon {
    width: 2em;
    height: 2em;
    display: flex;
    flex-shrink: 0;
    font-size: $font-2xl;
    border-radius: 50%;
    margin-inline-end: 16px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &.primary {
      background: var(--color-primary-60);
      color: var(--color-neutral-100);
    }

    &.accent {
      background: var(--color-accent);
      color: var(--color-accent-contrast);
    }

    &.dark {
      background: var(--color-neutral-100);
      color: var(--color-neutral-10);
    }

    &.success {
      background: var(--color-success);
      color: var(--color-success-contrast);
    }
  }

  &__progress {
    top: 0;
    left: 0;
    position: absolute;
  }

  &__main {
    flex: 1 1 100%;
  }

  &__buttons {
    display: flex;
    margin: 0 -8px;
    align-items: flex-start;
    justify-content: flex-start;

    .button:not(:last-child) {
      margin-right: 15px;
    }

    .mat-button-base {
      line-height: 28px;
      margin: 0 8px 8px;
    }
  }
}
