<form class="flex-column" [formGroup]="form" *ngIf="provider?.options" (ngSubmit)="submit()">
  <ng-container [ngTemplateOutlet]="survey"></ng-container>

  <div class="form-field" *ngFor="let control of provider.options">
    <ng-container *ngIf="control.input === 'read-only-text'">
      <p>{{ control.label }}</p>
      <p [innerHTML]="control.description"></p>
    </ng-container>

    <ng-container *ngIf="control.input !== 'read-only-text'">
      <p>{{ control.label }}</p>
      <i [innerHTML]="control.description"></i>

      <div class="form-row">
        <mat-label>{{ control.label }}</mat-label>
        <mat-form-field appearance="outline" *ngIf="control.input === 'text'">
          <input
            matInput
            [placeholder]="control.description"
            [formControlName]="control.form_label"
            [type]="control.input"
            required
          />
        </mat-form-field>
      </div>

      <mat-radio-group
        *ngIf="control.input === 'radio'"
        class="form-radio-group"
        [formControlName]="control.form_label"
        aria-label="Select an option"
      >
        <mat-radio-button
          *ngFor="let item of control.options"
          class="form-radio-button"
          [value]="item"
          >{{ item }}
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>
    <div *ngIf="form.get(control.form_label)?.touched || form.get(control.form_label)?.dirty">
      <mat-error *ngIf="form.get(control.form_label)?.hasError('required')"
        >This field is required</mat-error
      >
    </div>
  </div>
  <div class="form-controls-panel">
    <button mat-stroked-button type="button" (click)="cancel()" translate>Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" translate>
      Save
    </button>
  </div>
</form>
