<form [formGroup]="form" *ngIf="form" (ngSubmit)="submit()">
  <ng-container [ngTemplateOutlet]="survey"></ng-container>

  <div class="form-field" *ngFor="let control of formControls">
    <ng-container *ngIf="control.input === 'read-only-text'">
      <div *ngIf="control.form_label === 'intro_text'">
        <p>intro_text</p>
        <p [innerHTML]="control.description"></p>
      </div>

      <div *ngIf="control.form_label === 'intro_step1'">
        <p>intro_step1</p>
        <p [innerHTML]="control.description"></p>
      </div>

      <div *ngIf="control.form_label === 'intro_step2'">
        <p>intro_step2</p>
        <p [innerHTML]="control.description"></p>
      </div>
    </ng-container>

    <ng-container *ngIf="control.input !== 'read-only-text'">
      <p>{{ control.label }}</p>
      <i [innerHTML]="control.description"></i>

      <mat-form-field appearance="standard" *ngIf="control.input === 'text'">
        <mat-label>
          {{ control.label }}
        </mat-label>
        <input
          matInput
          [placeholder]="control.description"
          [formControlName]="control.form_label"
          [type]="control.input"
          required
        />
        <!--      <mat-error *ngIf="form.get('email')?.invalid">{{ getErrorMessage('email') }}</mat-error>-->
      </mat-form-field>

      <mat-radio-group
        *ngIf="control.input === 'radio'"
        class="form-radio-group"
        [formControlName]="control.form_label"
        aria-label="Select an option"
      >
        <mat-radio-button
          *ngFor="let item of control.options"
          class="form-radio-button"
          [value]="item"
          >{{ item }}
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>
  </div>
  <div class="form-controls-panel">
    <button mat-raised-button type="button" (click)="cancel()" translate>Cancel</button>
    <button mat-raised-button color="primary" type="submit" translate>Save</button>
  </div>
</form>
