<app-main-layout (back)="back()" title="Privacy Policy">
  <p>Ushahidi is committed to protecting your privacy.</p>
  <p>
    It is your right to be informed about how Ushahidi manages your personal information. We’re
    providing this Privacy Policy to explain how we collect, receive, use, store, share and disclose
    your data through our Services.
  </p>
  <p>
    To make this policy easier to read, the Sites, our services, platforms, and Apps are
    collectively called the “Services.” If you have any questions about your personal data and our
    policies, please email <a href="mailto:privacy@ushahidi.com">privacy@ushahidi.com</a>
  </p>
  <p>
    This Privacy Policy does not apply to any Third-Party Services (as defined below), even if they
    are accessible through our Services.
  </p>
  <p>
    Also, please note that unless we define a term in this Privacy Policy, all capitalized terms
    used in this Privacy Policy have the same meanings as in our Terms of Service. So, please make
    sure that you have read and understand our Terms of Service.
  </p>
  <h2>Included In Our Policy</h2>
  <p>Who We Are</p>
  <ul>
    <li>Collection And Use Of Information</li>
    <li>The Ways We Use Your Information</li>
    <li>Information That We Share With Third Parties</li>
    <li>Data Protection Laws</li>
    <li>Your Rights</li>
    <li>Your Choices</li>
    <li>Responding To Do Not Track Signals</li>
    <li>The Security Of Your Information</li>
    <li>How Long We Keep Your Data</li>
  </ul>
</app-main-layout>
