.post-head {
  display: flex;
  margin: 0 -12px;
  align-items: center;
  justify-content: flex-end;

  &__control {
    width: 1em;
    height: 1em;
    margin: 0 8px;
    font-size: 32px;

    &--dots {
      font-size: 24px;
    }

    .mat-icon {
      font-size: inherit;
    }
  }
}
