.collection-item {
  flex-basis: 330px;
  margin-bottom: 15px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.spinner {
  display: block;
  margin-top: 200px;
  margin-bottom: 200px;
}
