@import 'helpers';

.task {
  &:not(.task--main) {
    @include breakpoint-min($tablet) {
      padding: 24px;
      margin-left: -7px;
      margin-right: -7px;
      border-radius: 4px;
      margin-bottom: 24px;
      box-shadow: inset 0 0 0 1px var(--color-neutral-20);
    }

    @include breakpoint-max($tablet) {
      margin-top: 24px;
    }
  }
}

.fields-list {
  display: block;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 16px;

  @include breakpoint-max($tablet) {
    margin-bottom: 24px;
  }

  + .form-controls-panel {
    margin-top: 24px;
  }
}

.field-item {
  display: flex;
  min-height: 44px;
  position: relative;
  border-radius: 4px;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 24px 8px 16px;
  color: var(--color-neutral-100);
  background: var(--color-neutral-10);
  box-shadow: inset 0 0 0 1px var(--color-neutral-10);

  @include breakpoint-max($tablet) {
    padding-left: 8px;
    padding-right: 8px;
  }

  &:not(:first-child) {
    margin-top: 16px;
  }

  &__title {
    display: block;
    font-size: $font-base;
    line-height: 1.5;
  }

  &__main,
  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__main {
    flex-basis: 100%;
  }

  &__controls {
    flex-shrink: 0;
  }

  &__control {
    --size: 20px;
    --icon-size: 20px;
    margin-left: 8px;

    @include breakpoint-max($tablet) {
      --size: 32px;
      --icon-size: 32px;
    }
  }

  &__drag-handle,
  &__non-drag-handle {
    width: 1em;
    height: 1em;
    cursor: move;
    flex-shrink: 0;
    font-size: $font-2xl;
    margin-inline-end: 12px;

    @include breakpoint-max($tablet) {
      margin-inline-end: 8px;
    }
  }

  &__non-drag-handle {
    color: var(--color-neutral-40);
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.fields-list.cdk-drop-list-dragging {
  .field-item {
    &:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.form-controls-panel {
  justify-content: flex-start;
}

.form-head-panel {
  h2 {
    font-size: $font-base;
    margin-bottom: 0;
    line-height: 1.5;
    color: var(--color-black);
  }
}

.empty {
  display: flex;
  font-size: $font-xl;
  padding: 16px 0;
  line-height: 1.5;
  min-height: 100px;
  text-align: center;
  border-radius: 4px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--color-neutral-60);
  box-shadow: inset 0 0 0 1px var(--color-neutral-20);
}

.alert {
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: flex-start;

  .mat-icon {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    line-height: 1;
    font-size: 24px;
    margin-right: 8px;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
