<div class="task" [ngClass]="{ 'task--main': isMain }">
  <mat-tab-group dynamicHeight disableRipple disablePagination>
    <mat-tab [label]="'survey.main_info' | translate" [data-qa]="'survey-main-info'">
      <ng-container *ngIf="!isPost">
        <div class="form-row">
          <mat-label>{{ 'survey.task_name' | translate }} *</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [(ngModel)]="task.label"
              [placeholder]="'survey.untitled_task' | translate"
              [readonly]="!isDefaultLanguageSelected"
              (ngModelChange)="changeLabel($event)"
              required
            />
          </mat-form-field>
        </div>
        <div class="form-row" *ngIf="!isDefaultLanguageSelected">
          <mat-label>{{ 'survey.task_name' | translate }} ({{ selectLanguageCode }})</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [(ngModel)]="task.translations[selectLanguageCode].label"
              [placeholder]="'survey.untitled_task' | translate"
              (ngModelChange)="changeLabel($event)"
            />
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-label>{{ 'app.description' | translate }}</mat-label>
          <mat-form-field appearance="outline">
            <textarea
              matInput
              cdkTextareaAutosize
              [readonly]="!isDefaultLanguageSelected"
              [(ngModel)]="task.description"
              [placeholder]="'survey.describe_this_task' | translate"
            >
            </textarea>
          </mat-form-field>
        </div>

        <div class="form-row" *ngIf="!isDefaultLanguageSelected">
          <mat-label>{{ 'app.description' | translate }} ({{ selectLanguageCode }})</mat-label>
          <mat-form-field appearance="outline">
            <textarea
              matInput
              cdkTextareaAutosize
              [(ngModel)]="task.translations[selectLanguageCode].description"
              [placeholder]="'survey.describe_this_task' | translate"
            >
            </textarea>
          </mat-form-field>
        </div>
      </ng-container>

      <ng-content *ngIf="isPost" select="[survey-info]"></ng-content>

      <div class="form-head-panel">
        <h2>
          {{
            isDefaultLanguageSelected
              ? ('survey.fields.fields_title' | translate)
              : ('translations.field_add_translation' | translate)
          }}
        </h2>
        <mzima-client-button
          color="secondary"
          fill="outline"
          (buttonClick)="addField()"
          [data-qa]="'btn-survey-add-field'"
          *ngIf="isDefaultLanguageSelected"
        >
          <span>{{ 'form.add_field' | translate }}</span>
          <mat-icon icon svgIcon="plus"></mat-icon>
        </mzima-client-button>
      </div>

      <div cdkDropList class="fields-list" *ngIf="taskFields?.length">
        <div
          class="field-item"
          *ngFor="let field of nonDraggableFields | sortByField : 'priority' : 'asc'; let i = index"
          [data-qa]="'field-' + field"
        >
          <div class="field-item__main">
            <mat-icon
              cdkDragHandle
              class="field-item__non-drag-handle"
              svgIcon="drag-handle"
            ></mat-icon>
            <span class="field-item__title" [data-qa]="'field-name'">{{
              isDefaultLanguageSelected
                ? field.label
                : field.translations[selectLanguageCode]?.label || field.label
            }}</span>
          </div>
          <!-- <span class="field-item__type">{{ field.type }}</span> -->
          <div class="field-item__controls">
            <mzima-client-button
              fill="clear"
              color="gray"
              [iconOnly]="true"
              class="field-item__control"
              (buttonClick)="editField(field, i)"
              [data-qa]="'btn-field-edit-' + field.label"
            >
              <mat-icon icon svgIcon="pencil"></mat-icon>
            </mzima-client-button>
          </div>
        </div>
      </div>

      <div
        cdkDropList
        class="fields-list"
        (cdkDropListDropped)="drop($event)"
        *ngIf="taskFields?.length; else noFields"
      >
        <div
          class="field-item"
          *ngFor="let field of draggableFields | sortByField : 'priority' : 'asc'; let i = index"
          cdkDrag
          [cdkDragDisabled]="!isDefaultLanguageSelected"
          [data-qa]="'field-' + field"
        >
          <div class="field-item__main">
            <mat-icon
              cdkDragHandle
              class="field-item__drag-handle"
              svgIcon="drag-handle"
            ></mat-icon>
            <span class="field-item__title" [data-qa]="'field-name'">{{
              isDefaultLanguageSelected
                ? field.label
                : field.translations[selectLanguageCode]?.label || field.label
            }}</span>
          </div>
          <!-- <span class="field-item__type">{{ field.type }}</span> -->
          <div class="field-item__controls">
            <mzima-client-button
              fill="clear"
              color="gray"
              [iconOnly]="true"
              class="field-item__control"
              (buttonClick)="editField(field, i)"
              [data-qa]="'btn-field-edit-' + field.label"
            >
              <mat-icon icon svgIcon="pencil"></mat-icon>
            </mzima-client-button>
            <mzima-client-button
              fill="clear"
              color="gray"
              [iconOnly]="true"
              class="field-item__control"
              *ngIf="isDefaultLanguageSelected"
              (buttonClick)="deleteField(i)"
              [data-qa]="'btn-field-delete-' + field.label"
            >
              <mat-icon icon svgIcon="delete"></mat-icon>
            </mzima-client-button>
          </div>
        </div>
      </div>
      <ng-template #noFields>
        <div class="form-row empty">{{ 'survey.no_fields' | translate }}</div>
      </ng-template>

      <div class="form-controls-panel" *ngIf="!isPost && isDefaultLanguageSelected">
        <mzima-client-button color="danger" (buttonClick)="deleteTask(task)">
          {{ 'survey.delete_task' | translate }}
        </mzima-client-button>
        <mzima-client-button fill="outline" color="secondary" (buttonClick)="duplicateTask(task)">
          {{ 'survey.duplicate_task' | translate }}
        </mzima-client-button>
      </div>
    </mat-tab>
    <mat-tab
      [label]="'survey.configure' | translate"
      *ngIf="!isPost"
      [data-qa]="'survey-configure'"
      [disabled]="!isDefaultLanguageSelected"
    >
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="task.required" name="accept-survey">
          {{ 'survey.required' | translate }}
          <p *ngIf="task.required">
            <small>{{ 'survey.required_desc' | translate }}</small>
          </p>
        </mat-slide-toggle>
      </div>
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="task.task_is_internal_only" name="import-to-survey">
          {{ 'survey.internal_use_task' | translate }}
          <p *ngIf="task.task_is_internal_only">
            <small>{{ 'survey.internal_use_task_desc' | translate }}</small>
          </p>
        </mat-slide-toggle>
      </div>
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="task.show_when_published" name="import-to-survey">
          {{ 'survey.show_this_task_to' | translate }}
          <p *ngIf="task.show_when_published">
            <small>{{ 'survey.show_this_task_to_desc' | translate }}</small>
          </p>
        </mat-slide-toggle>
      </div>
    </mat-tab>
    <mat-tab
      [label]="'survey.configure' | translate"
      *ngIf="isPost"
      [data-qa]="'survey-configure'"
      [disabled]="!isDefaultLanguageSelected"
    >
      <ng-container *ngIf="survey">
        <div class="form-row">
          <div class="toggle">
            <mat-slide-toggle
              [data-qa]="'toggle-posts-require-review'"
              [(ngModel)]="survey.require_approval"
              name="accept-survey"
            >
              {{ 'survey.require_review' | translate }}
            </mat-slide-toggle>
            <p *ngIf="survey.require_approval" class="toggle__description">
              {{ 'survey.require_review_desc' | translate }}
            </p>
          </div>
          <div class="toggle">
            <mat-slide-toggle
              [data-qa]="'toggle-hide-author'"
              [(ngModel)]="survey.hide_author"
              name="import-to-survey"
            >
              {{ 'survey.hide_author_information' | translate }}
            </mat-slide-toggle>
            <p *ngIf="survey.hide_author" class="toggle__description">
              {{ 'survey.hide_author_information_desc' | translate }}
            </p>
          </div>
          <div class="toggle" *ngIf="anonymiseReportersEnabled">
            <mat-slide-toggle
              [data-qa]="'toggle-hide-location'"
              [(ngModel)]="survey.hide_location"
              name="import-to-survey"
            >
              {{ 'survey.hide_location_information' | translate }}
            </mat-slide-toggle>
            <p
              *ngIf="survey.hide_location"
              class="toggle__description"
              [translate]="'survey.hide_location_information_desc'"
              [translateParams]="{ precision: locationPrecision }"
            ></p>
          </div>
          <div class="toggle" *ngIf="anonymiseReportersEnabled">
            <mat-slide-toggle
              [data-qa]="'toggle-hide-time'"
              [(ngModel)]="survey.hide_time"
              name="import-to-survey"
            >
              {{ 'survey.hide_time_information' | translate }}
            </mat-slide-toggle>
            <p *ngIf="survey.hide_time" class="toggle__description">
              {{ 'survey.hide_time_information_desc' | translate }}
            </p>
          </div>
        </div>
        <div class="form-row">
          <mat-label>{{ 'survey.who_can_add' | translate }}</mat-label>
          <div class="radio-group">
            <app-group-checkbox-select [data]="roleOptions" [(ngModel)]="selectedRoles">
            </app-group-checkbox-select>
          </div>
        </div>

        <app-color-picker
          [label]="'survey.select_color' | translate"
          [(ngModel)]="selectedColor"
          (ngModelChange)="colorChanged()"
          color-container="survey"
        ></app-color-picker>

        <div class="form-row">
          <mat-label>{{ 'translations.survey_select_default' | translate }}</mat-label>
          <mat-form-field appearance="outline">
            <mat-select
              disableOptionCentering
              panelClass="language-field"
              [(value)]="selectedLanguage"
              (selectionChange)="changeLanguage($event)"
              aria-label="Select Language"
            >
              <mat-option *ngFor="let lang of languagesToSelect" [value]="lang.code">
                <span class="language-title">{{ lang.name }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="alert error" *ngIf="showLangError">
            <mat-icon svgIcon="warning"></mat-icon>
            <p translate="translations.error_translation_exists"></p>
          </div>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab *ngIf="isPost" [label]="'survey.share' | translate" [data-qa]="'survey-share'">
      <app-share-menu [surveyId]="surveyId"></app-share-menu>
    </mat-tab>
  </mat-tab-group>
</div>
