<button mat-icon-button mat-dialog-close class="modal__close-btn" tabindex="-1">
  <mat-icon class="fab-button__icon">close</mat-icon>
</button>

<h1 mat-dialog-title>{{ 'form.select_language' | translate }}</h1>
<div mat-dialog-content>
  <p>{{ 'translations.add_a_language' | translate }}</p>
  <mat-form-field appearance="standard">
    <mat-label>{{ 'translations.select_language' | translate }}</mat-label>
    <mat-select multiple [(value)]="selectedLanguages" (selectionChange)="checkLanguages()">
      <mat-option [value]="language.code" *ngFor="let language of data.languages">
        {{ language.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="info-msg" *ngIf="errorLanguages.length">
    <mat-icon>warning</mat-icon>
    <span class="info-msg__body">
      <p>
        {{ 'translations.error_translation_exists' | translate }}
        <strong>
          (
          <ng-container *ngFor="let lang of errorLanguages; let i = index">
            {{ lang.name }}
            <ng-container *ngIf="errorLanguages.length > 1 && errorLanguages.length - 1 !== i"
              >,
            </ng-container>
          </ng-container>
          )
        </strong>
      </p>
      <button mat-button (click)="removeLanguagesWithErrors()">
        {{ 'set.setzremove' | translate }}
      </button>
    </span>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>{{ 'app.cancel' | translate }}</button>
  <button
    color="primary"
    mat-raised-button
    [mat-dialog-close]="selectedLanguages"
    [disabled]="!!errorLanguages.length || !selectedLanguages.length"
  >
    {{ 'app.add' | translate }}
  </button>
</div>
