<button
  mat-stroked-button
  mat-dialog-close
  class="modal__close-btn"
  tabindex="-1"
  aria-label="{{ 'modal.button.close' | translate }}"
>
  <mat-icon class="fab-button__icon">close</mat-icon>
</button>

<h1 mat-dialog-title>{{ 'form.choose_language' | translate }}</h1>
<div mat-dialog-content>
  <form>
    <div class="form-row">
      <mat-label>{{ 'global_filter.search' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="{{ 'global_filter.search' | translate }}"
          (input)="searchLanguage($event)"
        />
        <mat-icon matPrefix svgIcon="search"></mat-icon>
      </mat-form-field>
    </div>
  </form>
  <ul role="list" class="types-list" data-qa="survey-list">
    <li
      mat-ripple
      role="listitem"
      class="type-item"
      [ngStyle]="{
        color: data.defaultLanguage.name === language.name ? 'var(--color-neutral-60)' : 'initial'
      }"
      *ngFor="let language of languages"
      [data-qa]="'survey-item' + language.code"
    >
      <mat-checkbox
        [checked]="data.activeLanguages.includes(language)"
        class="type-item__checkbox"
        (click)="$event.stopPropagation()"
        (change)="selectLanguage($event, language)"
      ></mat-checkbox>
      {{ language.name }}
    </li>
  </ul>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>{{ 'app.cancel' | translate }}</button>
  <button
    color="primary"
    mat-raised-button
    [mat-dialog-close]="data.activeLanguages"
    [disabled]="!data.activeLanguages.length"
  >
    {{ 'app.add' | translate }}
  </button>
</div>
