.category-item {
  z-index: 1;
  padding: 8px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  transition: background-color 0.35s ease;

  &--selected {
    background: rgba(var(--color-primary-rgb), 0.05);
  }

  &__checkbox {
    margin-top: 2px;
    margin-right: 24px;
  }

  &__content {
    flex: 1 1 100%;
  }

  &__title {
    margin-bottom: 8px;

    a {
      color: inherit;
      vertical-align: top;
      display: inline-block;
      text-decoration: none;
      transition: color 0.35s ease;

      &:hover {
        color: var(--color-primary-shade);
      }
    }
  }

  &__controls {
    margin-left: 24px;
  }
}
