<ion-item
  button
  lines="none"
  class="search-list__item"
  [ngStyle]="{ '--background': isBackgroundVisible, '--border-style': isBorderVisible }"
>
  <img
    *ngIf="deployment.image; else deploymentAvatarPlaceholder"
    class="search-list__image"
    [src]="deployment.image"
    [alt]="deployment.name"
  />
  <ng-template #deploymentAvatarPlaceholder>
    <span
      class="search-list__image search-list__image--placeholder"
      [ngStyle]="{ '--color': deployment.avatar }"
    >
      {{ deployment.deployment_name[0] }}
    </span>
  </ng-template>
  <ion-label class="search-list__content">
    <span class="search-list__title">{{ deployment.deployment_name | truncate : 50 }}</span>
    <ion-text
      color="medium"
      class="search-list__content-description"
      *ngIf="deployment.description"
    >
      {{ deployment.description | truncate : 50 }}
    </ion-text>
    <ion-text color="medium" class="search-list__content-server">
      {{ deployment.fqdn | lowercase }}
    </ion-text>
  </ion-label>

  <div class="search-list__end" slot="end">
    <ion-text color="primary" class="search-list__current" *ngIf="isCurrent">Current</ion-text>
    <ion-icon
      color="danger"
      name="warning"
      class="search-list__outdated"
      *ngIf="isOutdated"
    ></ion-icon>
    <app-button
      fill="clear"
      color="medium"
      *ngIf="buttonVisible"
      (buttonClick)="removeDeployment($event, deployment)"
    >
      <app-icon slot="icon-only" name="delete"></app-icon>
    </app-button>
  </div>

  <app-checkbox
    *ngIf="checkboxVisible"
    slot="end"
    class="search-list__checkbox"
    [(ngModel)]="deployment.selected"
    (ngModelChange)="selectDeployment($event, deployment)"
  >
  </app-checkbox>
</ion-item>
