<mzima-client-button
  tabindex="-1"
  fill="outline"
  [iconOnly]="true"
  color="light-gray"
  class="modal__close-btn"
  [mat-dialog-close]="false"
  ariaLabel="{{ 'modal.button.close' | translate }}"
>
  <mat-icon icon svgIcon="close" aria-label="Close"></mat-icon>
</mzima-client-button>

<div class="dialog-content">
  <h2 mat-dialog-title>
    {{ (data.isAdmin ? 'app.your_deployment_is_outdated' : 'app.outdated_deployment') | translate }}
  </h2>

  <mat-dialog-content>
    <ng-container *ngIf="data.isAdmin">
      <p>{{ 'app.we_ve_updated_deployments_to_version_5' | translate }}</p>
      <p>{{ 'app.for_more_details_on_deployment_update' | translate }}</p>
      <p>
        <a href="mailto:{{ adminEmail }}">{{ adminEmail }}</a>
      </p>
    </ng-container>
    <ng-container *ngIf="!data.isAdmin">
      <p>{{ 'app.the_deployment_is_outdated' | translate }}</p>
    </ng-container>
  </mat-dialog-content>
</div>

<mat-dialog-actions align="end">
  <mzima-client-button
    *ngIf="data.isAdmin"
    [mat-dialog-close]="true"
    (buttonClick)="openIntercom()"
    class="intercom_custom_launcher"
    aria-label="Open chat with support"
  >
    {{ 'app.open_chat' | translate }}
  </mzima-client-button>
  <mzima-client-button
    *ngIf="!data.isAdmin"
    [mat-dialog-close]="true"
    aria-label="Perform default action (replace with specific description)"
  >
    {{ 'message.button.default' | translate }}
  </mzima-client-button>
</mat-dialog-actions>
