.deployment-item {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 16px;
  --padding-end: 16px;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 56px;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;

  &__image {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    margin-right: 16px;
    box-shadow: inset 0 0 0 var(--ion-color-step-400);
  }

  &__content {
    margin: 0;

    ion-text {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  &__checkbox {
    width: 40px;
    flex-shrink: 0;
    margin-left: 8px;
    --padding-top: 0;
    --padding-bottom: 0;
  }
}
