<div class="images">
  <ng-container *ngIf="multiple">
    <div class="image" *ngFor="let src of imageSrc; let i = index">
      <div class="preview">
        <img [src]="src" />
      </div>
      <div class="buttons">
        <button
          color="accent"
          type="button"
          mat-raised-button
          translate="app.delete"
          (click)="deleteImage(i)"
          data-qa="btn-update-logo"
        ></button>
      </div>
    </div>
    <div class="image">
      <div mat-ripple class="preview preview--empty" (click)="chooseFile()">
        <mat-icon svgIcon="photo"></mat-icon>
        <input
          #input
          name="file"
          type="file"
          class="input"
          [required]="required"
          data-qa="btn-delete-logo"
          (change)="uploadFile($event)"
        />
      </div>
      <div class="buttons">
        <button color="primary" type="button" mat-stroked-button (click)="chooseFile()">
          Add photo
        </button>
      </div>
    </div>
  </ng-container>
  <div class="image" *ngIf="!multiple">
    <div
      mat-ripple
      class="preview"
      (click)="chooseFile()"
      [ngClass]="{ 'preview--empty': !imageSrc }"
    >
      <img [src]="imageSrc" *ngIf="imageSrc?.length" />
      <mat-icon svgIcon="photo" *ngIf="!imageSrc"></mat-icon>
      <input
        #input
        name="file"
        type="file"
        class="input"
        [required]="required"
        data-qa="btn-delete-logo"
        (change)="uploadFile($event)"
      />
    </div>
    <div class="buttons">
      <button color="primary" type="button" mat-stroked-button (click)="chooseFile()">
        {{ 'app.choose_photo' | translate }}
      </button>
      <button
        type="button"
        color="accent"
        mat-raised-button
        translate="app.delete"
        (click)="deleteImage()"
        *ngIf="imageSrc?.length"
        data-qa="btn-update-logo"
      ></button>
    </div>
  </div>
</div>
