.container {
  position: relative;
}

.avatar {
  --size: 128px;
  margin: 0 auto;
  width: var(--size);
  height: var(--size);
}

.spinner--positioned {
  position: absolute;
  stroke: #444;
  stroke-width: 2px;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  width: 40px !important;
  height: 40px !important;
  transform: translate(-50%, -50%);
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  // border-radius: 50%;
}

.controls {
  gap: 16px;
  justify-content: center;
}

.controls-button {
  --button-padding-end: 16px;
  --button-padding-start: 16px;

  &__icon {
    font-size: 24px;
    margin-left: -4px;
  }

  &__inner {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
