<div class="container">
  <ion-avatar class="avatar">
    <ion-img [src]="photo"></ion-img>
  </ion-avatar>
  <ion-spinner name="circles" *ngIf="uploadingSpinner" class="spinner--positioned"></ion-spinner>
</div>
<ion-buttons class="controls">
  <app-button
    class="controls-button"
    fill="clear"
    [disabled]="uploadingSpinner"
    (buttonClick)="triggerFileInput()"
  >
    <div class="controls-button__inner">
      <app-icon class="controls-button__icon" name="edit"></app-icon>
      <!-- <label for="fileInput" class="file-input-label"> Set new photo </label> -->
      Set new photo
      <input type="file" id="fileInput" (change)="selectPhoto($event)" accept="image/*" hidden />
    </div>
  </app-button>
  <app-button
    *ngIf="hasUploadedPhoto"
    class="controls-button"
    fill="clear"
    color="danger"
    (buttonClick)="deletePhotoHandle()"
  >
    <div class="controls-button__inner">
      <app-icon class="controls-button__icon" name="delete-filled"></app-icon>
      Delete photo
    </div>
  </app-button>
</ion-buttons>
