<ion-avatar class="avatar">
  <ion-img [src]="photo"></ion-img>
  <!-- <img src="https://748b94fd172930d34f53-1966afbc946da74d7b5149611f42c33a.ssl.cf2.rackcdn.com/mzima-dev/6/5/65afc45a08173-dsc_1906.mov.00_00_24_05.still001.png" >  -->
</ion-avatar>
<ion-buttons class="controls">
  <app-button class="controls-button" fill="clear">
    <div class="controls-button__inner">
      <app-icon class="controls-button__icon" name="edit"></app-icon>
      <label for="fileInput" class="file-input-label"> Set new photo </label>
      <input type="file" id="fileInput" (change)="selectPhoto($event)" accept="image/*" hidden />
    </div>
  </app-button>
  <app-button
    class="controls-button"
    fill="clear"
    color="danger"
    (buttonClick)="deletePhotoHandle()"
  >
    <div class="controls-button__inner">
      <app-icon class="controls-button__icon" name="delete-filled"></app-icon>
      Delete photo
    </div>
  </app-button>
</ion-buttons>
