@import '/src/styles/helpers';

::ng-deep {
  .post-modal {
    .mat-dialog-container {
      padding-inline-start: 34px;
      border-radius: 8px !important;

      @include breakpoint-max($tablet) {
        overflow-y: auto;
        overflow-x: hidden;
        padding-inline-start: 26px;
        padding-inline-end: 16px;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}
