<button
  mat-stroked-button
  [mat-dialog-close]="false"
  class="modal__close-btn"
  tabindex="-1"
  aria-label="{{ 'modal.button.close' | translate }}"
  [data-qa]="'btn-close'"
>
  <mat-icon class="fab-button__icon" svgIcon="close"></mat-icon>
</button>

<mat-dialog-content class="post">
  <app-post-details
    [post]="post"
    [color]="color"
    [twitterId]="twitterId"
    (edit)="handleEditPost()"
    *ngIf="!editable; else editPost"
    (statusChanged)="statusChangedHandle()"
  >
  </app-post-details>
</mat-dialog-content>

<ng-template #editPost>
  <app-post-edit [postInput]="post" (cancel)="cancel()" (updated)="updated()"> </app-post-edit>
</ng-template>
