<app-main-layout [header]="false" class="main">
  <ion-title class="title">Switch Deployment</ion-title>
  <app-deployment-info (deploymentClick)="goTo(['/profile/deployment'])"></app-deployment-info>

  <ion-title class="title">Profile</ion-title>
  <ion-list class="profile-menu">
    <app-profile-menu-item
      (action)="callAction($event)"
      [menuItem]="menuItem"
      *ngFor="let menuItem of profileMenu"
    ></app-profile-menu-item>
  </ion-list>

  <ion-title class="title">Support and Information</ion-title>
  <ion-list class="profile-menu">
    <app-profile-menu-item
      (action)="callAction($event)"
      [menuItem]="menuItem"
      *ngFor="let menuItem of profileInformationMenu"
    ></app-profile-menu-item>
  </ion-list>

  <app-menu footer></app-menu>
</app-main-layout>

<app-modal
  [isOpen]="isSupportModalOpen"
  title="Help and Support"
  (modalClose)="isSupportModalOpen = false"
>
  <ng-container *ngIf="filteredSupportItems.length; else emptySupportItems">
    <ion-item
      class="support-item"
      button
      lines="none"
      *ngFor="let supportItem of filteredSupportItems"
    >
      <div (click)="supportItem.action()">
        <span class="support-item__title">{{ supportItem.title }}</span>
        <ion-text class="support-item__description" color="medium"
          >{{ supportItem.description }}</ion-text
        >
      </div>
      <app-icon class="support-item__details" slot="end" name="arrow-right"></app-icon>
    </ion-item>
  </ng-container>
  <ng-template #emptySupportItems>
    <ion-text color="medium" class="empty ion-text-center"> Nothing found! </ion-text>
  </ng-template>
</app-modal>
