<app-main-layout [header]="false" class="main">
  <ion-title class="title">Switch Deployment</ion-title>
  <app-deployment-info (deploymentClick)="goTo(['/profile/deployment'])"></app-deployment-info>

  <ion-title class="title">Profile</ion-title>
  <ion-list class="profile-menu">
    <app-profile-menu-item
      (action)="callAction($event)"
      [menuItem]="menuItem"
      *ngFor="let menuItem of profileMenu"
    ></app-profile-menu-item>
  </ion-list>

  <ion-title class="title">{{"app.support_info" | translate}}</ion-title>
  <ion-list class="profile-menu">
    <app-profile-menu-item
      (action)="callAction($event)"
      [menuItem]="menuItem"
      *ngFor="let menuItem of profileInformationMenu"
    ></app-profile-menu-item>
  </ion-list>

  <app-menu footer></app-menu>
</app-main-layout>

<app-modal
  [isOpen]="isSupportModalOpen"
  title="Help and Support"
  (modalClose)="isSupportModalOpen = false"
>
  <ng-container>
    <ion-item class="list-item" lines="none">
      <div>
        <span class="list-item__title">{{"app.contact_support" | translate}}</span>
        <ion-text class="list-item__description" color="medium">
          {{"app.contact_support_desc_1" |translate}}
          <a href="https://www.ushahidi.com/support/" target="_blank"
            >{{"app.contact_support_desc_2" | translate}}</a
          >
          {{"app.contact_support_desc_3" | translate}}
        </ion-text>
      </div>
    </ion-item>
  </ng-container>
</app-modal>
