@import 'helpers';

.head {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-inline-end: 56px;
  justify-content: space-between;

  @include breakpoint-max($tablet) {
    height: 80px;
    margin: 0 -16px;
    padding: 0 16px;
    border-bottom: 1px solid var(--color-neutral-30);
  }

  .mat-dialog-title {
    // flex: 1 1 100%;
    margin-bottom: 0 !important;

    @include breakpoint-max($tablet) {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.28;
    }
  }

  .mat-button-base {
    flex-shrink: 0;
    margin-inline-start: 16px;
  }
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px -24px;
  justify-content: flex-start;

  @include breakpoint-max($mobile) {
    margin: 0;
    display: block;
  }

  &__item {
    margin: 0 8px 16px;
    width: calc(50% - 16px);

    @include breakpoint-max($mobile) {
      width: auto;
      margin: 0 12px;
    }
  }
}

.notification{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #14A44D;
  font: 14px Lato, Arial, sans-serif;
  padding-bottom: 20px;
  padding-top: 10px;
}

.spinner {
  display: block;
  margin-top: 200px;
  margin-bottom: 200px;
}

::ng-deep {
  @include breakpoint-max($tablet) {
    .collections-modal {
      height: 100%;
      width: 100% !important;
      max-width: none !important;

      .mat-dialog-container {
        padding: 0 16px !important;
        border-radius: 0 !important;

        .modal {
          &__close-btn {
            top: 20px;
          }
        }
      }

      .mat-dialog-content {
        margin-left: -16px !important;
        margin-right: -16px !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
        max-height: calc(100% - 160px) !important;

        &.create-form {
          padding-top: 16px;
          padding-bottom: 16px;
          max-height: calc(100% - 80px);
        }
      }

      .mat-dialog-container {
        overflow: visible;
      }

      .mat-dialog-actions {
        left: 0;
        right: 0;
        bottom: 0;
        gap: 10px;
        z-index: 25;
        position: fixed;
        margin: 0 !important;
        min-height: 48px !important;
        padding: 12px 16px !important;
        background: var(--color-light);
        border-top: 1px solid var(--color-neutral-20);
      }
    }
  }
}

.search-form {
  @include breakpoint-max($tablet) {
    display: flex;
    padding-top: 16px;
    align-items: center;
    padding-bottom: 16px;
    justify-content: space-between;

    .form-row {
      margin: 0;
      overflow: hidden;
    }

    > mzima-client-button {
      flex-shrink: 0;
      margin-inline-start: 16px;
    }
  }
}
