@import 'helpers';

.users {
  &-loading {
    --size: 48px;
    display: block;
    margin-top: 24px;
  }

  &-load-more {
    display: block;
    min-width: 132px;
    margin: 16px auto 0;
  }
}

.users-container {
  @include breakpoint-max($tablet) {
    font-size: $font-sm;
    line-height: 1.3;
  }

  &::ng-deep {
    .p-datatable-header {
      @include breakpoint-max($tablet) {
        border: none;
        padding-left: 0;
        padding-right: 0;
      }

      .p-input-icon-left {
        @include breakpoint-max($tablet) {
          display: block;

          > .p-inputtext {
            width: 100%;
          }
        }
      }
    }

    .p-datatable-tbody {
      @include breakpoint-max($tablet) {
        display: block;
        border-radius: 4px;
        border: 1px solid var(--color-neutral-20);
      }

      > tr {
        @include breakpoint-max($tablet) {
          display: block;
          position: relative;
          padding: 16px 16px 16px 100px;

          &:not(:first-child) {
            border-top: 1px solid var(--color-neutral-20);
          }
        }

        > td {
          @include breakpoint-max($tablet) {
            padding: 0;
            border: none;

            &:nth-child(2) ~ td {
              margin-top: 8px;
            }

            &:first-child {
              top: 16px;
              right: 16px;
              max-width: 21px;
              max-height: 21px;
              position: absolute;
              width: auto !important;
            }

            &:nth-child(2) {
              font-size: $font-sm;
              font-weight: 500;
              line-height: 1.6;
              letter-spacing: -0.005em;
              color: var(--color-black);
            }

            &:nth-child(3) {
              font-size: $font-sm;
              line-height: 1.3;
              color: var(--color-black);
            }

            &:nth-child(4) {
              font-size: $font-xs;
              line-height: 1.3;
              color: var(--color-neutral-90);
            }
          }

          > .p-column-title {
            @include breakpoint-max($tablet) {
              display: none !important;
            }
          }
        }
      }
    }
  }
}

.users-table {
  &__checkbox {
    width: 28px;
    margin: 0 auto;
  }

  &__avatar {
    width: 1em;
    height: 1em;
    font-size: $font-4xl;
    //margin: 0 auto;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    border-radius: 50%;
    margin-inline-end: 10px;

    @include breakpoint-max($tablet) {
      top: 50%;
      left: 16px;
      font-size: 3.75rem; // Used only once, so no need for variable.
      position: absolute;
      margin-top: -0.5em;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-container {
      display: flex;
      align-items: center;
    }
  }

  &__username {
    font-weight: 500;
  }
}

.spinner {
  display: block;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.user-list {
  border-radius: 5px;
  border: 1px solid var(--color-neutral-20);
}

.user-item {
  display: flex;
  font-size: $font-sm;
  line-height: 1.3;
  padding-top: 16px;
  position: relative;
  align-items: center;
  padding-bottom: 16px;
  padding-inline-end: 48px;
  color: var(--color-black);
  justify-content: flex-start;
  padding-inline-start: 16px;

  &__row {
    cursor: pointer;
  }

  &:not(:first-child) {
    border-top: 1px solid var(--color-neutral-20);
  }

  &__visual {
    flex: 0 0 60px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin-inline-end: 24px;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  &__username {
    display: block;
    font-size: $font-sm;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 8px;
    letter-spacing: -0.005em;
  }

  &__role {
    display: block;
    margin-bottom: 8px;
  }

  &__email {
    display: block;
    font-size: $font-xs;
    color: var(--color-neutral-90);
  }

  &__checkbox {
    top: 50%;
    margin-top: -13px;
    position: absolute;
    inset-inline-end: 16px;

    &::ng-deep {
      .mat-checkbox-inner-container {
        margin-inline-end: 3.5px !important;
      }
    }
  }
}

.actions-spacer {
  height: 72px;
}
