<form novalidate [formGroup]="form" (ngSubmit)="signup()">
  <div class="form-row">
    <mat-label>{{ 'user.name' | translate }} *</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="{{ 'user.placeholder.realname' | translate }}"
        formControlName="name"
        required
      />
      <mat-error *ngIf="form.get('name')?.invalid">{{ getErrorMessage('name') }}</mat-error>
      <mat-hint>The name you enter will be a display name.</mat-hint>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-label>{{ 'user.email' | translate }} *</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="{{ 'user.placeholder.email' | translate }}"
        formControlName="email"
        required
      />
      <mat-error *ngIf="form.get('email')?.invalid">{{ getErrorMessage('email') }}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>{{ 'user.password' | translate }} *</mat-label>
    <mat-form-field appearance="outline">
      <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisible()">
        <mat-icon svgIcon="eye"></mat-icon>
      </button>
      <input
        matInput
        formControlName="password"
        required
        placeholder="{{ 'user.placeholder.password' | translate }}"
        [type]="isPasswordVisible ? 'text' : 'password'"
      />
      <mat-error *ngIf="form.get('password')?.invalid">{{ getErrorMessage('password') }}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <div class="checkbox">
      <mat-checkbox formControlName="agreement" required>
        I agree to Ushahidi <a href="#" target="_blank">Privacy Policy</a> the
        <a href="#" target="_blank">Terms and Conditions</a>.
      </mat-checkbox>
    </div>
  </div>

  <div mat-dialog-actions align="end">
    <ng-content select="[btn-cancel]"></ng-content>

    <button
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="form.invalid || form.disabled"
      data-qa="btn-register"
    >
      {{ 'nav.register' | translate }}
    </button>
  </div>
</form>
