.search-toolbar {
  padding: 0 16px;
  flex-wrap: initial;
  display: flex;

  &__icon {
    margin-right: 15px;
    cursor: pointer;

    &-img {
      font-size: 22px;
    }
  }
}

.search {
  &-list {
    width: 100%;

    &__item {
      display: block;
      margin-bottom: 15px;
    }
  }
}

.emptyList {
  display: flex;
  align-items: center;
  height: calc(100vh - 100px);
  width: 80%;
  text-align: center;
  margin: auto;
  color: var(--ion-color-medium);
}
