<ion-header class="ion-no-border">
  <ion-toolbar class="search-form">
    <app-form-control
      #searchControl
      color="light"
      [rounded]="false"
      [clearable]="true"
      placeholder="Search"
      class="search-form__form-control"
      (ionInput)="searchDeployments($event)"
    >
      <ng-container start>
        <app-button end fill="clear" color="medium" class="back-button" (buttonClick)="onBack()">
          <app-icon slot="icon-only" name="arrow-back"></app-icon>
        </app-button>
      </ng-container>
    </app-form-control>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal page">
  <ng-container *ngIf="deploymentList.length; else emptyList">
    <ion-text color="medium" class="page__title">
      Founded {{ deploymentList.length }} items
    </ion-text>
    <ion-list class="search-list" [ngStyle]="{'background' : 'none'}">
      <app-deployment-item
        class="search-result"
        *ngFor="let item of deploymentList"
        [deployment]="item"
        [buttonVisible]="false"
        [checkboxVisible]="true"
        [isBackgroundVisible]="false"
        [isBorderVisible]="false"
        (selectedDeployment)="selectDeployment($event)"
      ></app-deployment-item>
    </ion-list>
  </ng-container>
  <ng-template #emptyList>
    <div class="empty">
      <ion-text color="medium"
        >Start typing Deployment name or paste <br />Deployment link</ion-text
      >
    </div>
  </ng-template>
</ion-content>

<ion-footer
  *ngIf="addButtonVisible"
  [translucent]="true"
  class="ion-no-border ion-padding-horizontal search-footer"
>
  <ion-toolbar class="search-footer__toolbar">
    <app-button color="primary" (buttonClick)="addDeployment()">Apply</app-button>
  </ion-toolbar>
</ion-footer>
