@import 'helpers';

::ng-deep {
  app-account-settings-modal {
    @include breakpoint-min($tablet) {
      display: flex;
      flex-direction: column;

      @media screen and (min-height: 570px) {
        min-height: 490px;
      }
    }
  }
}

.spinner {
  margin: 134px 0;
  display: block;
}

.content {
  flex: 1 1 100%;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 24px;
  padding-right: 24px;

  @include breakpoint-max($tablet) {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &::ng-deep {
    .mat-tab-header {
      margin-bottom: 8px;
      background: var(--color-light);
    }

    .mat-tab-labels {
      @include breakpoint-max($tablet) {
        justify-content: center;
      }
    }

    .mat-tab-label {
      height: auto;
      font-size: $font-2xl;
      padding: 4px 8px;
      font-weight: 700;
      line-height: 1.2;

      @include breakpoint-max($tablet) {
        padding-top: 0;
        padding-bottom: 8px;
      }

      .mat-tab-label-content {
        white-space: normal;
      }
    }
  }
}

.mat-dialog-content {
  padding-left: 0;
  padding-right: 0;

  @include breakpoint-min($tablet) {
    height: 368px;
  }

  @include breakpoint-max($tablet) {
    overflow: visible;
    max-height: none !important;
  }
}

.tab-content {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;

  @include breakpoint-max($tablet) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contacts-tab {
  margin-bottom: 16px;
  border: 1px solid var(--color-neutral-20);

  &__title {
    font-size: $font-base;
    line-height: 1.5;
    padding: 8px 16px;
    margin-bottom: 0;
  }

  &__add-btn {
    margin-top: 16px;
  }
}

.contacts,
.update-password {
  .mat-expansion-panel-header {
    height: 36px;
    font-size: $font-base;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      background: none;
    }

    &::ng-deep {
      .mat-expansion-indicator {
        width: 1em;
        height: 1em;
        display: flex;
        font-size: $font-xl;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @include breakpoint-max($tablet) {
          font-size: $font-2xl;
          margin-inline-start: -8px;
        }
      }
    }
  }

  .mat-expansion-panel {
    box-shadow: none !important;
  }

  .mat-expansion-panel-content {
    padding-top: 8px;
  }

  &::ng-deep {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}

.contacts {
  .mat-expansion-panel {
    margin: 0;
    background: none;
    padding-top: 16px;
    padding-bottom: 16px;

    &:not(:first-child):not(.contact-item) {
      margin-top: 24px;

      @include breakpoint-max($tablet) {
        margin-top: 16px;
      }
    }

    &-header {
      height: 42px;
      padding-right: 16px;

      h4 {
        font-size: $font-xl;
        line-height: 1.2;
        font-weight: 700;
      }
    }
  }

  .contact-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.contact-item {
  &.mat-expansion-panel {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &.mat-expansion-panel-spacing {
    border-top: 1px solid var(--color-neutral-20);
  }

  &::ng-deep {
    .mat-expansion-panel-content {
      padding-left: 24px;
      padding-right: 24px;
      transition: padding 0.35s ease;
      border-bottom: 1px solid var(--color-neutral-20);
    }
  }

  &.mat-expanded {
    &::ng-deep {
      .mat-expansion-panel-content {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }

  &--add-new {
    border-top: 1px solid var(--color-neutral-20);
  }

  .mat-slide-toggle {
    margin-bottom: 16px;
  }
}

.notification-group {
  padding: 16px;

  &:not(:first-child) {
    margin-top: 16px;
  }

  &__title {
    display: block;
    font-size: $font-base;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 16px;
  }

  &__options {
    display: flex;
    justify-content: space-between;
  }

  &__option {
    font-size: $font-base;
    font-weight: 500;

    &-icon {
      font-size: 20px;
    }
  }
}

.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:first-child) {
    margin-top: 16px;
  }

  &__title {
    display: block;
    font-size: $font-base;
    font-weight: 500;
    line-height: 1.25;
  }

  &__btn {
    --size: 24px;
    --icon-size: 20px;
    margin: 0 0 0 24px;

    @include breakpoint-max($tablet) {
      --size: 32px;
      --icon-size: 32px;
    }
  }
}

::ng-deep {
  @include breakpoint-max($tablet) {
    .account-settings-modal {
      height: 100%;
      width: 100% !important;
      max-width: none !important;

      .mat-dialog-container {
        border-radius: 0 !important;
        padding: 96px 16px 80px !important;

        .modal {
          &__close-btn {
            top: 24px;
            position: fixed;
            inset-inline-end: 16px;
          }
        }
      }

      .mat-dialog-actions {
        left: 0;
        right: 0;
        gap: 10px;
        bottom: 0;
        margin: 0;
        z-index: 25;
        position: fixed;
        margin-bottom: 0 !important;
        min-height: 48px !important;
        padding: 12px 16px !important;
        background: var(--color-light);
        border-top: 1px solid var(--color-neutral-20);
      }
    }
  }
}
