@import 'helpers';

::ng-deep {
  html.rtl {
    .cookies-notification {
      transform: translateX(50%);
    }
  }
}

.cookies-notification {
  bottom: 24px;
  display: flex;
  z-index: 5000;
  position: fixed;
  padding-top: 22px;
  border-radius: 8px;
  align-items: center;
  padding-bottom: 22px;
  padding-inline-end: 24px;
  width: calc(100% - 260px);
  padding-inline-start: 19px;
  transform: translateX(-50%);
  color: var(--color-neutral-40);
  justify-content: space-between;
  inset-inline-start: calc(50% + 110px);
  background: var(--color-neutral-100);

  @include breakpoint-max($laptop-small) {
    width: calc(100% - 240px);
    inset-inline-start: calc(50% + 100px);
  }

  @include breakpoint-max($tablet) {
    top: 96px;
    right: auto;
    bottom: auto;
    padding: 16px;
    align-items: stretch;
    flex-direction: column;
    inset-inline-start: 50%;
    width: calc(100% - 16px);
  }

  &__body {
    display: flex;

    &-icon {
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      font-size: 3.25rem;
      margin-inline-end: 16px;

      .mat-icon {
        width: 1em;
        height: 1em;
      }
    }

    &-description {
      font-size: $font-base;
      line-height: 1.5;

      @include breakpoint-max($tablet) {
        font-size: $font-sm;
        line-height: 1.3;
      }

      p {
        margin-bottom: 0;

        &::ng-deep {
          a {
            font-weight: 600;
            color: var(--color-light);
          }
        }
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-inline-end: -8px;
    margin-inline-start: 16px;
    justify-content: flex-start;

    @include breakpoint-max($tablet) {
      margin-top: 16px;
      margin-inline-end: -4px;
      margin-inline-start: -4px;
    }

    mzima-client-button {
      margin: 0 8px;
      white-space: nowrap;

      @include breakpoint-max($tablet) {
        margin: 0 4px;
        --min-height: 40px;
        width: calc(50% - 8px);
      }
    }
  }
}
