<form novalidate [formGroup]="form" (ngSubmit)="restorePassword()" autocomplete="off">
  <div class="form-row">
    <mat-label>{{ 'user.new_password' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        equired
        matInput
        autocomplete="off"
        formControlName="password"
        placeholder="Enter new password"
        [type]="isPasswordVisible ? 'text' : 'password'"
      />
      <mat-error *ngIf="form.get('password')?.invalid">{{ getErrorMessage('password') }}</mat-error>
      <button
        matSuffix
        type="button"
        mat-icon-button
        [disabled]="form.disabled"
        (click)="togglePasswordVisible()"
      >
        <mat-icon [svgIcon]="isPasswordVisible ? 'eye-open' : 'eye'"></mat-icon>
      </button>
    </mat-form-field>
    <app-password-strength [passwordToCheck]="form.value.password"></app-password-strength>
  </div>

  <div class="form-row">
    <mat-label>{{ 'user.confirm_password' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        equired
        matInput
        autocomplete="off"
        [errorStateMatcher]="matcher"
        formControlName="confirmPassword"
        placeholder="Enter new password"
        [type]="isPasswordVisible ? 'text' : 'password'"
      />
      <mat-error *ngIf="form.get('password')?.invalid">{{ getErrorMessage('password') }}</mat-error>
      <mat-error *ngIf="form.hasError('notSame') || form.controls['password'].errors">
        <ng-container *ngIf="form.controls['password'].errors">
          Password must be at least 8 characters long
        </ng-container>
        <ng-container *ngIf="form.hasError('notSame')">Passwords do not match</ng-container>
      </mat-error>
      <button
        matSuffix
        type="button"
        mat-icon-button
        [disabled]="form.disabled"
        (click)="togglePasswordVisible()"
      >
        <mat-icon [svgIcon]="isPasswordVisible ? 'eye-open' : 'eye'"></mat-icon>
      </button>
    </mat-form-field>
  </div>

  <mat-error class="form-error">{{ formError }}</mat-error>

  <div mat-dialog-actions align="end">
    <ng-content select="[btn-cancel]"></ng-content>

    <button
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="form.invalid || form.disabled"
    >
      {{ 'user.update_password' | translate }}
    </button>
  </div>
</form>
