.strength {
  &__bar {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    vertical-align: 2px;
  }

  &__point {
    background: var(--color-neutral-20);
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 25%;
  }
}
