.strength {
  .strengthBar {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    vertical-align: 2px;
  }

  //.point:last-of-type {
  //  margin: 0 !important;
  //}

  .point {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 25%;
  }

  p {
    font-weight: bold;
    font-size: 20px;
  }
}
