<ion-content [fullscreen]="true">
  <div class="logo-container" #logoContainer>
    <img src="assets/logo.png" alt="Logo" class="logo" #logo />
  </div>

  <div class="content-container">
    <div class="input-container" #inputContentContainer>
      <!--      <app-custom-input></app-custom-input>-->
      <ion-input placeholder="Введите текст..." class="input-animation"></ion-input>
    </div>
  </div>

  <!--    <div class="list-container" #listContentContainer>-->
  <!--      <ion-list class="list-animation" #listContentContainer>-->
  <!--        <ion-item>-->
  <!--          <ion-label>Pokémon Yellow</ion-label>-->
  <!--        </ion-item>-->
  <!--        <ion-item>-->
  <!--          <ion-label>Mega Man X</ion-label>-->
  <!--        </ion-item>-->
  <!--        <ion-item>-->
  <!--          <ion-label>The Legend of Zelda</ion-label>-->
  <!--        </ion-item>-->
  <!--      </ion-list>-->
  <!--    </div>-->
</ion-content>
