.radio-buttons {
  &__options {
    display: block;
    margin-top: 16px;
    padding-left: 16px;
  }

  &__info,
  &::ng-deep .mat-radio-label-content {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }

  .mat-icon {
    margin-inline-end: 8px;
  }
}

.mat-dialog-actions {
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: space-between;

  .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
