<h1 *ngIf="isDesktop">{{ (isUpdate ? 'role.edit_role' : 'role.add_role') | translate }}</h1>
<form
  class="form"
  [formGroup]="form"
  (ngSubmit)="save()"
  novalidate
  *ngIf="permissionsList.length; else spinner"
>
  <div class="form-row">
    <mat-label>{{ 'role.name' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="display_name"
        (ngModelChange)="setName($event)"
        placeholder="{{ 'role.placeholder.name' | translate }}"
      />
    </mat-form-field>
    <ng-container *ngFor="let err of formErrors">
      <ng-container *ngIf="err?.field === 'name'">
        <mat-error *ngFor="let msg of err?.error_messages">
          {{ msg | translate }}
        </mat-error>
      </ng-container>
    </ng-container>
  </div>
  <div class="form-row">
    <mat-label>{{ 'role.description' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="description"
        placeholder="{{ 'role.placeholder.description' | translate }}"
      />
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>{{ 'role.permissions' | translate }}</mat-label>
    <p [innerHTML]="'settings.roles.roles_description' | translate"></p>
    <mat-selection-list
      [data-qa]="'role-permissions-list'"
      formControlName="permissions"
      (ngModelChange)="selectedItems($event)"
    >
      <mat-list-option
        color="primary"
        class="list-option"
        checkboxPosition="before"
        *ngFor="let item of permissionsList"
        [value]="item.name"
        [selected]="item.checked"
        [disabled]="isUpdate ? userRole === role.name : false"
        [data-qa]="item.test"
      >
        {{ item.name }}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="form-controls-spacer" *ngIf="!isDesktop"></div>
  <div class="form-controls-panel form-controls-panel--sticky">
    <div>
      <mzima-client-button
        color="danger"
        class="delete-btn"
        [iconOnly]="!isDesktop"
        (buttonClick)="deleteRole()"
        [data-qa]="'btn-delete-role'"
        *ngIf="isUpdate && !role?.protected"
        aria-label="Delete this role"
      >
        <ng-container *ngIf="isDesktop">{{ 'role.delete' | translate }}</ng-container>
        <mat-icon *ngIf="!isDesktop" icon svgIcon="delete"></mat-icon>
      </mzima-client-button>
    </div>
    <div>
      <mzima-client-button
        fill="outline"
        color="secondary"
        [data-qa]="'btn-cancel-role'"
        (buttonClick)="navigateToRoles()"
        aria-label="Cancel role changes"
      >
        {{ 'app.cancel' | translate }}
      </mzima-client-button>
      <mzima-client-button
        type="submit"
        [disabled]="form.invalid || isFormOnSubmit"
        [data-qa]="'btn-save-role'"
        ariaLabel="{{ (isUpdate ? 'Update role' : 'Save role') | translate }}"
      >
        <ng-container *ngIf="isDesktop">{{
          (isUpdate ? 'app.update_and_close' : 'app.save_and_close') | translate
        }}</ng-container>
        <ng-container *ngIf="!isDesktop">{{
          (isUpdate ? 'app.update' : 'app.save') | translate
        }}</ng-container>
      </mzima-client-button>
    </div>
  </div>
</form>

<ng-template #spinner>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
