<div class="form-head-panel">
  <h1>Data Source</h1>
  <button
    type="button"
    color="primary"
    mat-raised-button
    data-qa="btn-add-role"
    [routerLink]="['create']"
    *ngIf="!isAllProvidersAdded"
  >
    <span>Add source</span>
    <mat-icon svgIcon="plus"></mat-icon>
  </button>
</div>

<ng-container *ngFor="let dataSource of dataSourceList">
  <a
    matRipple
    class="data-source-item"
    *ngIf="dataSource.available_provider"
    [routerLink]="['update', dataSource.id]"
  >
    {{ dataSource.name }}
  </a>
</ng-container>
