<div class="form-head-panel">
  <h1 *ngIf="isDesktop">Data Source</h1>
  <button
    type="button"
    color="primary"
    mat-raised-button
    data-qa="btn-add-provider"
    [routerLink]="['create']"
    *ngIf="isAllProvidersAdded"
  >
    <span>Add source</span>
    <mat-icon svgIcon="plus"></mat-icon>
  </button>
</div>
<ng-container *ngIf="providersData?.length; else showLoader">
  <div *ngFor="let provider of providersData" data-qa="providers-list">
    <a
      matRipple
      class="data-source-item"
      *ngIf="provider.value"
      [routerLink]="['update', provider.label]"
      [data-qa]="provider.label"
    >
      {{ provider.label | titlecase }}
    </a>
  </div>
</ng-container>

<ng-template #showLoader>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
