.data-source-wrapper {
  display: flex;
  margin: 0 -20px -30px 0;
  height: calc(100vh - 198px);
}

.data-source {
  width: 20%;
  overflow-y: auto;
  padding-bottom: 20px;

  &-item {
    display: flex;
    align-items: center;
    margin: 0 0 1px;
    padding: 20px;
    list-style: none;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
      border-bottom: none;
    }

    &:hover {
      box-shadow: inset 1px 1px 6px -1px rgba(0, 0, 0, 0.2),
        inset -1px -1px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0 rgba(255, 255, 255, 1),
        0.5px 0.5px 0 rgba(0, 0, 0, 0.15), 0 12px 10px -10px rgba(0, 0, 0, 0.05);
    }

    &.active {
      box-shadow: inset 1px 1px 6px -1px rgba(0, 0, 0, 0.2),
        inset -1px -1px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0 rgba(255, 255, 255, 1),
        0.5px 0.5px 0 rgba(0, 0, 0, 0.15), 0 12px 10px -10px rgba(0, 0, 0, 0.05);
      background-color: rgb(0 0 0 / 5%);
    }

    &.control-on:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
      background-color: #4fab2f;
      box-shadow: 0 0 1px rgb(0 0 0 / 16%) inset;
    }

    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
      background-color: #eee;
      box-shadow: 0 0 1px rgb(0 0 0 / 16%) inset;
    }
  }
}

.data-source-item-container {
  width: 80%;
  padding: 20px;
  overflow-y: auto;
}

.survey-fields {
  margin-bottom: 50px;
  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 1px solid #eee;
  }

  table thead {
    color: #fff;
    border-radius: 2px 2px 0 0;
    background-color: #888;
  }

  table th,
  table td {
    text-align: left;
    padding: 16px;
  }

  tbody tr:nth-child(odd) {
    background-color: #eee;
  }
}
