@import 'helpers';

.filter-control {
  height: 100%;
  position: relative;

  @include breakpoint-max($tablet) {
    height: auto;
  }

  &__button {
    width: 100%;
    height: 100%;
    display: block;
    --font-size: $font-sm;
    --padding-start: 4px;
    --padding-end: 4px;
    --border-radius: 0;
    --min-height: 100%;
    --line-height: 24px;
    --font-weight: normal;
    --border-bottom: 1px solid var(--color-neutral-30);

    @include breakpoint-max($tablet) {
      --font-size: $font-xs;
      --min-height: 48px;
      --line-height: 1.5;
      --padding-end: 16px;
      --padding-start: 16px;
      --border-bottom: none;
      --letter-spacing: 0.04em;
      --text-transform: uppercase;
      --justify-content: flex-start;
    }

    &::ng-deep {
      .mzima-button {
        &__text {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }

    &[aria-expanded='true'] {
      border-bottom-color: transparent;
    }

    &::ng-deep {
      .mat-button-wrapper {
        justify-content: center;

        @include breakpoint-max($tablet) {
          position: static;
        }
      }
    }

    .mat-badge-content {
      top: -6px;
      right: -13px;
    }

    &__arrow {
      font-size: $font-2xl;
      transition: transform 0.35s ease;
      margin-inline-start: 8px !important;

      @include breakpoint-max($laptop-small) {
        @include breakpoint-min($tablet) {
          font-size: $font-xl;
          margin-inline-start: 4px !important;
        }
      }

      @include breakpoint-max($tablet) {
        top: 50%;
        position: absolute;
        margin-top: -0.5em;
        inset-inline-end: 0;
        transform: rotate(-90deg);
      }

      .filter-control__button[aria-expanded='true'] & {
        transform: rotate(180deg);
      }
    }

    &__count {
      padding: 4px;
      min-width: 25px;
      font-size: $font-sm;
      margin-inline-start: 8px;
      color: var(--color-neutral-90);
      line-height: 17px;
      text-align: center;
      border-radius: 4px;
      background: rgba(255, 195, 52, 0.3);

      @include breakpoint-max($laptop-small) {
        @include breakpoint-min($tablet) {
          padding: 2px;
          min-width: 16px;
          font-size: $font-xs;
          margin-inline-start: 4px;
          line-height: 12px;
        }
      }

      @include breakpoint-max($tablet) {
        padding: 4px;
        font-size: $font-sm;
        min-width: 32px;
        line-height: 24px;
      }
    }
  }
}

.radio-button {
  display: flex;
  font-size: $font-xs;
  line-height: 14px;
  align-items: center;
  color: var(--color-neutral-90);
  justify-content: space-between;

  @include breakpoint-max($tablet) {
    font-size: $font-base;
    line-height: 1.5;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .mat-radio-button {
    flex: 1 1 100%;

    &::ng-deep {
      .mat-radio-label {
        min-height: 36px;
        padding: 4px 16px;
        white-space: normal;

        @include breakpoint-max($tablet) {
          margin: 0 -16px;
          min-height: 48px;
          padding: 8px 16px;
          width: calc(100% + 32px);
        }
      }

      .mat-radio-label-content {
        @include breakpoint-max($tablet) {
          padding-left: 11.5px;
        }
      }

      .mat-radio-container {
        --radio-size: 16px;
        width: var(--radio-size);
        height: var(--radio-size);

        @include breakpoint-max($tablet) {
          --radio-size: 21px;
        }
      }

      .mat-radio-outer-circle {
        border-width: 1px;

        @include breakpoint-max($tablet) {
          border-width: 2px;
        }
      }

      .mat-radio-outer-circle,
      .mat-radio-inner-circle {
        width: var(--radio-size);
        height: var(--radio-size);
      }
    }

    &:not(:last-child) {
      &::ng-deep {
        .mat-radio-label {
          padding-right: 8px;
        }
      }
    }
  }

  .edit-btn {
    --size: 21px;
    --icon-size: 21px;
    margin-inline-end: 8px;

    @include breakpoint-max($tablet) {
      --size: 24px;
      --icon-size: 24px;
      margin-inline-end: 0;
    }
  }

  &__content {
    padding-left: 24px;
  }
}

.multilevelselect-filter {
  .mat-tree-node {
    @include breakpoint-max($tablet) {
      font-size: $font-base;
      line-height: 1.5;
    }
  }

  &__option {
    width: 100%;
    display: block;
    font-size: $font-xs;
    line-height: 14px;
    font-weight: normal;
    color: var(--color-neutral-90);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-inline-start: 12px;

    @include breakpoint-max($tablet) {
      font-size: $font-base;
      line-height: 1.5;
      padding-inline-start: 0;
    }

    &::ng-deep {
      .mat-list-item-content {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-inline-end: 0;
        padding-inline-start: 16px;

        @include breakpoint-max($tablet) {
          padding-top: 8px;
          padding-bottom: 8px;
          padding-inline-end: 16px;
          padding-inline-start: 16px;
        }
      }

      .mat-pseudo-checkbox {
        margin-inline-end: 8px;

        @include breakpoint-max($tablet) {
          margin-inline-end: 11px;
        }
      }

      .mat-checkbox-layout {
        white-space: normal;
      }

      .mat-checkbox-label {
        line-height: inherit;
      }
    }

    &__arrow {
      --size: 32px;
      --icon-size: 24px;
      transition: transform 0.35s ease;

      &--open {
        transform: rotate(180deg);
      }
    }
  }
}

.checkbox-option {
  font-size: $font-xs;
  line-height: 14px;

  @include breakpoint-max($tablet) {
    font-size: $font-base;
    line-height: 1.5;
  }
}

::ng-deep {
  .filter-control-menu {
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: none;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: var(--color-neutral-30);
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &.mat-menu-panel {
      margin-top: 0;
      max-width: none;
      min-width: 180px;
      box-shadow: none;
      border-radius: 0;
      margin-left: -1px;
      max-height: calc(100vh - 150px);
      width: calc((100vw - 220px - 220px) / 6);

      @include breakpoint-max($laptop-small) {
        width: calc((100vw - 200px) / 6);
      }

      .menu-content {
        @include breakpoint-min($tablet) {
          min-width: 100%;
        }
      }
    }

    &--wide {
      &.mat-menu-panel {
        @include breakpoint-min($tablet) {
          min-width: 320px;
          width: calc((100vw - 220px - 220px) / 6 * 2);

          @include breakpoint-max($laptop-small) {
            width: calc((100vw - 200px) / 6 * 2);
          }
        }
      }
    }

    .mat-menu-content {
      &:not(:empty) {
        padding-top: 0;
        padding-bottom: 8px;
      }
    }

    .mat-radio-group {
      display: block;
      overflow: hidden;
    }
  }

  .filters-panel-no-categories {
    .filter-control-menu {
      &.mat-menu-panel {
        width: calc((100vw - 220px - 220px) / 5);

        @include breakpoint-max($laptop-small) {
          width: calc((100vw - 200px) / 5);
        }
      }

      &--wide {
        &.mat-menu-panel {
          width: calc((100vw - 220px - 220px) / 5 * 2);

          @include breakpoint-max($laptop-small) {
            width: calc((100vw - 200px) / 5 * 2);
          }
        }
      }
    }
  }

  .multilevelselect-filter {
    flex-wrap: wrap;
    max-width: none;
    align-items: flex-start;
    justify-content: flex-start;

    &.mat-tree {
      display: flex;
    }

    .mat-tree-node {
      flex: 1 1 100%;
      min-height: 0;

      @include breakpoint-max($tablet) {
        &:not(:first-child) {
          margin-top: 16px;
        }
      }

      &[aria-level='2'] {
        margin-inline-start: 16px;
      }
    }

    .mat-list-item-content {
      display: flex;
      min-height: 40px;
      align-items: center;
      justify-content: flex-start;

      @include breakpoint-max($tablet) {
        min-height: 48px;
      }
    }
  }

  .account-menu {
    box-shadow: none;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: var(--color-neutral-20);

    .mat-menu-content {
      padding: 0;
    }

    .mat-menu-item {
      height: auto;
      color: #000;
      font-size: $font-sm;
      font-weight: 400;
      min-height: 48px;
      line-height: 17px;
      padding: 8px 16px;
      border-top: 1px solid var(--color-neutral-20);
    }
  }

  body.main-filters-closed {
    .filter-control-menu {
      &.mat-menu-panel {
        @include breakpoint-min($laptop-small) {
          width: calc((100vw - 220px) / 6);
        }
      }
    }
  }
}

.daterange {
  @include breakpoint-min($tablet) {
    padding: 8px 16px;
  }

  &-display {
    @include breakpoint-min($tablet) {
      position: absolute;
      top: 8px;
      max-width: fit-content;
    }

    @include breakpoint-max($tablet) {
      position: relative;
      width: 300px;
      margin: 0 auto;
      text-align: left;
    }

    height: 20px;
    font-weight: 700;

    &__grey {
      color: var(--color-neutral-50);
    }

    &__sm {
      @include breakpoint-max($tablet) {
        position: absolute;
        bottom: 22px;
        font-size: $font-sm;
      }
    }
  }

  &__inputs {
    display: flex;
    margin: 0 -8px;
    align-items: flex-start;
    justify-content: flex-start;

    .form-row {
      width: 50%;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__input {
    &::ng-deep {
      .mat-form-field-flex {
        padding-top: 0;
      }
    }

    &--focused {
      &::ng-deep {
        .mat-form-field-outline-thick {
          opacity: 1;

          .mat-form-field-outline-end {
            box-shadow: 0 0 4px var(--color-primary-60);
          }
        }
      }
    }
  }

  .mat-calendar {
    &::ng-deep {
      .mat-calendar-header {
        padding: 0;
      }

      .mat-calendar-controls {
        margin: 0 0 8px;
      }

      .mat-calendar-content {
        padding: 0;
      }

      .mat-calendar-period-button {
        padding-left: 2px;
      }
    }
  }
}

.mat-calendar {
  margin: 0 auto;
  max-width: 300px;
}

.location-select {
  display: block;

  @include breakpoint-min($tablet) {
    padding: 16px 16px 0;
  }
}

.filter-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  position: fixed;
  background: var(--color-light);

  &__head {
    height: 80px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--color-neutral-30);

    h1 {
      font-size: $font-xl;
      margin-bottom: 0;
      font-weight: 700;
      line-height: 1.28;
    }
  }

  &__back {
    --size: 40px;
    --icon-size: 40px;
    margin-inline-end: 8px;
  }

  &__content {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 16px 16px 80px;
    max-height: calc(100% - 80px);
    -webkit-overflow-scrolling: touch;
  }

  &__controls {
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    padding: 12px 11px;
    align-items: center;
    border-bottom: none;
    background: var(--color-light);
    justify-content: space-between;
    border-top: 1px solid var(--color-neutral-30);
  }

  &__control {
    margin: 0 5px;
    flex: 1 1 calc(100% - 10px);
  }
}

.mat-list-base {
  @include breakpoint-max($tablet) {
    padding-top: 0;
  }
}

.mat-list-option {
  @include breakpoint-max($tablet) {
    margin-left: -16px;
    margin-right: -16px;
    width: calc(100% + 32px) !important;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }
}

::ng-deep {
  html.rtl {
    .filter-control__button__arrow {
      @include breakpoint-max($tablet) {
        transform: rotate(90deg);
      }
    }

    .filter-modal__back {
      .mat-icon {
        @include breakpoint-max($tablet) {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.clear-button {
  display: flex;
  padding: 8px 14px;
  align-items: center;
  justify-content: flex-end;

  @include breakpoint-max($tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}
