.post {
  &--feed {
    min-height: 100%;
    padding: 20px 30px;
    position: relative;
    background: var(--color-light);
    box-shadow: 0 0 2px rgb(#000, 0.12), 0 2px 2px rgb(#000, 0.24);
  }

  &__border {
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    position: absolute;
    background: var(--color);
    border-radius: 4px 0 0 4px;
  }

  &__survey {
    margin-bottom: 32px;
  }

  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    justify-content: flex-start;
  }

  &__status {
    color: #666;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    margin-right: 16px;
    background: #eee;
    vertical-align: top;
    border-radius: 16px;
    display: inline-block;
    box-shadow: 0 0 1px rgb(0 0 0 / 16%) inset;
  }

  &__user {
    display: flex;
    margin-right: 8px;
    align-items: center;
    justify-content: flex-start;

    &__avatar {
      flex: 0 0 20px;
      margin-right: 8px;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  &__group {
    padding: 24px 0;
    border-top: 1px solid #eee;
  }

  &__time {
    margin-right: 8px;
  }

  &__content {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__description {
    margin-bottom: 32px;
  }
}

.category {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__icon {
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 12px;
    margin-right: 8px;
  }
}

.map {
  display: block;
  margin-bottom: 16px;
}
