.activity-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chart-container {
  background-color: #fafafa;
  box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
  border-radius: 2px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 30px;
}

.chart-legend .legend-labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
