.activity-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chart-container {
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: flex-start;
}

.chart-legend .legend-labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
