<h1 *ngIf="isDesktop$ | async">Setup Donation</h1>

<form [formGroup]="donationForm" (ngSubmit)="save()" novalidate>
  <div class="form-row toggle-group">
    <div class="toggle">
      <mat-slide-toggle formControlName="enabled" [data-qa]="'monetization-toggle'">
        {{ 'app.enable_monetization' | translate }}
      </mat-slide-toggle>
    </div>
  </div>

  <div class="form-row">
    <mat-label>{{ 'settings.donation.title.label' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="{{ 'settings.donation.title.placeholder' | translate }}"
        formControlName="title"
        required
        [data-qa]="'title'"
      />
      <mat-error *ngIf="donationForm.get('title')?.invalid">
        {{ 'settings.donation.title.required' | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>{{ 'settings.donation.description.label' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <textarea
        [data-qa]="'description'"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="4"
        cdkAutosizeMaxRows="8"
        placeholder="{{ 'settings.donation.description.placeholder' | translate }}"
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>{{ 'settings.donation.images.label' | translate }}</mat-label>
    <app-file-uploader
      [multiple]="true"
      [imageSrc]="images"
      (fileUpload)="uploadFile($event)"
      (delete)="imageDeleted($event)"
    >
    </app-file-uploader>
  </div>

  <div class="form-row">
    <mat-label>{{ 'settings.donation.wallet.label' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        [data-qa]="'wallet'"
        matInput
        placeholder="{{ 'settings.donation.wallet.placeholder' | translate }}"
        formControlName="wallet"
      />
      <mat-hint>
        {{ 'settings.donation.info.start_one' | translate }}
        <a target="_blank" href="https://uphold.com">uphold.com</a>
        {{ 'settings.donation.info.start_two' | translate }}
        {{ 'settings.donation.info.start_three' | translate }}
        <a target="_blank" href="https://wallet.uphold.com/signup">{{
          'settings.donation.info.here' | translate
        }}</a>
        {{ 'settings.donation.info.end' | translate }}
      </mat-hint>
    </mat-form-field>
  </div>
</form>

<div class="form-controls-spacer" *ngIf="!(isDesktop$ | async)!"></div>
<div class="form-controls-panel form-controls-panel--sticky">
  <mzima-client-button
    fill="outline"
    color="secondary"
    (buttonClick)="cancel()"
    [data-qa]="'btn-cancel'"
    aria-label="Cancel action"
  >
    {{ 'app.cancel' | translate }}
  </mzima-client-button>
  <mzima-client-button (buttonClick)="save()" [data-qa]="'btn-save'" aria-label="Save changes">
    {{ 'app.save' | translate }}
  </mzima-client-button>
</div>
