@import 'helpers';

.mat-button-base {
  .mat-icon {
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: $font-4xl;
  }

  .icon-medium {
    font-size: $font-lg;
  }

  .mat-button-wrapper {
    z-index: 5;
    position: relative;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    justify-content: flex-start;
  }

  &.small {
    font-size: $font-xs;
    font-weight: 700;
    line-height: 36px;

    .mat-icon {
      font-size: $font-base;
    }
  }
}

.mat-button,
.mat-raised-button,
.mat-stroked-button {
  box-shadow: none !important;
  border-width: 3px;
  border-color: transparent;
  border-style: solid;

  @include breakpoint-max($tablet) {
    font-size: $font-lg;
  }

  .mat-icon {
    &:not(:last-child) {
      margin-inline-end: 10px;
    }

    &:last-child:not(:first-child) {
      margin-inline-start: 10px;
    }
  }

  &.small {
    .mat-icon {
      &:not(:last-child) {
        margin-inline-end: 8px;
      }

      &:last-child {
        margin-inline-start: 8px;
      }
    }
  }
}

.mat-mini-fab {
  font-size: $font-lg;
}

.mat-icon-button {
  font-size: 20px;
  align-items: center;
  display: flex !important;
  justify-content: center;

  .mat-icon {
    display: block;
    margin: 0 auto;
    line-height: 1 !important;
  }

  &:not(.mat-button-disabled) {
    background: var(--color-light);
    color: var(--color-neutral-100);
    border-color: var(--color-neutral-60);
    transition: background-color 0.35s ease;

    &.active,
    &[aria-expanded='true'] {
      &:not(.mat-button-disabled) {
        background-color: var(--color-neutral-20);
      }
    }
  }
}

.mat-primary {
  &.mat-fab,
  &.mat-flat-button,
  &.mat-raised-button,
  &.mat-mini-fab {
    &:hover {
      background-color: var(--color-primary-70);
    }

    .mat-ripple-element {
      opacity: 1;
      background-color: var(--color-primary-50);
    }

    &.mat-button-disabled {
      color: var(--color-neutral-70);
      background-color: var(--color-primary-90);
    }
  }

  &.mat-raised-button {
    &:focus,
    &:active {
      background: var(--color-primary-50);
    }
  }
}

.mat-dark {
  &.mat-fab,
  &.mat-flat-button,
  &.mat-raised-button,
  &.mat-mini-fab {
    color: var(--color-light);
    background-color: var(--color-neutral-100);

    &:hover {
      background-color: var(--color-neutral-100);
    }

    .mat-ripple-element {
      opacity: 1;
      background-color: var(--color-neutral-100);
    }

    &.mat-button-disabled {
      color: var(--color-neutral-20);
      background-color: var(--color-neutral-60);
    }
  }
}

.mat-info {
  &.mat-fab,
  &.mat-flat-button,
  &.mat-raised-button,
  &.mat-mini-fab {
    color: var(--color-info-contrast);
    background-color: var(--color-info);
  }
}

.mat-accent {
  &.mat-fab,
  &.mat-flat-button,
  &.mat-raised-button,
  &.mat-mini-fab {
    color: var(--color-accent-contrast);
    background-color: var(--color-accent);

    &:hover {
      background-color: var(--color-accent-tint);
    }

    .mat-ripple-element {
      background-color: var(--color-accent-shade);
    }

    &.mat-button-disabled {
      color: var(--color-neutral-70);
      background-color: var(--color-neutral-30);
    }
  }

  &.mat-button,
  &.mat-icon-button,
  &.mat-stroked-button {
    color: var(--color-accent);

    &:hover {
      color: var(--color-accent-tint);
    }
  }

  &.mat-raised-button {
    &:focus,
    &:active {
      background: #7c1d18;
    }
  }
}

.mat-fab {
  font-size: $font-base;

  .mat-button-wrapper {
    padding: 0 !important;
    line-height: 1 !important;
  }
}

.upload-button {
  overflow: hidden;

  input[type='file'] {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    -webkit-appearance: none;
  }
}

.mat-button-base {
  &.mat-button,
  &.mat-raised-button,
  &.mat-stroked-button {
    border-radius: 4px;
  }

  &.mat-button,
  &.mat-raised-button {
    line-height: 40px;

    @include breakpoint-max($tablet) {
      line-height: 48px;
    }
  }

  &.mat-stroked-button {
    line-height: 38px;

    @include breakpoint-max($tablet) {
      line-height: 46px;
    }
  }
}

.mat-stroked-button {
  &:not(.mat-button-disabled) {
    color: var(--color-black);
    background: var(--color-light);
    border-color: var(--color-neutral-60);
    transition: background-color 0.35s ease;

    &:hover {
      background-color: var(--color-neutral-10);
    }

    &:active {
      background-color: var(--color-neutral-20);
    }

    .mat-ripple-element {
      display: none;
    }

    &.active,
    &[aria-expanded='true'] {
      &:not(.mat-button-disabled) {
        background-color: var(--color-neutral-20);
      }
    }
  }

  &.mat-button-disabled {
    border-color: var(--color-neutral-50);
    background-color: var(--color-neutral-30);

    &.mat-button-disabled {
      color: var(--color-neutral-70);
    }
  }

  .mat-button-focus-overlay {
    display: none;
  }
}

.mat-mini-fab {
  .mat-button-wrapper {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}
