// breakpoints

$mobile: 768px;
$tablet: 1024px;
$laptop-small: 1366px;
$laptop: 1439px;

// breakpoints mixin

@mixin breakpoint-max($rule) {
  @media only screen and (max-width: #{$rule}) {
    @content;
  }
}

@mixin breakpoint-min($rule) {
  @media only screen and (min-width: #{$rule + 1}) {
    @content;
  }
}

@mixin breakpoint-min-max($rule) {
  @media only screen and (max-width: #{$rule}) and (min-width: #{$rule + 1}) {
    @content;
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

// Keyboard Tab Focus mixin
// In terms of keyboard focus, outline property is better thatn border-color
// :focus-visible property is better than :focus property since it's only used
// for keyboard focus and other non mouse devices
// :focus-visible is not supported by all browsers especially Safari https://caniuse.com/?search=focus-visible
// @support  selector(:focus-visible) is to be used instead
@mixin focusVisible($outline-offset: 3px, $border-radius: 5px) {
  @supports selector(:focus-visible) {
    &:focus-visible {
      outline: 2px solid var(--color-primary-60);
      outline-offset: $outline-offset;
      border-radius: $border-radius;
    }
  }
}
