@import 'helpers';

.notification {
  display: flex;
  font-size: $font-base;
  min-height: 56px;
  line-height: 1.3;
  border-radius: 8px;
  position: relative;
  margin-bottom: 16px;
  align-items: center;
  word-break: break-word;
  justify-content: flex-start;
  padding: 16px 64px 16px 24px;

  @include breakpoint-max($tablet) {
    font-size: $font-sm;
    min-height: 64px;
    padding: 12px 78px 12px 16px;
  }

  &--warning {
    background-color: var(--color-primary-100);
    box-shadow: inset 0 0 0 1px var(--color-primary-90);
  }

  &--info {
    background-color: var(--color-neutral-20);
    box-shadow: inset 0 0 0 1px var(--color-neutral-30);
  }

  &--danger {
    background-color: #f7c5c6;
    box-shadow: inset 0 0 0 1px #eda9a8;
  }

  &--success {
    background-color: #c6f899;
    box-shadow: inset 0 0 0 1px #b1e27e;
  }

  &__icon {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    font-size: $font-2xl;
    margin-right: 16px;
  }

  &__close {
    top: 50%;
    z-index: 75;
    --size: 40px;
    --icon-size: 24px;
    margin-top: -20px;
    position: absolute;
    --border-radius: 8px;
    inset-inline-end: 16px;
    --color: var(--color-black);
    --background-color: transparent;
    --border-color: var(--color-neutral-50);
    --hover-background-color: rgba(var(--color-light-rgb), 0.2);

    .notification--danger & {
      --border-color: #e48d89;
    }

    .notification--success & {
      --border-color: #9bcc63;
    }

    @include breakpoint-max($tablet) {
      top: 12px;
      margin-top: 0;
      inset-inline-end: 12px;
    }
  }
}
