<div class="page-content">
  <h2>{{ 'data_import.csv' | translate }}</h2>
  <p>{{ 'data_import.import_explanation_csv' | translate }}</p>
  <div class="form__step">
    <h3>{{ 'data_import.choose_csv_file' | translate }}</h3>
    <button color="primary" mat-raised-button class="upload-button">
      Upload
      <input name="file" type="file" (change)="uploadFile($event)" />
    </button>
    <div>
      <h2>Selected form</h2>
      <!-- <pre>{{selectedForm | json}}</pre> -->
      <mat-select [(value)]="selectedForm">
        <mat-option *ngFor="let option of forms$ | async" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </div>

    <button mat-raised-button (click)="completeStepOne()">completeStepOne</button>
  </div>
  <div class="form__step" *ngIf="currentStep === 2">
    <h2>
      <span>
        {{ 'data_import.configure_imported_posts' | translate }}
      </span>
    </h2>
    <div>
      <ol class="metadata">
        <li>{{ selectedFile.name }}</li>
        <li>{{ selectedForm.name }}</li>
      </ol>
    </div>

    <fieldset>
      <legend>{{ 'data_import.imported_posts_status' | translate }}</legend>
      <div class="form-field radio">
        <label for="status-model-mark">
          <input
            type="radio"
            id="status-model-mark"
            name="status-model"
            [(ngModel)]="statusOption"
            value="mark_as"
          />
          <span>{{ 'data_import.marked_as' | translate }}</span>
        </label>
        <fieldset data-fieldgroup-target="status-model-mark" *ngIf="statusOption === 'mark_as'">
          <legend class="hidden">Post status</legend>
          <div
            class="form-field radio icon-input"
            [ngClass]="{ checked: selectedStatus === PostStatus.Published }"
          >
            <label for="status-published" (click)="setStatus(PostStatus.Published)">
              <svg class="iconic" role="img">
                <use xlink:href="assets/sprites.svg#globe"></use>
              </svg>
              <input
                type="radio"
                name="status"
                id="status-published"
                checked
                data-fieldgroup-toggle="status-model-mark-published"
              />
              <span>{{ 'post.published' | translate }}</span>
            </label>

            <!--// IF the chosen survey has tasks that must be completed before its posts can be published //-->
            <p
              *ngIf="hasRequiredTask"
              class="alert"
              data-fieldgroup-target="status-model-mark-published"
            >
              Your survey, <strong>{{ selectedForm.name }}</strong
              >, includes tasks that typically must be completed for each post before they can be
              marked 'published.' During this import, all of your imported posts will have their
              tasks marked as 'incomplete', while still allowing their status to be marked as
              'published.' If you edit any of these posts after they've been imported, however,
              you'll be asked to complete those tasks before re-publishing them.
            </p>
            <!--// END IF //-->
          </div>

          <div
            class="form-field radio icon-input"
            [ngClass]="{ checked: selectedStatus === PostStatus.Draft }"
          >
            <label for="status-review" (click)="setStatus(PostStatus.Draft)">
              <svg class="iconic" role="img">
                <use xlink:href="assets/sprites.svg#document"></use>
              </svg>
              <input type="radio" name="status" id="status-review" />
              <span>{{ 'post.draft' | translate }}</span>
            </label>
          </div>

          <div
            class="form-field radio icon-input"
            [ngClass]="{ checked: selectedStatus === PostStatus.Archived }"
          >
            <label for="status-archive" (click)="setStatus(PostStatus.Archived)">
              <svg class="iconic" role="img">
                <use xlink:href="assets/sprites.svg#box"></use>
              </svg>
              <input type="radio" name="status" id="status-archive" />
              <span>{{ 'post.archived' | translate }}</span>
            </label>
          </div>
        </fieldset>
      </div>

      <div class="form-field radio">
        <label for="status-model-columns">
          <input
            type="radio"
            id="status-model-columns"
            name="status-model"
            data-fieldgroup-toggle="status-model-columns"
            [(ngModel)]="statusOption"
            value="defined_column"
          />
          <span>{{ 'data_import.defined_column' | translate }}</span>
        </label>

        <div
          class="form-field select"
          data-fieldgroup-target="status-model-columns"
          *ngIf="statusOption === 'defined_column'"
        >
          <div class="custom-select">
            <select [(ngModel)]="selectedStatus">
              <option *ngFor="let column of uploadedCSV.columns; let i = index" [value]="i">
                {{ column }}
              </option>
            </select>
          </div>
          <p>
            <em>{{ 'data_import.status_explanation' | translate }}</em>
          </p>

          <!--// IF the chosen survey has tasks that must be completed before its posts can be published //-->
          <p class="alert" data-fieldgroup-target="status-model-mark-published">
            Your survey, <strong>{{ selectedForm.name }}</strong
            >, includes tasks that typically must be completed for each post before they can be
            marked 'published.' During this import, all of your imported posts will have their tasks
            marked as 'incomplete', even if their status is marked as 'published.' If you edit any
            of these posts after they've been imported, however, you'll be asked to complete those
            tasks before re-publishing them.
          </p>
          <!--// END IF //-->
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{ 'data_import.choose_which_column' | translate }}</legend>
      <p>{{ 'data_import.each_survey_field' | translate }}</p>

      <table>
        <thead>
          <tr>
            <th>{{ 'data_import.survey_field' | translate }}</th>
            <th>{{ 'data_import.csv_column' | translate }}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let attribute of selectedForm.attributes">
            <td>
              <span [ngClass]="{ required: attribute.required }">{{ attribute.label }}</span>
            </td>
            <td>
              <div class="custom-select">
                <select [(ngModel)]="maps_to[attribute.key]">
                  <option selected="selected" value="">
                    {{ 'data_import.leave_empty' | translate }}
                  </option>
                  <option *ngFor="let column of uploadedCSV.columns; let i = index" [value]="i">
                    {{ column }}
                  </option>
                </select>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>

    <div class="form-controls-panel">
      <button type="button" mat-raised-button (click)="cancelImport()">
        {{ 'data_import.cancel_import' | translate }}
      </button>
      <button type="button" color="primary" mat-raised-button (click)="completeStepTwo()">
        {{ 'data_import.finish_import' | translate }}
      </button>
    </div>
  </div>
</div>
