.metadata {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    margin-bottom: 8px;
    display: inline-block;
    vertical-align: middle;

    &:not(:last-child) {
      &:after {
        opacity: 0.7;
        margin: 0 4px;
        content: '\2192';
        display: inline-block;
      }
    }
  }
}

.radio-group {
  margin-bottom: 16px;

  &__content {
    padding-top: 24px;
    padding-left: 24px;
  }

  + h3 {
    margin-top: 24px;
  }
}

.mat-radio-group + p {
  margin-top: 8px;
}

.mat-radio-button {
  .mat-icon {
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 16px;
    margin-right: 4px;
  }
}

.mat-table {
  width: 100%;
  margin-bottom: 32px;
}

.seleted-file {
  margin-left: 16px;
}

.survey-select {
  font-weight: bold;

  &__prefix {
    font-weight: normal;
  }
}
