<form class="create-form" [formGroup]="form" (submit)="submit()" novalidate>
  <div class="create-form__topbar">
    <button mat-raised-button type="button" disabled>{{ activeLanguage }}</button>
    <button type="button" color="primary" mat-raised-button (click)="addTranslation()">
      <mat-icon>add</mat-icon>
      {{ 'translations.add_translation_lang' | translate }}
    </button>
  </div>

  <div class="form-group">
    <mat-form-field appearance="standard">
      <mat-label>{{ 'category.editor.name' | translate }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="standard">
      <mat-label>{{ 'category.editor.description' | translate }}</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="standard">
      <mat-label>{{ 'app.this_category_is_child_to' | translate }}</mat-label>
      <mat-select formControlName="is_child_to">
        <mat-option value="">{{ 'app.nothing' | translate }}</mat-option>
        <mat-option [value]="category.id" *ngFor="let category of categories">
          {{ category.tag }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="standard">
      <mat-label>{{ 'translations.category_select_default' | translate }}</mat-label>
      <mat-hint>{{ 'translations.default_lang_info' | translate }}</mat-hint>
      <mat-select formControlName="language">
        <mat-option [value]="language.code" *ngFor="let language of languages">
          {{ language.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <h4>{{ 'app.who_can_see_this_category' | translate }}</h4>
    <mat-radio-group class="radio-buttons" formControlName="category_visibility">
      <p>
        <mat-radio-button value="everyone" class="example-radio-button">
          <mat-icon>person</mat-icon>
          {{ 'role.everyone' | translate }}
        </mat-radio-button>
      </p>
      <p>
        <mat-radio-button [value]="'specific'" class="example-radio-button">
          <mat-icon>group</mat-icon>
          {{ 'app.specific_roles' | translate }}
        </mat-radio-button>

        <span class="radio-buttons__options" *ngIf="form.value.category_visibility === 'specific'">
          <p *ngFor="let role of roles">
            <mat-checkbox
              [value]="role.id.toString()"
              [checked]="role.name === 'admin'"
              [disabled]="role.name === 'admin'"
              (change)="onCheckChange($event, 'visible_to')"
            >
              {{ role.display_name }}
            </mat-checkbox>
          </p>
        </span>
      </p>
    </mat-radio-group>
  </div>

  <div class="create-form__controls">
    <button mat-raised-button type="button" routerLink="../">{{ 'app.cancel' | translate }}</button>
    <button mat-raised-button color="primary">{{ 'app.save' | translate }}</button>
  </div>
</form>
