@import 'helpers';

.types-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;

  @include breakpoint-min($tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.type-item {
  cursor: pointer;
  padding: 15px 12px;
  position: relative;
  background: var(--color-neutral-10);
  border-radius: 4px;
  border-inline-start: 5px solid var(--color);
  height: 100%;
}

.spinner {
  display: block;
  margin: 64px auto;
}
