<div class="head">
  <h1 *ngIf="isDesktop">{{ 'app.import' | translate }}</h1>
  <mzima-client-button class="upload-button" [data-qa]="'btn-upload'">
    <span>
      {{
        (selectedFile ? 'data_import.change_csv_file' : 'data_import.upload_csv_file')
          | translate
            : {
                selectedfile: selectedFile
                  ? selectedFile.name.slice(0, selectedFile.name.length - 4)
                  : null
              }
      }}
    </span>
    <mat-icon icon svgIcon="plus"></mat-icon>
    <input name="file" type="file" accept=".csv" (change)="uploadFile($event)" />
  </mzima-client-button>
</div>

<div class="form-row">
  <mat-label
    >{{ 'data_import.import_to' | translate }}
    {{ 'data_import.which_survey' | translate }}*</mat-label
  >
  <mat-form-field appearance="outline">
    <mat-select
      [data-qa]="'select-survey'"
      disableOptionCentering
      [(value)]="selectedForm"
      placeholder="{{ 'survey.choose_survey' | translate }}"
      (selectionChange)="formChanged()"
      aria-label="Select Survey"
    >
      <mat-option *ngFor="let option of surveys | async" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<ng-container *ngIf="selectedForm && selectedFile">
  <div class="form-row metadata">
    <span class="metadata__title">
      <mat-icon svgIcon="document-csv"></mat-icon>
      {{ selectedFile.name }}
    </span>
    <mat-icon class="metadata__separator" svgIcon="arrow-right"></mat-icon>
    <span class="metadata__title">
      <mat-icon svgIcon="survey"></mat-icon>
      {{ selectedForm.name }}
    </span>
  </div>
  <ng-container *ngIf="uploadErrors?.length === 0">
    <div class="form-row">
      <mat-label>{{ 'data_import.choose_status_to_imported_posts' | translate }}</mat-label>
      <mat-radio-group
        [data-qa]="'radio-option'"
        [(ngModel)]="statusOption"
        [attr.aria-label]="'data_import.imported_posts_status' | translate"
      >
        <div class="radio-button">
          <mat-radio-button value="mark_as">
            {{ 'data_import.marked_as' | translate }}
          </mat-radio-button>
          <div *ngIf="statusOption === 'mark_as'" class="radio-button__content">
            <mat-radio-group [(ngModel)]="selectedStatus" [data-qa]="'radio-status'">
              <div class="radio-button">
                <mat-radio-button [value]="PostStatus.Published">
                  {{ 'post.published' | translate }}
                </mat-radio-button>
              </div>

              <!--// IF the chosen survey has tasks that must be completed before its posts can be published //-->
              <p *ngIf="hasRequiredTask">
                {{ 'data_import.has_tasks_required_start' | translate }}
                <strong>{{ selectedForm.name }}</strong>
                {{ 'data_import.has_tasks_required_end' | translate }}
              </p>
              <!--// END IF //-->

              <div class="radio-button">
                <mat-radio-button [value]="PostStatus.Draft">
                  {{ 'post.draft' | translate }}
                </mat-radio-button>
              </div>

              <div class="radio-button">
                <mat-radio-button [value]="PostStatus.Archived">
                  {{ 'post.archived' | translate }}
                </mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <div class="radio-button">
          <mat-radio-button value="defined_column">
            {{ 'data_import.defined_column' | translate }}
          </mat-radio-button>
          <div class="radio-group" *ngIf="statusOption === 'defined_column'">
            <div class="radio-button__content">
              <div class="form-row">
                <mat-form-field appearance="outline">
                  <mat-select
                    [(ngModel)]="selectedStatus"
                    disableOptionCentering
                    placeholder="{{ 'app.choose' | translate }}"
                    aria-label="Selected Status"
                  >
                    <mat-option
                      *ngFor="let column of uploadedCSV.columns; let i = index"
                      [value]="i"
                    >
                      {{ column }}
                    </mat-option>
                  </mat-select>
                  <mat-hint>{{ 'data_import.status_explanation' | translate }}</mat-hint>
                </mat-form-field>
              </div>

              <!--// IF the chosen survey has tasks that must be completed before its posts can be published //-->
              <!-- <p class="note">
              Your survey, <strong>{{ selectedForm.name }}</strong
              >, includes tasks that typically must be completed for each post before they can
              be marked 'published.' During this import, all of your imported posts will have
              their tasks marked as 'incomplete', even if their status is marked as 'published.'
              If you edit any of these posts after they've been imported, however, you'll be
              asked to complete those tasks before re-publishing them.
            </p> -->
              <!--// END IF //-->
            </div>
          </div>
        </div>
      </mat-radio-group>
    </div>
    <ng-container>
      <div class="table-description">
        <mat-label class="form-label">{{
          'data_import.choose_which_column' | translate
        }}</mat-label>
        <p>{{ 'data_import.each_survey_field' | translate }}</p>
      </div>
    </ng-container>

    <ng-container *ngFor="let task of selectedForm.tasks">
      <div class="table-description">
        <mat-label class="form-label">
          {{ task.label }}
        </mat-label>
        <p>{{ task.description }}</p>
      </div>

      <table mat-table [dataSource]="task.fields">
        <ng-container matColumnDef="survey">
          <th mat-header-cell *matHeaderCellDef>{{ 'data_import.survey_field' | translate }}</th>
          <td mat-cell *matCellDef="let field">
            {{ field.label }}&nbsp;
            <ng-container *ngIf="field.required">*</ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="csv">
          <th mat-header-cell *matHeaderCellDef>{{ 'data_import.csv_column' | translate }}</th>
          <td mat-cell *matCellDef="let field">
            <mat-form-field appearance="outline">
              <mat-select
                [data-qa]="'select-columns'"
                disableOptionCentering
                [(ngModel)]="maps_to[getFieldKey(field)]"
                [placeholder]="'data_import.leave_empty' | translate"
                aria-label="Select Columns"
              >
                <mat-option selected="selected" value="">
                  {{ 'data_import.leave_empty' | translate }} {{ field.key }}
                </mat-option>
                <mat-option *ngFor="let column of uploadedCSV.columns; let i = index" [value]="i">
                  {{ column }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </ng-container>

    <mat-error *ngIf="importErrors">
      {{ 'notify.data_import.csv_import_error' | translate }}
    </mat-error>
    <div class="form-controls-spacer"></div>
    <div class="form-controls-panel form-controls-panel--sticky">
      <mzima-client-button
        fill="outline"
        color="secondary"
        (buttonClick)="cancelImport()"
        [data-qa]="'btn-cancel-import'"
      >
        {{ 'app.cancel' | translate }}
      </mzima-client-button>
      <mzima-client-button (buttonClick)="finish()" [data-qa]="'btn-finish'">
        {{ 'app.import' | translate }}
      </mzima-client-button>
    </div>
  </ng-container>
  <ng-container *ngIf="uploadErrors.length > 0">
    <mat-error *ngFor="let err of uploadErrors">
      {{ err.message }}
    </mat-error>
  </ng-container>
</ng-container>
