@import 'helpers';

.head {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;

  @include breakpoint-max($tablet) {
    justify-content: flex-end;
  }

  h1 {
    margin-bottom: 0;
  }
}

.metadata {
  display: flex;
  font-size: $font-base;
  font-weight: 700;
  line-height: 1.5;
  align-items: center;
  color: var(--color-black);
  justify-content: flex-start;

  @include breakpoint-max($tablet) {
    min-width: 200px;
    display: inline-flex;
    align-items: stretch;
    flex-direction: column;
  }

  &__title {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    text-overflow: ellipsis;
    justify-content: flex-start;
    max-width: calc(50% - 48px);

    @include breakpoint-max($tablet) {
      max-width: none;
    }

    .mat-icon {
      font-size: $font-4xl;
      margin-inline-end: 4px;
    }
  }

  &__separator {
    line-height: 1;
    margin: 0 32px;
    font-size: $font-2xl;

    @include breakpoint-max($laptop-small) {
      margin: 0 24px;
    }

    @include breakpoint-max($tablet) {
      margin: 8px 0;
      align-self: center;
      transform: rotate(90deg);
    }
  }

  .mat-icon {
    width: 1em;
    height: 1em;
    flex-shrink: 0;

    &::ng-deep {
      svg {
        display: block;
      }
    }
  }
}

.form-controls-spacer {
  padding-top: 70px;
}

.mat-table {
  margin-bottom: 32px;

  .mat-form-field-appearance-outline {
    &::ng-deep {
      .mat-form-field-wrapper {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

.mat-radio-group {
  &::ng-deep {
    .mat-radio-label {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.radio-button {
  font-size: $font-base;
  margin-top: 8px;
  font-weight: 500;
  line-height: 1.25;

  &__content {
    padding-top: 16px;
    padding-left: 44px;

    @include breakpoint-max($laptop-small) {
      padding-left: 24px;
    }

    .mat-radio-group {
      display: block;
      padding-top: 0;
      margin-top: -8px;
    }

    .radio-button {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.table-description {
  font-size: $font-sm;
  line-height: 1.3;
  margin-bottom: 24px;
  color: var(--color-neutral-90);

  .form-label {
    margin-bottom: 8px;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
