@import 'helpers';

.images {
  .image {
    margin-bottom: 16px;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

hr {
  height: 1px;
  border: none;
  margin: 32px 0;
  background-color: var(--color-neutral-70);
}

.soft-text {
  font-size: $font-base;
  line-height: 20px;
  color: var(--color-neutral-70);

  .mat-icon {
    width: 1em;
    height: 1em;
    margin-inline-end: 4px;
    color: var(--color-neutral-80);
  }
}
