@import 'helpers';

.information {
  margin-bottom: 32px;

  .guide-link {
    display: flex;
    align-items: center;
  }

  .link-blue-icon {
    width: 1em;
    height: 1em;
    display: flex;
    flex-shrink: 0;
    line-height: 1;
    font-size: $font-xl;
    margin-right: 4px;
    align-items: center;
  }
}

.logo-wrapper {
  max-width: 220px;
  margin-inline-start: 16px;

  @include breakpoint-max($laptop-small) {
    max-width: 164px;
  }

  @include breakpoint-max($tablet) {
    margin-inline-start: 0;
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 48px;
    object-fit: contain;
    object-position: 100% 50%;
  }
}
