<div class="form-head-panel">
  <h1 *ngIf="isDesktop$ | async">{{ 'settings.settings_list.user_settings' | translate }}</h1>
  <div class="logo-wrapper">
    <img src="assets/images/logo-hdx.png" alt="{{ 'settings.user_settings.HDX' | translate }}" />
  </div>
</div>
<div class="information">
  <p>{{ 'settings.user_settings.user_settings_desc_1' | translate }}</p>
  <p>{{ 'settings.user_settings.user_settings_desc_2' | translate }}</p>
  <p>{{ 'settings.user_settings.user_settings_desc_3' | translate }}</p>
  <a class="guide-link" href="https://data.humdata.org/faq" target="_blank">
    <mat-icon class="link-blue-icon" svgIcon="external-link"></mat-icon>
    <strong>{{ 'settings.user_settings.view_guide' | translate }}</strong>
  </a>
</div>

<form [formGroup]="form" novalidate>
  <div class="form-row">
    <mat-label>{{ 'settings.user_settings.hdx_maintainer_id' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="{{ 'settings.user_settings.please_enter_maintainer_id' | translate }}"
        formControlName="hdx_maintainer_id"
        required
      />
      <mat-hint>{{ 'settings.user_settings.profile_page' | translate }}</mat-hint>
      <mat-error
        *ngIf="form.get('hdx_maintainer_id')?.touched && form.get('hdx_maintainer_id')?.invalid"
      >
        <div *ngIf="form.get('hdx_maintainer_id')?.hasError('required')">
          {{ 'settings.user_settings.valid_user' | translate }}
        </div>
        <div *ngIf="form.get('hdx_maintainer_id')?.hasError('minlength')">
          {{ 'settings.user_settings.hdx_maintainer_id_min_length' | translate }}
        </div>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-label>{{ 'settings.user_settings.api_key' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="{{ 'settings.user_settings.please_enter_api_key' | translate }}"
        formControlName="hdx_api_key"
        required
      />
      <mat-hint>{{ 'settings.user_settings.profile_page' | translate }}</mat-hint>
      <mat-error *ngIf="form.get('hdx_api_key')?.touched && form.get('hdx_api_key')?.invalid">
        <div *ngIf="form.get('hdx_api_key')?.hasError('required')">
          {{ 'settings.user_settings.valid_key' | translate }}
        </div>
        <div *ngIf="form.get('hdx_api_key')?.hasError('minlength')">
          {{ 'settings.user_settings.api_key_min_length' | translate }}
        </div>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-controls-spacer" *ngIf="!(isDesktop$ | async)!"></div>
  <div class="form-controls-panel form-controls-panel--sticky">
    <mzima-client-button
      type="button"
      fill="outline"
      color="secondary"
      *ngIf="!(isDesktop$ | async)!"
      [data-qa]="'btn-cancel'"
      routerLink="/settings"
      aria-label="Cancel and go to settings"
    >
      {{ 'app.cancel' | translate }}
    </mzima-client-button>
    <mzima-client-button
      type="submit"
      (buttonClick)="saveInformation()"
      [disabled]="form.invalid || submitted"
      ariaLabel="{{ submitted ? 'Save information again' : 'Save information' }}"
    >
      {{ 'app.save' | translate }}
    </mzima-client-button>
  </div>
</form>
