<mat-toolbar class="toolbar">
  <mzima-client-button
    fill="clear"
    color="secondary"
    [iconOnly]="true"
    (buttonClick)="back()"
    class="toolbar__back"
    *ngIf="!isDesktop && isInnerPage"
  >
    <mat-icon icon svgIcon="back"></mat-icon>
  </mzima-client-button>
  <h1 class="toolbar__page-title" [data-qa]="'page-title'" *ngIf="isDesktop || !showSearchForm">
    {{ pageTitle | translate }}
  </h1>
  <div class="toolbar__controls">
    <app-search-form class="search-form" *ngIf="showSearchForm"></app-search-form>
    <app-share-and-donate *ngIf="isDesktop"></app-share-and-donate>
    <app-language
      class="toolbar__language"
      [languages]="languages"
      [selectedLanguage]="selectedLanguage"
    ></app-language>
  </div>
  <mzima-client-button
    fill="clear"
    color="secondary"
    class="account-info"
    [data-qa]="'account-info'"
    *ngIf="isLoggedIn && isDesktop"
    [matMenuTriggerFor]="accountMenu"
  >
    <div class="account-info__main">
      <span class="account-info__name">{{ user.realname }}</span>
      <span class="account-info__email">{{ user.email }}</span>
    </div>
    <img
      [alt]="user.realname"
      class="account-info__avatar"
      src="//www.gravatar.com/avatar/{{
        user.gravatar || '00000000000000000000000000000000'
      }}?d=retro&s=64"
    />
    <mat-icon class="account-info__arrow" svgIcon="arrow-down"></mat-icon>
  </mzima-client-button>
  <mzima-client-button
    fill="clear"
    class="burger"
    color="secondary"
    [iconOnly]="true"
    *ngIf="!isDesktop"
    (buttonClick)="toggleBurgerMenu()"
    [ariaLabel]="'nav.open_menu' | translate"
  >
    <mat-icon icon svgIcon="hamburger"></mat-icon>
  </mzima-client-button>
</mat-toolbar>

<app-mobile-menu></app-mobile-menu>

<mat-menu #accountMenu="matMenu" class="account-menu">
  <app-account-and-logout></app-account-and-logout>
</mat-menu>
