@import 'helpers';

.toolbar {
  top: 0;
  width: auto;
  z-index: 50;
  height: 72px;
  position: fixed;
  padding-left: 24px;
  padding-right: 24px;
  inset-inline-end: 0;
  color: var(--color-black);
  inset-inline-start: 220px;
  background: var(--color-light);
  border-bottom: 1px solid var(--color-neutral-30);

  @include breakpoint-max($laptop-small) {
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
    inset-inline-start: 200px;
  }

  @include breakpoint-max($tablet) {
    height: 80px;
    z-index: 600;
    inset-inline-start: 0;
  }

  &__back {
    --size: 32px;
    margin-inline-end: 8px;
  }

  &__controls {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    justify-content: flex-end;
  }

  &__search-form {
    flex: 1 1 100%;
  }

  &__button {
    min-width: 125px;
    margin-inline-start: 16px;

    @include breakpoint-max($laptop-small) {
      margin-inline-start: 8px;
    }
  }

  &__language {
    width: 50px;
    display: block;
    margin-inline-start: 16px;
  }

  &__page-title {
    margin: 0;
    font-size: $font-2xl;
    font-weight: 700;
    line-height: 1.2;

    @include breakpoint-max($laptop-small) {
      @include breakpoint-min($tablet) {
        display: none;
      }
    }

    @include breakpoint-max($tablet) {
      font-size: $font-xl;
      line-height: 1.28;
    }
  }
}

.account {
  height: 100%;
}

.search-form {
  flex: 1 1 100%;

  @include breakpoint-min($tablet) {
    max-width: 380px;
  }

  &::ng-deep {
    .mat-form-field-appearance-outline {
      .mat-input-element {
        max-width: none;
        background: none;
        box-sizing: border-box;
        height: calc(100% - 2px);
      }
    }
  }
}

.burger {
  padding: 0;
  display: flex;
  height: 48px;
  margin-top: 0;
  min-width: 48px;
  margin-bottom: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-inline-end: -8px;
  margin-inline-start: 0;
}

.menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 700;
  position: fixed;
  color: var(--color-neutral-50);
  background: var(--color-neutral-100);
  --scrollbar-color: var(--color-neutral-60);
  --scrollbar-background: var(--color-neutral-100);

  &:not(.menu--open) {
    opacity: 0;
    top: -9999px;
    left: -9999px;
    right: 9999px;
    bottom: 9999px;
  }

  &__head {
    display: flex;
    flex-shrink: 0;
    padding: 0 16px;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-neutral-90);

    &__close {
      --size: 40px;
      --icon-size: 32px;
      margin-inline-start: 24px;
      --color: var(--color-neutral-40);
      --background-color: var(--color-black);
      --border-color: var(--color-neutral-90);
      --hover-background-color: var(--color-black);
    }
  }

  &__body {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: calc(100% - 160px);
    -webkit-overflow-scrolling: touch;
  }

  &__footer {
    display: flex;
    flex-shrink: 0;
    padding: 16px 12px;
    background: var(--color-neutral-100);

    &__button {
      margin: 0 4px;
      flex: 1 1 calc(50% - 8px);
      --color: var(--color-light);
      --background-color: var(--color-black);
      --border-color: var(--color-neutral-20);
      --hover-background-color: var(--color-black);
    }
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  hr {
    height: 1px;
    border: none;
    margin: 4px 0;
    background: var(--color-neutral-90);
  }
}

.mobile-menu-button {
  display: flex;
  margin: 4px 0;
  padding: 0 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  font-weight: 400;
  text-align: start;
  line-height: 56px;
  align-items: center;
  text-decoration: none;
  justify-content: flex-start;
  color: var(--color-neutral-50);
  background: var(--color-neutral-100);

  &__icon {
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: $font-4xl;
    margin-right: 12px;
  }
}

::ng-deep {
  html.rtl {
    .toolbar__back .mat-icon {
      transform: scaleX(-1);
    }
  }
}
