@import 'apps/web-mzima-client/src/styles/helpers';

.main-form {
  @include breakpoint-min($tablet) {
    padding: 24px;
    position: relative;
    border-radius: 4px;
    margin: 0 -7px 24px;
    box-shadow: inset 0 0 0 1px var(--color-neutral-10);

    @include breakpoint-max($laptop-small) {
      padding: 16px;
    }
  }

  &__border {
    top: 0;
    bottom: 0;
    width: 4px;
    position: absolute;
    pointer-events: none;
    inset-inline-start: 0;
    background: var(--color);
    border-end-start-radius: 4px;
    border-start-start-radius: 4px;

    @include breakpoint-max($tablet) {
      top: 89px;
      left: 16px;
      right: 16px;
      z-index: 50;
      height: 6px;
      width: auto;
      bottom: auto;
      border-radius: 3px;
    }
  }
}

.form-head-panel {
  width: 100%;
}

.empty {
  display: flex;
  font-size: 20px;
  padding: 16px 0;
  line-height: 1.5;
  min-height: 100px;
  text-align: center;
  border-radius: 4px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--color-neutral-60);
  box-shadow: inset 0 0 0 1px var(--color-neutral-20);
}
