<form
  novalidate
  [formGroup]="form"
  class="main-form"
  (ngSubmit)="save()"
  [ngStyle]="{
    '--color': this.form.get('color')?.value
  }"
>
  <span class="main-form__border"></span>
  <app-settings-header
    [settingsTitle]="(!isEdit ? 'app.add_survey' : 'app.edit_survey') | translate"
    [newButtonTitle]="isDesktop ? 'translations.add_translation_lang' : 'Translation'"
    [isShowActionsButton]="false"
    [isShowCreation]="false"
    [isShowTranslation]="true"
    [selectedLanguage]="selectedLang"
    [languages]="activeLanguages"
    [defaultLanguage]="defaultLanguage"
    (showLanguagesCall)="addTranslation()"
    (selectLanguageCall)="chooseTranslation($event)"
  >
  </app-settings-header>

  <app-survey-task
    #configTask
    [task]="mainPost"
    [roles]="roles"
    [isMain]="true"
    [survey]="surveyObject"
    (taskChange)="taskUpdate($event)"
    *ngIf="mainPost"
    (colorSelected)="setNewColor($event)"
    (languageChange)="languageChange($event)"
    [isDefaultLanguageSelected]="isDefaultLanguageSelected"
    [selectLanguageCode]="selectLanguageCode"
  >
    <ng-container survey-info>
      <div class="form-row">
        <mat-label>{{ 'survey.survey_name' | translate }} *</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="name"
            [placeholder]="'survey.survey_name' | translate"
            [readonly]="!isDefaultLanguageSelected"
          />
          <mat-error *ngIf="form.get('name')?.hasError('required')">
            {{ 'survey.fields.validation.required' | translate }}
          </mat-error>
          <mat-error
            *ngIf="form.get('name')?.hasError('specialCharacters')"
            [translate]="'survey.fields.validation.special_characters'"
            [translateParams]="{ name: ('survey.survey_name' | translate) }"
          >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row" *ngIf="!isDefaultLanguageSelected">
        <mat-label> {{ 'survey.survey_name' | translate }} ({{ selectLanguageCode }})</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            [placeholder]="'survey.survey_name' | translate"
            [value]="form.get('translations')?.value[selectLanguageCode]?.name"
            (change)="setTranslates(selectLanguageCode, 'name', $event)"
            [data-qa]="'survey-name-' + selectLanguageCode"
          />
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-label>{{ 'survey.description' | translate }}</mat-label>
        <mat-form-field appearance="outline">
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            [placeholder]="'survey.description' | translate"
            formControlName="description"
            [data-qa]="'description'"
            [readonly]="!isDefaultLanguageSelected"
          >
          </textarea>
        </mat-form-field>
      </div>

      <div class="form-row" *ngIf="!isDefaultLanguageSelected">
        <mat-label> {{ 'survey.description' | translate }} ({{ selectLanguageCode }})</mat-label>
        <mat-form-field appearance="outline">
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            [placeholder]="'survey.description' | translate"
            [value]="form.get('translations')?.value[selectLanguageCode]?.description"
            (change)="setTranslates(selectLanguageCode, 'description', $event)"
            [data-qa]="'survey-description-' + selectLanguageCode"
          >
          </textarea>
        </mat-form-field>
      </div>
    </ng-container>
  </app-survey-task>
</form>

<div class="form-head-panel">
  <h1>{{ 'survey.tasks' | translate }}</h1>
  <mzima-client-button
    color="secondary"
    fill="outline"
    (click)="addTask()"
    [data-qa]="'btn-add-task'"
    *ngIf="isDefaultLanguageSelected"
    aria-label="Add a new task"
  >
    <span>{{ 'survey.add_task' | translate }}</span>
    <mat-icon icon svgIcon="plus" aria-label="Add new task"></mat-icon>
  </mzima-client-button>
</div>

<ng-container *ngIf="additionalTasks?.length; else noTasks">
  <app-survey-task
    *ngFor="let task of additionalTasks"
    [task]="task"
    [isDefaultLanguageSelected]="isDefaultLanguageSelected"
    [selectLanguageCode]="selectLanguageCode"
    (deleteTaskChange)="deleteTask($event)"
    (duplicateTaskChange)="duplicateTask($event)"
    (errorFieldChange)="setErrorTaskField($event)"
  ></app-survey-task>
</ng-container>

<ng-template #noTasks>
  <div class="form-row empty">{{ 'survey.no_tasks' | translate }}</div>
</ng-template>

<div class="form-controls-spacer" *ngIf="!isDesktop"></div>

<div class="form-controls-panel form-controls-panel--sticky">
  <mzima-client-button
    fill="outline"
    color="secondary"
    (buttonClick)="cancel()"
    [data-qa]="'btn-cancel-survey-item'"
    aria-label="Cancel editing this survey item"
  >
    {{ 'app.cancel' | translate }}
  </mzima-client-button>
  <mzima-client-button
    (buttonClick)="save()"
    [disabled]="form.invalid || form.disabled || errorTaskField || submitted"
    [data-qa]="'btn-save-survey-item'"
    ariaLabel="{{
      (isEdit ? 'Save changes to this survey item' : 'Add this new survey item') | translate
    }}"
  >
    {{ (isEdit ? 'app.save' : 'app.add_survey') | translate }}
  </mzima-client-button>
</div>

<pre [style]="{ display: 'none' }">task</pre>
