<h1 *ngIf="isDesktop">
  {{ (isCreateWebhook ? 'app.add_webhook' : 'app.edit_webhook') | translate }}
</h1>

<form class="form" *ngIf="form" [formGroup]="form" (ngSubmit)="save()" novalidate>
  <div class="form-row">
    <mat-label>{{ 'webhook.name' | translate }} <span class="color-accent">*</span></mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="{{ 'settings.webhooks.placeholder.name' | translate }}"
        formControlName="name"
        required
      />
      <mat-error *ngIf="form.get('name')?.hasError('required')">{{
        'settings.webhooks.validation.required.name' | translate
      }}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>
      {{ 'webhook.shared_secret' | translate }} <span class="color-accent">*</span>
    </mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="{{ 'settings.webhooks.placeholder.shared_secret' | translate }}"
        formControlName="shared_secret"
        required
      />
      <mat-error *ngIf="form.get('shared_secret')?.hasError('required')">
        {{ 'settings.webhooks.validation.required.shared_secret' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('shared_secret')?.hasError('minlength')">
        {{ 'settings.webhooks.validation.secret_key_cannot_be_less_start' | translate }}
        {{ form.get('shared_secret')?.errors?.['minlength']['requiredLength'] }}
        {{ 'settings.webhooks.validation.secret_key_cannot_be_less_end' | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>{{ 'webhook.url' | translate }} <span class="color-accent">*</span></mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="{{ 'settings.webhooks.placeholder.api_url' | translate }}"
        formControlName="url"
        required
      />
      <mat-error *ngIf="form.get('url')?.hasError('required')">{{
        'settings.webhooks.validation.required.api_url' | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('url')?.hasError('pattern')">
        {{ 'settings.webhooks.validation.please_provide_valid_api_url' | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>
      {{ 'webhook.event_type' | translate }} <span class="color-accent">*</span>
    </mat-label>
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="event_type"
        disableOptionCentering
        [data-qa]="'webhook-event-select'"
        aria-label="Select event_type"
      >
        <mat-option *ngFor="let event of eventList" [value]="event.value" [data-qa]="event.value">
          {{ event.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('event_type')?.invalid">{{
        'settings.webhooks.validation.required.event_type' | translate
      }}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>
      {{ 'webhook.entity_type' | translate }} <span class="color-accent">*</span>
    </mat-label>
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="entity_type"
        disableOptionCentering
        [data-qa]="'webhook-entity-select'"
        aria-label="Select entity_type"
      >
        <mat-option
          *ngFor="let entity of entityList"
          [value]="entity.value"
          [data-qa]="entity.value"
        >
          {{ entity.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('entity_type')?.invalid">{{
        'settings.webhooks.validation.required.event_entity' | translate
      }}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <div class="toggle">
      <mat-slide-toggle
        formControlName="is_source_destination"
        name="first-name"
        [data-qa]="'source-destination-toogle'"
      >
        {{ 'settings.webhooks.enable_source_destination' | translate }}
      </mat-slide-toggle>
    </div>
  </div>

  <div class="source-destination-wrapper" *ngIf="form.get('is_source_destination')?.value">
    <p>{{ 'settings.webhooks.enable_source_destination_desc' | translate }}</p>
    <div class="form-row">
      <mat-label>
        {{ 'settings.webhooks.use_webhook_for' | translate }}
        <span *ngIf="!form.get('form_id')?.value">
          <strong>{{ 'data_import.which_survey' | translate }}</strong>
        </span>
      </mat-label>
      <mat-form-field appearance="outline">
        <mat-select
          formControlName="form_id"
          disableOptionCentering
          [data-qa]="'survey-select'"
          aria-label="Select Survey"
        >
          <mat-option *ngFor="let survey of surveyList" [value]="survey.id" [data-qa]="survey.name">
            {{ survey.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row" *ngIf="form.get('form_id')?.value">
      <h2>{{ 'survey.choose_survey_field' | translate }}</h2>
      <p>
        {{
          'survey.choose_survey_field_desc'
            | translate : { datasource_type: getSurveyName(form.get('form_id')?.value) }
        }}
      </p>

      <table mat-table [dataSource]="fields" class="webhook__table" *ngIf="fields">
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="field">
          <th mat-header-cell *matHeaderCellDef>{{ 'survey.survey_field' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <div class="form-row">
              <mat-form-field appearance="outline">
                <mat-select
                  [formControlName]="element.control"
                  disableOptionCentering
                  [data-qa]="'source-select'"
                  aria-label="Select Source"
                >
                  <mat-option
                    *ngFor="let attribute of surveyAttributesList"
                    [value]="attribute.key"
                    [data-qa]="attribute.key"
                  >
                    {{ attribute.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['type', 'field']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['type', 'field']"></tr>
      </table>
    </div>
  </div>

  <div class="form-controls-spacer" *ngIf="!isDesktop"></div>
  <div class="form-controls-panel form-controls-panel--sticky">
    <div>
      <mzima-client-button
        color="danger"
        [data-qa]="'btn-webhook-delete'"
        (buttonClick)="openDialog()"
        *ngIf="!isCreateWebhook"
        [disabled]="!form.get('id')?.value"
        [iconOnly]="!isDesktop"
        class="delete-btn"
      >
        <ng-container *ngIf="isDesktop">{{ 'app.delete' | translate }}</ng-container>
        <mat-icon *ngIf="!isDesktop" icon svgIcon="delete"></mat-icon>
      </mzima-client-button>
    </div>
    <div>
      <mzima-client-button
        type="button"
        fill="outline"
        color="secondary"
        (buttonClick)="cancel()"
        [data-qa]="'btn-webhook-cancel'"
      >
        {{ 'app.cancel' | translate }}
      </mzima-client-button>
      <mzima-client-button
        type="submit"
        [disabled]="form.invalid || submitted"
        [data-qa]="'btn-webhook-save'"
      >
        {{ (isCreateWebhook ? 'app.save' : 'app.edit') | translate }}
      </mzima-client-button>
    </div>
  </div>
</form>
