@import 'apps/web-mzima-client/src/styles/helpers';

h1 {
  margin-bottom: 32px;
}

.form-controls-panel {
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.webhook {
  margin-bottom: 32px;

  &__table {
    width: 100%;

    .form-row {
      margin: 8px 0;
    }
  }
}

.delete-button {
  @include breakpoint-max($tablet) {
    padding: 0;
    display: flex;
    height: 48px;
    min-width: 64px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 0 1px var(--color-neutral-60) !important;
  }
}
