@import 'helpers';

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: underline;
  color: var(--color-primary-60);

  @include breakpoint-max($tablet) {
    margin-top: -16px;

    .mat-button {
      font-size: $font-base;
      font-weight: 700;
      line-height: 44px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
