.edit-button {
  --size: 48px;
  --icon-size: 24px;
  margin-left: 16px;
  --button-padding-end: 24px;
  --button-padding-start: 24px;
  color: var(--color-primary-40);
}

.empty-box {
  height: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
