.location-select {
  &__title {
    margin: 0 0 4px;
    font-size: 12px;
    line-height: 1.6;
    font-weight: normal;
  }
}

.location-control {
  &__icon {
    top: 4px;
    width: 1em;
    height: 1em;
    font-size: 20px;
    margin-right: 8px;
    position: relative;
  }

  &__clear {
    margin-left: 8px;
  }
}
