<h1 *ngIf="isDesktop$ | async">{{ 'settings.settings_list.general' | translate }}</h1>
<form [formGroup]="generalForm" (ngSubmit)="save()" novalidate>
  <div class="form-row">
    <mat-label>{{ 'settings.deployment_name' | translate }} *</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="{{ 'settings.deployment_name' | translate }}"
        formControlName="name"
        [data-qa]="'name'"
        required
      />
    </mat-form-field>
    <mat-error *ngIf="generalForm.get('name')?.hasError('required')" class="form-row__error">
      {{ 'settings.valid.name.required' | translate }}
    </mat-error>
    <mat-error
      *ngIf="generalForm.get('name')?.hasError('specialCharacters')"
      class="form-row__error"
    >
      {{ 'settings.valid.name.pattern' | translate }}
    </mat-error>
    <mat-error *ngIf="generalForm.get('name')?.hasError('minlength')" class="form-row__error">
      {{ 'settings.valid.name.minlength' | translate }}
    </mat-error>
  </div>
  <div class="form-row">
    <mat-label>{{ 'settings.site_description' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMaxRows="10"
        [cdkAutosizeMinRows]="(isDesktop$ | async) ? 6 : 3"
        placeholder="{{ 'settings.site_description' | translate }}"
        formControlName="description"
        [data-qa]="'description'"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-label>{{ 'settings.deployment_logo' | translate }}</mat-label>
    <app-file-uploader
      [imageSrc]="siteConfig.image_header"
      (fileUpload)="fileUploaded($event)"
      (delete)="headerImageDeleted()"
    >
    </app-file-uploader>
  </div>
  <div class="form-row">
    <mat-label>{{ 'settings.site_email' | translate }} *</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="name@domain.com"
        formControlName="email"
        required
        [data-qa]="'email'"
      />
    </mat-form-field>
    <ng-container *ngIf="generalForm.get('email')?.invalid">
      <mat-error
        *ngFor="let error of generalForm.get('email')?.errors | keyvalue"
        class="form-row__error"
      >
        {{ 'contact.valid.email.' + error.key | translate }}
      </mat-error>
    </ng-container>
  </div>
  <div class="form-row">
    <mat-label>{{ 'settings.site_language' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <mat-select formControlName="language" disableOptionCentering [data-qa]="'language'">
        <mat-option *ngFor="let lang of langService.getLanguages()" [value]="lang.code">
          {{ lang.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>{{ 'settings.general_settings.private_settings' | translate }}</mat-label>
    <div class="checkbox-group">
      <div class="checkbox">
        <!-- FIXME: isPrivateEnabled -->
        <mat-checkbox [data-qa]="'site-private'" formControlName="private">
          {{ 'settings.site_private' | translate }}
        </mat-checkbox>
        <p class="small">{{ 'settings.site_private_desc' | translate }}</p>
      </div>
      <div class="checkbox">
        <!-- FIXME: isDisableRegistrationEnabled -->
        <mat-checkbox
          [data-qa]="'site-disable-registration'"
          formControlName="disable_registration"
        >
          {{ 'settings.site_disable_registration' | translate }}
        </mat-checkbox>
        <p translate="settings.site_disable_registration_desc"></p>
      </div>
    </div>
  </div>
</form>

<div class="api-key">
  <div class="form-row" *ngIf="apiKey">
    <mat-label>{{ 'settings.general_settings.api_key' | translate }}</mat-label>
    <mat-form-field appearance="outline" class="copy">
      <input matInput [value]="apiKey.api_key" readonly [data-qa]="'api_key'" />
      <div class="copy-success" *ngIf="copySuccess">{{ 'share.copied' | translate }}</div>

      <mzima-client-button
        matSuffix
        fill="clear"
        ariaLabel="Copy API Key to clipboard"
        color="secondary"
        [iconOnly]="true"
        [disabled]="copySuccess"
        (buttonClick)="copyToClipboard(apiKey.api_key)"
      >
        <mat-icon icon svgIcon="copy"></mat-icon>
      </mzima-client-button>

      <mat-hint>{{ 'settings.api_key_desc' | translate }}</mat-hint>
    </mat-form-field>
  </div>

  <mzima-client-button
    fill="outline"
    [expand]="false"
    ariaLabel="Generate a new API key"
    color="secondary"
    (click)="generateApiKey()"
    [data-qa]="'generate-api-key'"
  >
    <span>{{ 'settings.general_settings.generate_api_key' | translate }}</span>
    <mat-icon icon svgIcon="key"></mat-icon>
  </mzima-client-button>
</div>

<app-settings-map
  #mapSettings
  [minObfuscation]="minObfuscation"
  [maxObfuscation]="maxObfuscation"
></app-settings-map>

<div class="form-controls-spacer" *ngIf="!(isDesktop$ | async)!"></div>
<div class="form-controls-panel form-controls-panel--sticky">
  <mzima-client-button
    type="button"
    fill="outline"
    color="secondary"
    ariaLabel="Cancel changes and close settings panel"
    routerLink="/settings"
    [data-qa]="'btn-cancel'"
    *ngIf="!(isDesktop$ | async)!"
  >
    {{ 'app.cancel' | translate }}
  </mzima-client-button>
  <mzima-client-button
    type="submit"
    data-qa="btn-save"
    ariaLabel="Save changes to your account"
    (buttonClick)="save()"
    [disabled]="
      generalForm.invalid ||
      generalForm.disabled ||
      submitted ||
      !isIntegerAndZeroToNine(mapSettings.mapConfig.location_precision)
    "
  >
    {{ 'app.save' | translate }}
  </mzima-client-button>
</div>
