@import 'apps/web-mzima-client/src/styles/helpers';

.api-key {
  margin-bottom: 24px;

  .form-row {
    margin-bottom: 16px;
  }
}

.copy {
  position: relative;

  &-success {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
    color: var(--color-success);
  }
}
