<div class="webhook-wrapper">
  <div class="webhook">
    <p>
      <button mat-raised-button routerLink="create" color="primary" data-qa="btn-webhook-create">
        Create Webhook
      </button>
    </p>
    <ul class="webhook-item-list">
      <li
        class="webhook-item"
        *ngFor="let webhook of webhookList"
        [routerLink]="[webhook.id]"
        [routerLinkActive]="'active'"
        [data-qa]="webhook.name"
      >
        {{ webhook.name }}
      </li>
    </ul>
  </div>
  <div class="webhook-item-container">
    <router-outlet></router-outlet>
  </div>
</div>
