<ng-container *ngIf="webhookList">
  <div class="form-head-panel">
    <h1 *ngIf="isDesktop">{{ 'app.webhooks' | translate }}</h1>
    <button
      type="button"
      color="primary"
      mat-raised-button
      [routerLink]="['create']"
      data-qa="btn-webhook-create"
    >
      <span>{{ 'webhook.add_webhook' | translate }}</span>
      <mat-icon svgIcon="plus"></mat-icon>
    </button>
  </div>

  <div class="webhook-item-list" data-qa="webhook-list">
    <a
      mat-ripple
      class="webhook-item"
      *ngFor="let webhook of webhookList"
      [routerLink]="[webhook.id]"
      [routerLinkActive]="'active'"
      [data-qa]="webhook.name"
    >
      {{ webhook.name }}
    </a>
  </div>
</ng-container>
