<div class="webhook-wrapper">
  <div class="webhook">
    <button routerLink="create" class="ushahidi-btn primary-btn webhook-create">
      Create Webhook
    </button>
    <ul class="webhook-item-list">
      <li
        class="webhook-item"
        *ngFor="let webhook of webhookList"
        [routerLink]="[webhook.id]"
        [routerLinkActive]="'active'"
      >
        {{ webhook.name }}
      </li>
    </ul>
  </div>
  <div class="webhook-item-container">
    <router-outlet></router-outlet>
  </div>
</div>
