<mzima-client-button
  tabindex="-1"
  fill="outline"
  [iconOnly]="true"
  color="light-gray"
  [data-qa]="'btn-close'"
  class="modal__close-btn"
  [mat-dialog-close]="false"
  ariaLabel="{{ 'modal.button.close' | translate }}"
>
  <mat-icon icon svgIcon="close" aria-label="Close"></mat-icon>
</mzima-client-button>

<strong mat-dialog-title>{{
  isTranslateMode ? ('form.translate_field' | translate) : ('form.add_field' | translate)
}}</strong>
<mat-dialog-content>
  <ng-container *ngIf="selectedFieldType; else allFields">
    <ng-container *ngIf="!isTranslateMode; else translateMode">
      <div class="form-row">
        <mat-label>{{ 'app.name' | translate }}</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            required
            [(ngModel)]="selectedFieldType.label"
            placeholder="{{ 'form.field_name_placeholder' | translate }}"
            [data-qa]="'selected-field-name'"
          />
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-label>{{ 'survey.show_field_description' | translate }} </mat-label>
        <quill-editor
          [(ngModel)]="selectedFieldType.instructions"
          placeholder="{{ 'app.insert_text_here' | translate }}"
          [data-qa]="'selected-field-description'"
        ></quill-editor>
      </div>

      <!-- Has options -->
      <div class="form-row" *ngIf="hasOptions">
        <div class="form-head-panel">
          <mat-label class="form-label" [data-qa]="'field-options'"
            >{{ 'form.field_options' | translate }}
          </mat-label>

          <mzima-client-button
            fill="outline"
            color="secondary"
            (buttonClick)="addOption()"
            [data-qa]="'btn-add-option'"
            aria-label="Add a new option"
          >
            {{ 'form.field_add_option' | translate }}
            <mat-icon icon svgIcon="plus" aria-label="Add new option"></mat-icon>
          </mzima-client-button>
        </div>

        <div class="form-row__item" *ngFor="let option of fieldOptions; let i = index">
          <mat-form-field appearance="outline">
            <input
              matInput
              [(ngModel)]="option.value"
              (input)="onChange(i)"
              placeholder="{{ 'form.field_name_placeholder' | translate }}"
              [data-qa]="'option-' + i"
            />

            <mzima-client-button
              matSuffix
              fill="clear"
              color="danger"
              [iconOnly]="true"
              class="button-flat button-beta"
              (buttonClick)="removeOption(i)"
              *ngIf="selectedFieldType.options.length > 1"
              [data-qa]="'btn-remove-option-' + i"
              aria-label="Remove Option"
            >
              <mat-icon icon svgIcon="delete" aria-label="Delete Option"></mat-icon>
            </mzima-client-button>
          </mat-form-field>
          <mat-error role="alert" *ngIf="option.error">
            {{ option.error | translate }}
          </mat-error>
        </div>
      </div>

      <div class="form-row" *ngIf="selectedFieldType.input === 'tags'">
        <ng-container *ngIf="availableCategories; else spinner">
          <mat-label>{{ 'category.which_categories' | translate }}</mat-label>
          <app-multilevel-selection
            [data]="availableCategories"
            [(ngModel)]="selectedFieldType.options"
          >
          </app-multilevel-selection>
        </ng-container>
      </div>

      <div class="form-row" *ngIf="selectedFieldType.input === 'relation'">
        <app-multilevel-select
          [(ngModel)]="selectedFieldType.config.input.form"
          [placeholder]="'survey.select_related_post' | translate"
          [data]="availableSurveys"
          [label]="'survey.field_allowed_relation_survey' | translate"
        >
        </app-multilevel-select>
      </div>

      <div class="form-row" *ngIf="onlyOptional || canDisableCaption || canMakePrivate">
        <div class="toggle">
          <mat-slide-toggle
            *ngIf="onlyOptional"
            [(ngModel)]="selectedFieldType.required"
            [data-qa]="'toggle-required'"
          >
            {{ 'survey.required' | translate }}
          </mat-slide-toggle>
        </div>

        <div class="toggle">
          <mat-slide-toggle
            *ngIf="canDisableCaption"
            [(ngModel)]="selectedFieldType.config.hasCaption"
          >
            {{ 'survey.collect_image_caption' | translate }}
            <p class="init active" *ngIf="!selectedFieldType.config?.hasCaption">
              <small>{{ 'survey.disable_caption_field_explanation' | translate }}</small>
            </p>
          </mat-slide-toggle>
        </div>

        <div class="toggle">
          <mat-slide-toggle
            *ngIf="canMakePrivate"
            [(ngModel)]="selectedFieldType.response_private"
            [data-qa]="'toggle-private'"
          >
            {{ 'survey.make_response_private' | translate }}
            <p class="init active" *ngIf="selectedFieldType.response_private">
              <small>{{ 'survey.response_private_desc' | translate }}</small>
            </p>
          </mat-slide-toggle>
        </div>
      </div>

      <div id="field_value" class="form-row" *ngIf="canDisplay">
        <mat-label>{{ 'app.default_value' | translate }} </mat-label>
        <mat-form-field appearance="outline">
          <ng-container [ngSwitch]="selectedFieldType.type">
            <input
              *ngSwitchCase="'int'"
              matInput
              [(ngModel)]="selectedFieldType.default"
              type="number"
              step="1"
              [data-qa]="'default-number'"
            />
            <input
              *ngSwitchCase="'decimal'"
              matInput
              [(ngModel)]="selectedFieldType.default"
              type="text"
              [data-qa]="'default-number'"
            />
            <input
              *ngSwitchDefault
              matInput
              [(ngModel)]="selectedFieldType.default"
              placeholder="{{ 'form.default_default_placeholder' | translate }}"
              [data-qa]="'default-value'"
            />
          </ng-container>
          <mat-hint
            *ngIf="numberError"
            class="alert error"
            [translate]="'form.error_input_number'"
            [translateParams]="{ type: selectedFieldType.type }"
          >
          </mat-hint>
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <mzima-client-button
    fill="outline"
    color="secondary"
    [mat-dialog-close]="false"
    [data-qa]="'btn-cancel-field'"
    aria-label="Cancel creating this field"
  >
    {{ 'app.cancel' | translate }}
  </mzima-client-button>
  <mzima-client-button
    (buttonClick)="addNewTask()"
    [disabled]="
      !selectedFieldType?.label.trim()?.length ||
      !validateDuplicate() ||
      emptyTitleOption ||
      checkForSpecialOptions()
    "
    [data-qa]="'btn-add-field'"
    ariaLabel="{{ (editMode ? 'Update this field' : 'Save this field') | translate }}."
  >
    {{ (editMode ? 'app.update' : 'app.save') | translate }}
  </mzima-client-button>
</div>

<ng-template #allFields>
  <div class="fields-list">
    <div
      matRipple
      class="list-item"
      *ngFor="let field of fields"
      (click)="(field.input !== 'tags' || availableCategories?.length) && selectField(field)"
      [ngClass]="{ 'list-item--disabled': field.input === 'tags' && !availableCategories?.length }"
      [data-qa]="'select-' + field.label"
    >
      <h3>{{ field.label | translate }}</h3>
      <p>{{ field.instructions | translate }}</p>
    </div>
  </div>
</ng-template>

<ng-template #translateMode>
  <div class="form-row">
    <mat-label>{{ 'app.name' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        required
        [(ngModel)]="selectedFieldType.label"
        placeholder="{{ 'form.field_name_placeholder' | translate }}"
        disabled
      />
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-label>{{ 'app.name' | translate }} ({{ selectLanguageCode }})</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        required
        [(ngModel)]="selectedFieldType.translations[selectLanguageCode].label"
        placeholder="{{ 'form.field_name_placeholder' | translate }}"
      />
    </mat-form-field>
  </div>
  <ng-container *ngIf="selectedFieldType.instructions">
    <div class="form-row">
      <mat-label>{{ 'survey.show_field_description' | translate }}</mat-label>
      <quill-editor
        [(ngModel)]="selectedFieldType.instructions"
        placeholder="{{ 'app.insert_text_here' | translate }}"
        [disabled]="true"
      ></quill-editor>
    </div>
    <div class="form-row">
      <mat-label
        >{{ 'survey.show_field_description' | translate }} ({{ selectLanguageCode }})</mat-label
      >
      <quill-editor
        [(ngModel)]="selectedFieldType.translations[selectLanguageCode].instructions"
        placeholder="{{ 'app.insert_text_here' | translate }}"
      ></quill-editor>
    </div>
  </ng-container>
</ng-template>

<ng-template #spinner>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
