@import 'helpers';

.fields-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  justify-content: flex-start;
}

.list-item {
  padding: 8px;
  cursor: pointer;
  font-size: $font-sm;
  line-height: 1.3;
  user-select: none;
  margin: 0 8px 16px;
  width: calc(50% - 16px);
  color: var(--color-neutral-90);
  background: var(--color-neutral-10);
  box-shadow: inset 0 0 0 1px var(--color-neutral-10);

  @include breakpoint-max($mobile) {
    width: calc(100% - 16px);
  }

  h3 {
    font-size: $font-base;
    line-height: 1.5;
    margin-bottom: 4px;
    color: var(--color-black);
  }

  p {
    margin-bottom: 0;
  }

  &--disabled {
    cursor: default;
    color: var(--color-neutral-60);

    h3 {
      color: inherit;
    }
  }
}

.mat-slide-toggle {
  height: auto;
  display: block;

  &::ng-deep {
    .mat-slide-toggle {
      &-label {
        small {
          font-size: $font-xs;
          line-height: 1.4;
        }

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &-bar {
        margin-top: 5px;
      }
    }
  }
}

quill-editor {
  width: 100%;
}

.spinner {
  display: block;
  margin-top: 60px;
}

.form-row {
  &__item {
    margin-bottom: 8px;
  }

  .form-head-panel {
    margin-bottom: 8px;
  }
}
