.body {
  --padding-bottom: 24px;
  flex: 1 1 calc(100% + var(--ion-padding));
}

.spinner-container {
  display: flex;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer {
  box-shadow: none;

  &:before {
    height: 1px;
    background: var(--ion-color-step-200);
  }

  &__toolbar {
    --border-style: solid;
    --border-width: 1px 0 0;
    --min-height: calc(84px + var(--ion-safe-area-bottom));
    --padding-top: 16px;
    --padding-bottom: calc(16px + var(--ion-safe-area-bottom));
    --padding-start: 24px;
    --padding-end: 24px;
    padding-bottom: 0 !important;

    @media (prefers-color-scheme: light) {
      --border-color: var(--ion-color-step-200);
    }

    @media (prefers-color-scheme: dark) {
      --border-color: var(--ion-border-color);
    }
  }
}

.btn-panel {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  app-button {
    --button-padding-end: 24px;
    --button-padding-start: 24px;
  }
}

.button-add {
  font-weight: 600;
  --border-width: 0 0 1px;
  --background: transparent;
  --border-color: var(--ion-color-step-200);
  --padding-start: 16px;
  --padding-end: 20px;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 8px;
  --padding-end: 8px;
  --min-height: 55px;
  --ripple-color: var(--ion-color-primary);

  @media (prefers-color-scheme: light) {
    --color: var(--color-primary-40);
  }

  @media (prefers-color-scheme: dark) {
    --color: var(--ion-color-primary);
  }

  &__icon {
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 40px;
    margin-right: 16px;
  }
}

.multiselect-option {
  --border-width: 0 0 1px;
  --background: transparent;
  --border-color: var(--ion-color-step-200);
  --padding-start: 16px;
  --padding-end: 20px;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --min-height: 55px;
  --ripple-color: var(--ion-color-primary);

  &__visual {
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    margin: 0 16px 0 0;
    color: var(--ion-background-color);

    @media (prefers-color-scheme: light) {
      background: var(--item-color, var(--ion-color-step-400));
    }

    @media (prefers-color-scheme: dark) {
      background: var(--item-color, var(--ion-color-step-750));
    }
  }

  &__info {
    display: block;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: var(--ion-color-medium);
  }

  &__details {
    line-height: 1;
    font-size: 24px;
    margin-left: 28px;

    @media (prefers-color-scheme: dark) {
      color: var(--ion-color-step-700);
    }
  }
}

.subcategories-modal {
  &__total-posts {
    font-size: 14px;
    margin-left: 8px;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    letter-spacing: 0.25px;

    &__count {
      @media (prefers-color-scheme: light) {
        color: var(--color-primary-40);
      }

      @media (prefers-color-scheme: dark) {
        color: var(--ion-color-primary);
      }
    }
  }

  &__footer {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__button {
    --button-padding-end: 24px;
    --button-padding-start: 24px;
  }

  &__filters {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    margin: calc(var(--ion-padding) * -1) calc(var(--ion-padding) * -1) 0;
  }
}

.empty {
  display: flex;
  min-height: 100%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
