<ion-content class="body">
  <ng-container *ngIf="!isOptionsLoading; else spinner">
    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="filterType.SELECT">
        <ion-item
          class="button-add"
          *ngIf="filter.name === 'saved-filters' && isLoggedIn"
          button
          lines="none"
          (click)="addClickHandle()"
        >
          <app-icon class="button-add__icon" name="add" slot="start"></app-icon>
          Add new filters setting
        </ion-item>
        <ion-radio-group
          *ngIf="options.length"
          [value]="value"
          (ionChange)="radioChangeHandle($event)"
        >
          <app-radio [value]="null">
            All filters
            <ion-text class="info" color="medium">Applied filters: all</ion-text>
          </app-radio>
          <app-radio
            *ngFor="let option of options"
            [value]="option.value"
            [editable]="true"
            [deletable]="true"
            (optionDelete)="deleteOption(option)"
            (optionEdit)="editOption(option)"
          >
            {{ option.label }}
            <span class="info">{{ option.info }}</span>
          </app-radio>
        </ion-radio-group>
      </ng-container>
      <ng-container *ngSwitchCase="filterType.MULTISELECT">
        <app-checkbox
          type="item"
          *ngFor="let option of options"
          [checked]="value.has(option.value)"
          (checkboxChange)="optionChanged($event, option)"
        >
          {{ option.label }}
        </app-checkbox>
      </ng-container>
      <ng-container *ngSwitchCase="filterType.MULTILEVELSELECT">
        <ng-container *ngFor="let option of options">
          <app-checkbox
            type="item"
            [(ngModel)]="option.checked"
            *ngIf="!option.options?.length"
            (checkboxChange)="optionChanged($event, option)"
          >
            {{ option.label }}
          </app-checkbox>
          <ion-item
            button
            class="multiselect-option"
            lines="none"
            *ngIf="option.options?.length"
            (click)="showSubcategories(option)"
          >
            <ion-avatar
              slot="start"
              class="multiselect-option__visual"
              [ngStyle]="{ '--item-color': option.color }"
            >
              {{ getFirstLetter(option.label) }}
            </ion-avatar>
            <div>
              {{ option.label }}
              <span class="multiselect-option__info">
                Selected {{ getCheckedSubcategoriesLength(option.options) }} of
                {{ option.options?.length }}
              </span>
            </div>
            <app-icon class="multiselect-option__details" slot="end" name="arrow-right"></app-icon>
          </ion-item>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="filterType.DATE">
        <app-date-select [(ngModel)]="value" (ngModelChange)="isPristine = false"></app-date-select>
      </ng-container>
      <ng-container *ngSwitchCase="filterType.LOCATION">
        <app-location-select
          [(ngModel)]="value"
          (ngModelChange)="isPristine = false"
        ></app-location-select>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar class="footer__toolbar">
    <div class="btn-panel">
      <app-button expand="inline" [disabled]="isPristine" (buttonClick)="applyFilter()">
        Apply
      </app-button>
      <app-button
        clear-btn
        fill="outline"
        color="medium"
        expand="inline"
        class="filters-modal__button"
        (buttonClick)="clearFilter()"
        *ngIf="filter.name !== 'saved-filters'"
      >
        Clear
      </app-button>
    </div>
  </ion-toolbar>
</ion-footer>

<ng-template #spinner>
  <div class="spinner-container">
    <app-spinner *ngIf="isOptionsLoading"></app-spinner>
  </div>
</ng-template>

<app-modal
  class="subcategories-modal"
  [isOpen]="!!selectedCategory"
  (modalClose)="modalCloseHandle()"
  *ngIf="type === filterType.MULTILEVELSELECT"
  [options]="{
    footer: true,
    offsetBottom: false
  }"
>
  <div class="subcategories-modal__header" header>
    <span class="subcategories-modal__title">{{ selectedCategory?.label }}</span>
    <ion-text color="medium" class="subcategories-modal__total-posts">
      Found posts:
      <strong class="subcategories-modal__total-posts__count">{{ totalPosts }}</strong>
    </ion-text>
  </div>
  <div class="subcategories-modal__filters">
    <app-checkbox
      type="item"
      [(ngModel)]="option.checked"
      *ngFor="let option of selectedCategory?.options"
      (ngModelChange)="isSubcategoriesPristine = false"
    >
      {{ option.label }}
    </app-checkbox>
  </div>
  <div class="subcategories-modal__footer" footer>
    <app-button
      expand="inline"
      class="subcategories-modal__button"
      [disabled]="isSubcategoriesPristine"
      (buttonClick)="applySelectedSubcategories()"
    >
      Apply
    </app-button>
    <app-button
      fill="outline"
      color="medium"
      expand="inline"
      class="subcategories-modal__button"
      (buttonClick)="clearSelectedSubcategories()"
    >
      Clear
    </app-button>
  </div>
</app-modal>
