@import 'helpers';

.category-item {
  z-index: 1;
  padding: 13.5px 16px;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.35s ease;
  background: var(--color-neutral-10);
  margin-bottom: 8px;
  border: 1px solid var(--color-neutral-20);
  border-radius: 4px;
  cursor: pointer;

  &--selected {
    background: var(--color-primary-90);
  }

  &__checkbox {
    font-size: $font-sm;
  }

  &__content {
    flex: 1 1 100%;
  }

  &__title {
    margin-bottom: 0;
    font-size: $font-sm;
    line-height: 28px;
    font-weight: 700;

    &--lvl2 {
      font-weight: 400;
    }

    a {
      color: inherit;
      vertical-align: top;
      display: inline-block;
      text-decoration: none;
      transition: color 0.35s ease;

      &:hover {
        color: var(--color-primary-60);
      }
    }
  }

  &__controls {
    margin-inline-start: 24px;
  }

  &__expand {
    overflow: visible;
  }

  &__arrow {
    transition: transform 0.35s ease;
  }

  &--expanded {
    transform: rotate(180deg);
  }
}
