.category-item {
  z-index: 1;
  padding: 13.5px 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  transition: background-color 0.35s ease;
  background: var(--color-neutral-10);
  margin-bottom: 8px;
  border: 1px solid var(--color-neutral-20);
  border-radius: 4px;
  cursor: pointer;

  &--selected {
    background: var(--color-primary-90);
  }

  &__checkbox {
    font-size: 14px;
  }

  &__content {
    flex: 1 1 100%;
  }

  &__title {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;

    &--lvl2 {
      font-weight: 400;
    }

    a {
      color: inherit;
      vertical-align: top;
      display: inline-block;
      text-decoration: none;
      transition: color 0.35s ease;

      &:hover {
        color: var(--color-primary-60);
      }
    }
  }

  &__controls {
    margin-inline-start: 24px;
  }
}
