<form class="create-form" [formGroup]="form" (submit)="submit()" novalidate>
  <div class="create-form__topbar">
    <app-settings-header
      [settingsTitle]="isUpdate ? 'app.edit_category' : 'app.add_new_category'"
      [newButtonTitle]="isDesktop ? 'translations.add_translation_lang' : 'Translation'"
      [isShowActionsButton]="false"
      [isShowCreation]="false"
      [isShowTranslation]="true"
      [selectedLanguage]="defaultLanguage"
      [languages]="activeLanguages"
      (showLanguagesCall)="addTranslation()"
      (selectLanguageCall)="chooseTranslation($event)"
    >
    </app-settings-header>
  </div>

  <ng-container
    *ngIf="!selectedTranslation || selectedTranslation === defaultLanguage?.code; else translation"
  >
    <div class="form-row">
      <mat-label>{{ 'category.editor.name' | translate }} *</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="name"
          placeholder="{{ 'category.placeholder.name' | translate }}"
        />
      </mat-form-field>
      <mat-error *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
        {{ 'category.validation.required.name' | translate }}
      </mat-error>
      <ng-container *ngFor="let err of formErrors">
        <ng-container *ngIf="err?.field === 'tag'">
          <mat-error *ngFor="let msg of err?.error_messages">
            {{ msg | translate }}
          </mat-error>
        </ng-container>
      </ng-container>
    </div>

    <div class="form-row">
      <mat-label>{{ 'category.editor.description' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <textarea
          placeholder="{{ 'category.placeholder.descriptions' | translate }}"
          [data-qa]="'description'"
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"
          formControlName="description"
          [data-qa]="'description'"
        >
        </textarea>
      </mat-form-field>
    </div>
  </ng-container>

  <ng-template #translation>
    <div class="form-row">
      <mat-label>{{ 'category.editor.name' | translate }} *</mat-label>
      <mat-form-field appearance="outline">
        <input matInput readonly disabled [value]="form.value.name" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label>{{ 'category.editor.name' | translate }}({{ selectedTranslation }})</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="translate_name" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label>{{ 'category.editor.description' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput readonly disabled [value]="form.value.description" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label
        >{{ 'category.editor.description' | translate }} ({{ selectedTranslation }})
      </mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="translate_description" />
      </mat-form-field>
    </div>
  </ng-template>

  <div class="form-row" *ngIf="!isParent">
    <mat-label>{{ 'category.parent_category' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="is_child_to"
        [data-qa]="'select-parent-category'"
        (selectionChange)="parentChanged($event)"
        disableOptionCentering
      >
        <mat-option value="">{{
          'category.placeholder.choose_parent_category' | translate
        }}</mat-option>
        <mat-option
          [value]="category.id"
          *ngFor="let category of categories"
          [data-qa]="category.slug.split(' ').join('-') | lowercase"
        >
          {{ category.tag }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>{{ 'app.who_can_see_this_category' | translate }}</mat-label>
    <app-group-checkbox-select
      *ngIf="!category?.parent?.id"
      [data]="roleOptions"
      formControlName="visible_to"
    ></app-group-checkbox-select>
    <div class="radio-buttons" *ngIf="category?.parent?.id" [data-qa]="'category-option'">
      <p class="radio-buttons__info">
        <mat-icon>group</mat-icon>
        {{ 'category.child_permissions' | translate }}
      </p>
    </div>
  </div>

  <div class="form-controls-spacer" *ngIf="!isDesktop"></div>
  <div class="form-controls-panel form-controls-panel--sticky">
    <div>
      <mzima-client-button
        color="danger"
        *ngIf="isUpdate"
        class="delete-btn"
        [iconOnly]="!isDesktop"
        [data-qa]="'btn-cetegory-delete'"
        (buttonClick)="deleteCategoryEmit()"
      >
        <ng-container *ngIf="isDesktop">{{ 'category.delete_category' | translate }}</ng-container>
        <mat-icon *ngIf="!isDesktop" icon svgIcon="delete"></mat-icon>
      </mzima-client-button>
    </div>
    <div>
      <mzima-client-button
        fill="outline"
        color="secondary"
        (buttonClick)="back()"
        [data-qa]="'btn-category-cancel'"
      >
        {{ 'app.cancel' | translate }}
      </mzima-client-button>
      <mzima-client-button
        type="submit"
        [data-qa]="'btn-category-save'"
        [disabled]="form.disabled || form.invalid || loading"
      >
        {{ 'app.save' | translate }}
      </mzima-client-button>
    </div>
  </div>
</form>

<ng-template #rolesRadio> </ng-template>
