<section class="section user-profile">
  <h3 class="section-title">
    {{ isUpdate ? ('user.edit_user' | translate) : ('user.add_user' | translate) }}
  </h3>
  <div class="page-content">
    <form class="form" (ngSubmit)="save()" [formGroup]="form" novalidate>
      <div class="form-row">
        <mat-label>{{ 'user.full_name' | translate }} *</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="realname"
            [placeholder]="'user.placeholder.realname' | translate"
          />
          <mat-error *ngIf="form.get('realname')?.hasError('required')">{{
            'user.valid.full_name.required' | translate
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-label>{{ 'user.email' | translate }} *</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="email"
            [placeholder]="'user.placeholder.email' | translate"
          />
          <mat-error *ngIf="form.get('email')?.hasError('required')">{{
            'user.valid.email.required' | translate
          }}</mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('email')">{{
            'user.valid.email.email' | translate
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-label
          >{{ 'user.password' | translate }} *
          <span class="password-notify" *ngIf="isUpdate"
            >({{ 'user.password_notify' | translate }})</span
          >
        </mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="password"
            [placeholder]="'user.placeholder.password' | translate"
          />
          <mat-error *ngIf="form.get('password')?.hasError('required')">{{
            'user.valid.password.required' | translate
          }}</mat-error>
          <mat-error *ngIf="form.get('password')?.hasError('minlength')">{{
            'user.valid.password.minlength' | translate
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-label>{{ 'user.role' | translate }} *</mat-label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="role" disableOptionCentering data-qa="user-role-select">
            <mat-option *ngFor="let role of roles" [value]="role.name" [data-qa]="role.name">
              {{ role.display_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-controls-panel">
        <div>
          <button
            *ngIf="isUpdate"
            mat-raised-button
            type="button"
            color="accent"
            data-qa="btn-user-delete-user"
            (click)="deleteUser()"
            [disabled]="isMyProfile"
          >
            {{ 'user.delete_user' | translate }}
          </button>
        </div>
        <div>
          <button
            mat-stroked-button
            type="button"
            data-qa="btn-user-cancel"
            (click)="navigateToUsers()"
          >
            <span>{{ 'app.cancel' | translate }}</span>
          </button>
          <button
            mat-raised-button
            color="primary"
            class="role-button"
            type="submit"
            data-qa="btn-user-save"
            [disabled]="form.invalid"
          >
            <span>{{ 'app.save' | translate }}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
