<ion-content [fullscreen]="true">
  <div class="main">
    <div class="walktrough-slides__skip-container">
      <app-button class="walktrough-slides__skip-button" color="medium" (click)="finish()">
        Skip
      </app-button>
    </div>

    <swiper-container
      #swiperContainer
      class="walktrough-slides slides-wrapper"
      [modules]="swiperModules"
      (slidechange)="slideChanged()"
    >
      <swiper-slide class="walktrough-slide" *ngFor="let slide of sliderData">
        <div class="walktrough-slide__visual">
          <img [src]="slide.img" [alt]="slide.title" />
        </div>
        <div class="walktrough-slide__content">
          <strong class="walktrough-slide__title">{{ slide?.title! }}</strong>
          <div class="walktrough-slide__description">
            <p>{{ slide?.description! }}</p>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
    <div class="walktrough-slides__navigation">
      <app-button
        class="walktrough-slides__navigation-button"
        [shadow]="true"
        shape="normal"
        (click)="isLastSlide ? finish() : slideNext()"
      >
        <app-icon slot="icon-only" name="arrow"></app-icon>
      </app-button>
    </div>
  </div>
</ion-content>
