@import 'helpers';

.images {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 8px -8px -16px;
  justify-content: flex-start;
}

.image {
  width: 100%;
  padding: 0 8px;
  max-width: 200px;
  margin-bottom: 16px;

  @include breakpoint-max($laptop-small) {
    max-width: 160px;
  }
}

.preview {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 16px;
  justify-content: center;
  color: var(--color-neutral-60);
  background: var(--color-light);

  @include breakpoint-max($tablet) {
    max-width: 130px;
  }

  &--empty {
    cursor: pointer;
    background: var(--color-neutral-10);
  }

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .mat-icon {
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 44px;
  }

  > img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    position: absolute;
  }
}

.input {
  top: -9999px;
  left: -9999px;
  position: absolute;
}

.buttons {
  mzima-client-button {
    display: block;

    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}
