<div class="form-row">
  <mat-label>{{ 'app.survey_web_address' | translate }}</mat-label>
  <mat-form-field appearance="outline">
    <input type="url" matInput [value]="shareUrl" readonly="true" />
  </mat-form-field>
</div>

<div class="form-row">
  <mat-label>HTML</mat-label>
  <div class="copy-success" *ngIf="copySuccess">{{ 'share.copied' | translate }}</div>
  <mat-form-field appearance="outline" class="copy" [ngClass]="{ success: copySuccess }">
    <textarea matInput readonly cdkTextareaAutosize cdkAutosizeMaxRows="10">{{ embed }}</textarea>
    <button
      class="copy-button"
      type="button"
      (click)="copyToClipboard(embed)"
      matSuffix
      mat-raised-button
      [disabled]="copySuccess"
    >
      <mat-icon svgIcon="copy"></mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="form-row">
  <a
    target="_blank"
    class="share-item"
    mat-raised-button
    [href]="'https://twitter.com/intent/tweet?url=' + shareUrlEncoded"
  >
    <mat-icon class="share-item__icon" svgIcon="twitter"></mat-icon>
    Twitter
  </a>
</div>

<div class="form-row">
  <a
    target="_blank"
    class="share-item"
    mat-raised-button
    [href]="
      'https://www.facebook.com/sharer/sharer.php?u=' + shareUrlEncoded + '&amp;src=sdkpreparse'
    "
  >
    <mat-icon class="share-item__icon" svgIcon="facebook"></mat-icon>
    Facebook
  </a>
</div>

<!-- <button mat-raised-button class="share-item">
  <mat-icon class="share-item__icon">
    <svg class="iconic" role="img">
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="assets/sprites.svg#external-link"
      ></use>
    </svg>
  </mat-icon>
  {{ 'app.export_to_csv' | translate }}
</button> -->
