.share-item {
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  padding: 4px 8px;
  display: inline-block;

  &__icon {
    font-size: 32px;
    margin-inline-end: 8px;
  }

  &::ng-deep {
    .mat-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.copy {
  position: relative;
  &-button {
    padding: 0;
    width: 1em;
    height: 1em;
    min-width: 0;
    display: flex;
    font-size: 32px;
    line-height: 1em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &-success {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 7px;
    height: 64px;
    font-size: 16px;
    font-weight: 500;
  }
}

.success {
  background: var(--color-white);
  opacity: 0.1;
}
