.spinner {
  margin: 60px 0;
  display: block;
}

.content {
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 24px;
  padding-right: 24px;

  &::ng-deep {
    .mat-tab-header {
      margin-bottom: 8px;
      background: var(--color-light);
    }
  }
}

.mat-dialog-content {
  padding-left: 0;
  padding-right: 0;
}

.tab-content {
  margin: 0;
  padding: 16px;
  border-top: 1px solid #eee;
}

.contacts-tab {
  margin-bottom: 16px;
  border: 1px solid #eee;

  &__title {
    font-size: 16px;
    line-height: 1.5;
    margin: 8px 16px;
  }

  &__add-btn {
    margin-top: 16px;
  }
}

.contacts,
.update-password {
  .mat-expansion-panel-header {
    height: 36px;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      background: none;
    }

    &::ng-deep {
      .mat-expansion-indicator {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .mat-expansion-panel {
    box-shadow: none !important;
  }

  .mat-expansion-panel-content {
    padding-top: 8px;
  }

  &::ng-deep {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}

.contacts {
  .mat-expansion-panel {
    background: none;

    &-header {
      height: 48px;
      padding-right: 16px;
      h4 {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

.contact-item {
  &::ng-deep {
    .mat-expansion-panel-content {
      padding-left: 24px;
      padding-right: 24px;
      transition: padding 0.35s ease;
      box-shadow: inset 0 1px 4px var(--color-neutral-20);
    }
  }

  &.mat-expanded {
    &::ng-deep {
      .mat-expansion-panel-content {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }

  &--add-new {
    border-top: 1px solid var(--color-neutral-20);
  }

  .mat-slide-toggle {
    margin-bottom: 16px;
  }
}

.type-group {
  padding: 16px;
  margin-bottom: 16px;

  &__title {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  &__options {
    display: flex;
    justify-content: space-between;
  }

  &__option {
    font-size: 16px;
    font-weight: 500;

    &-icon {
      font-size: 20px;
    }
  }
}
