.media-loader {
  &__preview {
    margin-bottom: 24px;
    .media-preview {
      position: relative;
      display: flex;
      flex-direction: row;
      padding: 4px;
      border: 1px solid #f5f5f5;
      .thumbnail {
        max-width: 100px;
        max-height: 100px;
      }
      &.ready {
        border: 1px solid #f5f5f5;
      }
      &.uploaded {
        border: 1px solid #17710f;
        .status-button {
          background-color: #17710f;
        }
      }
      &.error,
      &.too_big {
        border: 1px solid #962923;
      }
      border-radius: 4px;
      .media-blank {
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        .xicon {
          padding: 4px;
          display: block;
          font-size: 3rem;
          width: 64px;
          height: auto;
        }
        .media-error {
          width: 100%;
          text-align: center;
        }
        .loading-spinner {
          width: 100%;
          height: 100%;
        }
      }
      .media-details {
        flex-grow: 2;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .filename {
          font-size: 14px;
          text-overflow: wrap;
          white-space: wrap;
          overflow: hidden;
        }
        .filesize {
          font-size: 11px;
          color: #b6b7ba;
        }
      }
      .status-button {
        align-self: flex-start;
        flex: 0 0;
        position: relative;
        min-height: 24px;
        min-width: 24px;
        border-radius: 50%;
        background-color: #919397;
        .xicon {
          position: absolute;
          top: 2px;
          left: 2px;
          color: #fff;
          font-size: 20px;
        }
      }
    }
    &-image {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 4px;
      row-gap: 4px;
      .media-preview {
        height: 100px;
      }
    }
    &-audio {
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      .media-preview {
        height: auto;
      }
      audio {
        width: 50%;
      }
      .media-details,
      .media-blank {
        width: 50%;
      }
    }
    &-document {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 4px;
      row-gap: 4px;
      .media-preview {
        height: 64px;
      }
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 200px;
      object-fit: contain;
    }
  }

  &__controls {
    display: flex;
    margin: 0 -4px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__control {
    margin: 0 4px;
  }
}

.error-msg {
  margin-top: 8px;
}
