@import 'apps/web-mzima-client/src/styles/helpers';

.post {
  font-size: 16px;
  line-height: 1.5;

  @include breakpoint-max($tablet) {
    font-size: 14px;
    line-height: 1.3;
  }

  &--feed {
    min-height: 100%;
    padding: 20px 30px;
    position: relative;
    border-radius: 4px;
    background: var(--color-light);
    box-shadow: inset 0 0 0 1px var(--color-neutral-30);
  }

  &__visual {
    max-height: 182px;
    position: relative;
    margin-bottom: 4px;

    &:before {
      content: '';
      display: block;
      padding-top: calc(240 / 528 * 100%);
    }

    img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      position: absolute;
      object-position: 50% 20%;
    }
  }

  &__head {
    top: 0;
    z-index: 50;
    display: flex;
    position: sticky;
    padding-top: 4px;
    margin-bottom: 8px;
    padding-bottom: 4px;
    align-items: flex-start;
    padding-inline-end: 36px;
    justify-content: flex-end;
    background: var(--color-light);

    @include breakpoint-max($tablet) {
      padding-inline-end: 60px;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;

    @include breakpoint-max($tablet) {
      font-size: 16px;
      line-height: 1.25;
      margin-bottom: 12px;
    }
  }

  &__group {
    padding: 10px 0;

    @include breakpoint-max($tablet) {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    h3 {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 15px;

      @include breakpoint-max($tablet) {
        font-size: 14px;
        margin-bottom: 12px;
      }
    }
  }

  &__content {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__description {
    margin-bottom: 16px;
  }

  &__twitter {
    max-width: 372px;
    margin: 0 auto 16px;
  }
}

.category {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__icon {
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 12px;
    margin-inline-end: 8px;
  }
}

.map {
  z-index: 1;
  display: block;
  position: relative;
  margin-bottom: 16px;
}

.spinner {
  display: block;
  margin-top: 20vh;
  margin-bottom: 20vh;
}
