<div
  class="post"
  [ngClass]="{ 'post--feed': feedView }"
  [ngStyle]="{ '--color': color || 'var(--color-neutral-100)' }"
>
  <ng-container *ngIf="post; else spinner">
    <div class="post__head">
      <app-post-head
        [post]="post"
        [feedView]="feedView"
        (edit)="edit.emit()"
        (refresh)="refresh.emit()"
        [editable]="
          allowed_privileges.includes('update') && post.allowed_privileges.includes('update')
        "
        [deleteable]="
          allowed_privileges.includes('delete') && post.allowed_privileges.includes('delete')
        "
        (statusChanged)="statusChangedHandle()"
      >
      </app-post-head>
    </div>

    <div class="post__visual" *ngIf="media && post.source !== 'Twitter'">
      <img [src]="media.original_file_url" [alt]="media.caption" />
    </div>

    <div class="post__twitter" *ngIf="post.source === 'Twitter' && post.data_source_message_id">
      <app-twitter-widget [id]="post.data_source_message_id"></app-twitter-widget>
    </div>

    <h2 *ngIf="post.title?.length || post.content?.length">{{ post.title || post.content }}</h2>

    <div class="post__description" *ngIf="post.title?.length && post.content?.length">
      {{ post.content }}
    </div>

    <ng-container *ngFor="let post_content of post.post_content">
      <ng-container *ngFor="let field of post_content.fields">
        <div *ngIf="field.input !== 'tags' ? field.value : field.value?.length" class="post__group">
          <h3>{{ field.label }}</h3>

          <ng-container *ngIf="field.input === 'tags'">
            <ng-container *ngFor="let category of post.categories">
              <div class="category" *ngIf="!isParentCategory(post.categories, category.id)">
                <mat-icon class="category__icon">
                  <svg class="iconic">
                    <use xlink:href="assets/sprites.svg#tag"></use>
                  </svg>
                </mat-icon>
                {{ category.tag }}
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="field.input === 'location'">
            <app-map-with-marker
              class="map"
              [marker]="field.value.value"
              [color]="color || 'var(--color-neutral-100)'"
              [type]="post.source?.toLowerCase() || 'default'"
              tabindex="-1"
            ></app-map-with-marker>
            <p>{{ field.value.value.lat }} {{ field.value.value.lon }}</p>
          </ng-container>

          <ng-container *ngIf="field.input === 'date'">
            <p>{{ field.value.value | date : 'MMMM d, y' }}</p>
          </ng-container>

          <ng-container *ngIf="field.input === 'datetime'">
            <p>{{ field.value.value | date : 'MMMM d, y h:mm aaa' }}</p>
          </ng-container>

          <ng-container *ngIf="field.input === 'radio'">
            <p>{{ field.value.value || '-' }}</p>
          </ng-container>

          <ng-container *ngIf="field.input === 'number'">
            <p>{{ field.value.value || '-' }}</p>
          </ng-container>

          <ng-container *ngIf="field.input === 'text'">
            <ng-container *ngIf="field.label === 'Media Link'">
              <a *ngIf="field.value.value" [href]="field.value.value" target="_blank">{{
                field.value.value
              }}</a>
              <p *ngIf="!field.value.value">-</p>
            </ng-container>
            <ng-container *ngIf="field.label !== 'Media Link'">
              <p>{{ field.value.value || '-' }}</p>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="field.input === 'textarea'">
            <p>{{ field.value.value || '-' }}</p>
          </ng-container>

          <ng-container *ngIf="field.input === 'checkbox'">
            <span *ngIf="!field.options.length">-</span>
            <ul class="post--checkbox-list" *ngIf="field.value?.value?.length">
              <li *ngFor="let option of field.value.value">
                <p>{{ option }}</p>
              </li>
            </ul>
          </ng-container>

          <ng-container *ngIf="field.input === 'video'">
            <span *ngIf="!field.value.value">-</span>
            <div *ngIf="field.value.value">
              <iframe id="player" [src]="field.value.value" width="560" height="315"></iframe>
              <a [href]="field.value.value" target="_blank">{{ field.value.value }}</a>
            </div>
          </ng-container>

          <!-- <ng-container *ngIf="field.input === 'upload'">
            <span *ngIf="!field.value.value">-</span>
            <img *ngIf="field.value.value" [src]="field.value.value" [alt]="post.title" />
          </ng-container> -->

          <ng-container *ngIf="field.input === 'relation'">
            <p>{{ field.value.value || '-' }}</p>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>

    <app-post-metadata [post]="post"></app-post-metadata>
  </ng-container>
</div>

<ng-template #spinner>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
