@import 'helpers';

.post {
  font-size: $font-base;
  line-height: 1.5;

  .code-container {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: $font-sm;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    code {
      margin: 0;
      padding: 0;
      border: 0;
      background-color: inherit;
    }
  }

  @include breakpoint-max($tablet) {
    font-size: $font-sm;
    line-height: 1.3;
  }

  &--checkbox-list {
    padding-left: 15px;
  }

  &--feed {
    min-height: 100%;
    padding: 20px 30px;
    position: relative;
    border-radius: 4px;
    background: var(--color-light);
    box-shadow: inset 0 0 0 1px var(--color-neutral-30);
  }

  &__head {
    top: 0;
    z-index: 50;
    display: flex;
    position: sticky;
    padding-top: 4px;
    margin-bottom: 8px;
    padding-bottom: 4px;
    align-items: flex-start;
    padding-inline-end: 36px;
    justify-content: flex-end;
    background: var(--color-light);

    @include breakpoint-max($tablet) {
      padding-inline-end: 60px;
    }
  }

  &__survey {
    padding: 16px;
    border-radius: 4px;
    background: var(--color-neutral-10);
    margin-bottom: 16px;
    line-height: 1.3;
    font-size: $font-sm;
    color: var(--color-neutral-80);
    white-space: pre-wrap;
    h3 {
      font-size: $font-base;
      line-height: 20px;
      font-weight: 500;
      margin-bottom: 4px;
      color: var(--color-neutral-100);
    }
    p {
      margin-bottom: 0;
    }
  }

  h2 {
    font-size: $font-2xl;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
    word-break: break-word;

    @include breakpoint-max($tablet) {
      font-size: $font-base;
      line-height: 1.25;
      margin-bottom: 12px;
    }
  }

  &__group {
    padding: 10px 0;

    @include breakpoint-max($tablet) {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    h3 {
      font-size: $font-base;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 15px;
      word-break: break-word;

      @include breakpoint-max($tablet) {
        font-size: $font-sm;
        margin-bottom: 12px;
      }
    }
  }

  &__media {
    padding: 4px;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px var(--color-neutral-50);

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 250px;
      border-radius: 6px;
    }

    &__caption {
      display: block;
      font-size: $font-sm;
      line-height: 1.3;
      text-align: center;
      margin: 16px 0 12px;
      color: var(--color-neutral-80);

      &:empty {
        display: none;
      }
    }
  }

  &__content {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__description {
    margin-bottom: 16px;
    word-break: break-word;
  }

  &__twitter {
    max-width: 372px;
    margin: 0 auto 16px;
  }
}

.category {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  word-break: break-word;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__icon {
    min-width: 1em;
    min-height: 1em;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: $font-base;
    margin-inline-end: 8px;
    margin-top: 2px;
  }
  &__child {
    padding-left: 15px;
  }
}

.map {
  z-index: 1;
  display: block;
  position: relative;
  margin-bottom: 16px;
}

.spinner {
  display: block;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.cant-see-post {
  font-size: $font-lg;
  font-weight: 600;
  text-align: center;
  word-wrap: break-word;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
