<form novalidate [formGroup]="form" (ngSubmit)="resetPassword()">
  <div class="form-row">
    <mat-label>{{ 'user.passwordreset_instructions' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        equired
        matInput
        formControlName="email"
        [placeholder]="'settings.data_sources.email.email_address' | translate"
      />
      <mat-error *ngIf="form.get('email')?.invalid">{{ getErrorMessage('email') }}</mat-error>
    </mat-form-field>
  </div>

  <mat-error class="form-error">{{ formError }}</mat-error>

  <div mat-dialog-actions align="end">
    <ng-content select="[btn-cancel]"></ng-content>

    <button
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="form.invalid || form.disabled"
    >
      {{ 'nav.resetmypassword' | translate }}
    </button>
  </div>
</form>
