<ng-container *ngIf="webhookList">
  <div class="form-head-panel">
    <h1 *ngIf="isDesktop$ | async">{{ 'app.webhooks' | translate }}</h1>
    <mzima-client-button
      [routerLink]="['create']"
      [data-qa]="'btn-webhook-create'"
      aria-label="Create a new webhook"
    >
      <span>{{ 'webhook.add_webhook' | translate }}</span>
      <mat-icon icon svgIcon="plus" aria-label="Create New Webhook"></mat-icon>
    </mzima-client-button>
  </div>

  <div class="webhook-item-list" [data-qa]="'webhook-list'">
    <a
      mat-ripple
      class="webhook-item"
      *ngFor="let webhook of webhookList"
      [routerLink]="[webhook.id]"
      [routerLinkActive]="'active'"
      [data-qa]="webhook.name"
    >
      {{ webhook.name }}
    </a>
  </div>
</ng-container>
