<ng-container *ngIf="webhookList">
  <div class="form-head-panel">
    <h1 *ngIf="isDesktop$ | async">{{ 'app.webhooks' | translate }}</h1>
    <mzima-client-button tabindex="-1" [routerLink]="['create']" [data-qa]="'btn-webhook-create'">
      <span>{{ 'webhook.add_webhook' | translate }}</span>
      <mat-icon icon svgIcon="plus"></mat-icon>
    </mzima-client-button>
  </div>

  <div class="webhook-item-list" [data-qa]="'webhook-list'">
    <a
      mat-ripple
      class="webhook-item"
      *ngFor="let webhook of webhookList"
      [routerLink]="[webhook.id]"
      [routerLinkActive]="'active'"
      [data-qa]="webhook.name"
    >
      {{ webhook.name }}
    </a>
  </div>
</ng-container>
