@import 'helpers';

.form-head-panel {
  @include breakpoint-max($tablet) {
    display: flex;
    margin-bottom: 24px;
    justify-content: flex-end;
  }
}

.roles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px -24px;
  justify-content: flex-start;

  @include breakpoint-max($laptop-small) {
    margin-bottom: -16px;
  }
}

.role-item {
  display: flex;
  font-size: $font-xl;
  min-height: 74px;
  font-weight: 700;
  line-height: 1.28;
  padding: 8px 24px;
  margin: 0 4px 24px;
  text-align: center;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  color: var(--color-black);
  width: calc(33.3333% - 8px);
  background: var(--color-neutral-10);

  @include breakpoint-max($laptop-small) {
    font-size: $font-lg;
    margin-bottom: 16px;
  }

  @include breakpoint-max($tablet) {
    width: calc(50% - 8px);
  }

  @include breakpoint-max($mobile) {
    width: calc(100% - 8px);
  }
}
