<div class="form-head-panel">
  <h1 *ngIf="isDesktop$ | async">{{ 'app.roles' | translate }}</h1>
  <mzima-client-button
    [routerLink]="['create']"
    [data-qa]="'btn-add-role'"
    aria-label="Add a new role"
  >
    <span>{{ 'role.add_role' | translate }}</span>
    <mat-icon icon svgIcon="plus" aria-label="Create new role"></mat-icon>
  </mzima-client-button>
</div>

<div class="roles">
  <a
    matRipple
    class="role-item"
    *ngFor="let role of (roleResponse$ | async)?.results"
    [routerLink]="['update', role.id]"
    [data-qa]="'btn-' + role.display_name | lowercase"
  >
    {{ role.display_name }}
  </a>
</div>
