.create-button {
  text-transform: uppercase;
  margin-bottom: 30px;

  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &.mat-button-base .mat-icon {
    font-size: 18px;
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }

  &-name {
    line-height: 1.35;
    letter-spacing: 1px;
  }
}

.surveys-list {
  .survey {
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    &-name {
    }
    &-description {
      margin-bottom: 5px;
      font-style: italic;
    }
    &-language {
    }
  }
}

.item-button-container {
  display: flex;
  justify-content: flex-end;

  .item-button {
    text-transform: uppercase;
    letter-spacing: 1px;

    &.mat-button-base .mat-icon {
      font-size: 18px;
    }
  }
}
