<section class="surveys">
  <div class="surveys-header">
    <div class="create-button-container">
      <h2 class="surveys-title">{{ 'app.surveys' | translate }}</h2>
      <ng-container *ngIf="isShowActions">
        <button
          type="button"
          class="action-button"
          color="accent"
          mat-raised-button
          data-qa="btn-survey-delete"
          (click)="deleteSurvey()"
        >
          <span class="create-button-name">{{ 'app.delete' | translate }}</span>
        </button>
        <button
          type="button"
          class="create-button"
          color="primary"
          mat-stroked-button
          data-qa="btn-survey-duplicate"
          [disabled]="selectedSurveys.length > 1"
          (click)="duplicateSurvey()"
        >
          <span class="create-button-name">{{ 'survey.duplicate_survey' | translate }}</span>
        </button>
      </ng-container>
    </div>

    <div class="create-button-container">
      <button
        type="button"
        color="primary"
        mat-stroked-button
        data-qa="btn-survey-action"
        (click)="isShowActions = !isShowActions"
      >
        <span class="create-button-name">{{ 'settings.bulk_actions' | translate }}</span>
      </button>
      <button
        type="button"
        color="primary"
        mat-raised-button
        [routerLink]="['create']"
        data-qa="btn-survey-create"
      >
        <span class="create-button-name">{{ 'settings.new_survey' | translate }}</span>
        <mat-icon svgIcon="plus"></mat-icon>
      </button>
    </div>
  </div>

  <div>
    <app-spinner class="spinner" *ngIf="!surveys"></app-spinner>
    <ul role="list" class="types-list" *ngIf="!!surveys" data-qa="survey-list">
      <li
        role="listitem"
        class="type-item"
        *ngFor="let survey of surveys"
        [ngStyle]="{ '--color': survey.color, 'padding-left': survey.color ? '12px' : '17px' }"
        [data-qa]="'survey-item' + survey.id"
      >
        <div class="type-item-container">
          <mat-checkbox
            *ngIf="isShowActions"
            (change)="selectSurveys($event, survey)"
            class="type-item__checkbox"
          ></mat-checkbox>
          <span class="type-item__title" [routerLink]="['update', survey.id]">{{
            survey.name
          }}</span>
        </div>
      </li>
    </ul>
  </div>
</section>
