.surveys {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  h2 {
    margin: 0;
  }

  .create-button {
    text-transform: uppercase;

    &-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.surveys-list {
  .survey {
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;

    &-item {
      position: relative;

      &__header {
        position: static;
      }
    }

    &-border {
      top: 0;
      left: 0;
      bottom: 0;
      width: 4px;
      position: absolute;
      background: var(--color);
      border-radius: 4px 0 0 4px;
    }

    &-description {
      margin-bottom: 5px;
      font-style: italic;
    }
  }
}

.item-button-container {
  display: flex;
  justify-content: flex-end;
}

.spinner {
  display: block;
  margin: 20vh 0;
}
