.types-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
}

.type-item {
  display: flex;
  cursor: pointer;
  min-height: 46px;
  padding: 8px 12px;
  margin: 0 4px 8px;
  position: relative;
  border-radius: 4px;
  align-items: center;
  width: calc(50% - 8px);
  transition: color 0.35s ease;
  background: var(--color-neutral-10);
  border-left: 5px solid var(--color, transparent);
  box-shadow: inset 0 0 0 1px var(--color-neutral-20);
}

.spinner {
  display: block;
  margin: 20vh 0;
}
