<app-settings-header
  [settingsTitle]="'app.surveys'"
  [newButtonTitle]="'settings.new_survey'"
  [selectedItem]="selectedSurveys"
  (isShowActionsChange)="showActions($event)"
  (deleteCall)="deleteSurvey()"
>
  <button
    type="button"
    color="primary"
    mat-stroked-button
    [data-qa]="'btn-settings-duplicate'"
    [disabled]="selectedSurveys.length !== 1"
    (click)="duplicateSurvey()"
  >
    <span class="create-button-name">{{ 'app.duplicate' | translate }}</span>
  </button>
</app-settings-header>

<app-spinner class="spinner" *ngIf="!surveys"></app-spinner>
<ul role="list" class="types-list" *ngIf="!!surveys" [data-qa]="'survey-list'">
  <li
    mat-ripple
    role="listitem"
    class="type-item"
    *ngFor="let survey of surveys"
    [routerLink]="['update', survey.id]"
    [ngStyle]="{ '--color': survey.color }"
    [data-qa]="'survey-item' + survey.id"
  >
    <mat-checkbox
      *ngIf="isShowActions"
      class="type-item__checkbox"
      (click)="$event.stopPropagation()"
      (change)="selectSurveys($event, survey)"
    ></mat-checkbox>
    {{ survey.name }}
  </li>
</ul>

<div class="actions-spacer" *ngIf="!(isDesktop$ | async)! && isShowActions"></div>
