.surveys {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .create-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .surveys-title {
      margin: 0 16px 0 0;
      font-size: 24px;
    }

    button {
      padding: 0 24px;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

  .types-list {
    margin: 0;
    padding: 0;
    list-style: none;
    columns: 2;
  }

  .type-item {
    display: flex;
    align-items: center;
    height: 58px;
    cursor: pointer;
    padding: 15px 17px;
    position: relative;
    transition: color 0.35s ease;
    margin-bottom: 8px;
    background: var(--color-neutral-10);
    border-radius: 4px;
    border-left: 5px solid var(--color);

    &:hover {
      color: var(--color-primary-60);
    }
  }

  .type-item-container {
    display: flex;
    align-items: center;
  }

  .spinner {
    display: block;
    margin: 20vh 0;
  }
}
