<mat-toolbar class="toolbar">
  <!-- <app-breadcrumb></app-breadcrumb> -->
  <h1 class="toolbar__page-title" data-qa="page-title">{{ pageTitle }}</h1>
  <div class="toolbar__controls">
    <app-search-form class="search-form" *ngIf="showSearchForm"> </app-search-form>
    <app-donation-button class="toolbar__button" *ngIf="isDonateAvailable"></app-donation-button>
    <button color="dark" mat-raised-button class="toolbar__button">
      <span>{{ 'app.share' | translate }}</span>
      <mat-icon class="toolbar__button__icon" svgIcon="share"></mat-icon>
    </button>
    <app-language class="toolbar__language"></app-language>
  </div>
  <button
    mat-button
    *ngIf="isLoggedIn"
    class="account-info"
    [matMenuTriggerFor]="accountMenu"
    data-qa="account-info"
  >
    <div class="account-info__main">
      <span class="account-info__name">{{ profile.realname }}</span>
      <span class="account-info__email">{{ profile.email }}</span>
    </div>
    <img
      alt="user avatar"
      class="account-info__avatar"
      src="//www.gravatar.com/avatar/{{
        profile.gravatar || '00000000000000000000000000000000'
      }}?d=retro&s=40"
    />
    <mat-icon class="account-info__arrow" svgIcon="arrow-down"></mat-icon>
  </button>
</mat-toolbar>

<mat-menu #accountMenu="matMenu" class="account-menu">
  <button mat-menu-item (click)="openSettings()">{{ 'nav.account_settings' | translate }}</button>
  <button mat-menu-item (click)="logout()">{{ 'nav.logout' | translate }}</button>
</mat-menu>
