.toolbar {
  top: 0;
  right: 0;
  left: 63px;
  z-index: 100;
  position: fixed;

  &__wrapper {
    display: flex;
    flex: 1 1 100%;
    margin-left: 16px;
    align-items: center;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__search-form {
    flex: 1 1 100%;
  }

  &__main {
    height: 68px;
    padding-left: 100px;
    background-color: #373e46;
    justify-content: space-between;
  }

  app-donation-button {
    display: block;
    margin-left: 32px;
  }
}
