<div class="toolbar">
  <app-submit-post-button *ngIf="showSubmitPostButton"></app-submit-post-button>

  <mat-toolbar class="toolbar__main">
    <app-breadcrumb></app-breadcrumb>
    <div class="toolbar__wrapper">
      <div class="search">
        <div class="input-wrapper">
          <input type="text" placeholder="Search" />
          <mat-icon>search</mat-icon>
        </div>
      </div>
      <app-donation-button *ngIf="isDonateAvailable"></app-donation-button>
      <app-language></app-language>
    </div>
  </mat-toolbar>
</div>
