<div
  class="post"
  [ngClass]="{ 'post--feed': feedView }"
  [ngStyle]="{ '--color': color || 'var(--color-neutral-100)' }"
>
  <!-- Switch router outlet content -->
  <app-post-details *ngIf="post; else showerror"> </app-post-details>
  <app-spinner *ngIf="isPostLoading" class="spinner"></app-spinner>
  <ng-template #showerror>
    <app-post-error-cards
      [isPostLoading]="isPostLoading"
      [postNotFound]="postNotFound"
      [isManagePosts]="isManagePosts"
    >
    </app-post-error-cards>
  </ng-template>
</div>
