{{- /* This is to template the src/env.json file  */ -}}
{
    "production": true,
    "backend_url": "{{ default .Env.BACKEND_URL "http://localhost" }}",
    "api_v3": "api/v3/",
    "api_v5": "api/v5/",
    "mapbox_api_key": "{{ default .Env.MAPBOX_API_KEY "pk.eyJ1IjoidXNoYWhpZGkiLCJhIjoiY2lxaXUzeHBvMDdndmZ0bmVmOWoyMzN6NiJ9.CX56ZmZJv0aUsxvH5huJBw" }}",
    "default_locale": "{{ default .Env.DEFAULT_LOCALE "en_US" }}",
    "oauth_client_id": "{{ default .Env.OAUTH_CLIENT_ID "ushahidiui" }}",
    "oauth_client_secret": "{{ default .Env.OAUTH_CLIENT_SECRET "35e7f0bca957836d05ca0492211b0ac707671261" }}",
    "export_polling_interval": {{ default .Env.EXPORT_POLLING_INTERVAL "30000" }},
    "gtm_key": "{{ default .Env.GTM_KEY "" }}"
}
