<ion-item
  class="list-item"
  button
  lines="none"
  (click)="handleClick()"
  [disabled]="menuItem.disabled"
>
  <app-icon class="list-item__icon" slot="start" [name]="menuItem.icon"></app-icon>
  <div>
    <strong class="list-item__title">{{ menuItem.label | translate }}</strong>
    <ion-text color="medium" class="list-item__info">
      {{ menuItem.description || '' | translate }}
    </ion-text>
  </div>
  <app-icon
    *ngIf="!menuItem.hideDetails"
    slot="end"
    class="list-item__detail-icon"
    name="arrow-right"
  ></app-icon>
</ion-item>
