<!-- Desktop -->
<span class="sidebar__logo" *ngIf="isDesktop">
  <img src="../../../../assets/images/ushahidi-logo.svg" alt="ushahidi" width="172" height="40" />
</span>

<div class="sidebar__info" *ngIf="isDesktop">
  <app-company-info></app-company-info>
  <app-submit-post-button class="sidebar__add-post-btn"></app-submit-post-button>
</div>

<!-- Smaller screens -->
<div class="menu__head" *ngIf="!isDesktop">
  <div class="menu__logo">
    <img src="../../../../assets/images/ushahidi-logo.svg" alt="ushahidi" width="177" height="54" />
  </div>
  <mzima-client-button
    fill="outline"
    color="custom"
    [iconOnly]="true"
    class="menu__head__close"
    id="closeMenu"
    (buttonClick)="toggleBurgerMenu(false)"
    [ariaLabel]="'modal.button.close' | translate"
  >
    <mat-icon icon svgIcon="close"></mat-icon>
  </mzima-client-button>
</div>

<app-company-info *ngIf="!isDesktop"></app-company-info>
