<form class="create-form" [formGroup]="form" (submit)="submit()" novalidate>
  <div class="create-form__topbar">
    <app-settings-header
      [settingsTitle]="isUpdate ? form.get('name')?.value : 'app.add_new_category'"
      [newButtonTitle]="'translations.add_translation_lang'"
      [isShowActionsButton]="false"
      [isShowCreation]="false"
      [isShowTranslation]="true"
      [selectedLanguage]="defaultLanguage"
      [languages]="activeLanguages"
      (showLanguagesCall)="addTranslation()"
      (selectLanguageCall)="chooseTranslation($event)"
    >
    </app-settings-header>
  </div>

  <ng-container
    *ngIf="!selectedTranslation || selectedTranslation === defaultLanguage?.code; else translation"
  >
    <div class="form-row">
      <mat-label>{{ 'category.editor.name' | translate }} *</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="name"
          placeholder="{{ 'category.placeholder.name' | translate }}"
        />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label>{{ 'category.editor.description' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <textarea
          placeholder="{{ 'category.placeholder.descriptions' | translate }}"
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"
          formControlName="description"
        >
        </textarea>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label>{{ 'category.parent_category' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <mat-select
          formControlName="is_child_to"
          (selectionChange)="parentChanged($event)"
          disableOptionCentering
        >
          <mat-option value="">{{
            'category.placeholder.choose_parent_category' | translate
          }}</mat-option>
          <mat-option [value]="category.id" *ngFor="let category of categories">
            {{ category.tag }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--    <div class="form-row">-->
    <!--      <mat-label>{{ 'translations.category_select_default' | translate }}</mat-label>-->
    <!--      <mat-form-field appearance="outline">-->
    <!--        <mat-hint>{{ 'translations.default_lang_info' | translate }}</mat-hint>-->
    <!--        <mat-select formControlName="language" disableOptionCentering>-->
    <!--          <mat-option [value]="language.code" *ngFor="let language of languages">-->
    <!--            {{ language.name }}-->
    <!--          </mat-option>-->
    <!--        </mat-select>-->
    <!--      </mat-form-field>-->
    <!--    </div>-->

    <div class="form-row">
      <mat-label>{{ 'app.who_can_see_this_category' | translate }}</mat-label>
      <app-group-checkbox-select
        [data]="roleOptions"
        formControlName="visible_to"
      ></app-group-checkbox-select>
      <div class="radio-buttons" *ngIf="form.value.parent">
        <p class="radio-buttons__info">
          <mat-icon>group</mat-icon>
          {{ 'category.child_permissions' | translate }}
        </p>
      </div>
    </div>
  </ng-container>

  <ng-template #translation>
    <div class="form-row">
      <mat-label>{{ 'category.editor.name' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput readonly disabled [value]="form.value.name" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label>{{ 'category.editor.name' | translate }}({{ selectedTranslation }})</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="translate_name" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label>{{ 'category.editor.description' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput readonly disabled [value]="form.value.description" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label
        >{{ 'category.editor.description' | translate }} ({{ selectedTranslation }})</mat-label
      >
      <mat-form-field appearance="outline">
        <input matInput formControlName="translate_description" />
      </mat-form-field>
    </div>
  </ng-template>

  <div class="form-controls-panel form-controls-panel--sticky">
    <div>
      <button
        *ngIf="isUpdate"
        mat-raised-button
        type="button"
        color="accent"
        data-qa="btn-cetegory-delete"
        (click)="deleteCategoryEmit()"
      >
        {{ 'category.delete_category' | translate }}
      </button>
    </div>
    <div>
      <button mat-stroked-button type="button" data-qa="btn-category-cancel" routerLink="../">
        <span>{{ 'app.cancel' | translate }}</span>
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        data-qa="btn-category-save"
        [disabled]="form.disabled || form.invalid || loading"
      >
        <span>{{ 'app.save' | translate }}</span>
      </button>
    </div>
  </div>
</form>
