@import 'helpers';

.cant-see-post {
  font-size: $font-2xl;
  font-weight: 500; // this font-size & font weight is from new design
  text-align: center;
  word-wrap: break-word;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
