@import 'helpers';

.toolbar {
  &__controls {
    display: flex;

    @include breakpoint-max($tablet) {
      display: none;
    }
  }

  &__button {
    margin-left: 5px;
  }
}

.menu {
  &__footer-container {
    position: fixed;
    min-width: 180px;
    right: -170px;
    bottom: 120px;
    transition: all 0.5s linear;
    opacity: 0.81;
    &:hover {
      right: 0;
    }
  }

  &__footer {
    display: flex;
    flex-shrink: 0;
    padding: 2px;
    padding-right: 0;
    background: var(--color-neutral-100);
    border-radius: inherit;

    &__button {
      margin: 0;
      flex: 1 1 calc(50% - 8px);
    }

    @include breakpoint-min($tablet) {
      display: none;
    }
  }
}
