@import 'helpers';

.toolbar {
  &__controls {
    display: flex;

    @include breakpoint-max($tablet) {
      display: none;
    }
  }

  &__button {
    margin-left: 5px;
  }
}

.menu {
  &__footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__footer {
    display: flex;
    flex-shrink: 0;
    padding: 16px 12px;
    background: var(--color-neutral-100);

    &__button {
      margin: 0 4px;
      flex: 1 1 calc(50% - 8px);
    }

    @include breakpoint-min($tablet) {
      display: none;
    }
  }
}
