::ng-deep {
  .mat-dialog-container {
    position: relative;
  }
}

.close-btn {
  top: 18px;
  right: 11px;
  position: absolute;
}

.images {
  .image {
    margin-bottom: 16px;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

hr {
  height: 1px;
  border: none;
  margin: 32px 0;
  background-color: #888;
}

.soft-text {
  color: #888;
  font-size: 16px;
  line-height: 20px;

  .mat-icon {
    width: 1em;
    height: 1em;
    font-size: 20px;
    margin-right: 8px;
  }
}
