.submit-post-button {
  top: 40px;
  left: 88px;
  z-index: 500;
  position: fixed;
}

.fab-button {
  color: #2b323a;
  background-color: #ffc334;
  box-shadow: 0 0 6px rgb(0 0 0 / 12%), 0 6px 6px rgb(0 0 0 / 24%);

  &:hover {
    color: #2b323a;
    background-color: #ffb401;
  }

  &__icon {
    font-weight: 700;
  }
}
