.map-holder {
  min-height: 240px;
  position: relative;
  margin-bottom: 16px;

  &:before {
    content: '';
    display: block;
    padding-top: 60%;
  }

  .map {
    top: 0;
    left: 0;
    z-index: 25;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.instructions {
  display: block;
  font-style: italic;
  margin-bottom: 8px;
}

.search-form {
  top: 16px;
  left: 16px;
  right: 16px;
  z-index: 50;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);

  &::ng-deep {
    .mat-form-field-appearance-outline {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }
}

.current-location {
  bottom: 80px;
  left: 13px;
  width: 30px;
  height: 30px;
  z-index: 50;
  position: absolute;
  cursor: pointer;
  font-size: 30px;
}

.location-error {
  color: var(--color-accent);

  &::ng-deep {
    .mat-form-field-outline-thick {
      .mat-form-field-outline-end {
        border-color: transparent;
      }
    }
  }

  & input {
    border: 1px solid var(--color-accent);
  }
}

::ng-deep {
  .leaflet-top.leaflet-right {
    left: 15px;
    top: 16px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 4px;
    z-index: 1000;
    width: 96%;
  }

  .leaflet-control-geocoder {
    width: 100%;
  }

  .leaflet-touch .leaflet-bar {
    border: none;
    box-shadow: none;
  }

  .leaflet-right .leaflet-control {
    margin: 0;
  }

  .leaflet-control {
    .leaflet-control-geocoder-icon,
    .leaflet-control-geocoder-form {
      display: none;
    }

    .leaflet-control-geocoder-expanded.leaflet-control-geocoder-options-open {
      position: relative;
      left: 0;
      width: 100%;
      border: none;
      box-shadow: none;
      margin: 0;
      height: auto;
    }

    .leaflet-control-geocoder-alternatives {
      width: 100%;
      overflow-y: auto;
      margin-top: 40px;
    }
  }
}
