<div class="form-row search" [data-qa]="'location-search'">
  <mat-form-field appearance="outline">
    <input
      id="search-input"  
      matInput
      (keyup)="query$.next($event)"
      placeholder="{{ 'post.location.search_address' | translate }}"
      [data-qa]="'query-location'"
  />

  <mzima-client-button 
  [iconOnly]="true" 
  fill="clear" 
  matSuffix 
  color="secondary">
    <mat-icon icon svgIcon="search-small"></mat-icon>
  </mzima-client-button>
  </mat-form-field>

  <ul
  class="geocoder-list"
  *ngIf="locations && locations.length > 0"
  [data-qa]="'geocoder-list'"
  >
  <li
    class="geocoder-list__item"
    *ngFor="let location of locations"
    (click)="selectLocation(location)"
    [data-qa]="'geocoder-list-item'"
  >
    {{ location.display_name }}
  </li>
  </ul>
</div>  
<div id="ol-map" class="map-container"></div>

<span class="instructions">
  {{ 'post.location.you_can_search_or_click' | translate }}
</span>

<div *ngIf="location">
  <div class="form-row">
    <mat-label
      >{{ 'post.location.lat' | translate }}
      <span class="color-accent" *ngIf="required">*</span></mat-label
    >
    <mat-form-field
      appearance="outline"
      [ngClass]="{ 'location-error': emptyFieldLat || noSpecialCharactersLat }"
    >
      <input
        matInput
        disabled
        [data-qa]="'location-lat'"
        [(ngModel)]="location.lat"
        (ngModelChange)="checkErrors()"
        (focusout)="onFocusOut()"
      />
      <mzima-client-button
        matSuffix
        fill="clear"
        color="secondary"
        [iconOnly]="true"
        (buttonClick)="clearLocationField()"
        *ngIf="location.lat"
      >
        <mat-icon icon svgIcon="close"></mat-icon>
      </mzima-client-button>
    </mat-form-field>
    <p *ngIf="emptyFieldLat" class="location-error">
      {{ 'post.location.errors.empty_lat' | translate }}
    </p>
    <p *ngIf="noSpecialCharactersLat" class="location-error">
      {{ 'post.location.errors.special_lat' | translate }}
    </p>
  </div>

  <div class="form-row">
    <mat-label
      >{{ 'post.location.lng' | translate
      }}<span class="color-accent" *ngIf="required">*</span></mat-label
    >
    <mat-form-field
      appearance="outline"
      [ngClass]="{ 'location-error': emptyFieldLng || noSpecialCharactersLng }"
    >
      <input
        matInput
        disabled
        [data-qa]="'location-lng'"
        [(ngModel)]="location.lng"
        (ngModelChange)="checkErrors()"
        (focusout)="onFocusOut()"
      />
      <mzima-client-button
        matSuffix
        fill="clear"
        color="secondary"
        [iconOnly]="true"
        (buttonClick)="clearLocationField()"
        *ngIf="location.lng"
      >
        <mat-icon icon svgIcon="close"></mat-icon>
      </mzima-client-button>
    </mat-form-field>
    <p *ngIf="emptyFieldLng" class="location-error">
      {{ 'post.location.errors.empty_lng' | translate }}
    </p>
    <p *ngIf="noSpecialCharactersLng" class="location-error">
      {{ 'post.location.errors.special_lng' | translate }}
    </p>
  </div>
</div>
