<div class="map-holder">
  <div
    leaflet
    class="map"
    *ngIf="mapReady"
    [leafletLayers]="mapLayers"
    [leafletOptions]="leafletOptions"
    [leafletFitBounds]="mapFitToBounds"
    (leafletMapReady)="onMapReady($event)"
    [leafletFitBoundsOptions]="fitBoundsOptions"
  ></div>

  <!--  <form class="search-form">-->
  <!--    <mat-form-field appearance="outline">-->
  <!--      <input matInput [placeholder]="'post.location.search_address' | translate" />-->
  <!--    </mat-form-field>-->
  <!--  </form>-->
  <mat-icon
    (click)="getCurrentLocation()"
    class="current-location"
    svgIcon="current-location"
  ></mat-icon>
</div>

<span class="instructions">
  {{ 'post.location.you_can_search_or_click' | translate }}
</span>
<div *ngIf="location">
  <div class="form-row">
    <mat-label>Lat</mat-label>
    <mat-form-field
      appearance="outline"
      [ngClass]="{ 'location-error': noLetterLat || emptyFieldLat }"
    >
      <input matInput [(ngModel)]="location.lat" (ngModelChange)="changeCoords()" />
    </mat-form-field>
    <p *ngIf="noLetterLat" class="location-error">
      {{ 'post.location.errors.decimal_lat' | translate }}
    </p>
    <p *ngIf="emptyFieldLat" class="location-error">
      {{ 'post.location.errors.empty_lat' | translate }}
    </p>
  </div>

  <div class="form-row">
    <mat-label>Long</mat-label>
    <mat-form-field
      appearance="outline"
      [ngClass]="{ 'location-error': noLetterLng || emptyFieldLng }"
    >
      <input matInput [(ngModel)]="location.lng" (ngModelChange)="changeCoords()" />
    </mat-form-field>
    <p *ngIf="noLetterLng" class="location-error">
      {{ 'post.location.errors.decimal_lng' | translate }}
    </p>
    <p *ngIf="emptyFieldLng" class="location-error">
      {{ 'post.location.errors.empty_lng' | translate }}
    </p>
  </div>
</div>
