@import 'apps/web-mzima-client/src/styles/helpers';

.single-menu {
  padding: 16px;
  display: block;
  font-size: 12px;
  cursor: pointer;
  line-height: 1.3;
  border-radius: 8px;
  text-decoration: none;
  transition: box-shadow 0.35s ease;
  box-shadow: inset 0 0 0 1px var(--color-neutral-20);

  @include breakpoint-max($tablet) {
    font-size: 14px;
    line-height: 1.3;
    padding: 16px 16px 20px;
    color: var(--color-neutral-80);
  }

  &:not(:last-child) {
    margin-bottom: 8px;

    @include breakpoint-max($tablet) {
      margin-bottom: 16px;
    }
  }

  &:hover {
    box-shadow: inset 0 0 0 1px var(--color-primary-70);
  }

  &-active {
    box-shadow: inset 0 0 0 2px var(--color-primary-70);
  }

  &__header {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    color: var(--color-black);

    &__icon {
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      font-size: 24px;
      margin-inline-end: 8px;
    }
  }

  &__title {
    margin: 0 !important;

    @include breakpoint-max($laptop-small) {
      font-size: 18px !important;
    }

    @include breakpoint-max($tablet) {
      font-size: 16px !important;
    }
  }

  &__info {
    color: var(--color-neutral-80);

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
