<div class="settings">
  <ng-container *ngFor="let item of settingsItems">
    <a
      matRipple
      [routerLink]="item.router"
      class="single-menu"
      [routerLinkActive]="'single-menu-active'"
      [data-qa]="'btn-' + item.router"
      *ngIf="item.visible"
    >
      <div class="single-menu__header">
        <mat-icon class="single-menu__header__icon" svgIcon="{{ item.icon }}"></mat-icon>
        <h3 class="single-menu__title">{{ item.title | translate }}</h3>
      </div>
      <div class="single-menu__info">
        <p>{{ item.description | translate }}</p>
      </div>
    </a>
  </ng-container>

  <!-- remove after testing on staging-->
  <pre [style]="{ display: 'none' }">
    isDonateAvailable: {{ isDonateAvailable }}
    isDonateVisible: {{ (isAdmin && isDonateAvailable) || (isManageSettings && isDonateAvailable) }}
  </pre>
</div>
