<div class="chart-container">
  <h3>Activity over time</h3>
  <mat-form-field appearance="fill">
    <mat-label>Select filter</mat-label>
    <mat-select [(ngModel)]="selectedFilter" (selectionChange)="change($event)" name="filter">
      <mat-option *ngFor="let filter of filters" [value]="filter.value">
        {{ filter.displayNane }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox
    class="example-margin"
    [(ngModel)]="cumulativeTotal"
    (change)="changeCumulativeTotal()"
  >
    Show cumulative totals
  </mat-checkbox>
  <ngx-charts-line-chart
    [view]="[550, 300]"
    [scheme]="colorScheme"
    [legend]="legend"
    [legendPosition]="below"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [results]="data"
  >
  </ngx-charts-line-chart>
</div>
