.modal {
  &-wrapper {
    padding: 30px 24px;
  }

  &-title {
    margin: 0;
  }

  &-description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 34px;
  }
  &-buttons {
    justify-content: flex-end;
    :first-child {
      margin-right: 32px;
    }
  }
}
