<form
  novalidate
  [formGroup]="form"
  class="search-form"
  (submit)="applyFilters()"
  [ngClass]="{
    'search-form--filters-open': isFiltersVisible,
    'search-form--main-filters-open': isMainFiltersOpen
  }"
>
  <mat-form-field appearance="outline" class="search-form__control">
    <mat-icon matPrefix svgIcon="search"></mat-icon>
    <input
      matInput
      [(ngModel)]="searchQuery"
      (ngModelChange)="searchPosts()"
      class="search-form__form-control"
      [ngModelOptions]="{ standalone: true }"
      [placeholder]="'global_filter.search' | translate"
    />
    <button
      matSuffix
      type="button"
      mat-icon-button
      *ngIf="searchQuery?.length"
      (click)="clearPostsResults()"
    >
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </mat-form-field>
  <button
    type="button"
    mat-raised-button
    class="search-form__filters"
    *ngIf="(isDesktop$ | async) || isMapView"
    (click)="toggleFilters(!isFiltersVisible)"
  >
    <mat-icon class="search-form__filters__icon" svgIcon="filters"></mat-icon>
    <span>{{ 'app.filters' | translate }}</span>
  </button>

  <div
    data-filter-highlight
    class="search-form__main-filters"
    [ngClass]="{ 'search-form__main-filters--closed': !isMainFiltersOpen && !isOnboardingActive }"
  >
    <button
      type="button"
      mat-icon-button
      (click)="toggleMainFilters()"
      class="search-form__main-filters__toggle-btn"
    >
      <mat-icon svgIcon="angle-right"></mat-icon>
    </button>

    <div class="search-form__main-filters__inner">
      <span class="search-form__main-filters__total" *ngIf="total !== undefined">
        {{ 'post.search_results' | translate }} {{ total }}
      </span>

      <div class="collection-info" *ngIf="collectionInfo">
        <span class="collection-info__title">
          Collection
          {{ collectionInfo.name }}
          <button
            mat-button
            type="button"
            color="primary"
            (click)="clearCollection()"
            class="filter-group__head__button"
          >
            {{ 'nav.clear' | translate }}
          </button>
        </span>

        <div class="collection-info__description" *ngIf="collectionInfo.description?.length">
          {{ collectionInfo.description }}
        </div>
      </div>

      <ng-container *ngIf="surveysLoaded; else loader">
        <div class="filter-group" *ngIf="surveyList?.length">
          <div class="filter-group__head">
            <label class="filter-group__title" for="surveys">{{ 'app.surveys' | translate }}</label>
            <button
              mat-button
              type="button"
              color="primary"
              (click)="clearFilter('form')"
              class="filter-group__head__button"
            >
              {{ 'nav.clear' | translate }}
            </button>
          </div>
          <mat-selection-list
            (selectionChange)="surveyChanged($event)"
            name="surveys"
            class="selection-list"
            formControlName="form"
          >
            <mat-list-option
              *ngFor="let survey of surveyList"
              [selected]="survey.checked"
              color="primary"
              [value]="survey.id"
              checkboxPosition="before"
              class="selection-list__option"
              [ngStyle]="{ '--color': survey.color }"
            >
              <span class="selection-list__option__border"></span>
              {{ survey.name }}
              <span class="selection-list__option__total">{{ survey.total }}</span>
            </mat-list-option>
          </mat-selection-list>

          <div class="filter-group__info">
            <span *ngIf="notShownPostsCount <= 0">{{
              'global_filter.unmapped_none' | translate
            }}</span>
            <span *ngIf="notShownPostsCount === 1">{{
              'global_filter.unmapped_start_one' | translate
            }}</span>
            <span *ngIf="notShownPostsCount >= 2">{{
              'global_filter.unmapped_start_many' | translate
            }}</span>
            <a [routerLink]="['feed']" *ngIf="notShownPostsCount >= 1">
              {{ notShownPostsCount }} post{{ notShownPostsCount >= 2 ? 's' : '' }}
            </a>
            <span *ngIf="notShownPostsCount >= 1">{{
              'global_filter.unmapped_end' | translate
            }}</span>
          </div>
        </div>

        <div class="filter-group" *ngIf="sources?.length && showSources">
          <div class="filter-group__head">
            <label class="filter-group__title" for="source">
              {{ 'global_filter.source' | translate }}
            </label>
            <button
              mat-button
              type="button"
              color="primary"
              (click)="clearFilter('source')"
              class="filter-group__head__button"
            >
              {{ 'nav.clear' | translate }}
            </button>
          </div>
          <mat-selection-list name="source" class="selection-list" formControlName="source">
            <ng-container *ngFor="let source of sources">
              <mat-list-option
                [selected]="source.checked"
                *ngIf="source.total > 0"
                color="primary"
                [value]="source.value"
                checkboxPosition="before"
                class="selection-list__option"
              >
                {{ source.name }}
                <span class="selection-list__option__total">{{ source.total }}</span>
              </mat-list-option>
            </ng-container>
          </mat-selection-list>
        </div>
      </ng-container>
    </div>
  </div>
  <div
    data-filter-highlight
    class="search-form__filters-panel"
    *ngIf="(isDesktop$ | async) || isFiltersVisible"
    [ngClass]="{ 'search-form__filters-panel--open': isFiltersVisible }"
  >
    <div class="search-form__filters-panel__head" *ngIf="!(isDesktop$ | async)!">
      <h3>Filters and sorting</h3>
      <button
        mat-stroked-button
        (click)="toggleFilters(false)"
        class="search-form__filters-panel__head__close"
        [attr.aria-label]="'modal.button.close' | translate"
      >
        <mat-icon class="fab-button__icon">close</mat-icon>
      </button>
    </div>

    <div class="search-form__filters-panel__inner">
      <ng-container *ngIf="!(isDesktop$ | async)!">
        <app-filter-control
          [options]="surveyList"
          formControlName="form"
          [fields]="['id', 'name']"
          (clear)="clearFilter('form')"
          [type]="filterType.Multiselect"
          [title]="'app.surveys' | translate"
          class="search-form__filters-panel__item"
          [badge]="form.controls['form'].value?.length || null"
        >
          <div class="clear-button" suffix>
            <button
              mat-button
              color="primary"
              (click)="clearFilter('form')"
              class="filter-group__head__button"
            >
              {{ 'nav.clear' | translate }}
            </button>
          </div>
        </app-filter-control>

        <app-filter-control
          [options]="sources"
          formControlName="source"
          [fields]="['value', 'name']"
          [type]="filterType.Multiselect"
          (clear)="clearFilter('source')"
          class="search-form__filters-panel__item"
          [title]="'global_filter.source' | translate"
          [badge]="form.controls['source'].value?.length || null"
        >
          <div class="clear-button" suffix>
            <button
              mat-button
              color="primary"
              (click)="clearFilter('source')"
              class="filter-group__head__button"
            >
              {{ 'nav.clear' | translate }}
            </button>
          </div>
        </app-filter-control>
      </ng-container>

      <app-filter-control
        title="{{ 'global_filter.saved_filters' | translate }}"
        [type]="filterType.Select"
        [options]="savedSearches"
        [canEdit]="isEditAvailable"
        (clear)="applySavedFilter(null)"
        (editOption)="saveSearch($event)"
        [(ngModel)]="activeSavedSearchValue"
        [ngModelOptions]="{ standalone: true }"
        (filterChange)="applySavedFilter($event)"
        class="search-form__filters-panel__item"
        [badge]="activeSavedSearchValue ? 1 : null"
      >
        <button
          *ngIf="canCreateSearch"
          suffix
          mat-button
          color="primary"
          (click)="saveSearch()"
          class="save-filter-button small"
        >
          <mat-icon svgIcon="plus" class="save-filter-button__icon"></mat-icon>
          {{ 'global_filter.save_new_filter' | translate }}
        </button>
        <span class="no-saved-filters" postfix *ngIf="savedSearches?.length === 0"
          >No saved filters. Saved filter(s) will appear here for you to select once made
          available.</span
        >
      </app-filter-control>

      <app-filter-control
        [options]="statuses"
        formControlName="status"
        [fields]="['value', 'name']"
        [type]="filterType.Multiselect"
        (clear)="clearFilter('status')"
        class="search-form__filters-panel__item"
        [title]="'global_filter.status' | translate"
        [badge]="form.controls['status'].value?.length || null"
      >
        <div class="clear-button" suffix>
          <button
            mat-button
            color="primary"
            (click)="clearFilter('status')"
            class="filter-group__head__button"
          >
            {{ 'nav.clear' | translate }}
          </button>
        </div>
        <span prefix> 22222</span>
      </app-filter-control>

      <app-filter-control
        *ngIf="categoriesData?.length"
        formControlName="tags"
        [options]="categoriesData"
        (clear)="clearFilter('tags')"
        [type]="filterType.Multilevelselect"
        [title]="'app.categories' | translate"
        class="search-form__filters-panel__item"
        [badge]="form.controls['tags'].value?.length || null"
      >
        <div class="clear-button" suffix>
          <button
            mat-button
            color="primary"
            class="filter-group__head__button"
            (click)="clearFilter('tags')"
          >
            {{ 'nav.clear' | translate }}
          </button>
        </div>
      </app-filter-control>

      <app-filter-control
        formControlName="date"
        [type]="filterType.Daterange"
        (clear)="clearFilter('date')"
        class="search-form__filters-panel__item"
        [title]="'global_filter.date_range' | translate"
        [badge]="form.controls['date'].value?.start || form.controls['date'].value?.end ? 1 : null"
      >
        <div class="clear-button" suffix>
          <button
            mat-button
            color="primary"
            class="filter-group__head__button"
            (click)="clearFilter('date')"
          >
            {{ 'nav.clear' | translate }}
          </button>
        </div>
      </app-filter-control>

      <app-filter-control
        [type]="filterType.Location"
        formControlName="center_point"
        (clear)="clearFilter('center_point')"
        class="search-form__filters-panel__item"
        [title]="'global_filter.location' | translate"
        [badge]="form.controls['center_point'].value.location?.lat ? 1 : null"
      >
        <div class="clear-button" suffix>
          <button
            mat-button
            color="primary"
            class="filter-group__head__button"
            (click)="clearFilter('center_point')"
          >
            {{ 'nav.clear' | translate }}
          </button>
        </div>
      </app-filter-control>

      <div class="search-form__filters-panel__item search-form__filters-panel__item--controls">
        <button
          type="button"
          mat-stroked-button
          [disabled]="form.disabled"
          class="search-form__button"
          (click)="resetSavedFilter()"
        >
          {{ 'global_filter.clear_all_filters' | translate }}
        </button>
        <button
          type="button"
          color="primary"
          *ngIf="!(isDesktop$ | async)!"
          mat-raised-button
          (click)="applyAndClose()"
          [disabled]="form.disabled"
          class="search-form__button"
        >
          Apply filters
        </button>
      </div>
    </div>
  </div>
</form>

<ng-template #loader>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
