@import '/src/styles/helpers';

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__control {
    z-index: 700;
    display: flex;
    flex: 1 1 100%;
    margin-bottom: 0;
    position: relative;
    align-items: center;

    &.mat-form-field-appearance-outline {
      &::ng-deep {
        .mat-form-field-wrapper {
          width: 100%;
          padding-bottom: 0;
        }
      }
    }

    &__icon {
      font-size: 24px;
      color: #4e545b;
    }
  }

  &__filters-panel {
    left: 0;
    right: 0;
    top: 100%;
    display: flex;
    margin-top: 1px;
    position: absolute;
    transform-origin: 50% 0;
    background: var(--color-light);
    justify-content: space-between;
    transition: opacity 0.35s ease, transform 0.35s ease;

    &:not(.search-form__filters-panel--open) {
      opacity: 0;
      top: -9999px;
      left: -9999px;
      transform: scaleY(0);
      transition: all 0s ease 0.35s, opacity 0.35s ease, transform 0.35s ease;
    }

    .search-form--map-view & {
      left: 220px;
    }

    &__item {
      flex-shrink: 0;
      width: 16.6666%;

      &:not(:first-child) {
        border-left: 1px solid #e3e9f8;
      }
    }

    &__group {
      flex-shrink: 0;
      width: 16.6666%;
      position: relative;

      &--controls {
        padding: 8px 16px;
      }

      &__title {
        display: flex;
        font-size: 14px;
        color: #383e45;
        min-height: 100%;
        padding: 15px 8px;
        line-height: 17px;
        vertical-align: top;
        align-items: center;
        justify-content: center;
      }

      &__arrow {
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        line-height: 1;
        display: block;
        font-size: 24px;
        margin-left: 8px;
        background: url(/assets/images/select-arrow.svg) 50% 50% / contain no-repeat;
      }

      &__dropdown {
        left: 0;
        top: 100%;
        position: absolute;
      }

      &:not(:first-child) {
        border-left: 1px solid #e3e9f8;
      }

      app-multilevel-select {
        height: 100%;
        display: block;

        &::ng-deep {
          .multilevelselect {
            height: 100%;
            padding: 15px 8px;
          }
        }
      }

      .mat-date-range-input {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #383e45;

        &::ng-deep {
          .mat-date-range-input-separator {
            display: none;
          }
        }
      }
    }
  }

  &__filters {
    background: none;
    min-width: 105px;
    font-weight: normal;
    color: var(--color-dark);
    box-shadow: none !important;

    &::ng-deep {
      .mat-button-wrapper {
        justify-content: center;
      }
    }

    &__icon {
      flex-shrink: 0;
      margin-left: 0;
      font-size: 30px;
      margin-right: 3px;
    }
  }

  &__main-filters {
    left: 0;
    top: 100%;
    width: 220px;
    overflow-y: auto;
    margin-top: 1px;
    overflow-x: hidden;
    padding: 20px 15px;
    position: absolute;
    scroll-behavior: smooth;
    height: calc(100vh - 73px);
    background: var(--color-light);
    -webkit-overflow-scrolling: touch;

    &__total {
      display: block;
      font-size: 14px;
      color: #323538;
      font-weight: 600;
      line-height: 17px;
      margin-bottom: 36px;
    }
  }

  &__select {
    height: 100%;
    margin: 0 -8px;
    vertical-align: top;
    width: calc(100% + 16px);

    &::ng-deep {
      .mat-select-trigger {
        height: 100%;
        padding: 15px 8px;
        justify-content: center;
      }

      .mat-select-value {
        width: auto;
        min-width: 40px;
      }
    }
  }

  &__button {
    width: 100%;
    text-align: center;

    &::ng-deep {
      .mat-button-wrapper {
        justify-content: center;
      }
    }
  }
}

.form-control {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #4e545b;
  line-height: 1.6;
  border-radius: 8px;
  background: transparent;
  transition: all 0.35s ease;
  padding: 12px 12px 12px 48px;
  border: 1px solid var(--color-gray-shade);
}

.sorting-btn {
  z-index: 700;
  flex-shrink: 0;
  margin-left: 16px;
}

.active-filters {
  position: relative;

  &:last-of-type {
    margin-bottom: -8px;
  }

  &--saved {
    padding-left: 8px;

    &:before {
      left: 0;
      top: 16px;
      content: '';
      bottom: 24px;
      position: absolute;
      border-left: 1px solid #c8c8c8;
    }
  }

  &__row {
    display: flex;
    margin: 0 -4px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    &:not(:first-child) {
      .active-filters--saved & {
        padding-left: 8px;

        .active-filter {
          &:after {
            top: 50%;
            width: 8px;
            right: 100%;
            content: '';
            position: absolute;
            border-top: 1px solid #c8c8c8;
          }

          &:first-child {
            &:after {
              width: 16px;
            }
          }
        }
      }
    }
  }
}

.active-filter {
  line-height: 32px;
  margin: 0 4px 8px;
  border-radius: 16px;

  &__icon {
    margin-left: 8px;
    color: var(--color-primary);
  }

  i {
    vertical-align: initial;
  }
}

.save-filters-button {
  margin-top: 16px;
  text-align: right;
}

.filter-group {
  &:not(:first-child) {
    margin-top: 32px;
  }

  &__head {
    display: flex;
    margin-bottom: 12px;
    align-items: flex-end;
    justify-content: space-between;

    &__button {
      min-width: 0;
      font-size: 12px;
      padding: 2px 4px;
      font-weight: 700;
      line-height: 14px;
      text-decoration: underline;
      margin: -2px -4px -2px 14px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__title {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #323538;
    line-height: 14px;
    text-transform: uppercase;
  }

  &__info {
    font-size: 12px;
    margin-top: 16px;
    line-height: 1.5;
    white-space: normal;

    a {
      color: var(--color-primary);

      &:hover {
        color: var(--color-primary-shade);
      }
    }
  }
}

.selection-list {
  padding: 0;

  .selection-list__option {
    height: auto;
    min-height: 0;
    margin: 0 -15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    position: relative;
    white-space: normal;
    background: #f5f5f5;
    width: calc(100% + 30px);

    &:not(:first-child) {
      margin-top: 8px;
    }

    &::ng-deep {
      .mat-list-text {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .mat-list-item-content {
        min-height: 40px;
        padding: 8px 15px;
      }
    }

    &__border {
      top: 0;
      left: 0;
      bottom: 0;
      width: 4px;
      position: absolute;
      background: var(--color);
    }

    &__total {
      font-size: 12px;
      font-weight: 400;
      margin-left: 8px;
      color: #323538;
      line-height: 14px;
    }
  }
}

::ng-deep {
  .search-autocomplete {
    margin-top: -10px;
    padding-top: 10px;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #e9e9ea;
    border-radius: 0 0 10px 10px;

    .mat-option[aria-disabled='true'] {
      font-size: 16px;
      line-height: 1.6;
      font-weight: 400;
      padding-top: 12px;
      padding-bottom: 12px;
      color: var(--color-dark);

      .mat-option-text {
        display: block;
      }
    }
  }
}
