<div class="ion-margin-bottom">
  <ion-item
    lines="none"
    class="form-row"
    [ngClass]="{
      'form-row--rounded': rounded,
      'form-row--light': color === 'light'
    }"
  >
    <ng-content slot="start" select="[start]"></ng-content>
    <ion-input
      [(ngModel)]="value"
      class="form-control"
      [label]="label ? label + (required ? '*' : '') : null"
      [type]="type === 'password' && isPasswordVisible ? 'text' : type"
      [labelPlacement]="label ? 'floating' : 'start'"
      [placeholder]="placeholder"
      [required]="required"
      [disabled]="disabled"
      (ionBlur)="handleBlur()"
      (ionFocus)="handleFocus()"
      (ionChange)="handleInputChange($event)"
      (keyup)="handleInputChange($event)"
    >
    </ion-input>
    <app-button
      class="toggle-password-button"
      slot="end"
      *ngIf="togglePassword"
      fill="clear"
      color="custom"
      (click)="isPasswordVisible = !isPasswordVisible"
    >
      <app-icon slot="icon-only" [name]="isPasswordVisible ? 'eye' : 'eye-closed'"></app-icon>
    </app-button>
    <ng-content slot="end" select="[end]"></ng-content>
  </ion-item>
  <span *ngIf="hint?.length && (!errors.length || isOnFocus)" class="hint ion-padding-horizontal">
    {{ hint }}
  </span>
  <ng-container *ngIf="!isOnFocus && errors.length">
    <ion-text *ngFor="let error of errors" color="danger" class="error-msg ion-padding-horizontal">
      {{ error }}
    </ion-text>
  </ng-container>
  <ng-content select="[button]"></ng-content>
  <ng-content select="[additional]"></ng-content>
</div>
