.form-row {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  --border-radius: 4px 4px 0 0;

  @media (prefers-color-scheme: dark) {
    border-bottom-color: var(--ion-color-step-600);
  }

  @media (prefers-color-scheme: light) {
    border-bottom-color: var(--ion-color-step-300);
  }

  &::ng-deep {
    .input-label-placement-stacked.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md,
    .has-focus.input-label-placement-floating.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md,
    .has-value.input-label-placement-floating.sc-ion-input-md-h
      .label-text-wrapper.sc-ion-input-md {
      z-index: 15;
      pointer-events: none;
    }
  }
}

.hint {
  display: block;
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;

  @media (prefers-color-scheme: dark) {
    color: var(--ion-color-step-800);
  }
}

.form-control {
  --border-radius: 4px 4px 0 0;

  @media (prefers-color-scheme: dark) {
    --highlight-color-focused: var(--ion-color-step-800);
    --highlight-color-valid: var(--ion-color-step-800);
  }

  @media (prefers-color-scheme: light) {
    --highlight-color-focused: var(--ion-color-step-600);
    --highlight-color-valid: var(--ion-color-step-600);
  }

  &::ng-deep {
    input,
    textarea,
    select {
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-box-shadow: inset 0 0 0 1000px var(--ion-item-background);
        -webkit-text-fill-color: var(--ion-text-color) !important;
        transition: background-color 5000s ease-in-out 0s !important;
      }
    }
  }
}

.toggle-password-button {
  --size: 48px;
  margin-right: -16px;

  @media (prefers-color-scheme: light) {
    color: var(--ion-color-step-450);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--ion-color-step-550);
  }
}

.error-msg {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
