<div
  class="feed-page"
  [ngClass]="{
    'feed-page--filters-visible': isFiltersVisible,
    'feed-page--post-view': mode === FeedMode.Post,
    'feed-page--no-offset': !isMainFiltersOpen
  }"
>
  <ng-container *ngIf="posts.length">
    <div class="feed-page__info-panel" *ngIf="isDesktop">
      <span class="feed-page__results-info" [attr.data-qa]="'feed-page-results'"
        >{{ 'app.current_results' | translate }} {{ postCurrentLength }} / {{ total }}</span
      >
      <div class="feed-page__mode-switcher">
        <mzima-client-button
          [fill]="mode === FeedMode.Tiles ? 'outline' : 'solid'"
          [iconOnly]="true"
          id="switcher-button-tiles"
          [color]="mode === FeedMode.Tiles ? 'primary' : 'light'"
          [isActive]="mode === FeedMode.Tiles"
          (buttonClick)="switchMode(FeedMode.Tiles)"
          class="feed-page__mode-switcher__button"
          [attr.aria-label]="
            mode === FeedMode.Tiles ? 'Switch to Tiles View' : 'Switch to another view'
          "
        >
          <mat-icon icon svgIcon="tiles" aria-label="Switch to Tiles View"></mat-icon>
        </mzima-client-button>
        <mzima-client-button
          [fill]="mode === FeedMode.Post ? 'outline' : 'solid'"
          [iconOnly]="true"
          id="switcher-button-post"
          [color]="mode === FeedMode.Post ? 'primary' : 'light'"
          [isActive]="mode === FeedMode.Post"
          (buttonClick)="switchMode(FeedMode.Post)"
          class="feed-page__mode-switcher__button"
          [attr.aria-label]="
            mode === FeedMode.Post ? 'Switch to Post Mode' : 'Switch to another mode'
          "
        >
          <mat-icon icon svgIcon="sidebar" aria-label="Open Sidebar"></mat-icon>
        </mzima-client-button>
      </div>
    </div>
    <div
      class="feed-page__controls-panel"
      [ngClass]="{ 'feed-page__controls-panel--bulk-visible': isBulkOptionsVisible }"
    >
      <div
        class="feed-page__controls feed-page__controls--actions"
        *ngIf="isDesktop || isBulkOptionsVisible"
      >
        <ng-container *ngIf="isBulkOptionsVisible">
          <mzima-client-button
            color="danger"
            [iconOnly]="!isDesktop"
            class="feed-page__control"
            [disabled]="!selectedPosts.length"
            (buttonClick)="deleteSelectedPosts()"
            [attr.aria-label]="isDesktop ? ('app.delete' | translate) : 'Delete'"
          >
            <span *ngIf="isDesktop">{{ 'app.delete' | translate }}</span>
            <mat-icon icon *ngIf="!isDesktop" svgIcon="delete" aria-label="Delete"></mat-icon>
          </mzima-client-button>
          <ng-container *ngIf="!isDesktop">
            <span class="feed-page__controls__info">
              {{ selectedPosts.length }}/{{ posts.length }} Selected
            </span>
            <ng-container *ngIf="isManagePosts">
              <mzima-client-button
                [iconOnly]="true"
                color="light-gray"
                class="feed-page__control"
                [disabled]="!selectedPosts.length"
                [matMenuTriggerFor]="selectedPosts.length ? statusesMenu : null"
                [attr.aria-label]="
                  selectedPosts.length ? 'Open status menu' : 'No action available'
                "
              >
                <mat-icon icon svgIcon="dots" aria-label="Open Options Menu"></mat-icon>
              </mzima-client-button>

              <mat-menu
                #statusesMenu="matMenu"
                xPosition="after"
                class="statuses-menu"
                backdropClass="statuses-menu__backdrop"
              >
                <h3 class="menu-title">{{ 'app.mark_as' | translate }}</h3>
                <button
                  mat-menu-item
                  *ngFor="let status of statuses"
                  (click)="changePostsStatus(status.value)"
                >
                  {{ status.name | translate }}
                </button>
              </mat-menu>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="isDesktop">
            <mat-form-field *ngIf="isManagePosts" appearance="outline" class="feed-page__control">
              <mat-select
                disableOptionCentering
                [formControl]="statusControl"
                [disabled]="!selectedPosts.length"
                [placeholder]="'app.mark_as' | translate"
                (selectionChange)="changePostsStatus($event.value)"
              >
                <mat-option
                  *ngFor="let status of statuses"
                  [value]="status.value"
                  [id]="'select-option-' + status.value"
                >
                  {{ status.name | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mzima-client-button
              fill="clear"
              color="gray"
              class="feed-page__control"
              (buttonClick)="selectAllPosts()"
              [attr.aria-label]="'Select all posts'"
            >
              {{ 'post.select_all' | translate }}
            </mzima-client-button>
            <mzima-client-button
              fill="clear"
              color="gray"
              class="feed-page__control"
              (buttonClick)="deselectAllPosts()"
              [disabled]="!selectedPosts.length"
              [attr.aria-label]="
                selectedPosts.length
                  ? ('nav.deselect' | translate) + ' ' + ('nav.all' | translate)
                  : 'Disabled: No posts selected'
              "
            >
              {{ 'nav.deselect' | translate }}
              {{ 'nav.all' | translate }}
            </mzima-client-button>
          </ng-container>
        </ng-container>
      </div>
      <div class="feed-page__controls">
        <mzima-client-button
          fill="outline"
          color="secondary"
          [isActive]="isBulkOptionsVisible"
          class="feed-page__control feed-page__control--bulk"
          *ngIf="user?.allowed_privileges?.includes('update')"
          (buttonClick)="toggleBulkOptions(!isBulkOptionsVisible)"
          [attr.aria-label]="'Toggle bulk actions ' + (isBulkOptionsVisible ? 'off' : 'on')"
        >
          {{ 'post.modify.bulk_actions' | translate }}
        </mzima-client-button>
        <div class="feed-page__controls__inner">
          <mzima-client-button
            fill="outline"
            color="secondary"
            [iconOnly]="!isDesktop"
            [matMenuTriggerFor]="sortingMenu"
            class="feed-page__control feed-page__control--sorting"
            [attr.aria-label]="
              isDesktop ? ('global_filter.sorting' | translate) : 'Open sorting options'
            "
          >
            <span *ngIf="isDesktop">{{ 'global_filter.sorting' | translate }}</span>
            <mat-icon icon svgIcon="sorting" aria-label="Sort"></mat-icon>
          </mzima-client-button>

          <mat-menu #sortingMenu="matMenu" xPosition="before">
            <button
              mat-menu-item
              *ngFor="let sorting of sortingOptions"
              (click)="sortPosts(sorting.value)"
              [ngClass]="{
                active:
                  activeSorting.order === sorting.value.order &&
                  activeSorting.orderby === sorting.value.orderby
              }"
            >
              <mat-icon
                [svgIcon]="sorting.value.order === 'desc' ? 'sort-down' : 'sort-up'"
              ></mat-icon>
              {{ sorting.orderBy | translate }} ({{ sorting.order | translate }})
            </button>
          </mat-menu>

          <mzima-client-button
            fill="outline"
            color="secondary"
            [iconOnly]="true"
            *ngIf="!isDesktop"
            class="feed-page__control"
            (buttonClick)="toggleFilters(!isFiltersVisible)"
            [attr.aria-label]="'Toggle filters ' + (isFiltersVisible ? 'off' : 'on')"
          >
            <mat-icon icon svgIcon="filters" aria-label="Filter"></mat-icon>
          </mzima-client-button>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="feed-page__main" [attr.data-qa]="'posts'">
    <!-- (scroll)="onScroll($event)" -->
    <div #feed class="feed" [ngClass]="{ 'feed--post-view': mode === FeedMode.Post }">
      <ng-container *ngIf="!postsCheck().stillLoading; else loader">
        <div class="feed__posts" *ngIf="postsCheck().atLeastOneExists; else postsEmpty">
          <ngx-masonry
            #masonry
            [ordered]="true"
            [options]="masonryOptions"
            [updateLayout]="updateMasonryLayout"
            [attr.data-qa]="'post-preview'"
          >
            <app-post-preview
              [attr.data-qa]="'post-item'"
              class="post"
              [post]="post"
              [attr.postId]="post.id"
              [user]="user"
              ngxMasonryItem
              [feedView]="true"
              (edit)="editPost(post)"
              (refresh)="refreshPost(post)"
              (deleted)="postDeleted([post])"
              (click)="showPostDetails(post)"
              [selectable]="isBulkOptionsVisible"
              [isChecked]="isPostChecked(post)"
              (statusChanged)="postStatusChanged()"
              (selected)="isPostSelected($event, post)"
              (mediaLoaded)="updateMasonry()"
              [ngClass]="{
                'post--selected':
                  post.id === postDetails?.id ||
                  (mode === FeedMode.Post && post.id === activePostId)
              }"
              *ngFor="
                let post of posts
                  | paginate
                    : {
                        itemsPerPage: mode === FeedMode.Post ? 0 : itemsPerPage,
                        currentPage: currentPage,
                        totalItems: total
                      }
              "
            >
            </app-post-preview>
          </ngx-masonry>
          <ng-container *ngIf="!isLoading && paginationElementsAllowed">
            <!-- load more -->
            <ng-container
              *ngIf="
                mode === FeedMode.Post && params.page !== undefined && params.limit !== undefined
              "
            >
              <mzima-client-button
                fill="clear"
                color="secondary"
                (buttonClick)="loadMore()"
                class="feed__load-more"
                *ngIf="!loadingMorePosts && postCurrentLength < total"
                [attr.aria-label]="'Load more posts'"
              >
                <mat-icon iconPrefix svgIcon="refresh" aria-label="Refresh"></mat-icon>
                <span>{{ 'app.load_more' | translate }}</span>
              </mzima-client-button>
              <app-spinner *ngIf="loadingMorePosts && postCurrentLength < total"></app-spinner>
              <div class="endofPosts" *ngIf="!loadingMorePosts && postCurrentLength >= total">
                End of Posts
              </div>
            </ng-container>
            <!-- pagination -->
            <pagination-controls
              class="pagination"
              (pageChange)="changePage($event)"
              *ngIf="mode === FeedMode.Tiles"
            >
            </pagination-controls>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="feed-page__post" *ngIf="mode === FeedMode.Post" [attr.data-qa]="'post-details'">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-spinner class="spinner"></app-spinner>
</ng-template>

<ng-template #postsEmpty>
  <span class="posts-empty">{{ 'post.no_posts_yet' | translate }}</span>
</ng-template>
