<!-- POST mode notes [for when there are no posts at all or if there are no posts that match filters]: 
    When there are no posts in POST mode,
    Page (css) style just adopts that of TILES mode
    Better than making extra route request to TILES mode
-->
<div
  class="feed-page"
  [ngClass]="{
    'feed-page--filters-visible': isFiltersVisible,
    'feed-page--post-view': mode === FeedMode.Post && (isLoading || posts.length),
    'feed-page--no-offset': !isMainFiltersOpen
  }"
>
  <!-- This entire switch Mode area should always show up -->
  <ng-container>
    <div class="feed-page__info-panel" *ngIf="isDesktop">
      <span
        class="feed-page__results-info"
        [ngClass]="{ 'feed-page__results-info__dim': !posts.length }"
        [attr.data-qa]="'feed-page-results'"
      >
        <ng-container *ngIf="!posts.length && isLoading"
          >Loading posts in {{ mode }} mode...</ng-container
        >
        <ng-container *ngIf="posts.length || (!posts.length && !isLoading)">
          {{ 'app.current_results' | translate }}
          {{ postCurrentLength }}
        </ng-container>
        <ng-container *ngIf="posts.length"> / {{ total }} </ng-container>
      </span>
      <div class="feed-page__mode-switcher">
        <mzima-client-button
          [fill]="mode === FeedMode.Tiles ? 'outline' : 'solid'"
          [iconOnly]="true"
          [id]="'switcher-button-tiles'"
          ariaLabel="Tile View"
          [color]="mode === FeedMode.Tiles ? 'primary' : 'light'"
          [isActive]="mode === FeedMode.Tiles"
          (buttonClick)="switchMode(FeedMode.Tiles)"
          [disabled]="isLoading || !posts.length"
          class="feed-page__mode-switcher__button"
        >
          <mat-icon icon svgIcon="tiles"></mat-icon>
        </mzima-client-button>
        <mzima-client-button
          [fill]="mode === FeedMode.Post ? 'outline' : 'solid'"
          [iconOnly]="true"
          ariaLabel="Post View"
          [id]="'switcher-button-post'"
          [color]="mode === FeedMode.Post ? 'primary' : 'light'"
          [isActive]="mode === FeedMode.Post"
          (buttonClick)="switchMode(FeedMode.Post)"
          [disabled]="isLoading || !posts.length"
          class="feed-page__mode-switcher__button"
        >
          <mat-icon icon svgIcon="sidebar"></mat-icon>
        </mzima-client-button>
      </div>
    </div>
    <div
      class="feed-page__controls-panel"
      [ngClass]="{ 'feed-page__controls-panel--bulk-visible': isBulkOptionsVisible }"
    >
      <div
        class="feed-page__controls feed-page__controls--actions"
        *ngIf="isDesktop || isBulkOptionsVisible"
      >
        <ng-container *ngIf="isBulkOptionsVisible">
          <mzima-client-button
            color="danger"
            [iconOnly]="!isDesktop"
            class="feed-page__control"
            [disabled]="!selectedPosts.length"
            (buttonClick)="deleteSelectedPosts()"
          >
            <span *ngIf="isDesktop">{{ 'app.delete' | translate }}</span>
            <mat-icon icon *ngIf="!isDesktop" svgIcon="delete"></mat-icon>
          </mzima-client-button>
          <ng-container *ngIf="!isDesktop">
            <span class="feed-page__controls__info">
              {{ selectedPosts.length }}/{{ posts.length }} Selected
            </span>
            <ng-container *ngIf="isManagePosts">
              <mzima-client-button
                [iconOnly]="true"
                color="light-gray"
                class="feed-page__control"
                [disabled]="!selectedPosts.length"
                [matMenuTriggerFor]="selectedPosts.length ? statusesMenu : null"
              >
                <mat-icon icon svgIcon="dots"></mat-icon>
              </mzima-client-button>

              <mat-menu
                #statusesMenu="matMenu"
                xPosition="after"
                class="statuses-menu"
                backdropClass="statuses-menu__backdrop"
              >
                <h3 class="menu-title">{{ 'app.mark_as' | translate }}</h3>
                <button
                  mat-menu-item
                  *ngFor="let status of statuses"
                  (click)="changePostsStatus(status.value)"
                >
                  {{ status.name | translate }}
                </button>
              </mat-menu>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="isDesktop">
            <mat-form-field *ngIf="isManagePosts" appearance="outline" class="feed-page__control">
              <mat-select
                disableOptionCentering
                [formControl]="statusControl"
                [disabled]="!selectedPosts.length"
                [placeholder]="'app.mark_as' | translate"
                (selectionChange)="changePostsStatus($event.value)"
              >
                <mat-option
                  *ngFor="let status of statuses"
                  [value]="status.value"
                  [id]="'select-option-' + status.value"
                >
                  {{ status.name | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mzima-client-button
              fill="clear"
              color="gray"
              class="feed-page__control"
              (buttonClick)="selectAllPosts()"
            >
              {{ 'post.select_all' | translate }}
            </mzima-client-button>
            <mzima-client-button
              fill="clear"
              color="gray"
              class="feed-page__control"
              (buttonClick)="deselectAllPosts()"
              [disabled]="!selectedPosts.length"
            >
              {{ 'nav.deselect' | translate }}
              {{ 'nav.all' | translate }}
            </mzima-client-button>
          </ng-container>
        </ng-container>
      </div>
      <div class="feed-page__controls">
        <mzima-client-button
          fill="outline"
          color="secondary"
          [isActive]="isBulkOptionsVisible"
          class="feed-page__control feed-page__control--bulk"
          *ngIf="user?.allowed_privileges?.includes('update')"
          (buttonClick)="toggleBulkOptions(!isBulkOptionsVisible)"
          [disabled]="isLoading || !posts.length"
        >
          {{ 'post.modify.bulk_actions' | translate }}
        </mzima-client-button>
        <div class="feed-page__controls__inner">
          <mzima-client-button
            fill="outline"
            color="secondary"
            [iconOnly]="!isDesktop"
            [matMenuTriggerFor]="sortingMenu"
            class="feed-page__control feed-page__control--sorting"
            [disabled]="isLoading || !posts.length"
          >
            <span *ngIf="isDesktop">{{ 'global_filter.sorting' | translate }}</span>
            <mat-icon icon svgIcon="sorting"></mat-icon>
          </mzima-client-button>

          <mat-menu #sortingMenu="matMenu" xPosition="before">
            <button
              mat-menu-item
              *ngFor="let sorting of sortingOptions"
              (click)="sortPosts(sorting.value)"
              [ngClass]="{
                active:
                  activeSorting.order === sorting.value.order &&
                  activeSorting.orderby === sorting.value.orderby
              }"
            >
              <mat-icon
                [svgIcon]="sorting.value.order === 'desc' ? 'sort-down' : 'sort-up'"
              ></mat-icon>
              {{ sorting.orderBy | translate }} ({{ sorting.order | translate }})
            </button>
          </mat-menu>

          <mzima-client-button
            fill="outline"
            color="secondary"
            [iconOnly]="true"
            *ngIf="!isDesktop"
            class="feed-page__control"
            (buttonClick)="toggleFilters(!isFiltersVisible)"
          >
            <mat-icon icon svgIcon="filters"></mat-icon>
          </mzima-client-button>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="feed-page__main" [attr.data-qa]="'posts'">
    <!-- (scroll)="onScroll($event)" -->
    <div
      #feed
      class="feed"
      [ngClass]="{
        'feed__posts-scroll': !isLoading,
        'feed--post-view': mode === FeedMode.Post && (isLoading || posts.length),
        'feed--post-view-loaded': mode === FeedMode.Post && !isLoading && posts.length,
        'feed--post-view-skeleton': mode === FeedMode.Post && isLoading
      }"
    >
      <ng-container>
        <div class="feed__posts">
          <ng-container *ngIf="isLoading || (!posts.length && !noPostsYet)">
            <app-spinner *ngIf="mode === FeedMode.Tiles" class="spinner"></app-spinner>
            <ng-container *ngIf="mode === FeedMode.Post">
              <div *ngFor="let single of postsSkeleton" class="post post--feed-skeleton"></div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!isLoading">
            <!-- No posts yet -->
            <ng-container *ngIf="noPostsYet">
              <span class="posts-empty">{{ 'post.no_posts_yet' | translate }}</span>
            </ng-container>
            <!-- Posts -->
            <ng-container *ngIf="posts.length">
              <ngx-masonry
                #masonry
                [ordered]="true"
                [options]="masonryOptions"
                [updateLayout]="updateMasonryLayout"
                [attr.data-qa]="'post-preview'"
              >
                <app-post-preview
                  tabindex="0"
                  [attr.aria-label]="'Post item for' + post.title"
                  role="link"
                  [attr.data-qa]="'post-item'"
                  class="post"
                  [post]="post"
                  [attr.postId]="post.id"
                  [user]="user"
                  ngxMasonryItem
                  [feedView]="true"
                  (edit)="editPost(post)"
                  (refresh)="refreshPost(post)"
                  (deleted)="postDeleted([post])"
                  (click)="showPostDetails(post)"
                  [selectable]="isBulkOptionsVisible"
                  [isChecked]="isPostChecked(post)"
                  (statusChanged)="postStatusChanged()"
                  (keydown.enter)="showPostDetails(post)"
                  (selected)="isPostSelected($event, post)"
                  (mediaLoaded)="updateMasonry()"
                  [ngClass]="{
                    'post--selected':
                      post.id === postDetails?.id ||
                      (mode === FeedMode.Post && post.id === activePostId)
                  }"
                  *ngFor="
                    let post of posts
                      | paginate
                        : {
                            itemsPerPage: mode === FeedMode.Post ? 0 : itemsPerPage,
                            currentPage: currentPage,
                            totalItems: total
                          }
                  "
                >
                </app-post-preview>
              </ngx-masonry>
              <!-- pagination -->
              <pagination-controls
                class="pagination"
                (pageChange)="changePage($event)"
                *ngIf="mode === FeedMode.Tiles && paginationElementsAllowed"
              >
              </pagination-controls>
              <!-- Load more posts -->
              <ng-container
                *ngIf="
                  mode === FeedMode.Post &&
                  paginationElementsAllowed &&
                  params.page !== undefined &&
                  params.limit !== undefined
                "
              >
                <mzima-client-button
                  fill="clear"
                  color="secondary"
                  (buttonClick)="loadMore()"
                  class="feed__load-more"
                  *ngIf="!loadingMorePosts && postCurrentLength < total"
                >
                  <mat-icon iconPrefix svgIcon="refresh"></mat-icon>
                  <span>{{ 'app.load_more' | translate }}</span>
                </mzima-client-button>
                <app-spinner *ngIf="loadingMorePosts && postCurrentLength < total"></app-spinner>
                <div class="endofPosts" *ngIf="!loadingMorePosts && postCurrentLength >= total">
                  End of Posts
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div
      class="feed-page__post"
      [ngClass]="{ 'feed--post-view-skeleton': isLoading }"
      *ngIf="mode === FeedMode.Post"
      [attr.data-qa]="'post-details'"
    >
      <ng-container *ngIf="isLoading">
        <app-spinner class="spinner"></app-spinner>
      </ng-container>
      <router-outlet *ngIf="!isLoading"></router-outlet>
    </div>
  </div>
</div>
