<!-- ID mode notes [for when there are no posts at all or if there are no posts that match filters]: 
    When there are no posts in ID mode,
    Page (css) style just adopts that of PREVIEW mode
-->
<div
  class="feed-page"
  [ngClass]="{
    'feed-page--filters-visible': isFiltersVisible,
    'feed-page--no-offset': !isMainFiltersOpen
  }"
>
  <!-- This entire switch Mode area should always show up -->
  <ng-container>
    <div class="feed-page__info-panel" *ngIf="isDesktop">
      <span
        class="feed-page__results-info"
        [ngClass]="{ 'feed-page__results-info__dim': !posts.length }"
        [attr.data-qa]="'feed-page-results'"
      >
        <ng-container *ngIf="!posts.length && isLoading"
          >Loading posts in {{ mode }} mode...</ng-container
        >
        <ng-container *ngIf="posts.length || (!posts.length && !isLoading)">
          {{ 'app.current_results' | translate }}
          {{ postCurrentLength }}
        </ng-container>
        <ng-container *ngIf="posts.length"> / {{ total }} </ng-container>
      </span>
      <div class="feed-page__mode-switcher">
        <mzima-client-button
          [fill]="mode === FeedMode.Preview ? 'outline' : 'solid'"
          [iconOnly]="true"
          id="switcher-button-tiles"
          [color]="mode === FeedMode.Preview ? 'primary' : 'light'"
          [isActive]="mode === FeedMode.Preview"
          (buttonClick)="switchMode('PREVIEW')"
          [disabled]="isLoading || !posts.length"
          class="feed-page__mode-switcher__button"
        >
          <mat-icon icon svgIcon="tiles"></mat-icon>
        </mzima-client-button>
        <mzima-client-button
          [fill]="mode === FeedMode.Id ? 'outline' : 'solid'"
          [iconOnly]="true"
          id="switcher-button-post"
          [color]="mode === FeedMode.Id ? 'primary' : 'light'"
          [isActive]="mode === FeedMode.Id"
          (buttonClick)="switchMode('ID')"
          [disabled]="isLoading || !posts.length"
          class="feed-page__mode-switcher__button"
        >
          <mat-icon icon svgIcon="sidebar"></mat-icon>
        </mzima-client-button>
      </div>
    </div>
    <div
      class="feed-page__controls-panel"
      [ngClass]="{ 'feed-page__controls-panel--bulk-visible': isBulkOptionsVisible }"
    >
      <div
        class="feed-page__controls feed-page__controls--actions"
        *ngIf="isDesktop || isBulkOptionsVisible"
        [attr.data-qa]="'feed-page-controls-actions'"
      >
        <ng-container *ngIf="isBulkOptionsVisible">
          <mzima-client-button
            color="danger"
            [iconOnly]="!isDesktop"
            class="feed-page__control"
            [disabled]="!selectedPosts.length"
            (buttonClick)="deleteSelectedPosts()"
          >
            <span *ngIf="isDesktop">{{ 'app.delete' | translate }}</span>
            <mat-icon icon *ngIf="!isDesktop" svgIcon="delete"></mat-icon>
          </mzima-client-button>
          <ng-container *ngIf="!isDesktop">
            <span class="feed-page__controls__info">
              {{ selectedPosts.length }}/{{ posts.length }} Selected
            </span>
            <ng-container *ngIf="isManagePosts">
              <mzima-client-button
                [iconOnly]="true"
                color="light-gray"
                class="feed-page__control"
                [disabled]="!selectedPosts.length"
                [matMenuTriggerFor]="selectedPosts.length ? statusesMenu : null"
              >
                <mat-icon icon svgIcon="dots"></mat-icon>
              </mzima-client-button>

              <mat-menu
                #statusesMenu="matMenu"
                xPosition="after"
                class="statuses-menu"
                backdropClass="statuses-menu__backdrop"
              >
                <h3 class="menu-title">{{ 'app.mark_as' | translate }}</h3>
                <button
                  mat-menu-item
                  *ngFor="let status of statuses"
                  (click)="changePostsStatus(status.value)"
                >
                  {{ status.name | translate }}
                </button>
              </mat-menu>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="isDesktop">
            <mat-form-field *ngIf="isManagePosts" appearance="outline" class="feed-page__control">
              <mat-select
                disableOptionCentering
                [formControl]="statusControl"
                [disabled]="!selectedPosts.length"
                [placeholder]="'app.mark_as' | translate"
                (selectionChange)="changePostsStatus($event.value)"
                [attr.data-qa]="'mark-as'"
              >
                <mat-option
                  *ngFor="let status of statuses"
                  [value]="status.value"
                  [id]="'select-option-' + status.value"
                >
                  {{ status.name | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mzima-client-button
              fill="clear"
              color="gray"
              class="feed-page__control"
              (buttonClick)="selectAllPosts()"
            >
              {{ 'post.select_all' | translate }}
            </mzima-client-button>
            <mzima-client-button
              fill="clear"
              color="gray"
              class="feed-page__control"
              (buttonClick)="deselectAllPosts()"
              [disabled]="!selectedPosts.length"
            >
              {{ 'nav.deselect' | translate }}
              {{ 'nav.all' | translate }}
            </mzima-client-button>
          </ng-container>
        </ng-container>
      </div>
      <div class="feed-page__controls">
        <mzima-client-button
          fill="outline"
          color="secondary"
          [isActive]="isBulkOptionsVisible"
          class="feed-page__control feed-page__control--bulk"
          *ngIf="user?.allowed_privileges?.includes('update')"
          (buttonClick)="toggleBulkOptions(!isBulkOptionsVisible)"
          [disabled]="isLoading || !posts.length"
          [attr.data-qa]="'bulk-actions'"
        >
          {{ 'post.modify.bulk_actions' | translate }}
        </mzima-client-button>
        <div class="feed-page__controls__inner">
          <mzima-client-button
            fill="outline"
            color="secondary"
            [iconOnly]="!isDesktop"
            [matMenuTriggerFor]="sortingMenu"
            class="feed-page__control feed-page__control--sorting"
            [disabled]="isLoading || !posts.length"
          >
            <span *ngIf="isDesktop">{{ 'global_filter.sorting' | translate }}</span>
            <mat-icon icon svgIcon="sorting"></mat-icon>
          </mzima-client-button>

          <mat-menu #sortingMenu="matMenu" xPosition="before">
            <button
              mat-menu-item
              *ngFor="let sorting of sortingOptions"
              (click)="sortPosts(sorting.value)"
              [ngClass]="{
                active:
                  activeSorting.order === sorting.value.order &&
                  activeSorting.orderby === sorting.value.orderby
              }"
            >
              <mat-icon
                [svgIcon]="sorting.value.order === 'desc' ? 'sort-down' : 'sort-up'"
              ></mat-icon>
              {{ sorting.orderBy | translate }} ({{ sorting.order | translate }})
            </button>
          </mat-menu>

          <mzima-client-button
            fill="outline"
            color="secondary"
            [iconOnly]="true"
            *ngIf="!isDesktop"
            class="feed-page__control"
            (buttonClick)="toggleFilters(!isFiltersVisible)"
          >
            <mat-icon icon svgIcon="filters"></mat-icon>
          </mzima-client-button>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Posts content -->
  <ng-container *ngIf="!isLoading">
    <div
      class="main"
      [ngClass]="{
        main__tiles: mode === FeedMode.Preview,
        'main__details-or-edit': mode === FeedMode.Id && posts.length
      }"
      [attr.data-qa]="'posts'"
    >
      <!-- No posts -->
      <ng-container *ngIf="!posts.length">
        <span class="posts-empty">{{ 'post.no_posts_yet' | translate }}</span>
      </ng-container>
      <!-- When there are posts -->
      <ng-container *ngIf="posts.length">
        <div
          #feed
          [ngClass]="{
            'post-list post-list__scroll post-list__color': mode === FeedMode.Id
          }"
        >
          <div [ngClass]="{ 'left-margin': mode === FeedMode.Id && isDesktop }">
            <ngx-masonry
              #masonry
              class="masonry-wrapper"
              [ordered]="true"
              [options]="masonryOptions"
              [attr.data-qa]="'post-preview'"
            >
              <app-post-preview
                [attr.data-qa]="'post-item'"
                class="post"
                [ngClass]="{
                  post__tiles: mode === FeedMode.Preview,
                  'post__details-or-edit': mode === FeedMode.Id,
                  'active--postcard': mode === FeedMode.Id && post.id === postDetails?.id,
                  'scroll--active--postcard--to--top':
                    isDesktop && scrollToView && mode === FeedMode.Id && post.id === postDetails?.id
                }"
                [post]="post"
                [attr.postId]="post.id"
                [user]="user"
                ngxMasonryItem
                [feedView]="true"
                (edit)="editPost(post)"
                (refresh)="refreshPost(post)"
                (deleted)="postDeleted([post])"
                (click)="showPostDetails(post)"
                [selectable]="isBulkOptionsVisible"
                [isChecked]="isPostChecked(post)"
                (statusChanged)="postStatusChanged()"
                (selected)="isPostSelected($event, post)"
                (mediaLoaded)="updateMasonry()"
                *ngFor="
                  let post of posts
                    | paginate
                      : {
                          itemsPerPage: mode === FeedMode.Id ? 0 : itemsPerPage,
                          currentPage: currentPage,
                          totalItems: total
                        }
                "
              >
              </app-post-preview>
            </ngx-masonry>
            <!-- pagination -->
            <pagination-controls
              class="pagination"
              (pageChange)="changePage($event)"
              *ngIf="!(mode === FeedMode.Id && isDesktop) && paginationElementsAllowed"
            >
            </pagination-controls>
            <!-- Load more posts -->
            <ng-container *ngIf="mode === FeedMode.Id && isDesktop && paginationElementsAllowed">
              <mzima-client-button
                fill="clear"
                color="secondary"
                (buttonClick)="loadMore()"
                class="load-more"
                *ngIf="!loadingMorePosts && postCurrentLength < total"
              >
                <mat-icon iconPrefix svgIcon="refresh"></mat-icon>
                <span>{{ 'app.load_more' | translate }}</span>
              </mzima-client-button>
              <app-spinner *ngIf="loadingMorePosts && postCurrentLength < total"></app-spinner>
              <div class="endofPosts" *ngIf="!loadingMorePosts && postCurrentLength >= total">
                {{ 'app.end_post' | translate }}
              </div>
            </ng-container>
          </div>
        </div>
        <div
          [ngClass]="{
            'post-list__scroll': mode === FeedMode.Id
          }"
        >
          <!-- Router outlet here is only for Desktop, the modal popup for small devices is in .ts file -->
          <router-outlet *ngIf="isDesktop && mode === FeedMode.Id"></router-outlet>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <!-- Loader -->
  <ng-container *ngIf="isLoading">
    <div
      class="main main--loader"
      [ngClass]="{
        main__tiles: mode === FeedMode.Preview,
        'main__details-or-edit': mode === FeedMode.Id
      }"
    >
      <div
        *ngIf="mode === FeedMode.Id && isDesktop"
        [ngClass]="{ 'loader loader--border': mode === FeedMode.Id && isDesktop }"
      >
        <div *ngFor="let single of postsSkeleton" class="loader--border loader--skeleton"></div>
      </div>
      <div [ngClass]="{ 'loader--border': mode === FeedMode.Id && isDesktop }">
        <app-spinner class="loader--spinner"></app-spinner>
      </div>
    </div>
  </ng-container>
</div>
