<div
  class="category-item"
  [routerLink]="category.id.toString()"
  [ngClass]="{ 'category-item--selected': isSelected }"
>
  <mat-checkbox
    [(ngModel)]="isSelected"
    (change)="selectCategory()"
    class="category-item__checkbox"
  >
  </mat-checkbox>
  <div class="category-item__content">
    <h4 class="category-item__title">
      <a [routerLink]="['/settings/categories', category.id]">
        {{ category.tag }}
      </a>
    </h4>
    <span class="category-item__language">{{
      getLanguage(category.enabled_languages.default)
    }}</span>
  </div>
  <div class="category-item__controls">
    <button
      color="accent"
      mat-icon-button
      aria-label="Delete category"
      (click)="deleteCategory(category.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
