.page-not-found {
  text-align: center;

  &::part(scroll) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__code {
    display: block;
    font-size: 100px;
    line-height: 1.2;
    font-weight: 700;
  }

  &__title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    margin: 0 0 16px;
  }

  &__description {
    margin: 0 0 32px;
  }
}
