<mzima-client-button
  tabindex="-1"
  fill="outline"
  [iconOnly]="true"
  color="light-gray"
  [data-qa]="'btn-close'"
  class="modal__close-btn"
  [mat-dialog-close]="false"
  ariaLabel="{{ 'modal.button.close' | translate }}"
>
  <mat-icon icon svgIcon="close"></mat-icon>
</mzima-client-button>

<mat-dialog-content class="post">
  <ng-container *ngIf="postIs.available()">
    <app-post-details
      [postFromModal]="post"
      [feedView]="false"
      [color]="color"
      (edit)="handleEditPost()"
      *ngIf="!editable; else editPost"
      (statusChanged)="statusChangedHandle()"
    >
    </app-post-details>
  </ng-container>
  <!-- If modal is no longer employed in data/feed view, this can be removed -->
  <app-post-not-found *ngIf="postIs.notfound()"></app-post-not-found>
  <app-post-not-allowed *ngIf="postIs.notAllowed()"></app-post-not-allowed>
  <!---->
</mat-dialog-content>

<ng-template #editPost>
  <app-post-edit
    [modalView]="true"
    [postFromModal]="post"
    (cancel)="cancel()"
    (updated)="updated()"
  >
  </app-post-edit>
</ng-template>
