@import 'apps/web-mzima-client/src/styles/helpers';

::ng-deep {
  .post-modal {
    .mat-dialog-container {
      padding-inline-start: 34px;
      border-radius: 8px !important;

      @include breakpoint-max($tablet) {
        overflow-y: auto;
        overflow-x: hidden;
        padding-inline-start: 26px;
        padding-inline-end: 16px;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
      }
    }

    .mat-dialog-content {
      @include breakpoint-max($tablet) {
        overflow: visible;
        max-height: none !important;
      }
    }

    .post {
      @include breakpoint-max($tablet) {
        position: relative;
      }

      &__head {
        @include breakpoint-max($tablet) {
          position: static !important;
        }
      }

      &__border {
        @include breakpoint-max($tablet) {
          top: -16px;
          left: -16px;
          bottom: -16px;
        }
      }
    }

    .post-item-page {
      padding: 0 !important;
      height: auto !important;
      overflow: visible !important;
    }

    .page-content {
      padding: 0 !important;
      box-shadow: none !important;
    }

    .survey-name {
      padding-right: 48px;
    }

    .form-controls-panel--sticky {
      bottom: -16px;
      position: sticky;
      margin-left: -16px;
      margin-right: -16px;
      margin-bottom: -16px;
    }
  }
}
