<mzima-client-button
  tabindex="-1"
  fill="outline"
  [iconOnly]="true"
  color="light-gray"
  [data-qa]="'btn-close'"
  class="modal__close-btn"
  [mat-dialog-close]="false"
  ariaLabel="{{ 'modal.button.close' | translate }}"
>
  <mat-icon icon svgIcon="close" aria-label="Close"></mat-icon>
</mzima-client-button>

<mat-dialog-content class="post">
  <app-post-details
    [post]="post"
    [feedView]="false"
    [color]="color"
    (edit)="handleEditPost()"
    *ngIf="!editable; else editPost"
    (statusChanged)="statusChangedHandle()"
  >
  </app-post-details>
</mat-dialog-content>

<ng-template #editPost>
  <app-post-edit [modalView]="true" [postInput]="post" (cancel)="cancel()" (updated)="updated()">
  </app-post-edit>
</ng-template>
