<section class="categories">
  <app-settings-header
    [settingsTitle]="'app.categories'"
    [newButtonTitle]="'app.add_new_category'"
    [isShowActionsButton]="false"
  >
  </app-settings-header>
  <ul *ngIf="categories; else spinner" class="categories-list">
    <ng-container *ngFor="let category of categories">
      <li *ngIf="!category.parent_id" class="categories-list__item">
        <app-category-item #categoryItem [category]="category"> </app-category-item>

        <ul *ngIf="category.children?.length" class="categories-list categories-list--lvl2">
          <li
            class="categories-list__item"
            *ngFor="let category of getChildCategories(category.id)"
          >
            <app-category-item
              #categoryItem
              [category]="category"
              [customClass]="'category-item__title--lvl2'"
            >
            </app-category-item>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
</section>

<ng-template #spinner>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
