::ng-deep {
  app-feed-item {
    display: block;
    min-height: 100%;
  }
}

.feed-page {
  display: flex;
  margin: -30px -20px;
  justify-content: center;
  height: calc(100vh - 68px);

  &__column {
    display: flex;
    flex: 1 1 100%;
    overflow-y: auto;
    max-height: 100%;
    overflow-x: hidden;
    position: relative;
    padding: 30px 20px;
    flex-direction: column;
    scroll-behavior: smooth;
    justify-content: flex-start;
    -webkit-overflow-scrolling: touch;

    &--feed {
      flex: 0 0 35%;
      min-width: 400px;
      max-width: 480px;
      margin-right: 20px;
    }
  }
}

.counter {
  display: block;
  text-align: right;
  margin-bottom: 16px;
}

.load-more-btn {
  width: 100%;
}

.spinner {
  display: block;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.post {
  right: 0;
  display: block;
  position: relative;
  margin-bottom: 16px;
  transition: right 0.35s ease;

  &--selected {
    right: -16px;
  }
}
