::ng-deep {
  app-feed-item {
    display: block;
    min-height: 100%;
  }
}

.feed-page {
  padding: 0 0 0 210px;
  height: calc(100vh - 120px);

  &--filters-visible {
    padding-top: 56px;
  }

  &__controls-panel {
    display: flex;
    align-items: center;
    margin: -16px -48px 0;
    padding: 16px 48px 8px;
    justify-content: space-between;
    background: var(--color-neutral-10);
  }

  &__controls {
    display: flex;
    margin: 0 -8px;
    align-items: center;
    justify-content: flex-end;

    .mat-form-field {
      width: 146px;

      &::ng-deep {
        .mat-form-field-wrapper {
          padding-bottom: 0;
        }

        .mat-select-value {
          padding-right: 0;
          padding-left: 24px;
        }

        .mat-select-arrow-wrapper {
          width: 32px;
          height: 32px;
          margin-left: 8px;
          margin-right: 24px;
        }
      }
    }
  }

  &__control {
    margin: 0 8px;

    .mat-icon {
      margin-left: 10px;
    }
  }
}

.counter {
  display: block;
  text-align: right;
  margin-bottom: 16px;
}

.spinner {
  display: block;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.post-details {
  display: block;
  min-height: 100%;
}

.posts-empty {
  width: 100%;
  display: block;
  margin: 20vh 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.feed {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 48px 32px;
  margin: 0 -48px -32px;
  scroll-behavior: smooth;
  height: calc(100% - 16px);
  -webkit-overflow-scrolling: touch;

  &__loading {
    --size: 48px;
    display: block;
    margin-top: 24px;
  }

  &__load-more {
    display: block;
    margin: 0 auto;
    min-width: 132px;
    margin-top: 16px;
  }
}

.post {
  display: block;
  position: relative;
  margin: 0 8px 16px;
  width: calc(33.3333% - 16px);
}
