@import '/src/styles/helpers';

::ng-deep {
  app-feed-item {
    display: block;
    min-height: 100%;
  }
}

.feed-page {
  height: 100%;
  margin: 0 0 0 220px;

  @include breakpoint-max($laptop-small) {
    margin-left: 200px;
  }

  &--filters-visible {
    padding-top: 56px;
  }

  &__controls-panel {
    display: flex;
    align-items: center;
    padding: 16px 24px 8px;
    justify-content: space-between;
    background: var(--color-neutral-10);

    @include breakpoint-max($laptop-small) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__controls {
    display: flex;
    margin: 0 -8px;
    align-items: center;
    justify-content: flex-end;

    @include breakpoint-max($laptop-small) {
      margin-left: -4px;
      margin-right: -4px;
    }

    .mat-form-field {
      width: 146px;

      @include breakpoint-max($laptop-small) {
        width: 132px;
      }

      &::ng-deep {
        .mat-form-field-wrapper {
          padding-bottom: 0;
        }

        .mat-select-value {
          padding-right: 0;
          padding-left: 24px;

          @include breakpoint-max($laptop-small) {
            padding-left: 16px;
          }
        }

        .mat-select-arrow-wrapper {
          width: 32px;
          height: 32px;
          margin-left: 8px;
          margin-right: 24px;

          @include breakpoint-max($laptop-small) {
            margin-right: 8px;
          }
        }
      }
    }
  }

  &__control {
    margin: 0 8px;

    @include breakpoint-max($laptop-small) {
      margin-left: 4px;
      margin-right: 4px;
    }

    &--sorting {
      .feed-page__controls-panel--bulk-visible & {
        @include breakpoint-max($laptop-small) {
          display: none;
        }
      }
    }

    .mat-icon {
      margin-left: 10px;
    }
  }
}

.counter {
  display: block;
  text-align: right;
  margin-bottom: 16px;
}

.spinner {
  display: block;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.post-details {
  display: block;
  min-height: 100%;
}

.posts-empty {
  width: 100%;
  display: block;
  margin: 20vh 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.feed {
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0 8px 16px 24px;
  height: calc(100% - 64px);
  -webkit-overflow-scrolling: touch;

  @include breakpoint-max($laptop-small) {
    padding-right: 0;
    padding-left: 16px;
  }

  &__loading {
    --size: 48px;
    display: block;
    margin-top: 24px;
  }

  &__load-more {
    display: block;
    margin: 0 auto;
    min-width: 132px;
    margin-top: 16px;
  }
}

.post {
  display: block;
  position: relative;
  margin: 0 8px 16px;
  width: calc(33.3333% - 16px);

  @include breakpoint-max($laptop-small) {
    width: calc(50% - 16px);
  }
}
