<div class="feed-page" [ngClass]="{ 'feed-page--filters-visible': isFiltersVisible }">
  <div
    *ngIf="posts.length"
    class="feed-page__controls-panel"
    [ngClass]="{ 'feed-page__controls-panel--bulk-visible': isBulkOptionsVisible }"
  >
    <div
      class="feed-page__controls feed-page__controls--actions"
      *ngIf="isDesktop || isBulkOptionsVisible"
    >
      <ng-container *ngIf="isBulkOptionsVisible">
        <button
          color="accent"
          mat-raised-button
          class="feed-page__control"
          (click)="deleteSelectedPosts()"
          [disabled]="!selectedPosts.length"
        >
          <span *ngIf="isDesktop">{{ 'app.delete' | translate }}</span>
          <mat-icon *ngIf="!isDesktop" svgIcon="delete"></mat-icon>
        </button>
        <ng-container *ngIf="!isDesktop">
          <span class="feed-page__controls__info"
            >{{ selectedPosts.length }}/{{ posts.length }} Selected</span
          >
          <button
            mat-stroked-button
            class="feed-page__control"
            [disabled]="!selectedPosts.length"
            [matMenuTriggerFor]="statusesMenu"
          >
            <mat-icon svgIcon="dots"></mat-icon>
          </button>
          <mat-menu
            #statusesMenu="matMenu"
            xPosition="after"
            class="statuses-menu"
            backdropClass="statuses-menu__backdrop"
          >
            <h3 class="menu-title">{{ 'app.mark_as' | translate }}</h3>
            <button
              mat-menu-item
              *ngFor="let status of statuses"
              (click)="changePostsStatus(status.value)"
            >
              {{ status.name | translate }}
            </button>
          </mat-menu>
        </ng-container>
        <ng-container *ngIf="isDesktop">
          <mat-form-field appearance="outline" class="feed-page__control">
            <mat-select
              name="filter"
              disableOptionCentering
              [(ngModel)]="selectedStatus"
              [disabled]="!selectedPosts.length"
              [placeholder]="'app.mark_as' | translate"
              (selectionChange)="changePostsStatus($event.value)"
            >
              <mat-option *ngFor="let status of statuses" [value]="status.value">
                {{ status.name | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button (click)="selectAllPosts()" class="feed-page__control">
            {{ 'post.select_all' | translate }}
          </button>
          <button
            mat-button
            class="feed-page__control"
            (click)="deselectAllPosts()"
            [disabled]="!selectedPosts.length"
          >
            {{ 'nav.deselect' | translate }}
            {{ 'nav.all' | translate }}
          </button>
        </ng-container>
      </ng-container>
    </div>
    <div class="feed-page__controls">
      <button
        *ngIf="user?.allowed_privileges?.includes('update')"
        mat-stroked-button
        [ngClass]="{ active: isBulkOptionsVisible }"
        (click)="toggleBulkOptions(!isBulkOptionsVisible)"
        class="feed-page__control feed-page__control--bulk"
      >
        {{ 'post.modify.bulk_actions' | translate }}
      </button>
      <div class="feed-page__controls__inner">
        <button
          mat-stroked-button
          [matMenuTriggerFor]="sortingMenu"
          class="feed-page__control feed-page__control--sorting"
        >
          <span *ngIf="isDesktop">{{ 'global_filter.sorting' | translate }}</span>
          <mat-icon svgIcon="sorting"></mat-icon>
        </button>

        <mat-menu #sortingMenu="matMenu" xPosition="before">
          <button
            mat-menu-item
            *ngFor="let sorting of sortingOptions"
            (click)="sortPosts(sorting.value)"
            [ngClass]="{
              active:
                activeSorting.order === sorting.value.order &&
                activeSorting.orderby === sorting.value.orderby
            }"
          >
            <mat-icon
              [svgIcon]="sorting.value.order === 'desc' ? 'sort-down' : 'sort-up'"
            ></mat-icon>
            {{ sorting.orderBy | translate }} ({{ sorting.order | translate }})
          </button>
        </mat-menu>

        <button
          *ngIf="!isDesktop"
          mat-stroked-button
          class="feed-page__control"
          (click)="toggleFilters(!isFiltersVisible)"
        >
          <mat-icon class="search-form__filters__icon" svgIcon="filters"></mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div
    #feed
    class="feed"
    (scroll)="onScroll($event)"
    *ngIf="!isLoading || posts?.length; else loader"
  >
    <ng-container *ngIf="posts?.length; else postsEmpty">
      <ngx-masonry [updateLayout]="updateMasonryLayout" [ordered]="true" #masonry>
        <app-post-preview
          class="post"
          [post]="post"
          ngxMasonryItem
          [feedView]="true"
          *ngFor="let post of posts"
          (loaded)="refreshMasonry()"
          (click)="showPostDetails(post)"
          [selectable]="isBulkOptionsVisible"
          [isChecked]="isPostChecked(post.id)"
          (selected)="isPostSelected($event, post.id.toString())"
          [ngClass]="{ 'post--selected': post.id === postDetails?.id }"
          [user]="user"
        >
        </app-post-preview>
      </ngx-masonry>
      <app-spinner class="feed__loading" *ngIf="isLoading"></app-spinner>
      <button
        mat-stroked-button
        (click)="loadMore()"
        class="feed__load-more"
        *ngIf="
          !isLoading &&
          params.offset !== undefined &&
          params.limit !== undefined &&
          params.offset + params.limit < total
        "
      >
        {{ 'app.load_more' | translate }}
      </button>
    </ng-container>
  </div>
</div>

<ng-template #loader>
  <app-spinner class="spinner"></app-spinner>
</ng-template>

<ng-template #postsEmpty>
  <span class="posts-empty">{{ 'post.no_posts_yet' | translate }}</span>
</ng-template>
