mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: #373e46;
  max-width: 64px;
  width: 100%;
}

.content-wrapper {
  &:not(.content-wrapper--no-offset) {
    padding: 30px 20px;
  }
}
