mat-sidenav-container {
  height: 100%;
}

.sidebar {
  width: 100%;
  max-width: 220px;
  border-right: none;
  background-color: var(--color-neutral-100);
  --scrollbar-color: var(--color-neutral-60);
  --scrollbar-background: var(--color-neutral-100);
}

.content-wrapper {
  &:not(.content-wrapper--no-offset) {
    height: 100%;
  }
}

::ng-deep {
  .mat-drawer-inner-container {
    overflow: hidden !important;
  }
}
