mat-sidenav-container {
  height: 100%;
}

.sidebar {
  width: 100%;
  max-width: 220px;
  border-right: none;
  background-color: var(--color-dark-gray);
}

.content-wrapper {
  &:not(.content-wrapper--no-offset) {
    height: 100vh;
    padding: 16px 48px 32px;
  }
}

::ng-deep {
  .mat-drawer-inner-container {
    overflow: hidden !important;
  }
}
