<ng-container *ngIf="mapConfig">
  <div class="form-row">
    <mat-label>{{ 'survey.location' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        [(ngModel)]="queryLocation"
        (ngModelChange)="searchLocation()"
        (focusout)="searchLocation()"
        placeholder="{{ 'settings.general_settings.placeholder.pick_location' | translate }}"
        [data-qa]="'query-location'"
      />

      <mzima-client-button
        [iconOnly]="true"
        fill="clear"
        matSuffix
        color="secondary"
        aria-label="Search"
      >
        <mat-icon icon svgIcon="search-small" aria-label="Search"></mat-icon>
      </mzima-client-button>
    </mat-form-field>
    <ul
      class="geocoder-list"
      *ngIf="isShowGeocodingResults && geocodingResults.length"
      [data-qa]="'geocoder-list'"
    >
      <li
        class="geocoder-list__item"
        *ngFor="let result of geocodingResults"
        (click)="selectLocation(result)"
        [data-qa]="'geocoder-list-item'"
      >
        {{ result.name }}
      </li>
    </ul>
  </div>

  <div class="form-row map-holder">
    <div
      id="settings-map"
      class="map"
      *ngIf="mapReady"
      leaflet
      [leafletOptions]="leafletOptions"
      [leafletLayers]="mapLayers"
      (leafletMapReady)="onMapReady($event)"
    ></div>
  </div>

  <div class="inputs">
    <div class="form-row">
      <mat-label>{{ 'settings.map_default_latitude' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <input
          type="number"
          matInput
          [(ngModel)]="mapConfig.default_view!.lat"
          [max]="90"
          [min]="-90"
          readonly
          [data-qa]="'default-latitude'"
        />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label>{{ 'settings.map_default_longitude' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <input
          type="number"
          matInput
          [(ngModel)]="mapConfig.default_view!.lon"
          [max]="180"
          [min]="-180"
          readonly
          [data-qa]="'default-longitude'"
        />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label>{{ 'settings.map_default_baselayer' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <mat-select
          disableOptionCentering
          [(value)]="mapConfig.default_view!.baselayer"
          (valueChange)="layerChange($event)"
        >
          <mat-option *ngFor="let layer of baseLayers | filterVisibleLayers" [value]="layer.code">
            {{ layer.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label>{{ 'settings.map_default_zoom_level' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <input
          type="number"
          matInput
          [(ngModel)]="mapConfig.default_view!.zoom"
          (ngModelChange)="onZoomChange()"
          [max]="maxZoom"
          [min]="minZoom"
        />
      </mat-form-field>
    </div>

    <div class="form-row" *ngIf="locationPrecisionEnabled">
      <mat-label>{{ 'settings.map_location_precision' | translate }}</mat-label>
      <mat-form-field appearance="outline">
        <input
          type="number"
          matInput
          [(ngModel)]="mapConfig.location_precision"
          (ngModelChange)="updatePrecision()"
          [max]="maxObfuscation"
          [min]="minObfuscation"
        />
      </mat-form-field>
      <p>
        <span>{{ 'settings.map_precise_to' | translate }}</span
        >{{ currentPrecision }}km
      </p>
    </div>
  </div>

  <div class="form-row">
    <div class="checkbox">
      <mat-checkbox
        [checked]="mapConfig.clustering"
        (change)="mapConfig.clustering = $event.checked"
      >
        {{ 'settings.map_clustering' | translate }}
      </mat-checkbox>
    </div>
  </div>
</ng-container>
