@import 'helpers';

.location-select {
  &__title {
    margin: 0 0 4px;
    font-size: $font-xs;
    line-height: 1.6;
    font-weight: normal;
  }
}

.location-control {
  &__icon {
    top: 4px;
    width: 1em;
    height: 1em;
    font-size: $font-xl;
    margin-inline-end: 8px;
    position: relative;
  }

  &__clear {
    margin-inline-start: 8px;
  }
}
