@import 'helpers';

.confirm {
  text-align: center;
  padding: 56px 0 14px;

  &-title {
    font-size: $font-2xl;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
    color: var(--color-dark);

    @include breakpoint-min($tablet) {
      padding-right: 48px;
    }

    @include breakpoint-max($tablet) {
      font-size: $font-xl;
      line-height: 1.28;
    }
  }

  &-description {
    font-size: $font-base;
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-dark);

    @include breakpoint-max($tablet) {
      font-size: $font-sm;
      line-height: 1.3;
    }

    &::ng-deep {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.mat-dialog-actions {
  margin-top: 24px;

  @include breakpoint-max($tablet) {
    gap: 16px;
    max-width: 190px;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
    flex-direction: column-reverse;

    .mat-button-base {
      margin-left: 0;
    }
  }
}
