<div class="form-head-panel">
  <div class="form-head-panel__inner">
    <h1>{{ settingsTitle | translate }}</h1>
    <ng-container *ngIf="isShowActions">
      <button
        type="button"
        color="accent"
        mat-raised-button
        data-qa="btn-settings-delete"
        class="delete-btn"
        (click)="deleteEmit()"
      >
        {{ 'app.delete' | translate }}
      </button>
      <ng-content></ng-content>
    </ng-container>
  </div>
  <div class="form-head-panel__inner">
    <button
      *ngIf="isShowActionsButton"
      type="button"
      color="primary"
      mat-stroked-button
      data-qa="btn-settings-action"
      (click)="showActions()"
      [ngClass]="{ active: isShowActions }"
    >
      {{ 'settings.bulk_actions' | translate }}
    </button>
    <button
      class="create-btn"
      type="button"
      color="primary"
      mat-raised-button
      [routerLink]="['create']"
      (click)="createEmit()"
      data-qa="btn-settings-create"
    >
      <span>{{ newButtonTitle | translate }}</span>
      <mat-icon svgIcon="plus"></mat-icon>
    </button>
  </div>
</div>
