@import 'helpers';

.form-page {
  padding: 32px 24px;

  @include breakpoint-max($tablet) {
    padding: 0;
  }
}

.restore-password-form {
  width: 100%;
  display: block;
  max-width: 576px;
  margin: 32px auto;
  border-radius: 4px;
  padding: 24px 24px 0;
  background: var(--color-light);
  box-shadow: inset 0 0 0 1px var(--color-neutral-20);

  @include breakpoint-max($tablet) {
    margin: 24px 0;
    box-shadow: none;
    border-bottom: 1px solid var(--color-neutral-20);
  }
}

h1 {
  margin-bottom: 16px;

  @include breakpoint-max($tablet) {
    font-size: $font-xl;
    font-weight: 700;
    line-height: 1.28;
    margin-bottom: 24px;
  }
}

.success-msg {
  font-size: $font-base;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  padding-bottom: 24px;

  mzima-client-button {
    margin-top: 12px;
    --min-width: 140px;
    vertical-align: top;
    display: inline-block;
  }
}
