<app-header (back)="backNavigation()" title="{{!postId ? 'Create' : 'Edit'}} post"></app-header>

<ion-content class="ion-padding-horizontal ion-padding-top page">
  <ng-container *ngIf="!surveyList.length">
    <p>{{'app.loading' | translate}}</p>
  </ng-container>

  <ng-container *ngIf="surveyList.length && !form">
    <ion-title class="list-title">Select a survey</ion-title>
    <ion-list class="list">
      <ion-item
        class="list-item"
        button
        lines="none"
        *ngFor="let survey of surveyList"
        (click)="loadForm(survey.id)"
      >
        <span class="list-item__title">{{ survey.name}}</span>
        <app-icon slot="end" class="list-item__detail-icon" name="arrow-right"></app-icon>
      </ion-item>
    </ion-list>
  </ng-container>

  <app-select
    [label]="surveyList.length ? 'Survey name' : 'Fetching surveys...'"
    [options]="surveyListOptions"
    [disabled]="!!postId"
    [(ngModel)]="selectedSurveyId"
    (ngModelChange)="loadForm()"
    *ngIf="form"
  >
  </app-select>
  <form
    class="form-post-create"
    novalidate
    [formGroup]="form"
    autocomplete="off"
    *ngIf="form && tasks?.length"
  >
    <div *ngFor="let task of tasks; let i = index" class="task-container">
      <div [ngStyle]="{ '--color': color }">
        <ng-container *ngIf="task.type !== 'post'">
          <h2 class="task-label">{{ task.label }}</h2>

          <div *ngIf="task.show_when_published">
            <p>{{"app.invisible_task" | translate}}</p>
          </div>

          <div *ngIf="task.task_is_internal_only">
            <p>{{"app.internal_task_instruction" | translate}}</p>
          </div>

          <!-- task complete -->
          <div class="form-row">
            <ion-toggle
              name="accept-survey"
              labelPlacement="start"
              [checked]="task.completed"
              (ionChange)="taskComplete(task, $event)"
            >
              {{"app.task_completed" | translate}}
              <span class="color-accent" *ngIf="task.required">*</span>
            </ion-toggle>
          </div>
        </ng-container>
        <div
          class="form-row"
          *ngFor="let field of task.fields | sortByField : 'priority' : 'asc'; let i = index"
        >
          <!-- title, varchar -->
          <ng-container
            *ngIf="field.input === 'text' && (field.type === 'title' || field.type === 'varchar') && field.label !== 'mobile_test'"
          >
            <div class="form-control--section">
              <ion-label class="field-label"
                >{{field?.label}}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <app-form-control
                color="light"
                [clearable]="true"
                [required]="field?.required"
                [formControlName]="field.key"
                [hintHTML]="field?.instructions"
              ></app-form-control>
            </div>
          </ng-container>

          <!-- description -->
          <ng-container *ngIf="field.input === 'text' && field.type === 'description'">
            <div class="form-control--section">
              <ion-label class="field-label"
                >{{field?.label}}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <app-textarea-control
                color="light"
                [clearable]="true"
                [required]="field?.required"
                [formControlName]="field.key"
                [hintHTML]="field?.instructions"
                [rows]="3"
              ></app-textarea-control>
            </div>
          </ng-container>

          <!-- phone -->
          <ng-container *ngIf="field.input === 'text' && field.label === 'mobile_test'">
            <div class="form-control--section">
              <ion-label class="field-label"
                >{{field?.label}}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <app-phone-field
                color="light"
                [required]="field?.required"
                [formControlName]="field.key"
              ></app-phone-field>
            </div>
          </ng-container>

          <ng-container *ngIf="field.input === 'textarea'">
            <div class="form-control--section">
              <ion-label class="field-label"
                >{{field?.label}}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <app-textarea-control
                color="light"
                [rounded]="false"
                [clearable]="true"
                [required]="field?.required"
                [formControlName]="field.key"
                [hintHTML]="field?.instructions"
                [rows]="3"
              ></app-textarea-control>
            </div>
          </ng-container>

          <!-- tags -->
          <ng-container *ngIf="field.input === 'tags'">
            <div class="form-control--section">
              <ion-label class="field-label">
                {{ field?.label }}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <span class="related-post-list" *ngIf="field.options?.length; else noOptions">
                <ul class="checkbox-list">
                  <li class="checkbox-list__item">
                    <app-checkbox
                      type="item"
                      [checked]="form.get(field.key)?.value.length === field.options.length"
                      (checkboxChange)="toggleAllSelection($event, field, field.key)"
                    >
                      {{"app.select_all" | translate}}
                    </app-checkbox>
                  </li>
                  <li
                    class="checkbox-list__item"
                    *ngFor="let option of field.options; trackBy: trackById"
                  >
                    <app-checkbox
                      type="item"
                      [ngClass]="{ 'lvl-2': option.parent }"
                      [checked]="form.get(field.key)?.value?.includes(option.id)"
                      (checkboxChange)="
                                onCheckChange(
                                  $event,
                                  field.key,
                                  option.id,
                                  field.options,
                                  option.parent?.id
                                )
                              "
                    >
                      {{ option.tag }}
                    </app-checkbox>
                  </li>
                </ul>
              </span>
            </div>
          </ng-container>

          <!-- date -->
          <ng-container *ngIf="field.input === 'date'">
            <div class="form-control--section">
              <ion-label class="field-label"
                >{{field?.label}}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <app-form-control
                [id]="'open-date'+i"
                color="light"
                [required]="field?.required"
                [clearable]="true"
                [formControlName]="field.key"
                [hintHTML]="field?.instructions"
              >
                <ng-container start>
                  <app-icon name="calendar"></app-icon>
                </ng-container>
                <ng-container end>
                  <ng-container *ngIf="form.get(field.key)?.value">
                    <app-icon
                      name="close"
                      class="icon-close"
                      (click)="clearField($event, field.key)"
                    ></app-icon>
                  </ng-container>
                </ng-container>
              </app-form-control>

              <ion-modal class="date-modal" [trigger]="'open-date'+i">
                <ng-template>
                  <ion-content>
                    <ion-datetime
                      #dateId
                      size="cover"
                      id="date"
                      presentation="date"
                      (ionChange)="setCalendar($event, field.key, 'date')"
                    ></ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </div>
          </ng-container>

          <!-- datetime -->
          <ng-container *ngIf="field.input === 'datetime'">
            <div class="form-control--section">
              <ion-label class="field-label"
                >{{field?.label}}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <app-form-control
                [id]="'open-datetime'+i"
                color="light"
                [required]="field?.required"
                [clearable]="true"
                [formControlName]="field.key"
                [hintHTML]="field?.instructions"
              >
                <ng-container start>
                  <app-icon name="calendar"></app-icon>
                </ng-container>
                <ng-container end>
                  <ng-container *ngIf="form.get(field.key)?.value">
                    <app-icon name="close" (click)="clearField($event, field.key)"></app-icon>
                  </ng-container>
                </ng-container>
              </app-form-control>

              <ion-modal class="date-modal" [trigger]="'open-datetime'+i">
                <ng-template>
                  <ion-content>
                    <ion-datetime
                      #dateTimeId
                      size="cover"
                      id="datetime"
                      [showDefaultButtons]="true"
                      doneText="Ok"
                      cancelText="Cancel"
                      (ionChange)="setCalendar($event, field.key, 'datetimeFormatSeconds')"
                    >
                      <span slot="time-label">{{"app.select_time" | translate}}</span>
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </div>
          </ng-container>

          <!-- radio -->
          <ng-container *ngIf="field.input === 'radio'">
            <div class="form-control--section">
              <div>
                <ion-label class="field-label">
                  {{ field?.label }}
                  <span class="color-accent" *ngIf="field?.required">*</span>
                </ion-label>
                <span
                  class="form-row__instruction"
                  *ngIf="field?.instructions"
                  [innerHTML]="field?.instructions"
                ></span>
              </div>
              <ion-radio-group
                [attr.aria-label]="field.label"
                [formControlName]="field.key"
                *ngIf="field.options?.length; else noOptions"
              >
                <div class="radio-button" *ngFor="let option of field.options">
                  <app-radio
                    class="create-post"
                    [value]="option"
                    type="default"
                    justify="start"
                    *ngIf="option !== 'Other'"
                  >
                    {{ option }}
                  </app-radio>

                  <div class="other" *ngIf="option === 'Other'">
                    <app-radio
                      class="create-post"
                      type="default"
                      justify="start"
                      [value]="option"
                      (click)="otherRadio.focus()"
                    >
                    </app-radio>
                    <input
                      class="other__input other__input__radio"
                      placeholder="Add other"
                      aria-label="Add other"
                      #otherRadio
                      [formControlName]="'other'+field.key"
                      (focus)="changeOtherOptions(field.key, field.input)"
                    />
                  </div>
                  <div class="field-error" *ngIf="option === 'Other' && hasEmptyOther(field.key)">
                    <ion-text color="danger"> {{'app.emtpy_field_error' | translate}} </ion-text>
                  </div>
                </div>
              </ion-radio-group>
            </div>
          </ng-container>
          <!-- checkbox -->
          <ng-container *ngIf="field.input === 'checkbox'">
            <div class="form-control--section">
              <div>
                <ion-label class="field-label">
                  {{ field?.label }}
                  <span class="color-accent" *ngIf="field?.required">*</span>
                </ion-label>
                <span
                  class="form-row__instruction"
                  *ngIf="field?.instructions"
                  [innerHTML]="field?.instructions"
                ></span>
              </div>

              <ng-container *ngIf="field.options?.length; else noOptions">
                <ng-container *ngFor="let option of field.options">
                  <app-checkbox
                    type="default"
                    [required]="field?.required"
                    [checked]="form.get(field.key)?.value?.includes(option)"
                    (checkboxChange)="changeSelectionFields($event, field.key, option)"
                    *ngIf="option !== 'Other'"
                  >
                    {{ option }}
                  </app-checkbox>

                  <div class="other" *ngIf="option === 'Other'">
                    <app-checkbox
                      type="default"
                      [required]="field?.required"
                      [checked]="form.get(field.key)?.value?.includes(option)"
                      (checkboxChange)="[!form.get(field.key)?.value?.includes(option) ? otherCheckbox.focus() : '', changeSelectionFields($event, field.key, option)]"
                    >
                    </app-checkbox>
                    <input
                      class="other__input other__input__checkbox"
                      placeholder="Add other"
                      aria-label="Add other"
                      #otherCheckbox
                      [formControlName]="'other'+field.key"
                      (focus)="changeOtherOptions(field.key, field.input)"
                    />
                  </div>
                  <div class="field-error" *ngIf="option === 'Other' && hasEmptyOther(field.key)">
                    <ion-text color="danger"> {{'app.emtpy_field_error' | translate}} </ion-text>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>

          <!-- select -->
          <ng-container *ngIf="field.input === 'select'">
            <div class="form-control--section">
              <ion-label class="field-label"
                >{{field?.label}}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <app-select
                [hintHTML]="field?.instructions"
                [formControlName]="field.key"
                *ngIf="field.options?.length; else noOptions"
                [options]="field.options"
              >
              </app-select>
            </div>
          </ng-container>

          <!-- number -->
          <ng-container *ngIf="field.input === 'number'">
            <div class="form-control--section">
              <ion-label class="field-label"
                >{{field?.label}}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <app-form-control
                color="light"
                [clearable]="true"
                [required]="field?.required"
                [formControlName]="field.key"
                [type]="'number'"
                [pattern]="field.type === 'int' ? '[0-9]*' : ''"
                [hintHTML]="field?.instructions"
              ></app-form-control>
            </div>
          </ng-container>

          <!-- upload -->
          <ng-container *ngIf="field.input === 'upload'">
            <div class="form-control--section">
              <div>
                <ion-label class="field-label">
                  {{ field?.label }}
                  <span class="color-accent" *ngIf="field?.required">*</span>
                </ion-label>
                <span
                  class="form-row__instruction"
                  *ngIf="field?.instructions"
                  [innerHTML]="field?.instructions"
                ></span>
              </div>
              <app-image-uploader
                [formControlName]="field.key"
                [hasCaption]="field.config.hasCaption"
                [isConnection]="isConnection"
                [requiredError]="
                  form.get(field.key)?.touched && form.get(field.key)?.hasError('photoRequired')
                "
              >
              </app-image-uploader>
              <ion-progress-bar [value]="uploadProgress$[field.id] | async"></ion-progress-bar>
            </div>
          </ng-container>

          <!-- video -->
          <ng-container *ngIf="field.input === 'video'">
            <div class="form-control--section">
              <ion-label class="field-label"
                >{{field?.label}}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <app-form-control
                #videoInput
                color="light"
                [clearable]="true"
                [required]="field?.required"
                [formControlName]="field.key"
                [hintHTML]="field?.instructions"
                [errors]="form.get(field.key)?.hasError('invalidvideourl') && !form.get(field.key)?.hasError('required') ? ['Invalid video embed url'] : []"
              ></app-form-control>

              <iframe
                *ngIf="form.get(field.key)?.value && isConnection"
                width="100%"
                height="315px"
                [src]="generateSecurityTrustUrl(formValidator.videoUrlPreview(videoInput))"
                [hidden]="!videoInput.value.length"
              ></iframe>

              <ng-container *ngIf="!isConnection">
                <app-offline-notification></app-offline-notification>
              </ng-container>
            </div>
          </ng-container>

          <!-- location -->
          <ng-container *ngIf="field.input === 'location'">
            <div class="form-row__label-instruction">
              <ion-label class="field-label">
                {{ field?.label }}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <span
                class="form-row__instruction"
                *ngIf="field?.instructions"
                [innerHTML]="field?.instructions"
              ></span>
            </div>

            <div class="form-control--section">
              <app-location-select
                [zoom]="12"
                [location]="form.get(field.key)?.value"
                [required]="isLocationRequired(field)"
                [type]="post?.source?.toLowerCase() || 'default'"
                (locationChange)="changeLocation($event, field.key)"
              ></app-location-select>
            </div>
          </ng-container>

          <!-- relation -->
          <ng-container *ngIf="field.input === 'relation'">
            <div class="form-control--section">
              <ion-label class="field-label">
                {{ field?.label }}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <p class="form-control--tip">{{"app.related_post_hint" | translate}}</p>
              <div class="related-post-selected" *ngIf="selectedRelatedPost">
                <div class="related-post-content">
                  <span>{{ selectedRelatedPost.id }}: {{ selectedRelatedPost.title }}</span>
                  <div
                    class="related-post-delete"
                    (click)="deleteRelatedPost(field, selectedRelatedPost.id)"
                  >
                    <app-icon slot="icon-only" name="close"></app-icon>
                  </div>
                </div>
              </div>

              <div class="relation-container" *ngIf="!selectedRelatedPost">
                <app-form-control
                  color="light"
                  [clearable]="true"
                  [required]="field?.required"
                  [(ngModel)]="relationSearch"
                  [ngModelOptions]="{ standalone: true }"
                  [hintHTML]="field?.instructions"
                >
                </app-form-control>
                <app-button
                  type="button"
                  class="relation-button-search"
                  [disabled]="!isConnection"
                  (buttonClick)="relationSearchPosts()"
                >
                  {{ isConnection ? 'Relation post search' : 'Search is not available' }}
                </app-button>
              </div>

              <span class="related-post-list" *ngIf="relatedPosts?.length">
                <ul>
                  <li *ngFor="let post of relatedPosts">
                    <app-checkbox
                      type="item"
                      (checkboxChange)="chooseRelatedPost($event, field, post)"
                    >
                      {{ post.id }}: {{ post.title }}
                    </app-checkbox>
                  </li>
                </ul>
              </span>
            </div>
          </ng-container>

          <!-- markdown -->
          <ng-container *ngIf="field.input === 'markdown'">
            <div class="form-control--section">
              <ion-label class="field-label"
                >{{field?.label}}
                <span class="color-accent" *ngIf="field?.required">*</span>
              </ion-label>
              <app-textarea-control
                color="light"
                [clearable]="true"
                [required]="field?.required"
                [formControlName]="field.key"
                [placeholder]="field.default"
                [hintHTML]="field?.instructions"
              ></app-textarea-control>
            </div>
          </ng-container>
          <div
            class="field-error"
            *ngIf="form.get(field.key)?.invalid && form.get(field.key)?.touched"
          >
            <ion-text color="danger" *ngIf="form.get(field.key)?.hasError('required')">
              {{ field.label }} field is a required field *
            </ion-text>
            <ion-text color="danger" *ngIf="form.get(field.key)?.hasError('minlength')">
              {{ field.label }} field is too short, use at least 2 characters
            </ion-text>
            <ion-text color="danger" *ngIf="form.get(field.key)?.hasError('pattern')">
              {{ field.label }} field is invalid
            </ion-text>
            <ion-text color="danger" *ngIf="form.get(field.key)?.hasError('specialCharacters')">
              {{ field.label }} field contains special characters
            </ion-text>
          </div>
        </div>
      </div>
    </div>
  </form>

  <ng-template #noOptions>
    <div>
      <span class="no-options">{{'app.no_options' | translate}}</span>
    </div>
  </ng-template>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar class="footer__toolbar">
    <ion-text class="connection-info" color="warning">{{ connectionInfo }}</ion-text>
    <ion-buttons class="form-controls-panel">
      <app-button
        expand="inline"
        type="button"
        *ngIf="form && isSubmitting !== 'complete'"
        [disabled]="isSubmitting==='yes' || form.disabled || form.invalid || emptyLocation || (!requireApproval || post?.status === 'published' ? taskForm.invalid : false)"
        (buttonClick)="submitPost()"
        [ngSwitch]="isSubmitting"
        class="submit-button"
      >
        <ng-container *ngSwitchCase="'yes'">
          <app-spinner></app-spinner>
          Submitting
        </ng-container>
        <ng-container *ngSwitchCase="'no'"> {{"app.submit" | translate}} </ng-container>
      </app-button>
      <app-button
        *ngIf="isSubmitting==='no'"
        color="medium"
        fill="outline"
        expand="inline"
        (buttonClick)="cancelPost()"
      >
        {{"app.cancel" | translate}}
      </app-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
