@import 'helpers';

::ng-deep {
  body:not(.burger-menu-open) {
    .main:not(.main--inner) {
      @include breakpoint-max($tablet) {
        // Adds padding bottom for smaller devices so that page links at the bottom does not cover some content (e.g. in activity & settings)
        padding-bottom: 80px;
      }
    }
  }
}

.main {
  height: 100%;

  @include breakpoint-min($tablet) {
    z-index: initial;
  }

  @include breakpoint-max($tablet) {
    &--inner {
      padding-bottom: 0;
    }
  }
}

.sidebar {
  width: 100%;
  max-width: 220px;
  border-right: none;
  z-index: 1000 !important;
  background-color: var(--color-neutral-100);
  --scrollbar-color: var(--color-neutral-60);
  --scrollbar-background: var(--color-neutral-100);

  @include breakpoint-max($laptop-small) {
    max-width: 200px;
  }

  // Hide sidebar & content on smaller devices
  // Reminder: Prevents slide/transition in and out of view of the sidebar after the ngIf directive hides mat-sidenav
  @include breakpoint-max($tablet) {
    display: none;
  }
}

.mobile-page-nav {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  max-width: none;
  overflow: visible;
  z-index: 500 !important;
  margin: 0;
  opacity: 1;

  @include breakpoint-min($tablet) {
    display: none;
  }

  &__add-post-btn {
    @include breakpoint-max($laptop-small) {
      padding-left: 16px;
      padding-right: 16px;
    }

    @include breakpoint-max($tablet) {
      left: 50%;
      padding: 0;
      z-index: 25;
      bottom: 100%;
      border: none;
      position: absolute;
      margin: 0 0 -12px -32px;
    }
  }
}

// Needed for opening mobile-menu
::ng-deep {
  body.burger-menu-open {
    .sidebar {
      @include breakpoint-max($tablet) {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

.content-wrapper {
  &:not(.content-wrapper--no-offset) {
    height: 100%;

    @include breakpoint-max($tablet) {
      height: auto;
      min-height: 100%;
    }
  }
}

::ng-deep {
  .mat-drawer-inner-container {
    @include breakpoint-min($tablet) {
      overflow: hidden !important;
    }

    @include breakpoint-max($tablet) {
      overflow: visible !important;
    }
  }
}

// Styles for the print webpage layout

@media print {
  .sidebar,
  .mobile-page-nav,
  app-toolbar {
    display: none;
  }
  .main {
    height: unset;
    overflow: scroll;
  }

  .content-wrapper {
    width: 100%;
    border: 1px solid var(--color-black);
  }

  .mat-drawer-container {
    .mat-drawer-content {
      margin: 0px !important;
    }
  }
}
