.roles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px -24px;
  justify-content: flex-start;
}

.role-item {
  display: flex;
  font-size: 20px;
  min-height: 74px;
  font-weight: 700;
  line-height: 1.28;
  padding: 16px 24px;
  margin: 0 4px 24px;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  color: var(--color-black);
  width: calc(33.3333% - 8px);
  background: var(--color-neutral-10);
}
