<section class="section">
  <div class="create-button-container">
    <button
      type="button"
      class="create-button"
      color="primary"
      mat-raised-button
      [routerLink]="['create']"
      data-qa="btn-add-role"
    >
      <mat-icon class="create-button-icon">create</mat-icon>
      <span class="create-button-name">{{ 'role.add_role' | translate }}</span>
    </button>
  </div>
  <div class="roles-nav">
    <div
      class="roles-item"
      *ngFor="let role of (roleResponse$ | async)?.results"
      [routerLink]="['update', role.id]"
      [data-qa]="'btn-' + role.display_name | lowercase"
    >
      <div class="item-icon-wrapper">
        <mat-icon class="item-icon">home</mat-icon>
      </div>
      <span class="roles-name">{{ role.display_name }}</span>
    </div>
  </div>
</section>
