<div class="form-head-panel">
  <h1>{{ 'app.roles' | translate }}</h1>
  <button
    type="button"
    class="create-button"
    color="primary"
    mat-raised-button
    [routerLink]="['create']"
    data-qa="btn-add-role"
  >
    <span>{{ 'role.add_role' | translate }}</span>
    <mat-icon svgIcon="pencil"></mat-icon>
  </button>
</div>

<div class="roles">
  <a
    matRipple
    class="role-item"
    *ngFor="let role of (roleResponse$ | async)?.results"
    [routerLink]="['update', role.id]"
    [data-qa]="'btn-' + role.display_name | lowercase"
  >
    {{ role.display_name }}
  </a>
</div>
