.post {
  font-size: 14px;
  margin: 0 0 16px;
  font-weight: 400;
  line-height: 1.3;
  border-radius: 12px;
  --background: transparent;
  --ripple-color: var(--ion-color-primary);

  @media (prefers-color-scheme: light) {
    --color: var(--ion-color-step-800);
    box-shadow: inset 0 0 0 1px var(--ion-color-step-100);
  }

  @media (prefers-color-scheme: dark) {
    --color: var(--ion-color-medium);
    box-shadow: inset 0 0 0 1px var(--ion-color-step-400);
  }

  &__header {
    display: flex;
    padding: 14px 16px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    &__inner {
      flex: 1 1 100%;
    }
  }

  &__details {
    --size: 40px;
    --icon-size: 24px;
    margin-left: 16px;
    margin-right: -8px;
  }

  &__avatar {
    --size: 40px;
    flex-shrink: 0;
    margin-right: 16px;
    width: var(--size);
    height: var(--size);
  }

  &__username {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.15px;
    color: var(--ion-text-color);
  }

  &__date {
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: var(--ion-color-medium);

    &:not(:first-child) {
      margin-top: 4px;
    }
  }

  &__user-avatar {
    display: block;
  }

  &__body {
    padding: 16px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: var(--ion-text-color);

    + p {
      margin-top: 8px;
    }
  }
}
