<div
  class="post"
  *ngIf="post"
  (click)="postClicked($event)"
  [ngStyle]="{ '--color': post.color || 'var(--color-neutral-100)' }"
  [ngClass]="{
    'post--feed': feedView,
    'post--selectable': selectable
  }"
>
  <div class="post__head">
    <ng-container *ngIf="selectable">
      <mat-checkbox [(ngModel)]="isChecked" (keydown.enter)="postClicked($event)"></mat-checkbox>
    </ng-container>
    <app-post-head
      [post]="post"
      [feedView]="!!feedView"
      (refresh)="refresh.emit()"
      (edit)="edit.emit()"
      [editable]="post.allowed_privileges.includes('update')"
      [deleteable]="post.allowed_privileges.includes('delete')"
      (deleted)="deletedHandle()"
      (statusChanged)="statusChangedHandle()"
    >
    </app-post-head>
  </div>

  <div class="post__twitter" *ngIf="post.source === 'Twitter' && post.data_source_message_id">
    <app-twitter-widget [id]="post.data_source_message_id"></app-twitter-widget>
  </div>

  <div class="post__main">
    <div class="post__content">
      <h3 *ngIf="post.title?.length || post.content?.length">{{ post.title || post.content }}</h3>
      <p *ngIf="post.title?.length && post.content?.length">{{ post.content }}</p>
    </div>
    <div class="post__visual" *ngIf="media && post.source !== 'Twitter'">
      <img [src]="media.original_file_url" [alt]="media.caption || post.title" />
    </div>
  </div>
  <div class="post__more" *ngIf="!feedView">
    <mzima-client-button size="small" fill="clear" [expand]="false" (buttonClick)="showDetails()">
      {{ 'post.read_more' | translate }}
    </mzima-client-button>
  </div>

  <app-post-metadata class="post__metadata" [post]="post"></app-post-metadata>
</div>
