<div
  class="post"
  *ngIf="post"
  (click)="postClicked($event)"
  [ngStyle]="{ '--color': post.color || 'var(--color-neutral-100)' }"
  [ngClass]="{
    'post--feed': feedView,
    'post--selectable': selectable
  }"
>
  <div class="post__head">
    <ng-container *ngIf="selectable">
      <mat-checkbox [(ngModel)]="isChecked"></mat-checkbox>
    </ng-container>
    <app-post-head
      [post]="post"
      (refresh)="refresh.emit()"
      (edit)="edit.emit()"
      [editable]="
        allowed_privileges.includes('update') && post.allowed_privileges.includes('update')
      "
      [deleteable]="
        allowed_privileges.includes('delete') && post.allowed_privileges.includes('delete')
      "
      (deleted)="deletedHandle()"
      (statusChanged)="statusChangedHandle()"
    >
    </app-post-head>
  </div>

  <div class="post__twitter" *ngIf="post.source === 'Twitter' && post.data_source_message_id">
    <app-twitter-widget [id]="post.data_source_message_id"></app-twitter-widget>
  </div>

  <div class="post__main">
    <div class="post__visual" *ngIf="media && post.source !== 'Twitter'">
      <img [src]="media.original_file_url" [alt]="post.title" />
    </div>
    <div class="post__content">
      <h3 *ngIf="post.title?.length || post.content?.length">{{ post.title || post.content }}</h3>
      <p *ngIf="post.title?.length && post.content?.length">{{ post.content }}</p>
    </div>
  </div>
  <div
    class="post__more"
    *ngIf="
      !feedView &&
      (user?.allowed_privileges
        ? user?.allowed_privileges!.includes('read_full')
        : post.allowed_privileges.includes('read_full'))
    "
  >
    <mzima-client-button size="small" fill="clear" [expand]="false" (buttonClick)="showDetails()">
      {{ 'post.read_more' | translate }}
    </mzima-client-button>
  </div>

  <app-post-metadata [post]="post"></app-post-metadata>
</div>
