<app-main-layout
  #layout
  class="main"
  title="Deployments"
  [isSearch]="showSearch"
  [header]="isProfile"
  (back)="backHandle()"
  [placeholderText]="'Search for site or Enter URL'"
  (search)="searchDeployments($event)"
  (searchFocus)="isSearchView = true"
  (searchBlur)="isSearchView = false"
  [ngClass]="{ 'main--profile': isProfile, 'main--search-view': isSearchView }"
>
  <app-icon
    *ngIf="!isProfile"
    class="logo"
    [ngClass]="{ 'logo--hidden': isSearchView }"
    name="ushahidi"
  ></app-icon>

  <ng-container *ngIf="deploymentList.length && !isSearchView">
    <ion-text color="medium" class="title ion-padding-horizontal">
      Choose one Deployment from list
    </ion-text>
    <ion-list class="deployment-list">
      <app-deployment-item
        *ngFor="let item of deploymentList"
        [deployment]="item"
        (selectedDeployment)="callModal($event)"
        [isCurrent]="!item.isOutdated && item.id === currentDeploymentId"
        [isOutdated]="item.isOutdated"
        (click)="chooseDeployment(item)"
      ></app-deployment-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="isSearchView">
    <ng-container *ngIf="!isDeploymentsLoading; else spinner">
      <ng-container *ngIf="foundDeploymentList.length; else emptyList">
        <ion-text color="medium" class="title">
          Found {{ foundDeploymentList.length }} items
        </ion-text>
        <ion-list class="search-list" [ngStyle]="{ background: 'none' }">
          <app-deployment-item
            class="search-result"
            *ngFor="let item of foundDeploymentList"
            [deployment]="item"
            [buttonVisible]="false"
            [checkboxVisible]="true"
            [isBackgroundVisible]="false"
            [isBorderVisible]="false"
            (selectedDeployment)="selectDeployment($event)"
          ></app-deployment-item>
        </ion-list>
      </ng-container>
      <ng-template #emptyList>
        <ion-text class="empty" color="medium">
          Locate a deployment: Search by keyword or enter a URL
        </ion-text>
      </ng-template>
    </ng-container>
  </ng-container>

  <ion-footer class="footer ion-padding" footer *ngIf="isSearchView && addButtonVisible">
    <app-button (buttonClick)="addDeployment()" iconName="plus">Add</app-button>
  </ion-footer>
</app-main-layout>

<ng-template #spinner>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
