<div
  class="map-holder"
  role="region"
  [ngClass]="{
    'map-holder--filters-visible': isFiltersVisible,
    'map-holder--no-offset': !isMainFiltersOpen
  }"
>
  <h1 class="visually-hidden">Map</h1>
  <mat-progress-bar
    class="progress-bar"
    mode="determinate"
    [value]="progress"
    *ngIf="progress < 100"
  ></mat-progress-bar>
  <div
    class="map"
    *ngIf="mapReady"
    leaflet
    [leafletOptions]="leafletOptions"
    [leafletLayers]="mapLayers"
    [leafletFitBounds]="mapFitToBounds"
    [leafletFitBoundsOptions]="fitBoundsOptions"
    (leafletMapReady)="onMapReady($event)"
  ></div>
</div>
