@import 'helpers';
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.map-container {
  flex-grow: 1;
}


::ng-deep {
  .popup-container, .post {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
  }
  
  .ol-unselectable.ol-control.layer-switcher.layer-switcher-group-select-style-children.layer-switcher-activation-mode-click.activationModeClick.shown button {
    display: none;
  }
  .layer-switcher.shown.layer-switcher-activation-mode-click {
    top: 1em;
    @include breakpoint-max($tablet) {
      top: 5em;
    }
  }
 }