@import 'helpers';

.map-holder {
  height: 100%;
  position: relative;
  transition: transform 0.35s ease;

  @include breakpoint-max($tablet) {
    left: 0;
    right: 0;
    top: 80px;
    bottom: 80px;
    height: auto;
    position: fixed;
  }

  &:not(.map-holder--no-offset) {
    @include breakpoint-min($tablet) {
      transform: translateX(110px);

      @include breakpoint-max($laptop-small) {
        transform: translateX(100px);
      }
    }
  }
}

.progress-bar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  position: absolute;
}

.map {
  z-index: 15;
  height: 100%;
  position: relative;

  @include breakpoint-min($tablet) {
    min-height: 400px;
  }
}

::ng-deep {
  .pl-popup {
    .leaflet-popup-content-wrapper {
      padding: 0;
      box-shadow: none;
      text-align: start;
      border-radius: 8px;
    }

    .leaflet-popup-content {
      margin: 0;
      border: none;
      overflow-y: auto;
      min-width: 464px;
      overflow-x: hidden;
      border-radius: 8px;
      scroll-behavior: smooth;
      padding: 20px 24px 16px 34px;
      max-height: calc(100vh - 176px);
      -webkit-overflow-scrolling: touch;

      @include breakpoint-max($mobile) {
        width: 464px;
        min-width: 0;
        padding: 16px 16px 12px 26px;
        max-width: calc(100vw - 32px);
      }
    }

    .leaflet-popup-tip {
      padding: 0;
      width: 16px;
      height: 16px;
      box-shadow: none;
      margin-top: -8px;
    }
  }

  .marker-cluster-small,
  .marker-cluster-medium,
  .marker-cluster-large {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    div {
      margin: 0;
      font-size: $font-xs;
      font-family: inherit;
    }
  }

  .marker-cluster-small,
  .marker-cluster-medium {
    border-radius: 50%;
    width: 45px !important;
    height: 45px !important;
    margin-top: -22px !important;
    margin-inline-start: -22px !important;

    div {
      width: 27px;
      height: 27px;
      line-height: 27px;
      border-radius: 50%;
    }
  }

  .marker-cluster-small {
    background: rgba(255, 195, 52, 0.23);

    div {
      background: var(--color-primary-60);
    }
  }

  .marker-cluster-medium {
    background: rgba(255, 174, 52, 0.23);

    div {
      background: #ffae34;
    }
  }

  .marker-cluster-large {
    width: 56px !important;
    height: 56px !important;
    margin-top: -28px !important;
    margin-left: -28px !important;
    background: rgba(255, 137, 52, 0.23);

    div {
      width: 34px;
      height: 34px;
      line-height: 34px;
      background: #ff8934;
    }
  }

  .marker-cluster {
    span {
      line-height: inherit;
    }
  }
}
