.head {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;

  @media (max-width: 650px) {
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }

  h2 {
    margin-bottom: 0;
  }
}

.logo-wrapper {
  max-width: 204px;
  margin-left: 24px;

  @media (max-width: 650px) {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.main {
  margin-bottom: 32px;
}

.form-field {
  max-width: 450px;
  margin-bottom: 50px;
}
