//.form-field {
//  max-width: 450px;
//  margin-bottom: 50px;
//}

.user-settings {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    //
    //@media (max-width: 650px) {
    //  align-items: stretch;
    //  flex-direction: column;
    //  justify-content: flex-start;
    //}
  }

  &__title {
    font-size: 24px;
    margin-bottom: 0;
  }

  .logo-wrapper {
    max-width: 204px;
    margin-left: 24px;

    @media (max-width: 650px) {
      margin-left: 0;
      margin-bottom: 20px;
    }
  }

  &__information {
    margin-bottom: 35px;

    .guide-link {
      display: flex;
      align-items: center;
    }

    .link-blue-icon {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
  }
}
