<div class="page-content">
  <div class="main">
    <div class="head">
      <div class="logo-wrapper">
        <img
          class="field-logo"
          src="assets/images/logo-hdx.png"
          alt="Humanitarian Data Exchange logotype"
        />
      </div>
      <h2>{{ 'settings.settings_list.user_settings' | translate }}</h2>
    </div>
    <p>{{ 'settings.user_settings.user_settings_desc_1' | translate }}</p>
    <p>{{ 'settings.user_settings.user_settings_desc_2' | translate }}</p>
    <p>{{ 'settings.user_settings.user_settings_desc_3' | translate }}</p>
    <a href="https://data.humdata.org/faq" target="_blank">
      <mat-icon class="link-blue-icon">
        <svg class="iconic">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="assets/sprites.svg#external-link"
          ></use>
        </svg>
      </mat-icon>
      <strong>View the guide to your API key</strong>
    </a>
  </div>

  <form [formGroup]="form" novalidate>
    <div class="form-field">
      <div class="form-group">
        <h4>{{ 'settings.user_settings.hdx_maintainer_id' | translate }}</h4>
        <p class="form-description">{{ 'settings.user_settings.profile_page' | translate }}</p>
        <mat-form-field appearance="standard">
          <mat-label>
            {{ 'settings.user_settings.hdx_maintainer_id' | translate }}
          </mat-label>
          <input
            matInput
            placeholder="Please enter maintainer id"
            formControlName="hdx_maintainer_id"
            required
          />
          <mat-error *ngIf="form.get('hdx_maintainer_id')?.invalid">{{
            'settings.user_settings.valid_user' | translate
          }}</mat-error>
        </mat-form-field>
      </div>
      <button
        type="button"
        color="primary"
        mat-raised-button
        (click)="saveMaintainerId()"
        [disabled]="form.get('hdx_maintainer_id')?.invalid"
      >
        {{ 'app.save' | translate }}
      </button>
    </div>

    <div class="form-field">
      <div class="form-group">
        <h4>{{ 'settings.user_settings.api_key' | translate }}</h4>
        <p class="form-description">{{ 'settings.user_settings.profile_page' | translate }}</p>
        <mat-form-field appearance="standard">
          <mat-label>
            {{ 'settings.user_settings.api_key' | translate }}
          </mat-label>
          <input
            matInput
            placeholder="Please enter API key"
            formControlName="hdx_api_key"
            required
          />
          <mat-error *ngIf="form.get('hdx_api_key')?.invalid">{{
            'settings.user_settings.valid_key' | translate
          }}</mat-error>
        </mat-form-field>
      </div>
      <button
        type="button"
        color="primary"
        mat-raised-button
        (click)="saveApiKey()"
        [disabled]="form.get('hdx_api_key')?.invalid"
      >
        {{ 'app.save' | translate }}
      </button>
    </div>
  </form>
</div>
