<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>deployment-search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding-horizontal">
    <ion-row class="ion-align-items-center">
      <ion-icon name="search" size="large"></ion-icon>
      <ion-input type="text" clearInput placeholder="Search"> </ion-input>
      <app-button>Search</app-button>
    </ion-row>
  </ion-grid>
  <!--  <ion-header collapse="condense">-->
  <!--    <ion-toolbar>-->
  <!--      <ion-title size="large">deployment-search</ion-title>-->
  <!--    </ion-toolbar>-->
  <!--  </ion-header>-->
</ion-content>
