.post {
  &--feed {
    min-height: 100%;
    padding: 20px 30px;
    position: relative;
    background: var(--color-light);
    box-shadow: 0 0 2px rgb(#000, 0.12), 0 2px 2px rgb(#000, 0.24);
  }

  &__survey {
    margin-bottom: 32px;
  }

  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__group {
    padding: 24px 0;
    border-top: 1px solid #eee;
  }

  &__content {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__description {
    margin-bottom: 32px;
  }
}

.category {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__icon {
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 12px;
    margin-right: 8px;
  }
}

.map {
  display: block;
  margin-bottom: 16px;
}

.spinner {
  display: block;
  margin-top: 20vh;
  margin-bottom: 20vh;
}
