<form
  novalidate
  [formGroup]="form"
  class="search-form"
  (submit)="applyFilters.emit()"
  [ngClass]="{
    'search-form--filters-open': isFiltersVisible,
    'search-form--main-filters-open': isMainFiltersOpen
  }"
>
  <mat-form-field appearance="outline" class="search-form__control">
    <mzima-client-button matPrefix [iconOnly]="true" fill="clear" color="secondary">
      <mat-icon icon svgIcon="search-small"></mat-icon>
    </mzima-client-button>
    <input
      matInput
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange()"
      class="search-form__form-control"
      [ngModelOptions]="{ standalone: true }"
      [placeholder]="'global_filter.search' | translate"
    />
    <mzima-client-button
      matSuffix
      fill="clear"
      [iconOnly]="true"
      color="secondary"
      *ngIf="searchQuery?.length"
      (buttonClick)="clearSearchResult()"
    >
      <mat-icon icon svgIcon="close"></mat-icon>
    </mzima-client-button>
  </mat-form-field>
</form>
