@import 'helpers';

.language {
  font-size: $font-base;
  font-weight: 700;
  line-height: 1.2;

  &::ng-deep {
    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
      display: none;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 0;
      border-top: 0;
    }

    .mat-focused .mat-icon {
      transform: rotate(180deg);
    }

    .mat-select-arrow-wrapper {
      display: none;
    }

    .option-wrapper {
      display: flex;
      align-items: center;
    }

    .language-title {
      font-size: $font-base;
    }
  }

  &__selected {
    display: flex;
    font-size: $font-sm;
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    align-items: center;
    text-transform: uppercase;
    // padding-inline-start: 11px;
    justify-content: space-between;

    &__arrow {
      flex-shrink: 0;
      line-height: 1;
      font-size: $font-2xl;
      margin-inline-start: 8px;
      transition: transform 0.35s ease;
    }
  }

  &__option {
    &::ng-deep {
      .mat-option-text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }

    &__flag {
      width: 30px;
      height: 20px;
      object-fit: contain;
      margin-inline-end: 5px;
      object-position: 0 50%;
    }
  }
}
