.dialog {
  &-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &-title {
    font-size: 26px;
    margin-bottom: 40px;
  }
  &-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 70px;
  }
  &-buttons {
    display: flex;
    justify-content: flex-end;
  }
  &-button {
    &:first-child {
      margin-right: 10px;
    }
  }
}
