<div class="dialog">
  <div class="dialog-container">
    <h2 class="dialog-title">{{ data.title }}</h2>
    <div class="dialog-body" [innerHtml]="data.body"></div>
  </div>
  <div class="dialog-buttons">
    <button
      mat-stroked-button
      color="primary"
      class="dialog-button"
      type="button"
      (click)="confirm(false)"
    >
      <span>Cancel</span>
    </button>
    <button
      mat-raised-button
      color="warn"
      class="dialog-button"
      type="submit"
      (click)="confirm(true)"
    >
      <span>Yes</span>
    </button>
  </div>
</div>
