<span class="post__border"></span>

<div class="post-info">
  <div class="post-info__visual">
    <img
      [alt]="post.user?.realname"
      src="//www.gravatar.com/avatar/{{
        post.user?.gravatar || '00000000000000000000000000000000'
      }}?d=retro&s=40"
    />
  </div>
  <div class="post-info__content">
    <span *ngIf="author" class="post-info__username">
      {{ author }}
    </span>

    <div class="post-info__list">
      <span class="post-info__item">
        {{ post.post_date | dateAgo }}
      </span>

      <div class="post-info__item">
        <span
          class="post-info__status"
          [ngClass]="{
            'post-info__status--published': post.status === 'published',
            'post-info__status--draft': post.status === 'draft',
            'post-info__status--archived': post.status === 'archived'
          }"
          [data-qa]="'status'"
        >
          <ng-container [ngSwitch]="post.status">
            <ng-container *ngSwitchCase="'published'">{{
              'post.published' | translate
            }}</ng-container>
            <ng-container *ngSwitchCase="'draft'">{{ 'post.draft' | translate }}</ng-container>
            <ng-container *ngSwitchCase="'archived'">{{
              'post.archived' | translate
            }}</ng-container>
          </ng-container>
        </span>
      </div>

      <span class="post-info__item">{{ 'post.source' | translate : { source: post.source } }}</span>
    </div>
  </div>
</div>
