::ng-deep {
  app-button {
    display: block;
  }
}

.button {
  margin: 0;
  font-weight: 700;
  --box-shadow: none;
  vertical-align: top;
  text-transform: none;
  height: var(--button-height, 40px);
  font-size: var(--button-font-size, 14px);
  line-height: var(--button-line-height, 20px);
  letter-spacing: var(--button-letter-spacing, 0.1px);
  --padding-top: var(--button-padding-top, 4px);
  --padding-end: var(--button-padding-end, 16px);
  --padding-start: var(--button-padding-start, 16px);
  --padding-bottom: var(--button-padding-bottom, 4px);

  &.button-disabled {
    opacity: 1;
    --ion-color-primary-contrast: rgba(var(--ion-text-color-rgb), 0.38);

    &.ion-color-primary {
      @media (prefers-color-scheme: light) {
        --ion-color-primary: var(--ion-color-step-100);
      }

      @media (prefers-color-scheme: dark) {
        --ion-color-primary: var(--ion-color-step-200);
      }
    }
  }

  &.button-clear {
    --padding-start: 0;
    --padding-end: 0;

    &.ion-color-primary {
      @media (prefers-color-scheme: light) {
        --ion-color-base: var(--color-primary-40) !important;
      }
    }
  }

  &.button-small {
    height: 20px;
  }

  &.button-has-icon-only {
    width: var(--size, 48px);
    height: var(--size, 48px);
    font-size: var(--icon-size, calc(var(--size, 48px) / 2));
    --padding-start: 0;
    --padding-end: 0;
  }

  &--custom-color {
    &.button-clear {
      color: inherit;
      --color: currentColor;
    }
  }

  &--shadow {
    --box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.3);
  }

  &:not(.button-round) {
    --border-radius: 16px;
  }
}
