<ion-button
  [expand]="expand === 'inline' ? '' : expand"
  [fill]="fill"
  [type]="type"
  [size]="size"
  [color]="color === 'custom' ? '' : color"
  [disabled]="disabled"
  [shape]="expand === 'inline' || shape === 'normal' ? undefined : 'round'"
  class="button"
  [ngClass]="{ 'button--custom-color': color === 'custom', 'button--shadow': shadow }"
  (click)="onClick($event)"
>
  <app-icon class="button__icon" slot="start" *ngIf="iconName" [name]="iconName"></app-icon>
  <span><ng-content></ng-content></span>
</ion-button>
