<div
  class="page-content ion-padding-horizontal"
  [ngClass]="{
    'at-bottom': atBottom,
    'at-top': atTop,
    collection: isCollection
  }"
>
  <app-select
    label="Sort by"
    [(ngModel)]="sorting"
    class="sorting-select"
    [options]="sortingOptions"
    [disabled]="isPostsLoading"
    (ngModelChange)="sortPosts()"
    [ngClass]="{ 'sorting-select--hidden': !atTop }"
  >
    <ng-container start>
      <app-icon name="sorting"></app-icon>
    </ng-container>
  </app-select>

  <div *ngIf="isCollection" class="feed-header">
    <div class="feed-header--button">
      <app-button
        fill="clear"
        [color]="'primary'"
        *ngIf="isCollection"
        (buttonClick)="removeCollection()"
      >
        <app-icon name="arrow-back"></app-icon>
      </app-button>
      <span>Back</span>
    </div>
    <p class="feed-header--title" *ngIf="!isPostsLoading">
      {{ totalPosts }} {{ totalPosts > 1 ? 'posts' : 'post' }} {{ ' - ' + collectionName }}
    </p>
  </div>

  <div class="total-posts" *ngIf="!isPostsLoading && !isCollection">
    {{ totalPosts }} {{ totalPosts > 1 ? 'posts' : 'post' }}
  </div>

  <ng-container *ngIf="posts.length; else emptyBox">
    <app-post-item
      *ngFor="let post of posts"
      [post]="post"
      (postDeleted)="handlePostDeleted($event)"
      (click)="showPost(post.id.toString())"
    ></app-post-item>

    <ion-infinite-scroll
      *ngIf="totalPosts > posts.length && isConnection"
      (ionInfinite)="loadMorePosts($event)"
    >
      <ion-infinite-scroll-content loadingSpinner="lines-sharp"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

  <app-menu class="menu" [ngClass]="{ 'menu--hidden': atBottom }"> </app-menu>
</div>

<ng-template #emptyBox>
  <div class="empty-box" [ngClass]="{ 'empty-box--loading': isPostsLoading }">
    <ng-container *ngIf="!posts.length && !isPostsLoading">
      <ion-text color="medium" class="empty ion-text-center">
        There is no post yet. Add a post.
      </ion-text>
      <app-button class="create-post-btn" (buttonClick)="createPost()" iconName="plus">
        Add post
      </app-button>
    </ng-container>
    <app-spinner *ngIf="isPostsLoading"></app-spinner>
  </div>
</ng-template>
