.menu {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  position: fixed;
  transition-duration: 0.35s;
  transition-timing-function: ease;
  transition-property: opacity height;
  height: calc(84px + var(--ion-safe-area-bottom));

  &--hidden {
    height: 0;
    opacity: 0;
  }
}

.page-content {
  transition: padding 0.35s ease;

  &.at-top {
    padding-top: calc(66px + var(--ion-safe-area-top));
  }

  &:not(.at-bottom) {
    padding-bottom: 80px;
  }
}

.collection {
  .feed-header {
    justify-content: space-between;
    font-weight: 700;
    height: 56px;
    display: flex;

    &--button {
      width: 40%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: var(--color-primary-50);
      app-icon {
        color: var(--color-primary-50);
        font-size: 40px;
      }
    }
    &--title {
      padding-left: 20px;
    }
  }
}
.total-posts {
  height: 56px;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  line-height: 20px;
  text-align: center;
  margin-bottom: 8px;
  align-items: center;
  letter-spacing: 0.1px;
  justify-content: center;
  transition-duration: 0.35s;
  transition-timing-function: ease;
  transition-property: margin-bottom, height;

  .page-content.at-bottom & {
    margin-bottom: calc(26px + var(--ion-safe-area-bottom));
  }

  .page-content.at-top & {
    height: 0;
    margin-bottom: 0;
  }
}

.sorting-select {
  height: 57px;
  display: block;
  overflow: hidden;
  margin-bottom: 16px;
  transition: all 0.35s ease;

  &--hidden {
    height: 0;
    opacity: 0;
    margin-bottom: 0;
    transform: translateY(100px);
  }
}

.empty-box {
  height: 156px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &--loading {
    height: 220px;
  }
}

.empty {
  display: block;
  margin-bottom: 40px;
}

.create-post-btn {
  --button-padding-end: 24px;
  --button-padding-start: 24px;
}
