<div
  class="page-content ion-padding-horizontal"
  [ngClass]="{
    'at-bottom': atBottom,
    'at-top': atTop
  }"
>
  <div class="total-posts">1190 posts</div>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam a ratione ad recusandae
    inventore officia modi. Eos, obcaecati iure officia praesentium ea sapiente sed cupiditate
    repellendus perspiciatis consequatur voluptatibus cumque, omnis quia. Voluptates saepe eos
    delectus. Odit, iste asperiores dolore nisi cupiditate, delectus ratione at suscipit consectetur
    perspiciatis assumenda aut id aperiam sit cumque amet debitis, est repellat nostrum culpa
    deserunt libero. Dolore quis libero, aliquam placeat repudiandae totam sequi ut similique sint
    cupiditate, rem fuga molestias ea corporis quae natus perferendis officiis eius exercitationem
    commodi iusto! Quas, aspernatur quae quia nisi laboriosam illum reiciendis iure, quaerat ducimus
    blanditiis debitis.
  </p>
  <p>
    Perferendis atque autem, incidunt facilis esse quibusdam debitis aut, illum dicta aliquam
    laborum consequatur odit, quidem quasi ad. Quod autem nulla dolor architecto iste iure officiis,
    doloribus porro explicabo minus sapiente, ipsum beatae laudantium qui minima fugiat sed
    quisquam. Molestias excepturi perspiciatis enim minus nam libero assumenda esse ab fugit, illo
    exercitationem neque sequi, est animi? Voluptates culpa corporis quisquam eos, ullam blanditiis
    fuga. Aliquam ut veniam, architecto ad illo culpa, explicabo rem nulla ipsum vel ducimus
    adipisci rerum. Similique, aperiam ea. Facilis, natus? Eveniet provident et enim ab, voluptates
    maxime laudantium perspiciatis accusantium veniam ullam numquam culpa esse ut.
  </p>
  <p>
    Error nemo unde expedita repellendus qui quas adipisci eaque perferendis, saepe molestias
    laborum enim, esse commodi accusamus consectetur placeat quis cum dicta laudantium facere? Quia
    saepe consectetur, accusantium commodi debitis impedit minus quibusdam natus temporibus corporis
    cum porro explicabo dolores facilis obcaecati ipsa id quidem quod atque. Recusandae quidem quae
    labore! Quo recusandae culpa corporis nemo magnam, aperiam provident explicabo temporibus
    doloribus eum fuga sed, earum suscipit dolores fugit facilis doloremque veniam iusto fugiat
    dolor, laborum expedita. Saepe dolorum debitis, unde nesciunt natus quaerat voluptas, qui quas
    ab ipsa ipsam, nisi recusandae itaque laboriosam architecto animi a fugiat. Optio, quibusdam!
  </p>
  <p>
    Exercitationem qui, eum veniam aperiam tempora expedita sed a impedit obcaecati libero eveniet
    quo maiores? Atque, vitae. Quam autem expedita quo, ipsa omnis incidunt modi quos quasi cumque
    quod voluptate vel doloribus iusto inventore illo nulla dignissimos. Deserunt ratione vitae nam
    perspiciatis molestias ad nostrum sunt odit aut labore, minima non repellat ut enim adipisci
    recusandae rerum. Nobis explicabo harum mollitia, eius dignissimos optio voluptatibus expedita
    cumque cupiditate minus quis libero accusamus deleniti maiores odit ducimus corrupti dolores
    accusantium facilis unde error illo porro quidem. In vitae necessitatibus nobis, dolorum dolore
    ad, nisi asperiores quos at eius laborum, reprehenderit commodi.
  </p>
  <p>
    Fuga quas doloribus, quo earum tenetur iure facere autem totam id, maxime non eum expedita neque
    incidunt porro deserunt voluptate numquam provident rerum doloremque illum. Quo similique iure
    obcaecati quam adipisci voluptatem asperiores vero at repellendus iusto! Dolorum libero magni
    reprehenderit maiores magnam dignissimos perspiciatis tempore! Saepe odio sit, reprehenderit
    minus nihil animi cum dignissimos ipsum ullam, architecto dicta autem earum eligendi! Illo nobis
    perferendis voluptate ipsam sint, eveniet, sunt tenetur aut nesciunt quos eligendi repellat
    voluptas ex non? Eius quod debitis modi. Eveniet, veniam deserunt eaque cupiditate, cumque omnis
    delectus molestias obcaecati, facilis quidem sint dolore laudantium vitae? Earum.
  </p>
  <p>
    Cum praesentium, laborum commodi sint iure fugiat consequuntur id ipsa blanditiis magnam
    explicabo voluptatum alias quo eaque excepturi quia quas cupiditate necessitatibus, unde a
    accusamus. Tenetur, consequatur fugiat totam odio nam vel fuga delectus quae debitis. Odio
    placeat magnam ut sequi blanditiis obcaecati aliquam pariatur, ad officiis, dolores, provident
    similique sapiente asperiores doloribus incidunt ipsum ullam deserunt tempora necessitatibus
    facilis natus aperiam vero sed enim. Quod nostrum officia, ratione modi, aut delectus, mollitia
    recusandae nulla culpa nisi itaque blanditiis facilis animi. Iure pariatur odit fugit
    repellendus ullam atque porro saepe ab, quaerat odio rerum a ipsa cumque eum, aliquam
    recusandae.
  </p>
  <p>
    Magni illum blanditiis odio ut accusamus neque recusandae sequi. Officia rem id, tenetur sed
    iusto et quis voluptates provident cum? Enim iusto reiciendis repudiandae minima nam placeat
    autem et. Eveniet provident eos soluta officiis beatae blanditiis, ipsum aspernatur maxime
    saepe, labore placeat dolores consectetur reiciendis excepturi quidem optio, repellendus
    distinctio magni ullam deserunt harum magnam. Ullam doloribus quia blanditiis autem nisi
    doloremque modi adipisci a animi repudiandae, voluptas veniam ad inventore esse odio quos. Ad
    nihil ipsa minima assumenda perspiciatis tempora iusto! Similique id animi libero vero sapiente
    rem maiores provident sed sequi ipsum. Laborum officia suscipit explicabo possimus tenetur.
  </p>
  <p>
    Soluta minima illum exercitationem iure optio cupiditate magnam sit voluptatibus sed est id,
    illo, perspiciatis similique dolor. Fugit expedita, eveniet quasi vel molestias corrupti nam
    nulla ea, laborum, in nobis? Ut modi iure porro cum, eveniet accusantium consequatur esse
    commodi aut laboriosam omnis hic iusto ipsa nobis tempora, architecto soluta voluptatum
    temporibus minima exercitationem earum, fugiat ea sint in. Beatae eaque animi accusantium alias
    eveniet aspernatur ipsam dolor, laborum dolorem tempora quibusdam, natus voluptatem rerum!
    Deserunt excepturi doloribus tempore neque suscipit aliquid corporis ipsum nemo voluptatum et
    iusto, velit asperiores aliquam quas explicabo optio consectetur rem minima temporibus veniam
    nostrum.
  </p>
  <p>
    Aperiam alias, dolorem quibusdam et facilis, atque voluptatum odio voluptate aliquam corporis
    veniam dolorum repellat eligendi provident quam. Ea beatae non adipisci! Ad voluptate eum
    aliquam dicta, corrupti inventore. Quaerat non beatae veniam assumenda eligendi fugit, tenetur
    accusamus nam corporis veritatis sint! Sequi in corporis inventore culpa rem distinctio a
    nesciunt alias veritatis delectus? Minus voluptatem consequatur debitis officia quia,
    reprehenderit modi voluptatum iure temporibus deserunt nostrum, similique aliquid assumenda
    laborum itaque saepe dolorum! Necessitatibus minus nostrum eum doloribus optio dolores nam
    perferendis asperiores. Numquam rem non optio ratione sapiente temporibus quis culpa, pariatur
    mollitia, dicta vero assumenda. Autem, at.
  </p>
  <p>
    Illum aspernatur optio eius modi fugit nihil veniam ipsam dolorem unde iste deserunt iusto aut,
    laborum eum, rerum minus pariatur incidunt id, maxime quisquam voluptate error laboriosam
    dolores? Quam reprehenderit at repellat magni commodi enim ipsum rem vel illo ducimus optio
    dolore nemo, laborum cumque dolorum temporibus ad dolores quibusdam itaque quia officia dolor
    corrupti. Eum minus praesentium perferendis impedit fugit molestiae! Consectetur hic rem ex
    laboriosam at doloribus dolore atque unde dolor voluptatum ratione magnam iusto, repudiandae
    eveniet qui est temporibus aliquid assumenda ullam corporis distinctio ipsa. Perspiciatis porro
    iusto ipsum velit dolore quas facilis optio debitis reiciendis. Obcaecati!
  </p>

  <app-menu class="menu" [ngClass]="{ 'menu--hidden': atBottom }"> </app-menu>
</div>
