<section class="section">
  <h3 class="section-title">{{ 'role.add_role' | translate }}</h3>
  <div class="page-content">
    <form class="form" (ngSubmit)="save()" [formGroup]="form" novalidate>
      <div class="form-row">
        <mat-label>{{ 'role.name' | translate }}</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="display_name" (ngModelChange)="setName($event)" />
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-label>{{ 'role.description' | translate }}</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="description" />
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-label>{{ 'role.permissions' | translate }}</mat-label>
        <p [innerHTML]="'settings.roles.roles_description' | translate"></p>
        <mat-selection-list data-qa="role-permissions-list">
          <mat-list-option
            color="primary"
            class="list-option"
            checkboxPosition="before"
            *ngFor="let item of permissionsList"
            [value]="item.name"
            [selected]="item.checked"
            [disabled]="userRole === role.name"
            [data-qa]="item.test"
          >
            {{ item.name }}
          </mat-list-option>
        </mat-selection-list>
      </div>

      <div class="form-controls-panel">
        <button
          mat-stroked-button
          type="button"
          (click)="navigateToRoles()"
          data-qa="btn-cancel-role"
        >
          <span>{{ 'app.cancel' | translate }}</span>
        </button>
        <button
          mat-raised-button
          color="primary"
          class="role-button"
          type="submit"
          [disabled]="form.invalid"
          data-qa="btn-save-role"
        >
          <span>{{ (isUpdate ? 'app.update_and_close' : 'app.save_and_close') | translate }}</span>
        </button>
      </div>
    </form>
  </div>

  <div class="page-content" *ngIf="isUpdate && !role?.protected">
    <h3>{{ 'role.delete_role' | translate }}</h3>
    <p [innerHTML]="'role.delete_role_desc' | translate"></p>
    <button
      type="button"
      color="accent"
      mat-raised-button
      (click)="deleteRole()"
      data-qa="btn-delete-role"
    >
      <mat-icon>
        <svg class="iconic">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="assets/sprites.svg#trash"
          ></use>
        </svg>
      </mat-icon>
      <span>{{ 'role.delete' | translate }}</span>
    </button>
  </div>
</section>
