.page-not-found {
  height: 100vh;
  background: url(/assets/images/logo-bottom-bg.svg) 50% 95% repeat-x;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  &__title {
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 0;

    &-404 {
      font-size: 200px;
      margin-right: 30px;
    }
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
  }
}
