<div class="map-popup" [ngStyle]="{ '--color': data.color }">
  <span class="map-popup__border"></span>

  <div>
    <span class="map-popup__status">
      <ng-container *ngIf="data.status === 'published'">Published</ng-container>
      <ng-container *ngIf="data.status === 'draft'">Draft</ng-container>
      <ng-container *ngIf="data.status === 'archived'">Archived</ng-container>
    </span>
  </div>

  <div class="map-popup__user">
    <div class="map-popup__user__avatar">
      <img
        alt="user avatar"
        src="//www.gravatar.com/avatar/{{
          data.user?.gravatar || '00000000000000000000000000000000'
        }}?d=retro&s=40"
      />
    </div>
    <strong class="map-popup__user__name">
      {{ data.user?.realname || data.contact?.contact || data.author_realname || 'Anonymous' }}
    </strong>
  </div>

  <div class="map-popup__content">
    <h3>{{ data.title }}</h3>
    <p>{{ data.content }}</p>
  </div>

  <!-- <pre>{{ data | json }}</pre> -->
</div>
