.map-popup {
  &__border {
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    position: absolute;
    background: var(--color);
    border-radius: 4px 0 0 4px;
  }

  &__status {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 10px;
    background: #eee;
    margin-bottom: 8px;
    vertical-align: top;
    border-radius: 16px;
    display: inline-block;
    box-shadow: 0 0 1px rgb(0 0 0 / 16%) inset;
  }

  &__user {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    justify-content: flex-start;

    &__avatar {
      flex: 0 0 20px;
      margin-right: 8px;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  &__content {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
