.close {
  .settings {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .single-menu {
    width: 330px;
    height: fit-content;
  }
}

.open {
  .settings {
    padding: 24px 16px;
  }
}

.single-menu {
  padding: 16px 16px 26px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &-active {
    border-color: var(--color-primary-60);
  }

  .item-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

    .item-icon {
      font-size: 24px;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      color: var(--color-dark);
    }

    .item-header-title {
      text-transform: capitalize;
      font-size: 20px;
      margin-bottom: 0;
      padding-bottom: 0;
      color: var(--color-dark);
    }
  }

  .item-content {
    .item-description {
      font-size: 12px;
      color: var(--color-neutral-80);
      margin: 0;
    }
  }
}
