<div class="settings">
  <a
    matRipple
    *ngFor="let item of settingsItems"
    [routerLink]="item.router"
    class="single-menu"
    [routerLinkActive]="'single-menu-active'"
    [data-qa]="'btn-' + item.router"
  >
    <div class="single-menu__header">
      <mat-icon class="single-menu__header__icon" svgIcon="{{ item.icon }}"></mat-icon>
      <h3 class="single-menu__title" translate>{{ item.title }}</h3>
    </div>
    <div class="single-menu__info">
      <p translate>{{ item.description }}</p>
    </div>
  </a>
</div>
