<div class="settings">
  <div
    *ngFor="let item of settingsItems"
    [routerLink]="item.router"
    class="single-menu"
    [routerLinkActive]="'single-menu-active'"
    [data-qa]="'btn-' + item.router"
  >
    <div class="item-header">
      <mat-icon class="item-icon" svgIcon="{{ item.icon }}"></mat-icon>
      <h2 class="item-header-title" translate>{{ item.title }}</h2>
    </div>
    <div class="item-content">
      <p class="item-description" translate>{{ item.description }}</p>
    </div>
  </div>
</div>
