@import 'apps/web-mzima-client/src/styles/helpers';

.settings-layout {
  @include breakpoint-min($tablet) {
    display: flex;
    height: 100%;
    justify-content: flex-start;
  }

  @include breakpoint-max($tablet) {
    padding: 24px 16px;
    background: var(--color-light);
  }
}

.settings-menu {
  @include breakpoint-min($tablet) {
    height: 100%;
    flex: 0 0 304px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 24px 16px;
    scroll-behavior: smooth;
    background: var(--color-light);
    -webkit-overflow-scrolling: touch;
    --scrollbar-background: var(--color-light);

    @include breakpoint-max($laptop-small) {
      flex-basis: 240px;
      padding: 16px 8px;
    }
  }
}

.settings-router {
  @include breakpoint-min($tablet) {
    height: 100%;
    flex: 1 1 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 24px 32px 32px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    @include breakpoint-max($laptop-small) {
      padding: 16px;
    }
  }
}
