.form-container {
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
  border-radius: 10px;
}

.mat-dialog-actions {
  padding: 8px 0;
  margin-bottom: 0;

  .mat-raised-button {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}
