<button
  mat-stroked-button
  mat-dialog-close
  class="modal__close-btn"
  tabindex="-1"
  aria-label="{{ 'modal.button.close' | translate }}"
  data-qa="btn-close"
>
  <mat-icon class="fab-button__icon" svgIcon="close"></mat-icon>
</button>

<ng-container *ngIf="!isPasswordSent; else success">
  <h1 mat-dialog-title>
    {{ 'nav.forgotyourpassword' | translate }}
  </h1>

  <app-forgot-password-form (submitted)="submitted($event)">
    <button
      btn-cancel
      mat-stroked-button
      type="button"
      mat-dialog-close
      data-qa="btn-cancel"
      *ngIf="isDesktop"
    >
      {{ 'app.cancel' | translate }}
    </button>
  </app-forgot-password-form>
</ng-container>

<ng-template #success>
  <div class="success-msg">
    <app-lottie-animation class="visual" [path]="'/assets/lottie/success-animation.json'">
    </app-lottie-animation>
    <h1 mat-dialog-title>Check your email</h1>
    <p>We've sent you email with token to restore your password.</p>
    <button type="button" color="primary" mat-dialog-close mat-raised-button>
      {{ 'modal.button.close' | translate }}
    </button>
  </div>
</ng-template>
