<mzima-client-button
  tabindex="-1"
  fill="outline"
  [iconOnly]="true"
  color="light-gray"
  [data-qa]="'btn-close'"
  class="modal__close-btn"
  [mat-dialog-close]="false"
  ariaLabel="{{ 'modal.button.close' | translate }}"
>
  <mat-icon icon svgIcon="close"></mat-icon>
</mzima-client-button>

<strong mat-dialog-title class="title">Messages</strong>

<mat-dialog-content class="">
  <div class="form-row" *ngFor="let message of messages | async">
    <p>{{ message.title }}<br />{{ message.message }}</p>
  </div>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <mzima-client-button type="button" (buttonClick)="previousPage()">
    Previous Page
  </mzima-client-button>
  <mzima-client-button type="button" (buttonClick)="nextPage()"> Next Page </mzima-client-button>
  <mzima-client-button type="button" (buttonClick)="addMessage()">
    Add Message
  </mzima-client-button>
  <mzima-client-button type="submit" (buttonClick)="close()"> Close </mzima-client-button>
</div>
