@import 'helpers';

.chart-cover {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 16px;
  padding-bottom: 16px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  --scrollbar-background: var(--color-light);

  @include breakpoint-max($tablet) {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.chart {
  height: 360px;
  min-width: 640px;
  margin-bottom: 48px;

  @include breakpoint-max($tablet) {
    height: 420px;
  }

  &::ng-deep {
    .ngx-charts-outer {
      display: flex;
      flex-direction: column-reverse;
    }

    .chart-legend {
      margin-bottom: 24px;

      .legend-wrap {
        width: auto;
      }

      .legend-labels {
        line-height: 1;
        background: none;
        overflow-x: auto;
        border-radius: 0;
        overflow-y: hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        --scrollbar-background: var(--color-light);
      }

      .legend-label {
        overflow: hidden;
        margin-inline: 0 8px 0 0;
        font-size: inherit;
        position: relative;
        border-radius: 4px;
        color: var(--color-black);

        &:last-child {
          margin-inline-end: 0;
        }

        .active {
          .legend-label-color {
            opacity: 1;
          }

          .legend-label-text {
            color: var(--color-light);
          }
        }
      }

      .legend-label-color {
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        position: absolute;
        border-radius: inherit;
        transition: opacity 0.35s ease;
      }

      .legend-label-text {
        width: auto;
        font-size: $font-sm;
        font-weight: 500;
        line-height: 1.6;
        padding: 8px 16px;
        position: relative;
        letter-spacing: -0.005em;
        transition: color 0.35s ease;
      }
    }
  }
}
