.company-info {
  color: inherit;
  font-size: 12px;
  border-radius: 0;
  box-shadow: none;
  background: none;
  line-height: 1.3;
  margin: 0 -10px 12px;

  &::ng-deep {
    a {
      text-decoration: underline;
      color: var(--color-primary-60);

      &:hover {
        text-decoration: none;
      }
    }

    .mat-expansion-panel-content {
      font-size: inherit;
      line-height: inherit;
    }
  }

  .mat-expansion-panel {
    &-header {
      height: 40px;
      font-size: 16px;
      padding-left: 0;
      padding-right: 0;
      font-weight: 700;
      line-height: calc(20 / 16 * 1);

      &-title {
        margin-right: 28px;
        color: var(--color-light);
      }
    }
  }

  &::ng-deep {
    .mat-expansion-panel-body {
      padding: 8px 2px 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__arrow {
      right: 0;
      top: 50%;
      width: 1em;
      height: 1em;
      font-size: 30px;
      margin-top: -0.5em;
      position: absolute;
      transition: transform 0.35s ease;

      .company-info.mat-expanded & {
        transform: rotate(180deg);
      }
    }
  }

  &__title {
    max-height: calc(20 / 16 * 2em);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__logo {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: block;
    margin-right: 8px;
    object-fit: contain;
  }
}
