.spinner {
  display: block;
  margin: 20vh auto;
}

.form-row {
  &__instruction {
    display: block;
    margin-bottom: 8px;
  }
}

.tags {
  margin: 16px 0;

  &__group {
    margin-top: 8px;
    padding-left: 16px;
  }
}

.mat-list-base {
  padding: 0;
  margin: 16px 0;
}

.tag-item {
  margin-bottom: 8px;
}

.form-controls-panel {
  margin-top: 16px;
  justify-content: flex-end;
}
