<mzima-client-button
  tabindex="-1"
  fill="outline"
  [iconOnly]="true"
  color="light-gray"
  [data-qa]="'btn-close'"
  class="modal__close-btn"
  [mat-dialog-close]="false"
  ariaLabel="{{ 'modal.button.close' | translate }}"
>
  <mat-icon icon svgIcon="close"></mat-icon>
</mzima-client-button>

<mat-tab-group
  class="tabs"
  dynamicHeight
  disableRipple
  disablePagination
  animationDuration="0ms"
  [ngClass]="{ 'tabs--single': !isSignupActive }"
>
  <mat-tab [label]="'nav.login' | translate">
    <app-login-form (loggined)="successfully($event)">
      <mzima-client-button
        btn-cancel
        fill="outline"
        color="secondary"
        (buttonClick)="cancel()"
        [data-qa]="'btn-cancel'"
        *ngIf="isDesktop$ | async"
      >
        {{ 'app.cancel' | translate }}
      </mzima-client-button>
    </app-login-form>
  </mat-tab>
  <mat-tab [label]="'nav.registration' | translate" *ngIf="isSignupActive">
    <app-registration-form (registered)="successfully($event)">
      <mzima-client-button
        btn-cancel
        fill="outline"
        color="secondary"
        (buttonClick)="cancel()"
        [data-qa]="'btn-cancel'"
        *ngIf="isDesktop$ | async"
      >
        {{ 'app.cancel' | translate }}
      </mzima-client-button>
    </app-registration-form>
  </mat-tab>
</mat-tab-group>
