@import 'helpers';

.success-msg {
  font-size: $font-base;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;

  mzima-client-button {
    margin-top: 12px;
    --min-width: 140px;
    vertical-align: top;
    display: inline-block;
  }
}

.visual {
  display: block;
  margin-bottom: 16px;
}

::ng-deep {
  @include breakpoint-max($tablet) {
    .forgot-password-modal {
      height: 100%;
      width: 100% !important;
      max-width: none !important;

      .mat-dialog-container {
        border-radius: 0 !important;
        padding: 96px 24px 120px !important;

        .modal {
          &__close-btn {
            top: 32px;
            right: 24px;
            position: fixed;
          }
        }
      }

      .mat-tab-body-wrapper {
        overflow: visible;
      }

      .mat-dialog-actions {
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        z-index: 25;
        position: fixed;
        min-height: 56px !important;
        background: var(--color-light);
        padding: 8px 24px 32px !important;

        .mat-raised-button {
          min-width: 100%;
          line-height: 56px;
        }
      }
    }
  }
}
