<button
  mat-stroked-button
  mat-dialog-close="false"
  class="modal__close-btn"
  tabindex="-1"
  aria-label="{{ 'modal.button.close' | translate }}"
  [data-qa]="'btn-close'"
>
  <mat-icon class="fab-button__icon" svgIcon="close"></mat-icon>
</button>

<div [ngClass]="{ confirm: data.buttonSuccess }">
  <app-lottie-animation
    *ngIf="data.buttonSuccess"
    [path]="'/assets/lottie/success-animation.json'"
  ></app-lottie-animation>

  <div class="confirm-content">
    <h2 mat-dialog-title *ngIf="data.title" class="confirm-title">{{ data.title }}</h2>
    <mat-dialog-content>
      <div
        [innerHTML]="data.description"
        class="confirm-description"
        *ngIf="data.description"
      ></div>
    </mat-dialog-content>
  </div>

  <mat-dialog-actions [align]="data.buttonSuccess ? 'center' : 'end'">
    <button
      *ngIf="data.buttonSuccess"
      mat-raised-button
      mat-dialog-close="true"
      color="primary"
      [data-qa]="'btn-confirm-success'"
    >
      <span>{{ data.buttonSuccess }}</span>
    </button>
    <ng-container *ngIf="!data.buttonSuccess">
      <button mat-stroked-button mat-dialog-close="false" [data-qa]="'btn-confirm-cancel'">
        {{ data.cancelButtonText || ('app.cancel' | translate) }}
      </button>
      <button
        mat-raised-button
        [mat-dialog-close]="true"
        color="primary"
        [data-qa]="'btn-confirm-delete'"
      >
        {{ data.confirmButtonText || ('app.delete' | translate) }}
      </button>
    </ng-container>
  </mat-dialog-actions>
</div>
