.confirm {
  text-align: center;
  padding: 56px 0 14px;

  &-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
    color: var(--color-dark);
  }
  &-description {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-dark);
    text-align: center;
    line-height: 1.5;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .mat-dialog-actions {
    margin-top: 24px;
  }
}
