.confirm {
  &-title {
    display: flex;
    font-weight: 700;
    min-height: 60px;
    margin-bottom: 12px;
    align-items: center;
    color: var(--color-black);
    justify-content: flex-start;
  }

  &-description {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-neutral-90);
  }
}
