.confirm {
  padding: 38px 24px;
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-dark);
  }
  &-description {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-dark);
    text-align: center;
    line-height: 1.5;
  }
}
