.onboarding-step {
  --step-width: 400px;
  --step-align: start;
  --step-border-radius: 4px;
  --step-max-width: calc(100% - 24px);
  --step-box-shadow: inset 0 0 0 1px var(--color-neutral-20);
  --step-overlay-background: rgba(var(--color-black-rgb), 0.15);

  &::ng-deep {
    .intro-tour-hint-wrapper {
      .content {
        padding: 24px;
      }
    }
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -4px 24px;
    align-items: flex-start;
    padding-inline-end: 64px;
    justify-content: flex-start;

    &__icon {
      width: 1em;
      height: 1em;
      margin: 0 4px;
      line-height: 1;
      font-size: 36px;
    }

    h2 {
      margin: 0 4px;
      font-size: 24px;
      font-weight: 700;
      line-height: calc(40 / 24 * 1);
    }
  }

  &__close-btn {
    top: 0;
    padding: 0;
    z-index: 75;
    width: 40px;
    height: 40px;
    min-width: 0;
    display: flex;
    border-radius: 8px;
    position: absolute;
    align-items: center;
    inset-inline-end: 0;
    flex-direction: column;
    justify-content: center;

    .mat-icon {
      font-size: 24px;
    }
  }

  &__content {
    margin: 0 -8px;
    padding: 0 8px;
    font-size: 16px;
    overflow-y: auto;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    max-height: 320px;
    scroll-behavior: smooth;
    color: var(--color-neutral-90);
    -webkit-overflow-scrolling: touch;

    &::ng-deep {
      p {
        margin: 0;

        &:not(:last-of-type) {
          margin-bottom: 1em;
        }
      }
    }
  }

  &__footer {
    display: flex;
    padding: 12px 0;
    align-items: center;
    justify-content: flex-end;
    margin: 24px -13px -24px;

    .mat-button-base {
      margin: 0 5px;
    }
  }
}
