<section class="categories">
  <app-settings-header
    [settingsTitle]="'app.categories'"
    [newButtonTitle]="'app.add_new_category'"
    [selectedItem]="selectedCategories"
    (isShowActionsChange)="showActions($event)"
    (deleteCall)="deleteCategories()"
  >
  </app-settings-header>
  <ul *ngIf="categories; else spinner" class="categories-list">
    <ng-container *ngFor="let category of categories">
      <li *ngIf="!category.parent_id" class="categories-list__item">
        <app-category-item
          #categoryItem
          [category]="category"
          [data-qa]="category.slug.split(' ').join('-') | lowercase"
          (selected)="selectCategory($event)"
          [isCheckbox]="isShowActions"
          (toggle)="toggleChildren(category.id)"
          [displayChildren]="displayChildren(category.id)"
        >
        </app-category-item>

        <ul
          *ngIf="category.children?.length && displayChildren(category.id)"
          class="categories-list categories-list--lvl2"
        >
          <li class="categories-list__item" *ngFor="let category of category.children">
            <app-category-item
              #categoryItem
              [isCheckbox]="isShowActions"
              (selected)="selectCategory($event)"
              [category]="category"
              [data-qa]="
                category.slug.split(' ').join('-') + '-' + '(' + category.parent.slug + ')'
                  | lowercase
              "
              [customClass]="'category-item__title--lvl2'"
            >
            </app-category-item>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
</section>

<ng-template #spinner>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
