.navigation {
  gap: 8px;
  display: flex;
  justify-content: space-between;
  background: var(--ion-background-color);
  border-top: 1px solid var(--ion-color-step-200);
  height: calc(80px + var(--ion-safe-area-bottom));
}

.button {
  flex: 1 1 100%;
  color: var(--ion-color-step-800);
  --button-height: 80px;
  --button-font-size: 12px;
  --button-line-height: 16px;
  --button-padding-top: 12px;
  --button-padding-bottom: 16px;
  --button-letter-spacing: 0.05px;

  &::ng-deep {
    .button {
      font-weight: 500;
      --ripple-color: var(--ion-color-primary);
    }
  }

  &__icon {
    width: 64px;
    height: 32px;
    display: flex;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 4px;
    border-radius: 16px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition-duration: 0.35s;
    color: var(--ion-color-medium);
    transition-timing-function: ease;
    transition-property: background-color color;

    .button--active & {
      color: var(--ion-text-color);
      background-color: var(--color-primary-100);
    }
  }
}
