<div class="language">
  <mat-form-field>
    <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage($event)">
      <mat-select-trigger>
        <div class="flag-icon-wrapper">
          <img
            class="flag-icon"
            [src]="'assets/images/flags/' + (selectedLanguage | lowercase) + '.svg'"
            alt=""
          />
        </div>
      </mat-select-trigger>
      <mat-option *ngFor="let lang of languages" [value]="lang.code">
        <div class="option-wrapper">
          <div class="flag-icon-wrapper">
            <img
              class="flag-icon"
              [src]="'assets/images/flags/' + (lang.code | lowercase) + '.svg'"
              alt=""
            />
          </div>
          <span class="language-title">{{ lang.name }}</span>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
