.share-modal {
  .form-row {
    position: relative;
  }

  .html-embed {
    width: 88%;
  }

  .success {
    background: var(--color-white);
    opacity: 0.1;
  }

  .copy {
    position: absolute;
    inset-inline-end: 4px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;

    ::ng-deep {
      .mzima-button {
        &--outline {
          --background-color: var(--color-neutral-70);
          --hover-background-color: var(--color-neutral-10);
          --active-background-color: var(--color-neutral-20);
        }

        &--icon-only {
          width: var(--size, 36px);
          height: var(--size, 36px);
          font-size: var(--icon-size, 24px);
        }
      }
    }
    &-success {
      position: absolute;
      width: 100%;
      height: 86px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;
      border-radius: 4px;
      border: 1px solid var(--color-neutral-30);
    }
  }

  ::ng-deep {
    .copy svg {
      width: 24px;
      height: 24px;
    }

    .twitter-icon svg,
    .facebook-icon svg {
      width: 32px;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px -8px;
    justify-content: space-between;

    mzima-client-button {
      margin: 0 8px 12px;
      width: calc(50% - 16px);
    }
  }
}
