<ion-content class="page ion-padding-vertical" [fullscreen]="true">
  <div class="page-head ion-padding-horizontal ion-text-center ion-margin-bottom">
    <ion-title class="page-title" *ngIf="!isPrivate; else loginToPrivateDeployment">
      {{"app.welcome_back" | translate }}
    </ion-title>
    <ng-template #loginToPrivateDeployment>
      <ion-title class="page-title"> {{"app.login_private" | translate}} </ion-title>
      <ion-text class="page-head__info">
        {{ "app.login_details_desc" | translate }}
        <a href="mailto:{{ adminEmail }}">{{ adminEmail }}</a>
      </ion-text>
    </ng-template>
  </div>
  <div class="main ion-padding-horizontal">
    <app-deployment-info (deploymentClick)="chooseDeployment()"></app-deployment-info>
    <form class="form" novalidate [formGroup]="form" (ngSubmit)="login()">
      <div>
        <app-form-control
          type="email"
          label="Email"
          [required]="true"
          formControlName="email"
          placeholder="Enter your email"
          [errors]="fieldErrorMessages(form.controls['email'], 'email')"
        >
        </app-form-control>
        <app-form-control
          type="password"
          label="Password"
          [required]="true"
          [togglePassword]="true"
          formControlName="password"
          placeholder="Enter password"
          [errors]="fieldErrorMessages(form.controls['password'], 'password')"
        >
          <div class="forgot-password-button" button>
            <app-button
              (buttonClick)="openForgotPasswordModal()"
              fill="clear"
              expand="inline"
              size="small"
            >
              {{ "app.forgot_password" | translate }}
            </app-button>
          </div>
        </app-form-control>
        <ion-text *ngIf="loginError?.length" class="form-error ion-text-center" color="danger">
          {{ loginError }}
        </ion-text>
      </div>

      <div class="bottom-panel">
        <app-button type="submit" [disabled]="form.invalid || form.disabled"> Log in </app-button>
        <app-button
          fill="clear"
          color="medium"
          routerLink="/"
          *ngIf="!isPrivate; else cancelButton"
          class="ion-margin-top"
        >
          {{"app.skip_now" | translate}}
        </app-button>
        <ng-template #cancelButton>
          <app-button
            fill="clear"
            color="medium"
            class="ion-margin-top"
            (buttonClick)="chooseDeployment()"
          >
            {{ "app.cancel" | translate }}
          </app-button>
        </ng-template>
      </div>
    </form>
  </div>
</ion-content>

<app-modal
  class="forgot-password-modal"
  [isOpen]="isForgotPasswordModalOpen"
  title="Password recovery"
  (modalClose)="forgotPasswordModalCloseHandle()"
>
  <div class="forgot-password-modal__info">
    <ion-text class="forgot-password-modal__title">{{"app.forgot_password" | translate }}</ion-text>
    <p></p>
  </div>
  <form
    class="forgot-password-form"
    novalidate
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="forgotPassword()"
  >
    <div>
      <app-form-control
        type="email"
        label="Email"
        [required]="true"
        formControlName="email"
        placeholder="Enter your email"
        [errors]="fieldErrorMessages(form.controls['email'], 'email')"
      >
      </app-form-control>
      <ion-text
        *ngIf="forgotPasswordError?.length"
        class="form-error ion-text-center"
        color="danger"
      >
        {{ forgotPasswordError }}
      </ion-text>
    </div>

    <div class="bottom-panel">
      <app-button
        type="submit"
        [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.disabled"
      >
        {{"app.reset_password" | translate}}
      </app-button>
    </div>
  </form>
</app-modal>
