.page {
  --padding-bottom: calc(16px + var(--ion-safe-area-bottom));

  &::part(scroll) {
    display: flex;
    flex-direction: column;
  }
}

.main {
  flex: 1 1 100%;
}

.page-head {
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 24px;

  &__info {
    display: block;
    margin-top: 8px;
    letter-spacing: 0.5px;
  }
}

.page-title {
  font-size: 24px;
  padding-left: 0;
  padding-right: 0;
  font-weight: 700;
  line-height: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 101px);
  justify-content: space-between;
}

.bottom-panel {
  margin-top: 24px;
}

.forgot-password-button {
  display: flex;
  margin-top: 4px;
  justify-content: flex-end;
}

.form-error {
  display: block;
  margin-top: 24px;
}

.forgot-password-modal {
  &__info {
    margin-top: 16px;
    margin-bottom: 32px;
    letter-spacing: 0.5px;

    @media (prefers-color-scheme: dark) {
      color: var(--ion-color-step-700);
    }
  }

  &__title {
    display: block;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;

    @media (prefers-color-scheme: dark) {
      color: var(--ion-text-color);
    }
  }
}

.forgot-password-form {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: space-between;
}
