<ion-content class="page ion-padding-vertical" [fullscreen]="true">
  <ion-title class="page-title ion-text-center ion-margin-bottom">Welcome back!</ion-title>
  <div class="main ion-padding-horizontal">
    <form class="form" novalidate [formGroup]="form" (ngSubmit)="login()">
      <div>
        <app-form-control
          type="email"
          label="Email"
          [required]="true"
          formControlName="email"
          placeholder="Enter your email"
          [errors]="fieldErrorMessages(form.controls['email'], 'email')"
        >
        </app-form-control>
        <app-form-control
          type="password"
          label="Password"
          [required]="true"
          [togglePassword]="true"
          formControlName="password"
          placeholder="Enter password"
          [errors]="fieldErrorMessages(form.controls['password'], 'password')"
        >
          <div class="forgot-password-button" button>
            <app-button
              (buttonClick)="openForgotPasswordModal()"
              fill="clear"
              expand="inline"
              size="small"
            >
              Forgot password?
            </app-button>
          </div>
        </app-form-control>
        <ion-text *ngIf="loginError?.length" class="form-error ion-text-center" color="danger">
          {{ loginError }}
        </ion-text>
      </div>

      <div class="bottom-panel">
        <app-button type="submit" [disabled]="form.invalid || form.disabled"> Log in </app-button>
        <app-button class="ion-margin-top" fill="clear" color="medium" routerLink="/map">
          Skip for now
        </app-button>
      </div>
    </form>
  </div>
</ion-content>

<app-modal
  class="forgot-password-modal"
  [isOpen]="isForgotPasswordModalOpen"
  (modalClose)="isForgotPasswordModalOpen = false"
>
  <div header>Password recovery</div>
  <div class="forgot-password-modal__info">
    <ion-text class="forgot-password-modal__title">Forgot your password?</ion-text>
    <p>No worries! Submit your email and check your inbox for a reset link.</p>
  </div>
  <form
    class="forgot-password-form"
    novalidate
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="forgotPassword()"
  >
    <div>
      <app-form-control
        type="email"
        label="Email"
        [required]="true"
        formControlName="email"
        placeholder="Enter your email"
        [errors]="fieldErrorMessages(form.controls['email'], 'email')"
      >
      </app-form-control>
      <ion-text
        *ngIf="forgotPasswordError?.length"
        class="form-error ion-text-center"
        color="danger"
      >
        {{ forgotPasswordError }}
      </ion-text>
    </div>

    <div class="bottom-panel">
      <app-button
        type="submit"
        [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.disabled"
      >
        Reset password
      </app-button>
    </div>
  </form>
</app-modal>
