@import 'helpers';

.share-item {
  vertical-align: top;
  display: inline-block;
  --justify-content: flex-start;
}

.copy {
  position: relative;
  &-button {
    --size: 32px;
    --icon-size: 24px;
  }

  &-success {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 7px;
    height: 64px;
    font-size: $font-base;
    font-weight: 500;
  }
}

.success {
  background: var(--color-white);
  opacity: 0.1;
}
