<div class="form-row">
  <mat-label>{{ 'app.survey_web_address' | translate }}</mat-label>
  <mat-form-field appearance="outline">
    <input type="url" matInput [value]="shareUrl" readonly="true" />
  </mat-form-field>
</div>

<div class="form-row">
  <mat-label>HTML</mat-label>
  <div class="copy-success" *ngIf="copySuccess">{{ 'share.copied' | translate }}</div>
  <mat-form-field appearance="outline" class="copy" [ngClass]="{ success: copySuccess }">
    <textarea matInput readonly cdkTextareaAutosize cdkAutosizeMaxRows="10">{{ embed }}</textarea>
    <mzima-client-button
      matSuffix
      fill="clear"
      color="secondary"
      [iconOnly]="true"
      class="copy-button"
      [disabled]="copySuccess"
      (buttonClick)="copyToClipboard(embed)"
      ariaLabel="{{ copySuccess ? 'Copied' : 'Copy code snippet' }}"
    >
      <mat-icon icon svgIcon="copy" aria-label="Copy code snippet"></mat-icon>
    </mzima-client-button>
  </mat-form-field>
</div>

<div class="form-row">
  <mzima-client-button
    fill="clear"
    color="secondary"
    target="_blank"
    class="share-item"
    [href]="'https://twitter.com/intent/tweet?url=' + shareUrlEncoded"
    aria-label="Share this on Twitter. Opens in a new tab."
  >
    <mat-icon iconPrefix svgIcon="twitter" aria-label="Share on Twitter"></mat-icon>
    Twitter
  </mzima-client-button>
</div>

<div class="form-row">
  <mzima-client-button
    fill="clear"
    color="secondary"
    target="_blank"
    class="share-item"
    [href]="
      'https://www.facebook.com/sharer/sharer.php?u=' + shareUrlEncoded + '&amp;src=sdkpreparse'
    "
    aria-label="Share this on Facebook. Opens in a new tab."
  >
    <mat-icon iconPrefix svgIcon="facebook" aria-label="Share on Facebook"></mat-icon>
    Facebook
  </mzima-client-button>
</div>
