.users {
  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .user-item {
    border-bottom: 1px solid var(--color-neutral-20);
  }

  .user-item-header {
    background: var(--color-neutral-20);
    margin: 0;
  }

  &-loading {
    --size: 48px;
    display: block;
    margin-top: 24px;
  }

  &-load-more {
    display: block;
    min-width: 132px;
    margin: 16px auto 0;
  }
}

.user-item-container {
  display: flex;
  align-items: center;
  height: 37px;
  margin: 3px 0;

  .column-checkbox {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .data-container {
    flex: 10;
    display: flex;
    align-items: center;

    .column-avatar {
      display: flex;
      justify-content: center;
    }

    .column-avatar,
    .column-role {
      flex: 1;
    }

    .column-name,
    .column-email {
      flex: 2;
    }

    .avatar-wrapper {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}

.spinner {
  display: block;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
