.users {
  &-loading {
    --size: 48px;
    display: block;
    margin-top: 24px;
  }

  &-load-more {
    display: block;
    min-width: 132px;
    margin: 16px auto 0;
  }
}

.users-table {
  &__checkbox {
    width: 28px;
    margin: 0 auto;
  }

  &__avatar {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__username {
    font-weight: 500;
  }
}

.spinner {
  display: block;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.user-list {
  border-radius: 5px;
  border: 1px solid var(--color-neutral-20);
}

.user-item {
  display: flex;
  font-size: 14px;
  line-height: 1.3;
  padding-top: 16px;
  position: relative;
  align-items: center;
  padding-bottom: 16px;
  padding-inline-end: 48px;
  color: var(--color-black);
  justify-content: flex-start;
  padding-inline-start: 16px;

  &__row {
    cursor: pointer;
  }

  &:not(:first-child) {
    border-top: 1px solid var(--color-neutral-20);
  }

  &__visual {
    flex: 0 0 60px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin-inline-end: 24px;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  &__username {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 8px;
    letter-spacing: -0.005em;
  }

  &__role {
    display: block;
    margin-bottom: 8px;
  }

  &__email {
    display: block;
    font-size: 12px;
    color: var(--color-neutral-90);
  }

  &__checkbox {
    top: 50%;
    margin-top: -13px;
    position: absolute;
    inset-inline-end: 16px;

    &::ng-deep {
      .mat-checkbox-inner-container {
        margin-inline-end: 3.5px !important;
      }
    }
  }
}

.actions-spacer {
  height: 72px;
}
