.users {
  &-loading {
    --size: 48px;
    display: block;
    margin-top: 24px;
  }

  &-load-more {
    display: block;
    min-width: 132px;
    margin: 16px auto 0;
  }
}

.users-table {
  &__checkbox {
    width: 28px;
    margin: 0 auto;
  }

  &__avatar {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__username {
    font-weight: 500;
  }
}

.spinner {
  display: block;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
