<section class="users" (scroll)="onScroll($event)">
  <app-settings-header
    [settingsTitle]="'app.users'"
    [newButtonTitle]="'user.add_user'"
    [selectedItem]="selectedUsers"
    (isShowActionsChange)="showActions($event)"
    (deleteCall)="deleteUsers()"
  >
  </app-settings-header>

  <div class="users-container">
    <app-spinner class="spinner" *ngIf="!users"></app-spinner>
    <ul role="list" class="users-list" *ngIf="users">
      <li class="user-item">
        <div class="user-item-container user-item-header">
          <div class="column-checkbox">
            <mat-checkbox
              *ngIf="isShowActions"
              [checked]="selectedUsers.length === users.length"
              (change)="selectAllUsers($event)"
            >
            </mat-checkbox>
          </div>
          <div class="data-container">
            <span class="column-avatar">{{ 'user.avatar' | translate }}</span>
            <span class="column-name">{{ 'user.name' | translate }}</span>
            <span class="column-role">{{ 'user.role' | translate }}</span>
            <span class="column-email">{{ 'user.email' | translate }}</span>
          </div>
        </div>
      </li>
      <li
        class="user-item"
        role="listitem"
        *ngFor="let user of users"
        [data-qa]="'user-item' + user.id"
      >
        <div class="user-item-container">
          <div class="column-checkbox">
            <mat-checkbox
              *ngIf="isShowActions"
              [checked]="selectedUsers.includes(user.id)"
              (change)="selectUser($event, user)"
            >
            </mat-checkbox>
          </div>
          <div class="data-container" [routerLink]="['update', user.id]">
            <div class="column-avatar">
              <div class="avatar-wrapper">
                <img
                  [src]="'https://www.gravatar.com/avatar/' + user.gravatar + '?d=retro'"
                  [alt]="user.realname"
                />
              </div>
            </div>
            <span class="column-name type-item__title">
              {{ user.realname }}
            </span>
            <span class="column-role">{{ user.role }}</span>
            <span class="column-email">{{ user.email }}</span>
          </div>
        </div>
      </li>
    </ul>
    <app-spinner class="users-loading" *ngIf="isLoading"></app-spinner>
    <button
      mat-stroked-button
      (click)="loadMore()"
      class="users-load-more"
      *ngIf="
        !isLoading &&
        params.offset !== undefined &&
        params.limit !== undefined &&
        params.offset + params.limit < total
      "
    >
      {{ 'app.load_more' | translate }}
    </button>
  </div>
</section>

<ng-template #usersEmpty>
  <span class="posts-empty">{{ 'post.no_posts_yet' | translate }}</span>
</ng-template>
