<section class="users">
  <app-settings-header
    [settingsTitle]="'app.users'"
    [newButtonTitle]="'user.add_user'"
    [selectedItem]="selectedUsers"
    (isShowActionsChange)="showActions($event)"
    (deleteCall)="deleteUsers()"
  >
  </app-settings-header>

  <div class="users-container" *ngIf="!isLoading || users?.length; else loader">
    <app-spinner class="spinner" *ngIf="!users"></app-spinner>
    <div class="card">
      <p-table
        [value]="users"
        [lazy]="true"
        (onLazyLoad)="getUsers($event)"
        dataKey="id"
        sortField="realname"
        [sortOrder]="1"
        [(selection)]="selectedUsers"
        [filterDelay]="0"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="total"
        [loading]="isLoading"
        [rowHover]="true"
        [globalFilterFields]="['realname', 'role', 'email']"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox *ngIf="isShowActions"></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="realname" style="min-width: 14rem">
              {{ 'user.name' | translate }}
              <p-sortIcon field="realname"></p-sortIcon>
            </th>
            <th pSortableColumn="role" style="min-width: 14rem">
              {{ 'user.role' | translate }}
              <p-sortIcon field="role"></p-sortIcon>
            </th>
            <th pSortableColumn="email" style="min-width: 14rem">
              {{ 'user.email' | translate }}
              <p-sortIcon field="email"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
          <tr class="p-selectable-row">
            <td>
              <p-tableCheckbox *ngIf="isShowActions" [value]="user"></p-tableCheckbox>
            </td>
            <td [routerLink]="['update', user.id]">
              <span class="p-column-title">{{ 'user.name' | translate }}</span>
              <div class="users-table__avatar-container">
                <div class="users-table__avatar">
                  <img
                    [src]="'https://www.gravatar.com/avatar/' + user.gravatar + '?d=retro'"
                    [alt]="user.realname"
                  />
                </div>
                <span class="image-text">{{ user.realname }}</span>
              </div>
            </td>
            <td [routerLink]="['update', user.id]">
              <span class="p-column-title">{{ 'user.role' | translate }}</span>
              {{ user.role }}
            </td>
            <td [routerLink]="['update', user.id]">
              <span class="p-column-title">{{ 'user.email' | translate }}</span>
              {{ user.email }}
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">{{ 'empty.user' | translate }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <app-spinner class="users-loading" *ngIf="isLoading"></app-spinner>
  </div>
  <div class="actions-spacer" *ngIf="isShowActions && !isDesktop"></div>
</section>

<ng-template #loader>
  <app-spinner class="spinner"></app-spinner>
</ng-template>

<ng-template #usersEmpty>
  <span class="posts-empty">{{ 'empty.user' | translate }}</span>
</ng-template>
