@import 'apps/web-mzima-client/src/styles/helpers';

.chart-cover {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 48px;
  padding-bottom: 16px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  --scrollbar-color: var(--color-neutral-60);
  --scrollbar-background: var(--color-neutral-100);

  @include breakpoint-max($tablet) {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.chart {
  height: 300px;
  min-width: 640px;
  margin-bottom: 16px;

  @include breakpoint-max($tablet) {
    height: auto;
  }

  &::ng-deep {
    .ngx-charts {
      .bar {
        transition: fill 0.35s ease;

        &:hover {
          opacity: 1;
          fill: var(--color-primary-70);
          transition: fill 0.35s ease;
        }
      }
    }
  }

  &__tooltip {
    padding: 8px;
    display: block;
  }
}
