<ion-header class="auth-header ion-no-border">
  <ion-toolbar>
    <div class="logo">
      <img class="logo__img" src="assets/saferworld-logo-rgb.jpg" alt="Saferworld" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-tabs class="auth-tabs">
  <ion-tab-bar slot="top" *ngIf="isSignupActive" selectedTab="login">
    <ion-tab-button tab="login">{{ 'auth.log_in' | translate }}</ion-tab-button>
    <ion-tab-button tab="signup">{{ 'auth.sign_up' | translate }}</ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
