.strength {
  &__bar {
    gap: 8px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  &__point {
    height: 4px;
    flex: 1 1 100%;
    border-radius: 2px;

    @media (prefers-color-scheme: light) {
      background: var(--ion-color-step-50);
    }

    @media (prefers-color-scheme: dark) {
      background: var(--ion-color-step-950);
    }
  }

  &__text {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    letter-spacing: 0.25px;
  }
}
