.onboarding-step {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  --step-width: 400px;
  --step-align: start;
  --step-z-index: 2000;
  --step-border-radius: 4px;
  --step-max-width: calc(100% - 24px);
  --step-box-shadow: inset 0 0 0 1px var(--color-neutral-20);
  --step-overlay-background: rgba(var(--color-black-rgb), 0.3);

  &.order-2.filters-visible {
    &::ng-deep {
      .intro-tour-hint-wrapper {
        margin-top: 74px;
      }
    }
  }

  &--hidden {
    &::ng-deep {
      .intro-tour-hint-wrapper {
        opacity: 0 !important;
      }
    }
  }

  &::ng-deep {
    .intro-tour-hint-wrapper {
      &:before {
        content: '';
        top: -9999px;
        left: -9999px;
        right: -9999px;
        bottom: -9999px;
        position: absolute;
      }

      .content {
        padding: 24px;
        position: relative;
      }
    }
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -4px 24px;
    align-items: flex-start;
    padding-inline-end: 64px;
    justify-content: flex-start;

    &__icon {
      width: 1em;
      height: 1em;
      margin: 0 4px;
      line-height: 1;
      font-size: 36px;
    }

    h2 {
      margin: 0 4px;
      font-size: 24px;
      font-weight: 700;
      line-height: calc(40 / 24 * 1);
    }
  }

  &__close-btn {
    top: 0;
    right: 0;
    z-index: 75;
    --size: 40px;
    --border-radius: 8px;
    position: absolute;
  }

  &__content {
    margin: 0 -8px;
    padding: 0 8px;
    font-size: 16px;
    overflow-y: auto;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    max-height: 320px;
    scroll-behavior: smooth;
    color: var(--color-neutral-90);
    -webkit-overflow-scrolling: touch;

    &::ng-deep {
      p {
        margin: 0;

        &:not(:last-of-type) {
          margin-bottom: 1em;
        }

        mzima-client-button {
          &::ng-deep {
            .mzima-button {
              text-decoration: underline;
              display: inline;

              &--primary {
                --hover-background-color: var(--color-primary-20);
              }

              &--block {
                width: auto;
              }
              &--clear {
                color: var(--color-primary-40);
              }
              &--medium {
                padding: 0;
                padding-inline: 0;
                min-height: 0;
              }
            }
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    padding: 12px 0;
    align-items: center;
    justify-content: flex-end;
    margin: 24px -13px -24px;

    mzima-client-button {
      margin: 0 5px;
    }
  }
}
