<form novalidate [formGroup]="form" (ngSubmit)="save()">
  <app-translations-switch
    (addTranslationChange)="setAvailableLanguages($event)"
    (chooseTranslationChange)="chooseTranslation($event)"
    (deleteTranslationChange)="deleteTranslation($event)"
  >
  </app-translations-switch>

  <mat-form-field appearance="standard">
    <mat-label>
      {{ 'survey.survey_name' | translate }}
    </mat-label>
    <input matInput [placeholder]="'survey.survey_name' | translate" formControlName="name" />
    <mat-error *ngIf="form.get('name')?.invalid">
      {{ 'survey.fields.validation.required' | translate }}</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="standard" *ngIf="selectLanguageCode && selectLanguageCode !== 'en'">
    <mat-label> {{ 'survey.survey_name' | translate }} ({{ selectLanguageCode }}) </mat-label>
    <input
      matInput
      [placeholder]="'survey.survey_name' | translate"
      [value]="this.form.get('translations')?.value[selectLanguageCode]?.name"
      (change)="setTranslates(selectLanguageCode, 'name', $event)"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>
      {{ 'survey.description' | translate }}
    </mat-label>
    <input
      matInput
      [placeholder]="'survey.description' | translate"
      formControlName="description"
    />
  </mat-form-field>

  <mat-form-field appearance="standard" *ngIf="selectLanguageCode && selectLanguageCode !== 'en'">
    <mat-label> {{ 'survey.description' | translate }} ({{ selectLanguageCode }}) </mat-label>
    <input
      matInput
      [placeholder]="'survey.description' | translate"
      [value]="this.form.get('translations')?.value[selectLanguageCode]?.description"
      (change)="setTranslates(selectLanguageCode, 'description', $event)"
    />
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-raised-button type="button" (click)="cancel()">
      {{ 'app.cancel' | translate }}
    </button>
    <button
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="form.invalid || form.disabled"
    >
      {{ (isEdit ? 'app.edit_survey' : 'app.add_survey') | translate }}
    </button>
  </div>
</form>
