/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Arial', sans-serif;
}

html,
body {
  height: 100%;
}

p,
a {
  color: #373e46;
}

.mat-icon {
  svg {
    width: 1em;
    height: 1em;
  }
}

.page-content {
  padding: 24px;
  margin: 0 auto;
  max-width: 800px;
  background: #fff;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.form-controls-panel {
  display: flex;
  margin: 0 -8px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  .mat-button-base {
    margin: 0 8px;
  }
}

.mat-button-base {
  .mat-icon {
    width: 1em;
    height: 1em;
    font-size: 1em;
    margin-right: 8px;
  }
}
