<div class="post-head">
  <div
    class="post-lock"
    *ngIf="isLocked"
    matTooltipPosition="above"
    [matTooltip]="'post.locking.locked_tooltip' | translate"
    matTooltipClass="post-lock__tooltip"
  >
    <mat-icon icon svgIcon="lock" class="post-lock__icon"></mat-icon>
    <span class="post-info__status post-info__status--draft" [data-qa]="'post_lock'">Locked</span>
  </div>

  <mzima-client-button
    fill="clear"
    color="gray"
    tabindex="-1"
    *ngIf="editable"
    [iconOnly]="true"
    (buttonClick)="editPost($event)"
    class="post-head__control"
    [disabled]="isLocked"
  >
    <mat-icon icon svgIcon="edit-post" [data-qa]="'edit-post'"></mat-icon>
  </mzima-client-button>

  <mzima-client-button
    fill="clear"
    color="gray"
    tabindex="-1"
    [iconOnly]="true"
    (buttonClick)="sharePost()"
    class="post-head__control post-head__control--share"
  >
    <mat-icon icon svgIcon="share" [data-qa]="'share-post'" [attr.post]="post.id"></mat-icon>
  </mzima-client-button>
  <mzima-client-button
    *ngIf="!!user?.userId"
    fill="clear"
    color="gray"
    tabindex="-1"
    [iconOnly]="true"
    (click)="$event.stopPropagation()"
    class="post-head__control post-head__control--dots"
    [matMenuTriggerFor]="actions"
  >
    <mat-icon icon svgIcon="dots" [data-qa]="'post-menu'"></mat-icon>
  </mzima-client-button>

  <mat-menu #actions="matMenu" xPosition="before">
    <button
      *ngIf="
        user?.permissions?.includes('Manage Posts') ||
        user?.permissions?.includes('Manage Collections and Saved Searches')
      "
      mat-menu-item
      (click)="addToCollection()"
      [data-qa]="'add-to-collection'"
      [disabled]="isLocked"
    >
      <mat-icon svgIcon="collections"></mat-icon>
      {{ 'set.add_to_collection' | translate }}
    </button>
    <ng-container *ngIf="post.allowed_privileges?.includes('change_status')">
      <hr />
      <button
        mat-menu-item
        (click)="publish()"
        *ngIf="post.status !== PostStatus.Published"
        [data-qa]="'btn-publish-post'"
        [disabled]="isLocked"
      >
        <mat-icon svgIcon="sort-up"></mat-icon>
        {{ 'post.post_actions.publish' | translate }}
      </button>
      <button
        mat-menu-item
        (click)="underReview()"
        *ngIf="post.status !== PostStatus.Draft"
        [data-qa]="'btn-underReview-post'"
        [disabled]="isLocked"
      >
        {{ 'post.post_actions.put_under_review' | translate }}
      </button>
      <button
        mat-menu-item
        (click)="archive()"
        *ngIf="post.status !== PostStatus.Archived"
        [data-qa]="'btn-archive-post'"
        [disabled]="isLocked"
      >
        {{ 'post.post_actions.archive' | translate }}
      </button>
    </ng-container>
    <button
      mat-menu-item
      *ngIf="deleteable"
      (click)="deletePost()"
      [data-qa]="'btn-delete-post'"
      [disabled]="isLocked"
    >
      {{ 'post.post_actions.delete' | translate }}
    </button>
  </mat-menu>
</div>
