.post-head {
  display: flex;
  margin: 0 -12px;
  align-items: center;
  justify-content: flex-end;

  &__control {
    --size: 32px;
    margin: 0 8px;

    &--dots {
      --size: 24px;
      --icon-size: 24px;
    }
  }
  .post-lock {
    color: var(--color-black);
    background-color: var(--color-primary-60);
    border-radius: 4px;
    padding: 2px 8px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 6px;

    &__icon {
      width: var(--size, 12px);
      height: var(--size, 12px);
    }
  }
}
