<div class="post-head">
  <mzima-client-button
    fill="clear"
    color="gray"
    tabindex="-1"
    *ngIf="editable"
    [iconOnly]="true"
    (buttonClick)="editPost($event)"
    class="post-head__control"
    ariaLabel="{{ 'post.edit' | translate }}"
  >
    <mat-icon icon svgIcon="edit-post" [data-qa]="'edit-post'" aria-label="Edit Post"></mat-icon>
  </mzima-client-button>

  <mzima-client-button
    fill="clear"
    color="gray"
    tabindex="-1"
    [iconOnly]="true"
    (buttonClick)="sharePost()"
    class="post-head__control post-head__control--share"
    aria-label="Share this post"
  >
    <mat-icon
      icon
      svgIcon="share"
      [data-qa]="'share-post'"
      [attr.post]="post.id"
      aria-label="Share Post"
    ></mat-icon>
  </mzima-client-button>
  <mzima-client-button
    *ngIf="!!user?.userId"
    fill="clear"
    color="gray"
    tabindex="-1"
    [iconOnly]="true"
    (click)="$event.stopPropagation()"
    class="post-head__control post-head__control--dots"
    [matMenuTriggerFor]="actions"
    aria-label="Options"
  >
    <mat-icon icon svgIcon="dots"></mat-icon>
  </mzima-client-button>

  <mat-menu #actions="matMenu" xPosition="before">
    <button mat-menu-item (click)="addToCollection()">
      <mat-icon svgIcon="collections"></mat-icon>
      {{ 'set.add_to_collection' | translate }}
    </button>
    <ng-container *ngIf="post.allowed_privileges?.includes('change_status')">
      <hr />
      <button mat-menu-item (click)="publish()" *ngIf="post.status !== PostStatus.Published">
        <mat-icon svgIcon="sort-up"></mat-icon>
        {{ 'post.post_actions.publish' | translate }}
      </button>
      <button mat-menu-item (click)="underReview()" *ngIf="post.status !== PostStatus.Draft">
        {{ 'post.post_actions.put_under_review' | translate }}
      </button>
      <button mat-menu-item (click)="archive()" *ngIf="post.status !== PostStatus.Archived">
        {{ 'post.post_actions.archive' | translate }}
      </button>
    </ng-container>
    <button mat-menu-item *ngIf="deleteable" (click)="deletePost()">
      {{ 'post.post_actions.delete' | translate }}
    </button>
  </mat-menu>
</div>
