.post-head {
  display: flex;
  margin: 0 -12px;
  align-items: center;
  justify-content: flex-end;

  &__control {
    --size: 32px;
    margin: 0 8px;

    &--dots {
      --size: 24px;
      --icon-size: 24px;
    }
  }
}
