<h1 *ngIf="isDesktop">
  {{
    (provider && !onCreating ? 'Edit ' + provider.name + ' Data Source' : 'Add Data Source')
      | translate
  }}
</h1>

<div *ngIf="!isLoading; else showLoader">
  <div class="form-row" *ngIf="onCreating">
    <mat-label>
      {{ 'settings.data_sources.type_of_data_source' | translate }}
      <span class="color-accent">*</span>
    </mat-label>
    <mat-form-field appearance="outline">
      <mat-select
        disableOptionCentering
        [placeholder]="'settings.data_sources.choose_data_source' | translate"
        [(ngModel)]="currentProviderId"
        (selectionChange)="setCurrentProvider($event.value)"
        [data-qa]="'select-provider'"
        aria-label="Select provider"
      >
        <ng-container *ngFor="let provider of providersData">
          <mat-option
            [value]="provider.id"
            *ngIf="!isProviderEnabled(provider)"
            [data-qa]="provider.id"
          >
            {{ provider.name }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="survey" *ngIf="currentProviderId">
    <div class="form-row toggle-group">
      <div class="toggle" *ngIf="!onCreating">
        <mat-slide-toggle
          name="accept-survey"
          [(ngModel)]="provider.enabled"
          (change)="turnOffDataSource($event)"
          [data-qa]="'toogle-available-provider'"
        >
          {{ 'settings.data_sources.enable_provider_message' | translate }}
        </mat-slide-toggle>
      </div>
      <div class="toggle">
        <mat-slide-toggle
          name="import-to-survey"
          [(ngModel)]="provider.visible_survey"
          [data-qa]="'toogle-import-to-survey'"
        >
          {{ 'settings.data_sources.associate_with_form' | translate }}
        </mat-slide-toggle>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="saveProviderData()">
  <ng-container *ngIf="provider?.visible_survey">
    <div class="form-row">
      <mat-label>
        <span>{{ 'data_import.import_to' | translate }}</span>
        <strong>
          <span *ngIf="!selectedSurvey?.id">{{ 'data_import.which_survey' | translate }}</span>
          <span *ngIf="selectedSurvey?.id">{{ selectedSurvey.name }}</span>
        </strong>
      </mat-label>
      <mat-form-field appearance="outline" *ngIf="surveyList.length">
        <mat-select
          formControlName="form_id"
          (selectionChange)="getSurveyAttributes($event.value)"
          [data-qa]="'survey-select'"
          aria-label="Select Survey"
        >
          <mat-option *ngFor="let survey of surveyList" [value]="survey" [data-qa]="survey.name">
            {{ survey.name }}
          </mat-option>
        </mat-select>
        <mat-hint
          [translate]="'survey.choose_survey_field_desc'"
          [translateParams]="{ datasource_type: provider?.name | titlecase }"
        >
        </mat-hint>
      </mat-form-field>
    </div>

    <ng-container *ngIf="surveyAttributesList?.length">
      <h2>{{ 'survey.choose_survey_field' | translate }}</h2>
      <p>{{ 'survey.choose_survey_field_desc' | translate }}</p>
      <table mat-table [dataSource]="tableData" class="survey__table" [data-qa]="'survey-table'">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ provider?.name | titlecase }} data</th>
          <td mat-cell *matCellDef="let element">
            {{ element.label | titlecase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="field">
          <th mat-header-cell *matHeaderCellDef>{{ 'survey.survey_field' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <div class="form-row">
              <mat-form-field appearance="outline" [data-qa]="'source-select'">
                <mat-select
                  [formControlName]="element.label"
                  disableOptionCentering
                  [placeholder]="'data_import.leave_empty' | translate"
                  [data-qa]="element.label"
                  aria-label="element label"
                >
                  <mat-option [value]="null">
                    {{ 'data_import.leave_empty' | translate }}
                  </mat-option>
                  <div
                    *ngFor="let attribute of surveyAttributesList"
                    [data-qa]="'survey-attributes-list'"
                  >
                    <mat-option
                      *ngIf="element.value === attribute.input"
                      [value]="attribute?.key"
                      [data-qa]="attribute.key"
                    >
                      {{ attribute?.label }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'field']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'field']"></tr>
      </table>
    </ng-container>
  </ng-container>

  <br />

  <div *ngFor="let control of provider?.options" [data-qa]="'provider-options'">
    <ng-container [ngSwitch]="control.input">
      <ng-container *ngSwitchCase="'read-only-text'">
        <h2 *ngIf="control.label?.length">{{ control.label }}</h2>
        <p *ngIf="control.description?.length" [innerHTML]="control.description"></p>
      </ng-container>
      <ng-container *ngSwitchCase="'hidden'">
        <input
          [formControlName]="control.id"
          type="hidden"
          [data-qa]="'control-text' + control.id"
        />
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="form-row">
          <mat-label>
            {{ control.label }}
            <span class="color-accent" *ngIf="control.rules?.indexOf('required') > -1">*</span>
          </mat-label>
          <mat-form-field
            *ngIf="control.input === 'text'"
            appearance="outline"
            [data-qa]="'control-type-text'"
          >
            <input
              matInput
              [placeholder]="control.description"
              [formControlName]="control.id"
              [type]="control.input"
              [data-qa]="'control-text' + control.id"
            />
            <mat-hint
              *ngIf="control.description?.length"
              [innerHTML]="control.description"
            ></mat-hint>
            <mat-error
              *ngIf="
                (form.get(control.id)?.touched || form.get(control.id)?.dirty) &&
                form.get(control.id)?.hasError('required')
              "
            >
              {{ 'form.field_required' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-radio-group
            *ngIf="control.input === 'radio'"
            aria-label="Select an option"
            [formControlName]="control.id"
            [data-qa]="'control-type-radio'"
          >
            <mat-radio-button
              *ngFor="let item of control.options"
              [value]="item"
              [data-qa]="'control-text' + item"
            >
              {{ item }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="form-controls-spacer" *ngIf="!isDesktop"></div>
  <div class="form-controls-panel form-controls-panel--sticky">
    <div>
      <mzima-client-button
        color="danger"
        class="delete-btn"
        *ngIf="!onCreating"
        [iconOnly]="!isDesktop"
        [data-qa]="'btn-provider-delete'"
        (buttonClick)="turnOffDataSource($event)"
      >
        <ng-container *ngIf="isDesktop">{{ 'app.delete' | translate }}</ng-container>
        <mat-icon icon *ngIf="!isDesktop" svgIcon="delete"></mat-icon>
      </mzima-client-button>
    </div>
    <div>
      <mzima-client-button
        fill="outline"
        color="secondary"
        (buttonClick)="back()"
        [data-qa]="'btn-provider-cancel'"
      >
        {{ 'app.cancel' | translate }}
      </mzima-client-button>
      <mzima-client-button
        [disabled]="form.invalid || submitted"
        [data-qa]="'btn-provider-save'"
        type="submit"
      >
        {{ 'app.save' | translate }}
      </mzima-client-button>
    </div>
  </div>
</form>

<ng-template #showLoader>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
