<h2>{{ (isCreateWebhook ? 'app.add_webhook' : 'app.edit_webhook') | translate }}</h2>
<form class="form" *ngIf="form" [formGroup]="form" (ngSubmit)="save()" novalidate>
  <div class="form-row">
    <mat-label>{{ 'webhook.name' | translate }} <span class="color-accent">*</span></mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Please enter webhook name" formControlName="name" required />
      <mat-error *ngIf="form.get('name')?.invalid">Webhook name is required</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label
      >{{ 'webhook.shared_secret' | translate }} <span class="color-accent">*</span></mat-label
    >
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Please enter shared secret"
        formControlName="shared_secret"
        required
      />
      <mat-error *ngIf="form.get('shared_secret')?.invalid">
        Shared secret key is required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>{{ 'webhook.url' | translate }} <span class="color-accent">*</span></mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Please enter api url" formControlName="url" required />
      <mat-error *ngIf="form.get('url')?.invalid">API URL id required</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label
      >{{ 'webhook.event_type' | translate }} <span class="color-accent">*</span></mat-label
    >
    <mat-form-field appearance="outline">
      <mat-select formControlName="event_type" disableOptionCentering>
        <mat-option *ngFor="let event of eventList" [value]="event.value" [data-qa]="event.value">
          {{ event.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('event_type')?.invalid">Event type is required</mat-error>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label
      >{{ 'webhook.entity_type' | translate }} <span class="color-accent">*</span></mat-label
    >
    <mat-form-field appearance="outline">
      <mat-select formControlName="entity_type" disableOptionCentering>
        <mat-option
          *ngFor="let entity of entityList"
          [value]="entity.value"
          [data-qa]="entity.value"
        >
          {{ entity.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('entity_type')?.invalid">Event entity is required</mat-error>
    </mat-form-field>
  </div>

  <mat-slide-toggle formControlName="is_source_destination" name="first-name">
    {{ 'settings.webhooks.enable_source_destination' | translate }}
  </mat-slide-toggle>

  <div class="source-destination-wrapper" *ngIf="form.get('is_source_destination')?.value">
    <p>{{ 'webhooks.enable_source_destination_desc' | translate }}</p>
    <div class="form-row">
      <mat-label>
        {{ 'settings.webhooks.use_webhook_for' | translate }}
        <span *ngIf="!form.get('form_id')?.value">
          <strong>{{ 'data_import.which_survey' | translate }}</strong>
        </span>
      </mat-label>
      <mat-form-field appearance="outline">
        <mat-select formControlName="form_id" disableOptionCentering>
          <mat-option *ngFor="let survey of surveyList" [value]="survey.id" [data-qa]="survey.name">
            {{ survey.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field" *ngIf="form.get('form_id')?.value">
      <p>{{ 'survey.choose_survey_field' | translate }}</p>
      <p>{{ 'survey.choose_survey_field_desc' | translate }}</p>
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>{{ 'survey.survey_field' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span>Source</span></td>
            <td>
              <mat-form-field appearance="outline">
                <mat-select formControlName="source_field_key" disableOptionCentering>
                  <mat-option
                    *ngFor="let attribute of surveyAttributesList"
                    [value]="attribute.key"
                    [data-qa]="attribute.key"
                  >
                    {{ attribute.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <span>{{ 'settings.webhooks.destination' | translate }}</span>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-select formControlName="destination_field_key" disableOptionCentering>
                  <mat-option
                    *ngFor="let attribute of surveyAttributesList"
                    [value]="attribute.key"
                    [data-qa]="attribute.key"
                  >
                    {{ attribute.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-controls-panel">
    <button
      mat-stroked-button
      type="button"
      data-qa="btn-webhook-cancel"
      (click)="cancel()"
      translate
    >
      {{ 'app.cancel' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      translate
      data-qa="btn-webhook-save"
      [disabled]="form.invalid"
    >
      {{ 'app.save' | translate }}
    </button>
  </div>
</form>

<div class="page-content" *ngIf="form.get('id')?.value">
  <h3 translate>{{ 'webhook.delete_webhook' | translate }}</h3>
  <p translate [innerHTML]="'webhook.delete_webhook_desc' | translate"></p>
  <button
    type="button"
    color="accent"
    mat-raised-button
    data-qa="btn-webhook-delete"
    (click)="openDialog()"
  >
    <mat-icon class="icon-medium">
      <svg class="iconic">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/sprites.svg#trash"></use>
      </svg>
    </mat-icon>
    <span translate>{{ 'webhook.delete_webhook' | translate }}</span>
  </button>
</div>
