h1 {
  margin-bottom: 32px;
}

.form-controls-panel {
  left: 0;
  right: 0;
  z-index: 50;
  bottom: -32px;
  margin: -23px;
  padding: 23px;
  position: sticky;
  border-radius: 0 0 4px 4px;
  justify-content: space-between;
  background: var(--color-light);
}

.webhook {
  margin-bottom: 32px;

  &__table {
    width: 100%;

    .form-row {
      margin: 12px 0 4px;
    }
  }
}
