h1 {
  margin-bottom: 32px;
}

.form-controls-panel {
  justify-content: space-between;
}

.webhook {
  margin-bottom: 32px;

  &__table {
    width: 100%;

    .form-row {
      margin: 8px 0;
    }
  }
}
