<mat-radio-group class="radio-buttons" [value]="value.value" (change)="radioGroupChange($event)">
  <ng-container *ngFor="let item of data">
    <mat-radio-button [value]="item.value">
      <!--      <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>-->
      {{ item.name }}
    </mat-radio-button>
    <span class="radio-buttons__options" *ngIf="item.options?.length && value.value === item.value">
      <mat-selection-list [(ngModel)]="value.options">
        <mat-list-option
          color="primary"
          class="list-option"
          [value]="option.value"
          checkboxPosition="before"
          [selected]="option.checked"
          [disabled]="option.disabled"
          *ngFor="let option of item.options"
        >
          {{ option.name }}
        </mat-list-option>
      </mat-selection-list>
    </span>
  </ng-container>
</mat-radio-group>
