.post {
  &--feed {
    padding: 24px;
    cursor: pointer;
    background: var(--color-light);
    box-shadow: 0 0 2px rgb(#000, 0.12), 0 2px 2px rgb(#000, 0.24);
  }

  &__head {
    font-size: 13px;
    margin-bottom: 8px;

    &__item {
      margin-right: 8px;
      margin-bottom: 8px;
      position: relative;
      padding-right: 12px;
      display: inline-block;
      vertical-align: middle;

      &:before {
        top: 50%;
        right: 0;
        width: 1em;
        height: 1em;
        content: '';
        font-size: 4px;
        line-height: 1;
        position: absolute;
        border-radius: 50%;
        margin-top: -0.5em;
        background: rgba(#666, 0.5);
      }
    }
  }

  &__border {
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    position: absolute;
    background: var(--color);
    border-radius: 4px 0 0 4px;
  }

  &__status {
    font-size: 12px;
    font-weight: 500;
    padding: 2px 10px;
    font-weight: bold;
    vertical-align: top;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 1px rgb(0 0 0 / 16%) inset;
  }

  &__user {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;

    &__avatar {
      float: left;
      width: 20px;
      height: 20px;

      img {
        width: 100%;
        height: 100%;
        height: auto;
        display: block;
        object-fit: contain;
      }
    }

    &__name {
      margin-left: 8px;
    }
  }

  &__content {
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__more {
    margin-top: 24px;
  }
}
