.breacrumbs {
  display: flex;
  padding: 15px 0;
  min-width: 190px;
  list-style: none;
  align-items: center;
  margin: 0 12px 0 -8px;
  justify-content: flex-start;

  &__item {
    margin: 0 8px;

    &:not(:first-child) {
      &:before {
        content: '>';
        margin: 0 4px 0 0;
      }
    }
  }
}

.breadcrumb-button {
  padding: 0;
  min-width: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
