<div class="task" [ngClass]="{ 'task--main': isMain }">
  <mat-tab-group dynamicHeight disableRipple disablePagination>
    <mat-tab label="Main info">
      <ng-container *ngIf="!isPost">
        <div class="form-row">
          <mat-label>{{ 'survey.task_name' | translate }} *</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [(ngModel)]="task.label"
              [placeholder]="'survey.untitled_task' | translate"
            />
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-label>{{ 'app.description' | translate }}</mat-label>
          <mat-form-field appearance="outline">
            <textarea
              matInput
              cdkTextareaAutosize
              [(ngModel)]="task.description"
              [placeholder]="'survey.describe_this_task' | translate"
            >
            </textarea>
          </mat-form-field>
        </div>
      </ng-container>

      <ng-content *ngIf="isPost" select="[survey-info]"></ng-content>

      <div class="form-head-panel">
        <h2>Fields:</h2>
        <button type="button" mat-stroked-button (click)="addField()">
          <span>{{ 'form.add_field' | translate }}</span>
          <mat-icon svgIcon="plus"></mat-icon>
        </button>
      </div>

      <div
        cdkDropList
        class="fields-list"
        (cdkDropListDropped)="drop($event)"
        *ngIf="taskFields?.length; else noFields"
      >
        <div class="field-item" *ngFor="let field of taskFields; let i = index" cdkDrag>
          <div class="field-item__main">
            <mat-icon
              cdkDragHandle
              class="field-item__drag-handle"
              svgIcon="drag-handle"
            ></mat-icon>
            <span class="field-item__title">{{ field.label }}</span>
          </div>
          <!-- <span class="field-item__type">{{ field.type }}</span> -->
          <div class="field-item__controls">
            <button
              type="button"
              mat-icon-button
              (click)="editField(field)"
              class="field-item__control"
            >
              <mat-icon svgIcon="pencil"></mat-icon>
            </button>
            <button
              type="button"
              mat-icon-button
              *ngIf="canDelete(field)"
              (click)="deleteField(i)"
              class="field-item__control"
            >
              <mat-icon svgIcon="delete"></mat-icon>
            </button>
          </div>
        </div>
      </div>
      <ng-template #noFields>
        <div class="form-row empty">No fields</div>
      </ng-template>

      <div class="form-controls-panel" *ngIf="!isPost">
        <button mat-raised-button color="accent">{{ 'survey.delete_task' | translate }}</button>
        <button mat-stroked-button>{{ 'survey.duplicate_task' | translate }}</button>
      </div>
    </mat-tab>
    <mat-tab [label]="'survey.configure' | translate" *ngIf="!isPost">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="task.required" name="accept-survey">
          {{ 'survey.required' | translate }}
          <p *ngIf="task.required"><small translate>survey.required_desc</small></p>
        </mat-slide-toggle>
      </div>
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="task.task_is_internal_only" name="import-to-survey">
          {{ 'survey.internal_use_task' | translate }}
          <p *ngIf="task.task_is_internal_only">
            <small translate>survey.internal_use_task_desc</small>
          </p>
        </mat-slide-toggle>
      </div>
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="task.show_when_published" name="import-to-survey">
          {{ 'survey.show_this_task_to' | translate }}
          <p *ngIf="task.show_when_published">
            <small translate>survey.show_this_task_to_desc</small>
          </p>
        </mat-slide-toggle>
      </div>
    </mat-tab>
    <mat-tab [label]="'survey.configure' | translate" *ngIf="isPost">
      <ng-container *ngIf="survey">
        <div class="form-row">
          <div class="toggle">
            <mat-slide-toggle [(ngModel)]="survey.require_approval" name="accept-survey">
              {{ 'survey.require_review' | translate }}
            </mat-slide-toggle>
            <p class="toggle__description" translate>survey.require_review_desc</p>
          </div>
          <div class="toggle">
            <mat-slide-toggle [(ngModel)]="survey.hide_author" name="import-to-survey">
              {{ 'survey.hide_author_information' | translate }}
            </mat-slide-toggle>
            <p class="toggle__description" translate>survey.hide_author_information_desc</p>
          </div>
          <div class="toggle" *ngIf="anonymiseReportersEnabled">
            <mat-slide-toggle [(ngModel)]="survey.hide_location" name="import-to-survey">
              {{ 'survey.hide_location_information' | translate }}
            </mat-slide-toggle>
            <p class="toggle__description" translate>survey.hide_location_information_desc</p>
          </div>
          <div class="toggle" *ngIf="anonymiseReportersEnabled">
            <mat-slide-toggle [(ngModel)]="survey.hide_time" name="import-to-survey">
              {{ 'survey.hide_time_information' | translate }}
            </mat-slide-toggle>
            <p class="toggle__description" translate>survey.hide_time_information_desc</p>
          </div>
        </div>
        <div class="form-row">
          <mat-label>{{ 'survey.who_can_add' | translate }}</mat-label>
          <div class="radio-group">
            <app-group-checkbox-select [data]="roleOptions" [(ngModel)]="selectedRoles">
            </app-group-checkbox-select>
          </div>
        </div>

        <app-color-picker
          label="Select color"
          [(ngModel)]="selectedColor"
          (ngModelChange)="colorChanged()"
          color-container="survey"
        ></app-color-picker>

        <div class="form-row">
          <mat-label>{{ 'translations.survey_select_default' | translate }}</mat-label>
          <mat-form-field appearance="outline">
            <mat-select
              disableOptionCentering
              panelClass="language-field"
              [(value)]="selectedLanguage"
              (selectionChange)="changeLanguage($event)"
            >
              <mat-option *ngFor="let lang of languagesToSelect" [value]="lang.code">
                <span class="language-title">{{ lang.name }}</span>
              </mat-option>
            </mat-select>
            <div *ngIf="showLangError" class="alert error">
              <svg class="iconic" role="img">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="assets/sprites.svg#warning"
                ></use>
              </svg>
              <p translate="translations.error_translation_exists"></p>
            </div>
          </mat-form-field>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab *ngIf="isPost" [label]="'survey.share' | translate">
      <app-share-menu [surveyId]="surveyId"></app-share-menu>
    </mat-tab>
  </mat-tab-group>
</div>
