<ion-item-sliding *ngIf="editable || deletable; else radioItem">
  <ng-container *ngTemplateOutlet="radioItem"></ng-container>
  <ion-item-options side="end">
    <ion-item-option
      *ngIf="deletable"
      color="danger"
      class="radio-item__control"
      (click)="deleteHandle()"
    >
      <app-icon class="radio-item__control__icon" slot="top" name="delete"></app-icon>
      Delete
    </ion-item-option>
    <ion-item-option
      *ngIf="editable"
      color="warning"
      class="radio-item__control"
      (click)="editHandle()"
    >
      <app-icon class="radio-item__control__icon" slot="top" name="edit"></app-icon>
      Edit
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<ng-template #radioItem>
  <ion-item class="radio-item" lines="none">
    <ion-radio
      class="radio"
      [value]="value"
      [labelPlacement]="type === 'default' ? 'end' : 'start'"
      [justify]="justify"
    >
      <ng-content></ng-content>
    </ion-radio>
  </ion-item>
</ng-template>
