<div class="chart-container">
  <h2>Activity by volume</h2>
  <div class="form-row">
    <mat-label>Select filter</mat-label>
    <mat-form-field appearance="outline">
      <mat-select
        [(ngModel)]="selectedFilter"
        (selectionChange)="change($event)"
        name="filter"
        disableOptionCentering
      >
        <mat-option *ngFor="let filter of filters" [value]="filter.value">
          {{ filter.displayNane }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ngx-charts-bar-vertical
    [view]="[550, 300]"
    [scheme]="colorScheme"
    [results]="data"
    [xAxis]="true"
    [yAxis]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [yAxisLabel]="'Post count'"
  >
  </ngx-charts-bar-vertical>
</div>
