<app-chart-head
  (filterChanged)="change($event)"
  (dateChanged)="dateChange($event)"
  [title]="'activity.activity_by_volume' | translate"
  [selectedFilter]="selectedFilter"
  [filters]="filters"
>
</app-chart-head>

<div class="chart">
  <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="data" [xAxis]="true" [yAxis]="true">
    <ng-template #tooltipTemplate let-model="model">
      <span class="chart__tooltip">{{ model.value }} posts</span>
    </ng-template>
  </ngx-charts-bar-vertical>
</div>
