<div class="multilevelselection-holder">
  <mat-checkbox
    color="primary"
    checkboxPosition="before"
    [(ngModel)]="isAllSelected"
    (change)="toggleSelectAll()"
    class="multilevelselection__checkbox"
    [data-qa]="'select_all'"
  >
    {{ 'nav.select_all' | translate }}
  </mat-checkbox>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="multilevelselection">
    <mat-tree-node *matTreeNodeDef="let option" class="multilevelselection__option">
      <mat-checkbox
        color="primary"
        [value]="option[fields[0]]"
        checkboxPosition="before"
        (click)="$event.stopPropagation()"
        class="multilevelselection__checkbox"
        (change)="categoryLeafSelectionToggle(option)"
        [checked]="checklistSelection.isSelected(option)"
        [data-qa]="'tag-' + option[fields[1]] | lowercase"
      >
        {{ option[fields[1]] | translate }}
      </mat-checkbox>
    </mat-tree-node>
    <mat-tree-node
      (click)="$event.stopPropagation()"
      class="multilevelselection__option"
      *matTreeNodeDef="let option; when: hasChild"
    >
      <mat-checkbox
        color="primary"
        checkboxPosition="before"
        [value]="option[fields[0]]"
        (click)="$event.stopPropagation()"
        class="multilevelselection__checkbox"
        [checked]="descendantsHasSelected(option)"
        (change)="categorySelectionToggle(option)"
        [data-qa]="'tag-' + option[fields[1]] | lowercase"
      >
        {{ option[fields[1]] | translate }}
      </mat-checkbox>
      <mzima-client-button
        fill="clear"
        color="secondary"
        [iconOnly]="true"
        matTreeNodeToggle
        class="multilevelselection__option__arrow"
        [ariaLabel]="'Toggle ' + option[fields[1]] | translate"
        [ngClass]="{
          'multilevelselection__option__arrow--open': treeControl.isExpanded(option)
        }"
        [data-qa]="'btn-tag-toggle-' + option[fields[1]] | lowercase"
      >
        <mat-icon icon svgIcon="arrow-down" aria-label="Toggle Fields"></mat-icon>
      </mzima-client-button>
    </mat-tree-node>
  </mat-tree>
</div>
