<button mat-stroked-button mat-dialog-close class="modal__close-btn" tabindex="-1">
  <mat-icon class="fab-button__icon" svgIcon="close"></mat-icon>
</button>

<strong mat-dialog-title>{{ 'survey.add_task' | translate }}</strong>
<mat-dialog-content class="post">
  <div class="form-row">
    <mat-label translate>{{ 'survey.task_name' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="{{ 'survey.name_this_task' | translate }}"
        [(ngModel)]="newTask.label"
      />
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-label translate>{{ 'survey.task_description' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
        placeholder="{{ 'survey.describe_this_task' }}"
        [(ngModel)]="newTask.description"
      ></textarea>
    </mat-form-field>
  </div>
  <mat-slide-toggle [(ngModel)]="newTask.required">
    {{ 'survey.require_section' | translate }}
  </mat-slide-toggle>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-stroked-button type="button" (click)="cancel()">
    {{ 'app.cancel' | translate }}
  </button>
  <button type="submit" color="primary" mat-raised-button (click)="addNewTask()">
    {{ 'app.add_and_close' | translate }}
  </button>
</div>
