@import 'helpers';

.submit-post-button {
  &::ng-deep {
    .mzima-button {
      @include focusVisible($outline-offset: 3px);
      @include breakpoint-max($laptop) {
        @include breakpoint-min($tablet) {
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }
  }

  @include breakpoint-max($tablet) {
    --size: 64px;
    --icon-size: 32px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 12px rgba(var(--color-light-contrast-rgb), 0.25));
  }
}
