<ng-container *ngIf="isDonationEnabled">
  <button
    type="button"
    color="primary"
    mat-raised-button
    (click)="showDonation()"
    *ngIf="!donationService.isMonetizationStarted"
  >
    <span>{{ 'app.donate' | translate }}</span>
    <mat-icon class="toolbar__button__icon" svgIcon="heart"></mat-icon>
  </button>

  <button
    type="button"
    color="primary"
    class="donation-amount"
    mat-raised-button
    (click)="showDonation()"
    *ngIf="donationService.isMonetizationStarted"
  >
    <mat-icon>
      <svg class="iconic" role="img">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/sprites.svg#coins"></use>
      </svg>
    </mat-icon>
    <span class="button-label">{{ donationInfo.formattedAmount }}</span>
    <mat-icon>
      <svg class="iconic" role="img">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="assets/sprites.svg#info-circle"
        ></use>
      </svg>
    </mat-icon>
  </button>
</ng-container>
