<ng-container *ngIf="isDonationEnabled">
  <mzima-client-button
    (buttonClick)="showDonation()"
    *ngIf="!donationService.isMonetizationStarted"
  >
    <span>{{ 'app.donate' | translate }}</span>
    <mat-icon icon svgIcon="heart"></mat-icon>
  </mzima-client-button>

  <mzima-client-button
    class="donation-amount"
    (buttonClick)="showDonation()"
    *ngIf="donationService.isMonetizationStarted"
  >
    <mat-icon prefix class="donation-amount__icon">
      <svg class="iconic" role="img">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/sprites.svg#coins"></use>
      </svg>
    </mat-icon>
    <span>{{ donationInfo.formattedAmount }}</span>
    <mat-icon icon>
      <svg class="iconic" role="img">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="assets/sprites.svg#info-circle"
        ></use>
      </svg>
    </mat-icon>
  </mzima-client-button>
</ng-container>
