@import 'helpers';

.donation-amount {
  &__icon {
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: $font-2xl;
    vertical-align: top;
  }

  &::ng-deep {
    .mat-icon {
      font-size: $font-2xl;
    }
  }
}
