@import 'helpers';

.post-item-page {
  padding: 24px;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  @include breakpoint-max($tablet) {
    padding: 0;

    &::ng-deep {
      .page-content {
        padding: 16px;
        box-shadow: none;
      }
    }
  }
}

.translate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .form-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 200px;
    margin-bottom: 0;
    .tooltip-btn {
      margin-right: 5px;
    }
  }
}

.page-content {
  padding: 24px;
  margin: 0 auto;
  border-radius: 4px;
  background: var(--color-light);
  box-shadow: inset 0 0 0 1px var(--color-neutral-30);
  max-width: 833px;

  &__isLoading {
    min-height: 100%;
  }
}

.survey-name {
  margin-bottom: 16px;
}

.spinner {
  display: block;
  margin: 20vh auto;
}

.form-row {
  &__instruction {
    display: block;
    margin-bottom: 8px;
  }
  .field__icon {
    vertical-align: middle;
    display: inline;
  }
}

.tags {
  margin: 16px 0;

  &__group {
    margin-top: 8px;
    padding-left: 16px;
  }
}

.mat-list-base {
  padding: 0;
  margin: 16px 0;
}

.tag-item {
  margin-bottom: 8px;
}

.form-controls-panel {
  border-top: 1px solid var(--color-neutral-30);
  margin-top: 16px;
  justify-content: flex-end;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-controls-panel .mat-button-base {
  padding: 0 25px;
}

.relation {
  &-container {
    display: flex;

    &::ng-deep {
      .mat-form-field-appearance-outline .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }

  &-button-search {
    margin-inline-start: 10px;
  }
}

.task-complete {
  width: 100%;

  &::ng-deep .mat-slide-toggle-label {
    justify-content: space-between;
  }
}

.related-post {
  &-selected {
    display: inline-block;
    border: 1px solid var(--color-neutral-30);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  &-content {
    display: flex;
    align-items: center;
  }

  &-delete {
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    cursor: pointer;

    mat-icon {
      display: contents;
      font-size: 16px;
    }
  }

  &-list {
    ul li {
      list-style: none;
      padding-top: 15px;
    }
  }
}

.no-options {
  display: block;
  font-size: 14px;
  line-height: 1.3;
  color: var(--color-neutral-80);
}

.mat-checkbox {
  display: block;

  &::ng-deep {
    .mat-checkbox-layout {
      align-items: flex-start !important;

      .mat-checkbox-label {
        margin-top: 1px;
      }
    }
  }

  &.lvl-2 {
    margin-left: 16px;
  }
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    flex-direction: row;
  }
}

.info-message {
  display: block;
  background-color: var(--color-neutral-10);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}
