@import 'apps/web-mzima-client/src/styles/helpers';

.post-item-page {
  padding: 24px;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  @include breakpoint-max($tablet) {
    padding: 0;

    &::ng-deep {
      .page-content {
        padding: 16px;
        box-shadow: none;
      }
    }
  }
}

.page-content {
  padding: 24px;
  margin: 0 auto;
  border-radius: 4px;
  background: var(--color-light);
  box-shadow: inset 0 0 0 1px var(--color-neutral-30);
  max-width: 833px;
}

.survey-name {
  margin-bottom: 16px;
}

.spinner {
  display: block;
  margin: 20vh auto;
}

.form-row {
  &__instruction {
    display: block;
    margin-bottom: 8px;
  }
}

.tags {
  margin: 16px 0;

  &__group {
    margin-top: 8px;
    padding-left: 16px;
  }
}

.mat-list-base {
  padding: 0;
  margin: 16px 0;
}

.tag-item {
  margin-bottom: 8px;
}

.form-controls-panel {
  border-top: 1px solid var(--color-neutral-30);
  margin-top: 16px;
  justify-content: flex-end;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-controls-panel .mat-button-base {
  padding: 0 25px;
}

.task-container {
  //border: 1px solid var(--color-neutral-30);
  //padding: 20px;
  //margin-bottom: 20px;
}

.relation {
  &-container {
    display: flex;

    &::ng-deep {
      .mat-form-field-appearance-outline .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }

  &-button-search {
    margin-inline-start: 10px;
  }
}

.task-complete {
  width: 100%;

  &::ng-deep .mat-slide-toggle-label {
    justify-content: space-between;
  }
}

.related-post {
  &-selected {
    display: inline-block;
    border: 1px solid var(--color-neutral-30);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  &-list {
    ul li {
      list-style: none;
      padding-top: 15px;
    }
  }
}
