<ion-modal [isOpen]="isOpen" class="modal" (didDismiss)="closeModalHandle()" #modal>
  <ng-template>
    <ion-header class="modal__header" *ngIf="modalOptions.header">
      <ion-toolbar class="modal__header__toolbar">
        <app-button
          fill="clear"
          slot="start"
          color="custom"
          class="modal__back"
          (buttonClick)="closeModal()"
        >
          <app-icon name="arrow-back" slot="icon-only"></app-icon>
        </app-button>
        <ion-text class="modal__title">
          <ng-content select="[header]"></ng-content>
        </ion-text>
      </ion-toolbar>
    </ion-header>

    <ion-content
      class="ion-padding modal__body"
      [ngClass]="{ 'modal__body--no-offset-bottom': modalOptions.offsetBottom }"
    >
      <ng-content></ng-content>
    </ion-content>

    <ion-footer class="ion-padding-horizontal modal__footer" *ngIf="modalOptions.footer">
      <ion-toolbar class="modal__footer__toolbar">
        <ng-content select="[footer]"></ng-content>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
