<ion-modal
  [isOpen]="isOpen"
  class="modal"
  [canDismiss]="closable"
  [ngClass]="{ 'modal--search-view': isSearchView }"
  (didDismiss)="closeModalHandle()"
  #modal
>
  <ng-template>
    <app-header
      class="header"
      [ngClass]="{ 'header--hidden': isSearchView }"
      [title]="title"
      (back)="closeModal()"
      *ngIf="modalOptions.header"
    >
      <ng-content select="[header]"></ng-content>
      <div end>
        <ng-content select="[header-end]"></ng-content>
      </div>
    </app-header>

    <ion-content
      class="ion-padding-top ion-padding-horizontal modal__body"
      [ngClass]="{
        'modal__body--no-offset-bottom': !modalOptions.offsetBottom,
        'modal__body--has-search': modalOptions.searchForm
      }"
    >
      <app-search-form
        *ngIf="modalOptions.searchForm"
        class="search-form"
        (formFocus)="isSearchView = true"
        (formBlur)="isSearchView = false"
        [(ngModel)]="searchFormValue"
        (ngModelChange)="searchQueryChanged()"
      >
      </app-search-form>
      <ng-content></ng-content>
    </ion-content>

    <ion-footer class="modal__footer" *ngIf="modalOptions.footer">
      <ion-toolbar class="modal__footer__toolbar">
        <ng-content select="[footer]"></ng-content>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
