.modal {
  &__header {
    &:after {
      bottom: 0;
      z-index: 10;
      height: 1px;
      pointer-events: none;

      @media (prefers-color-scheme: dark) {
        background: var(--ion-color-step-400);
      }

      @media (prefers-color-scheme: light) {
        background: var(--ion-color-step-300);
      }
    }
  }

  &__toolbar {
    font-size: 22px;
    line-height: 28px;
    --min-height: 64px;
  }

  &__body {
    &::part(scroll) {
      display: flex;
      flex-direction: column;
    }
  }
}
