<div class="panel">
  <h1>{{ title }}</h1>
  <div class="panel__controls">
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-select
          name="filter"
          disableOptionCentering
          placeholder="{{ 'activity.select_range' | translate }}"
          [(ngModel)]="selectedRange"
          (selectionChange)="rangeChange($event)"
        >
          <mat-option [value]="filter.value" *ngFor="let filter of ranges">
            {{ filter.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-select
          name="filter"
          disableOptionCentering
          placeholder="{{ 'activity.select_filter' | translate }}"
          [(ngModel)]="selectedFilter"
          (selectionChange)="change($event)"
        >
          <mat-option [value]="filter.value" *ngFor="let filter of filters">
            {{ filter.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
