@import 'helpers';

.panel {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;

  @include breakpoint-max($tablet) {
    margin-bottom: 8px;
    align-items: stretch;
    flex-direction: column-reverse;
  }

  h1 {
    margin-bottom: 0;
    font-weight: 700;

    @include breakpoint-max($tablet) {
      padding: 10px 0;
      font-size: $font-base;
      line-height: 1.25;
    }
  }

  &__controls {
    display: flex;
    margin: 0 -8px;
    align-items: center;
    justify-content: flex-start;

    @include breakpoint-max($tablet) {
      margin-bottom: 16px;
    }

    .form-row {
      margin: 0 8px;

      @include breakpoint-min($mobile) {
        max-width: 164px;

        @include breakpoint-max($tablet) {
          max-width: 200px;
        }
      }

      @include breakpoint-max($mobile) {
        width: calc(50% - 16px);
      }
    }
  }
}
