<button
  mat-stroked-button
  [mat-dialog-close]="false"
  class="modal__close-btn"
  tabindex="-1"
  aria-label="{{ 'modal.button.close' | translate }}"
  [data-qa]="'btn-close'"
>
  <mat-icon class="fab-button__icon" svgIcon="close"></mat-icon>
</button>

<strong mat-dialog-title>{{ 'survey.add_task' | translate }}</strong>
<mat-dialog-content class="post">
  <div class="form-row">
    <mat-label>{{ 'survey.task_name' | translate }} *</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="{{ 'survey.name_this_task' | translate }}"
        [(ngModel)]="newTask.label"
      />
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-label>{{ 'survey.task_description' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
        placeholder="{{ 'survey.describe_this_task' | translate }}"
        [(ngModel)]="newTask.description"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="toggle">
    <mat-slide-toggle [(ngModel)]="newTask.required">
      {{ 'survey.require_section' | translate }}
    </mat-slide-toggle>
  </div>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-stroked-button type="button" (click)="cancel()">
    {{ 'app.cancel' | translate }}
  </button>
  <button
    type="submit"
    color="primary"
    mat-raised-button
    [disabled]="newTask.label.trim().length === 0"
    (click)="addNewTask()"
  >
    {{ 'app.add' | translate }}
  </button>
</div>
