.open .settings-layout {
  display: flex;
  height: 100vh;

  .settings-menu {
    //flex: 1;
    width: 304px;
    padding-bottom: 72px;
    overflow-y: auto;
    background: #fff;

    .settings {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .settings-router {
    flex: 3;
    padding: 24px 16px 95px;
    overflow-y: auto;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 40px;
  padding-right: 5px;
}

::-webkit-scrollbar-thumb {
  background: #383e45;
  border-radius: 10px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #383e45;
}
